[2017-05-07 17:30] johnnyreilly opened #4 "Tests and app can get out of sync"
First up - well done!  I like this very much and thanks for https://github.com/TypeStrong/ts-loader/issues/537

However, I've found an issue when testing locally.  I switched to use fork-ts-checker and deliberately broke the `test` code.  I saw type errors and my tests failed.  Great.  Then I made some changes to my `src` code.  The tests still failed.  Great.  Then I fixed the test code, the test

[2017-05-08 07:49] piotr-oles commented on #4
Thanks for reporting :) Your config looks good, it's probably bug. I've tried to replay your scenario but it was working on my machine.
Please, send me your TypeScript version, tsconfig.json content and operating system version :)
Also please check if issue appear without `watch` option.

[2017-05-08 18:03] johnnyreilly commented on #4
Here's a repro project (based on one of ts-loader's examples): https://github.com/johnnyreilly/fork-checker-repro

It has 2 commits; the initial setup and adding forktscheckerplugin so you can easily see what I've done. It's a little hacked together but should allow you to repro the issue mentioned above.

[2017-05-09 20:47] piotr-oles commented on #4
I reproduced this error also on first commit so it looks like it's not because of this plugin.
Scenario:
1. put `const x: number = '1';` at the end of the `test/stores/GreetingStore.tests.ts`
2. put `const x: number = 1;` at the end of the `src/stores/GreetingStore.ts`
3. remove `const x: number = '1';` from `test/stores/GreetingStore.tests.ts`
4. remove `const x: number = 1;` from  `src/stores/Gr

[2017-05-09 20:52] johnnyreilly commented on #4
Cool - I'll give it a try and report back!

[2017-05-10 05:41] johnnyreilly commented on #4
Also - perhaps validating supplied options would be a good idea!

[2017-05-10 18:08] johnnyreilly commented on #4
So this looks really nice!  I have one remaining question: when developing I have the notifier plugin in play:

https://github.com/johnnyreilly/fork-checker-repro/blob/master/gulp/webpack.js#L60

[code]

It pops toasts when the build breaks and when it's mended. How can this be made to play well with the fork-ts-checker?

[2017-05-11 11:56] piotr-oles commented on #4
It should work with `blockEmit: true` option, but it's not good for development :) To make it work with non-blocking mode you can use event hooks provided by plugin and write your own:
[code]
I didn't check this code, just write to show the idea :)

[2017-05-11 21:05] johnnyreilly commented on #4
Perhaps I shall write the plugin!

[2017-05-12 06:29] johnnyreilly commented on #4
I have a rough and ready plugin working. I'm going to do some more work on it and, if it seems worthwhile, I may publish it to npm. I may have some questions if that's okay?

[2017-05-12 07:31] piotr-oles commented on #4
Yes, of course :)

[2017-05-13 21:38] johnnyreilly commented on #4
Okay - I've got a first version written: https://github.com/johnnyreilly/fork-ts-checker-notifier-webpack-plugin

It's published to npm: https://www.npmjs.com/package/fork-ts-checker-notifier-webpack-plugin

🍾

There's one problem I've noted which could be:
1. User error
2. A bug in my notifier
3. A bug in fork-ts-checker-webpack-plugin.

I'll put up details in a while.  Bedtime now I think.  If y

[2017-05-14 07:35] johnnyreilly commented on #4
Okay - I've updated the repro to use the new plugin: https://github.com/johnnyreilly/fork-checker-repro

I've deliberately introduced 2 bugs into the codebase; [one into an `src` module](https://github.com/johnnyreilly/fork-checker-repro/blob/master/src/components/WhoToGreet.tsx#L8) (i.e. the actual app code) and [one into a `test` module](https://github.com/johnnyreilly/fork-checker-repro/blob/ma

[2017-05-14 07:54] johnnyreilly commented on #4
Okay - just pushed one more commit that may resolve things.  Just need to think about it and test it a littlle more.  Will report back....  Any observations welcome

[2017-05-14 20:36] johnnyreilly commented on #4
I've just published a new version of the plugin; it now handles lints as well as diagnostics.  The repro repo is now working really nicely with `fork-ts-checker-webpack-plugin`.  So much so that I'm planning to use it as a basis for another example in the ts-loader repo.  Essentially a `webpack2-gulp-react-babel-karma-fork-ts-checker` example - this will be particularly useful to me in future I'm

[2017-05-14 20:36] #4 closed, assigned to nobody

[2017-05-14 20:52] piotr-oles commented on #4
I'm glad to hear that :) Of course it will be my pleasure if you will write some article about this plugin. Please, send me your blog address ;)

[2017-05-14 20:58] johnnyreilly commented on #4
It's https://blog.johnnyreilly.com/ - I'll be sure to mention you. Probably will post in a week or two. If you're on Twitter then let me know your handle and I'll copy you in when I tweet about it.

[2017-05-15 06:03] piotr-oles commented on #4
I didn't have a Twitter account but I think it's a good time to sign up :) @OlesDev

[2017-05-23 12:37] DorianGrey opened #9 "Not all errors are emitted"
Hi there,

I'm currently investigating if it's possible to replace atl with ts-loader and this plugin in my projects, since the expectable (re-)build performance increase was / is quite impressive.
While testing, I've faced an issue with the emitted errors - they were incomplete.

The playground project I've tested the change on can be found [here](https://github.com/DorianGrey/react-ts-playground

[2017-05-23 17:23] piotr-oles commented on #9
Hi!
Thank you for reporting this issue :) I've reproduced this case and found the problem.
To fix it, you have to change `tsconfig.json`:
[code]
It's because this plugin uses `tsconfig.json` to get a list of files included in a build and your config includes only `src/customTypings.d.ts`. It's missing part of the documentation, I will add it soon. Unfortunately, it doesn't use webpack's module res

[2017-05-23 19:00] DorianGrey commented on #9
First of all - it works this way, and I really appreciate the results; it also seems to illustrate that I have to reconsider my current linter usage as well - I enabled your plugin's `tslint` by accident and it raised tons of issues that have not been raised before, although they are configured.

However, it's still a bit confusing that the `files` entry has to be removed completely - I added this

[2017-05-23 19:00] #9 closed, assigned to nobody

[2017-06-02 16:35] johnnyreilly opened #11 "fork-ts-checker not despawning it's services"
Hello!

It looks like there may be a problem with fork-ts-checker not despawning its services.  It's been discussed here: https://github.com/amireh/happypack/pull/167

Do you have any idea what might be causing this?

[2017-06-02 21:48] piotr-oles commented on #11
Plugin freezes process because of chokidar - but it shouldn't be turned on on 'build' mode - a source of the problem was misleading configuration. I've fixed it with v2.0.0 release :) #12

[2017-06-02 21:58] #11 closed, assigned to nobody

[2017-06-04 08:14] johnnyreilly opened #15 "tslint: true is not a valid option"
Using that results in an error of this nature: 😢

[code]

[2017-06-04 08:43] piotr-oles commented on #15
Oops... :/ I will fix it today and write some integration tests :)

[2017-06-04 08:46] johnnyreilly commented on #15
Cool!

[2017-06-04 10:38] piotr-oles commented on #15
Fixed on v0.2.1 release ;)

[2017-06-04 10:38] #15 closed, assigned to nobody

[2017-06-04 11:04] johnnyreilly commented on #15
Good work!

[2017-06-06 11:43] johnnyreilly opened #17 "Thoughts on "isolatedModules": true and ts-loader"
Hey!

An idea just occurred to me which might improve performance still when using this plugin with ts-loader.

I've just been pondering usage of `"isolatedModules": true,` in relation to using ts-loader alongside fork-ts-checker-webpack-plugin.  Essentially using this option will speed up compilation times.  Which is nice.

However, if we set this option in the tsconfig.json then presumably fork-

[2017-06-07 09:46] piotr-oles commented on #17
Hi! :)
Thanks for this proposal, I think it's a good idea. Could you create PR for this? I think you will have to add some checks in `lib/IncrementalChecker.js:29`, it shouldn't be hard.

[2017-06-07 09:56] johnnyreilly commented on #17
Sure - as soon as I get a moment I'll take a look!

[2017-06-07 19:44] #17 closed, assigned to nobody

[2017-06-07 20:47] piotr-oles commented on #17
Released with 0.2.2 ;)

[2017-06-07 20:47] johnnyreilly commented on #17
Sweet!

[2017-06-07 20:49] odensc commented on #17
What does `transpileOnly` in ts-loader do different from `isolatedModules`? Or are they meant to work together?

[2017-06-07 21:05] johnnyreilly commented on #17
@odensc - meant to work together. See the readme of ts-loader for `transpileOnly` details. Essentially it should just give a slight perf boost to ts-loader.

[2017-06-07 21:22] odensc commented on #17
Ah, thanks.

I updated to `0.2.2` and enabled `isolatedModules` - however I'm getting errors such as:

[code]

If `isolatedModules` is overriden to false, shouldn't I not be getting errors related to it being enabled?

[2017-06-08 04:29] johnnyreilly commented on #17
No you shouldn't ... that's odd. Suggests that my change is not working? You definitely have `0.2.2`?  @piotr-oles is there anywhere else in the codebase where we need to make this change / is it being forgotten / overwritten?

[2017-06-08 04:39] johnnyreilly commented on #17
This may be relevant: https://github.com/Microsoft/TypeScript/issues/2812 Giving it a brief read I'm wondering if there's a problem using `isolatedModules` in conjunction with @types. I don't know enough about the flag to say.  May ask a question on the TypeScript repo

[2017-06-08 04:50] odensc commented on #17
Yes - `node_modules/fork-ts-checker-webpack-plugin/package.json` is `"version": "0.2.2"`.

It seems the change was made in Microsoft/TypeScript#15538. I'm actually running `2.4.0-dev` which has that change, so if you tested with 2.3 you wouldn't see the error. But it will start breaking when 2.4 is released.

Still, none of this should be an issue if `isolatedModules` is overriden to `false`.

[2017-06-08 04:55] johnnyreilly commented on #17
Question: do you get the same error if instead of using `transpileOnly` you use `happyPackMode`?  (This disables error reporting in ts-loader entirely)   I'm trying to work out if the error is coming from ts-loader or fork-ts-checker-webpack-plugin.

[2017-06-08 05:05] odensc commented on #17
@johnnyreilly Same error with `happyPackMode`. (it also isn't emitting a webpack error, so it must be the plugin)

[2017-06-08 05:09] johnnyreilly commented on #17
OK - we've ruled out ts-loader at least which is good. Let's see if @piotr-oles can provide any clues when he comes online. I've raised an issue with the typescript repo to get guidance.

[2017-06-08 09:13] johnnyreilly commented on #17
OK - the issue is actually in the TypeScript compiler.  Also, it turns out that my understanding of `isolatedModules` was backwards and actually it's not useful to us when working with fork-ts-checker-webpack-plugin at all.  😞 I'll update the ts-loader docs to reflect that.

The change in my PR doesn't really add much of use; although it arguably does no no harm since there's no reason you'd ever

[2017-06-08 09:24] Toilal opened #20 "TypeError: lint.getRuleSeverity is not a function"
I just upgraded my dependencies, and it now display this stacktrace.

[code]

[2017-06-08 10:38] odensc commented on #17
No problem, at least I know what it does now. :)

[2017-06-08 20:33] piotr-oles commented on #17
@johnnyreilly Yes, I think it would be good to revert this changes :) One place less to introduce weird bugs in the future :)

[2017-06-08 20:45] piotr-oles commented on #20
I will check this out :) Please send me your tslint version and tslint.json file to help reproduce the bug :)

[2017-06-09 08:34] Toilal commented on #20
Sorry, I was using old version of this plugin, after upgrading to `0.2.2` issue has gone.

[2017-06-09 08:34] #20 closed, assigned to nobody

[2017-06-09 16:02] stowellt opened #21 "Deleting and then restoring a .d.ts file leads to type errors"
To reproduce:

1. Use the Webpack Dev Server
2. Make sure the config includes ts-loader with transpileOnly = true, and the fork-ts-checker-webpack-plugin
3. Delete a .d.ts file that declares an interface some other .ts file uses
4. Save a .ts file to trigger recompilation
5. You should see an type error about the missing interface that was declared in the .d.ts file
6. Re-add the .d.ts file that w

[2017-06-11 08:47] piotr-oles commented on #21
I've replayed your scenario and I don't have this issue. Please send me your `tsconfig.json` file - it could be the reason - see https://github.com/Realytics/fork-ts-checker-webpack-plugin#modules-resolution

[2017-06-12 14:46] stowellt commented on #21
The tsconfig file is pretty simple:

`{
  "compileOnSave": true,
  "compilerOptions": {
    "module": "es2015",
    "sourceMap": true,
    "target": "es5",
    "moduleResolution": "node"
  }
}`

I've tried setting "moduleResolution" to "classic", but the same issue persists. What version of Typescript are you testing with? I'm using 2.3.4

[2017-06-12 18:33] stowellt commented on #21
Update: I found the issue is solved for me if I comment out lines 96 & 98 in IncrementalChecker.js so the following statement is always executed:

`this.programConfig = IncrementalChecker.loadProgramConfig(this.programConfigFile);`

I realize that isn't a permanent solution, but is there any way to update the file list on every run of IncrementalChecker.prototype.nextIteration? If someone else on

[2017-06-16 05:54] piotr-oles commented on #21
Sorry for the delay, I have exams at a college so I'm a little bit busy :/
It's very weird - typescript uses an old program to build a new one but there are checks for program reusability inside typescript compiler.
I would like to help you but as long I can't reproduce the bug, I can't fix it. I've used 2.3.4 too.
Could you create a repository for issue reproduction? Or if it's an open source, ju

[2017-06-27 15:26] davidmpaz opened #23 "ESLint: "fork-ts-checker-webpack-plugin" is not published. (node/no-unpublished-require)"
Hi,

I am trying to use this plugin into [Encore](https://github.com/symfony/webpack-encore) but I am getting this ESLint error.

I have read the [rule docs](https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/no-unpublished-require.md) but not sure whats need to be done.

thanks in advance

[2017-06-28 17:25] piotr-oles commented on #23
Hi!
Thanks for reporting :)
This error occurs because there is no `"files"` field in `package.json`. I will fix it soon :)

[2017-06-28 17:31] piotr-oles commented on #23
Should be fixed with #24 - I will publish it as `0.2.4`

[2017-06-28 17:35] davidmpaz commented on #23
Hey, thanks!!

[2017-06-28 17:38] piotr-oles commented on #23
Published - please let me know if it fixes issue :)

[2017-06-28 17:54] davidmpaz commented on #23
Yeap! :+1:  Thanks again.

Cheers

[2017-06-28 17:54] #23 closed, assigned to piotr-oles

[2017-06-29 21:13] zinserjan opened #25 "Support for create-react-app, typed css-modules and some other stuff..."
Thank you for your work on this plugin. This approach improves webpack build times immense, especially incremental times are a lot faster (even in blocking mode).

But there are some issues at the moment that keeps us from using this plugin in the typescript fork of CRA:

 - All type checking errors/warnings needs to be forwarded to webpack’s compile lifecycle, cause CRA controls the terminal outp

[2017-06-29 21:22] johnnyreilly commented on #25
Working together always a good thing 💟

[2017-06-30 14:47] piotr-oles commented on #25
Thank you for your work, I really appreciate that :)
I did tests with your plugin on pretty big project (~103 000 LOC)

The results are:
 * Initial:
    * `fork-ts-checker-webpack-plugin`: **~70 seconds** (~45 seconds for check)
    * `ts-checker-webpack-plugin`: **~85 seconds**

  * Incremental:
    * `fork-ts-checker-webpack-plugin`: **~10 seconds** (~17 seconds for check)
    * `ts-checker-webp

[2017-07-05 15:44] igogrek opened #26 "No TypeScript errors in webpack-dev-server"
Hello. Thanks for the great plugin - really helped us speed up the build.

We use it together with HappyPack as it's done here:
https://github.com/TypeStrong/ts-loader/tree/master/examples/happypack

Works great with `webpack` but TypeScript errors aren't showing in `webpack-dev-server` (we generally use it with `overlay` option which displays errors in a way they cannot be ignored).

Is there a w

[2017-07-08 00:17] trash opened #27 "karma-webpack causes false-positive "watch" mode which causes ForkTSCheckerWebpackPlugin to never exit"
We use karma-webpack to run our tests. It accepts a `singleRun` argument in its options object but even when set to true it uses `webpack-dev-middleware` which always starts webpack via a call to `watch()`. This produces a false-positive where [this line](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/lib/index.js#L132) thinks webpack is watching (because the `watch-run` e

[2017-07-08 04:44] johnnyreilly commented on #27
I think I may have been affected by this also - I'd be interested to see a PR!

[2017-07-08 07:40] piotr-oles commented on #27
Sure, it's good idea to add this flag :) Waiting for the PR ;)

[2017-07-08 07:41] piotr-oles commented on #26
Sorry for the delay, I was very busy :/ I will take a look at this today, promise :)

[2017-07-08 07:56] johnnyreilly commented on #27
Yup - I'm pretty sure this is what's been tripping up my CI. Looking forward to seeing the PR!

[2017-07-08 16:31] trash commented on #27
After working on the PR I attempted to write some tests and was having some difficulty. Digging a little deeper after that, it looks like webpack [emits a "watch-close" event for plugins](https://github.com/webpack/webpack/blob/master/lib/Compiler.js#L154). Throwing a callback that calls `killService` after that seems to solve this issue as well and I think ends up being a lot more coherent of a s

[2017-07-08 16:38] trash commented on #27
OK so it looks like the `watch-close` event wasn't added until the 2.3.0 release of webpack. I assume that's probably fine. You can either authoritatively say that this plugin requires webpack 2.3.0+ or just that this bug (that's not even caused by this plugin) is fixed by updating webpack.

[2017-07-08 19:17] piotr-oles commented on #26
It's because of the design - this plugin works asynchronously in watch mode and doesn't block emit. Because of that, webpack is not aware of errors - they are logged to the console directly by the plugin.

It's because it was created for our project which has an over 100k LOC and it didn't make sense to block emit when type checking is always longer.

I see that there is a lot small and middle-siz

[2017-07-08 19:20] piotr-oles commented on #21
@stowellt ? :)

[2017-07-08 19:22] develar commented on #26
(Hint: ... and in the IDE like Webstorm/IDEA there is an option in the Typescript tool window "Compile All" to see all errors in the project).

[2017-07-08 20:03] piotr-oles commented on #26
Released as v0.2.5 - please upgrade and add `async: false` in plugin options - it should solve your issue :)

[2017-07-10 14:08] stowellt commented on #21
I apologize for the delay in response. The project is proprietary so I can't send a link. I haven't had time to setup a repo to reproduce the issue, and unfortunately it might be a while before I will have a chance to do that. I understand if you want to close this bug. I would still like to revisit this in the future at some point though, thanks.

[2017-07-11 07:19] #27 closed, assigned to nobody

[2017-07-12 07:14] Pajn opened #32 "Make errors more noticable"
This is a great project, thanks for it!

When using this in a project with unit tests and/or a bigger project with multiple builds it is easy to miss errors as you are likely to be viewing another terminal. While errors from the editor is usually enough it would be nice if the errors from this plugin would be more noticeable.

Some ideas:
1. Console log them in the browser via the dev server.
  I

[2017-07-12 08:00] johnnyreilly commented on #32
Hi @Pajn,

I too wanted:

So I built the [fork-ts-checker-notifier-webpack-plugin](https://github.com/johnnyreilly/fork-ts-checker-notifier-webpack-plugin).  This might give you what you need.

@piotr-oles - would it be worth mentioning the notifier in the readme of fork-ts-checker-webpack-plugin?

[2017-07-12 08:14] Pajn commented on #32
Awesome, that totally solves number 2.

There is not a big need for both but I will keep the issue open for discussion about 1 but feel free to close if it's not interesting.

[2017-07-14 05:49] piotr-oles commented on #32
@johnnyreilly - yes, of course, please create pr with modified readme :)

[2017-07-14 06:03] piotr-oles commented on #32
@Pajn I cannot find any method in webpack dev server and webpack dev middleware api that could make this possible. Maybe there is a way to hack into webpack dev server internals but it's not an option for the library - there is no guarantee that internals will be backward compatible in next releases :/

Websocket server could be a solution - you could make it as another package and use plugin hook

[2017-07-14 07:07] piotr-oles commented on #21
No problem :) Thank you for reporting, I will close this issue :) Feel free to re-open issue in the future ;)

[2017-07-14 07:07] #21 closed, assigned to piotr-oles

[2017-07-16 20:37] #32 closed, assigned to nobody

[2017-07-18 15:30] davidmpaz opened #34 "ESLint: "fork-ts-checker-webpack-plugin" is not published. (node/no-unpublished-require) for devDependencies"
Hi,

i think this issue is related to #23.

the difference is that when adding plugin as `devDependencies` linter complains.

Is there something that could be done for avoiding this one too?

many thanks in advance

[2017-07-20 11:58] ankitrg opened #35 "Fork ts checker crashes without any details"
[code]

Can anyone help me why this is happening or how I can dubug this?

[2017-07-20 21:24] abirmingham opened #36 "types.ts files do not trigger rebuild in webpack-dev-server"
First - thanks for the plugin and associated speed improvements!

One issue I've seen is that webpack-dev-server will not rebuild when a change is made in a source file that will not emit js. For example, if I have a types.js file that exports nothing but types/interfaces, and I make a change to that file that introduces a type error, I will not see a warning for that error until I change a file t

[2017-07-20 22:15] johnnyreilly commented on #36
I've been working with @abirmingham and have seen this myself.  Do you have any ideas @piotr-oles? Thanks!

[2017-07-21 06:00] piotr-oles commented on #34
Please checkout description of https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/no-unpublished-require.md :)

[2017-07-21 06:00] #34 closed, assigned to nobody

[2017-07-21 06:00] #26 closed, assigned to nobody

[2017-07-21 06:07] piotr-oles commented on #36
This plugin has no influence to the build watcher. You can comment out plugin and build should not trigger after `.d.ts` change. I suspect that issue is in `ts-loader` or combination of `ts-loader` and `HappyPack`. :)

[2017-07-21 06:11] piotr-oles commented on #35
It's error from typescript - you can create issue on typescript's repo. There is probably some case in your code that typescript can't handle.

[2017-07-21 06:12] johnnyreilly commented on #36
Hi @piotr-oles, thanks for responding! The issue is not phrased very clearly. Let me share my experience:

If tweaking a file which is interfaces only, fork-ts-checker-webpack-plugin does not seem to notice the change and perform checking again. It's like it only watches files that would produce JavaScript if TSC was pointed at them. Have you any ideas why this might be?

[2017-07-21 06:15] johnnyreilly commented on #36
To be clear: it's that fork-ts-checker-webpack-plugin does not seem to detect changes to interface only files. You'd imagine that it would, as a change to an interface could change a successful type check into a failed one. (Hope that makes sense)

[2017-07-21 06:21] piotr-oles commented on #36
fork-ts-checker-webpack-plugin is hooked to the compilation run and if compilation doesn't run after file change, it will not run checker. I think it doesn't run because of some optimization in loader in transpileOnly mode - there is no need to recompile project if only typings have been changed.

Maybe it's bad design to rely on compilation run in async mode - maybe I should make it totally async

[2017-07-21 06:25] davidmpaz commented on #34
Sorry for reporting this then. I think i did not understood right since begining

[2017-07-21 06:26] ankitrg commented on #35
Thanks, I'll do that.

[2017-07-21 06:30] johnnyreilly commented on #36
Thanks for the clarification @piotr-oles. It would be good if we could resolve this - I'm open to making changes in ts-loader if that would help. Though what you've suggested might be the better design choice...

In the meantime is it worth noting this down on the readme as a known issue for now? Happy to submit a docs PR....

I guess an ugly workaround which might / might not work would be to hav

[2017-07-21 10:05] #35 closed, assigned to nobody

[2017-07-21 10:06] piotr-oles commented on #36
Always happy to see PR :)

[2017-07-21 15:32] abirmingham commented on #36
Thanks for the replies, @johnnyreilly and @piotr-oles!

I don't have much experience with webpack plugin development, but if I'm reading awesome-ts-loader correct, it appears that they hook into 'after-compile' [here](https://github.com/s-panferov/awesome-typescript-loader/blob/a15de0a0df057bcbb248700492011539113fa139/src/instance.ts#L423), and add dependencies in that function [here](https://gith

[2017-07-21 16:01] johnnyreilly commented on #36
Completely by the by but for interest you can see the corresponding code in ts-loader [here](https://github.com/TypeStrong/ts-loader/blob/master/src/instances.ts#L116) and [here](https://github.com/TypeStrong/ts-loader/blob/master/src/after-compile.ts#L120).  That said, I think @piotr-oles is proposing **not** depending on ts-loader's compilation (I think)

[2017-07-24 20:49] abirmingham commented on #36
That makes sense. @piotr-oles if you have a suggested implementation I can take a shot at it and create a PR :)

[2017-07-28 07:27] johnnyreilly commented on #36
I've made the suggested docs PR now.

Like @abirmingham I'd be happy to help out on a suggested implementation to fix this problem.  Do you have an idea that you'd like to try?

I haven't looked in depth at the reasons why this is happening but I'd speculate that this is to do with webpack seeing that the output from ts-loader hasn't changed (`outputBefore === ''` and `outputAfter === ''` ) so doe

[2017-08-01 09:24] piotr-oles commented on #36
There is an interesting proposal in TypeScript project (thanks @johnnyreilly for cc ;) ): https://github.com/Microsoft/TypeScript/issues/17493 so I think the best idea is to wait for it and implement when it will be ready :)
Another solution would be to just watch files from fork-ts-checker plugin but it would add another watcher :/ The hard part would be to make sure it watches all files it shoul

[2017-08-01 10:51] johnnyreilly commented on #36
I'm glad you noticed @piotr-oles - I'm never too sure if everyone sees their cc's. 🌻

I think you may be right; do feel free to pitch in on the comment thread.  Your input will be very valuable to them and the TypeScript team are friendly and receptive people!

On another matter, from what @TheLarkInn has said about "deprecated accessing of `tapable` instances inside the loaders", I get the impres

[2017-08-14 06:33] johnnyreilly opened #39 "Add flag to allow fork-ts-checker-webpack-plugin to check for syntax errors (HappyPack / thread-loader)"
Excuse the minimal post; on my phone. An issue was logged against ts-loader; details can be found here:

https://github.com/TypeStrong/ts-loader/issues/602

Essentially this comes down to ts-loader being unable to report errors to webpack when used in `happyPackMode` ie ts-loader is used with HappyPack or thread-loader to split work over multiple instances

[2017-08-17 05:47] johnnyreilly commented on #39
copied from linked issue in ts-loader:

I think the issue is here: https://github.com/TypeStrong/ts-loader/blob/master/src/index.ts#L214

[code]

In `happyPackMode` we cannot register transpile errors with webpack and so this info is lost. BTW the same issue would presumably apply if using thread-loader instead of happypack.  Same principle; ts-loader cannot register errors with webpack.

There's

[2017-08-23 11:17] Obi-Dann opened #40 "Allow deferring plugin execution so loaders have time to generate files"
Hi,

We recently started using https://github.com/Jimdo/typings-for-css-modules-loader. It creates `d.ts` files for `css-modules` providing us with type checking and intellisense on css class names.
The problem is that the `d.ts` files are typically generated after `fork-ts-checker-webpack-plugin` is started. It means, the plugin either throws an error that a file is missing or checks an old versi

[2017-08-29 05:00] pranava opened #41 "process env is not passed to child process"
https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/46fe4212840d028341cd70a1164f069b8d03e35d/lib/index.js#L245-L251

The parent process' env variables such as NODE_PATH are not passed to the child process; hence if you have a localized build env with non standard library paths, the child process' won't be able to load dependencies such as typescript.

A simple fix is to just add a NOD

[2017-08-30 00:26] abirmingham commented on #39
Currently we are seeing an issue where a number of errors are not reported by ts-loader and are not reported by fork-ts-checker-webpack-plugin. This is fairly concerning :)

Examples include:
[code]

@johnnyreilly would this issue cause the behavior we're seeing? Thanks!

[2017-08-30 03:42] johnnyreilly commented on #39
I think so yes @abirmingham. If you drop usage of thread-loader / cache-loader and stop using happypack mode for the time being the issues will be raised as you'd hope.

In the ts-loader issue @piotr-oles said:

And so I'm hoping he's up for adding this flag. :smile: @piotr-oles would you be able to advise if you're likely to do this anytime soon? Failing that would you be able to advise on how yo

[2017-08-30 04:04] johnnyreilly commented on #39
Having done a little digging I've an idea for a fix.  I think that the tweak needs to be made here: https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/lib/IncrementalChecker.js#L128

I think that this line:

[code]

Should become something like this:

[code]

`getSyntacticErrors` would need to be an option that was supplied.

[2017-08-30 04:45] johnnyreilly commented on #39
Hi @abirmingham,

I've implemented a fix.  Do you want to give my fork a try?  You can find it here: https://github.com/johnnyreilly/fork-ts-checker-webpack-plugin

You'll need to supply a new option called `checkSyntacticErrors` to ensure that syntactic errors are reported, eg:

[code]

It worked on my local projects just fine.  I've submitted a PR - hopefully it will get merged soon.  If you cou

[2017-08-30 04:55] johnnyreilly commented on #39
cc @voodoorider

[2017-08-30 06:09] piotr-oles commented on #41
Thank you for reporting and PR :)

[2017-08-30 06:10] #41 closed, assigned to nobody

[2017-08-30 06:14] piotr-oles commented on #40
Hi :)
The first option sounds more elastic for me, so please implement this one if it's not a problem.
PR's are always welcome :)

[2017-08-30 11:02] johnnyreilly commented on #39
@voodoorider - thanks for the feedback. I think that means that this change possibly **always** turns on `checkSyntacticErrors` flag.  This would explain the strange behaviour I experienced with the tests.  I think I may need to look at how the option is passed through....

cc @piotr-oles

[2017-08-30 13:46] johnnyreilly commented on #39
I think I might have fixed it @voodoorider  - want to try now?

[2017-08-31 05:45] Obi-Dann commented on #40
Awesome, thanks, I've created a PR https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/44

[2017-08-31 07:17] johnnyreilly commented on #39
Closed by #43

[2017-08-31 07:17] #39 closed, assigned to nobody

[2017-08-31 07:24] piotr-oles commented on #40
Merged! I will release it as `0.2.8` :)

[2017-08-31 07:39] #40 closed, assigned to nobody

[2017-08-31 08:36] wowczarczyk commented on #39
@johnnyreilly @piotr-oles works perfectly, thanks guys!

[2017-08-31 08:39] johnnyreilly commented on #39
Great!

[2017-09-03 07:47] johnnyreilly opened #45 "Port to TypeScript?"
Hello!

I've always wondered why this isn't actually written in TypeScript (given that's what it provides checking for).  I'm currently hacking locally on porting this to TypeScript.  For the most part I just want to see how hard it would be to do (not hard I suspect).

Would you be interested in a PR for this assuming all goes well?

[2017-09-03 12:45] johnnyreilly commented on #45
Also, there might me a minor perf gains as I can kill some `bind`s (notoriously slow)

[2017-09-03 19:59] piotr-oles commented on #45
I wrote it in a pure javascript to keep things simple :) It's easier to debug and develop small plugin in javascript :) But as it becomes bigger and currently is stable (I think), rewriting it to TypeScript could be a good step forward to maintain growing complexity of the plugin :)

[2017-09-05 18:56] johnnyreilly opened #47 "Blog post"
I thought you might be interested to see this: https://medium.com/webpack/typescript-webpack-super-pursuit-mode-83cc568dea79 😉

[2017-09-05 19:10] piotr-oles commented on #47
Oh, I feel honored to be mentioned in a such great article! :) Thank you! ;)

[2017-09-05 19:15] #45 closed, assigned to nobody

[2017-09-05 21:14] johnnyreilly commented on #47
My pleasure!

[2017-09-05 21:14] #47 closed, assigned to nobody

[2017-09-08 08:21] johnnyreilly commented on #25
@zinserjan would you be up for forking and sending a PR with the error / warning formatting changes in? Since you raised this initial issue the project has moved on somewhat; it's now written in TypeScript and I think the `async` option may cover your blocking concerns?

As @piotr-oles says:

So it would be good to get some of your work contributed to the plugin where we there is common ground :tu

[2017-09-10 17:26] JasonKleban opened #49 "Emit and bundle the definitions?"
I'm using webpack 3, ts-loader, and `transpileOnly: true` along with this fork-ts-checker-webpack-plugin.

My `ts-config.json` has `"declaration": true`, but I don't think I'm getting the type definitions because of `transpileOnly: true` which makes sense to me, since I didn't allow ts-loader to perform the computation of the types.

If that's the true cause, is there a way to output the definitio

[2017-09-10 18:57] johnnyreilly commented on #49
Personally I've never used webpack in combination with `"declaration": true` and so I may not be fully understanding your setup.  but Would it work if you had a separate process that generated the type definitions.  So, another npm script that you used to just run `tsc` against to generate `*.d.ts` files?  Just a thought... (not necessarily a useful one)

[2017-09-11 16:36] zinserjan commented on #36
How does this makes all of them consistent? `createWatchMode` sounds for me like an additional watcher that runs independently of webpack? If this is the case, how can we synchronize them for non-async mode?

Btw this issue is already solvable when you pass all type checked files back to webpack, so webpack can detect changes on this file and trigger another build. But this will work only for non-

[2017-09-11 16:39] zinserjan commented on #25
Yeah, good job!

Whats wrong with #31? (Never tried it)

Yep, but #36 needs to be resolved before this is usable for me. This works already with my plugin.
Furthermore #40 needs to be documented.

[2017-09-12 08:10] donaldpipowitch opened #50 "Differences in watch mode and non-watch mode"
Hi!

Thank you for the cool plugin. It would be nice, if the README could mention some differences when this plugin is used in watch mode (`webpack(options).watch`) and non-watch mode (`webpack(options).run`).

E.g. we use `new ForkTsCheckerWebpackPlugin({ silent: true })`. This will log errors in non-watch mode, but it will not log errors in watch mode. To log errors in both cases with webpacks n

[2017-09-12 08:25] johnnyreilly commented on #50
This is interesting to know. Presumably `async: false` is useful for the production build as errors will be reported but less useful for watch mode where it will slow things down?

[2017-09-12 11:20] donaldpipowitch commented on #50
I wonder how much? Our build config is very generic, so we can also support non-typescript projects. I'd like to keep all kind of projects in sync as much as possible(and also like to experiment with custom logging). So it seemed to be the best solution to use `async: false` so my logging and the general behaviour stays the same for watch/non-watch mode and for ts/non-ts projects.

[2017-09-12 11:55] piotr-oles commented on #50
It all depends on the size of the project. On small project `async: false` works great, but in bigger it slows incremental build. For example in our project that has above 100k LOC build takes around 5 seconds but type checking around 20 seconds. An incremental build has O(1) time complexity, type checking - O(n), where n is a size of a project.

It's a good idea to add this note to the README.md.

[2017-09-12 12:12] piotr-oles commented on #49
I've just checked `typescript.d.ts` and there is a method:
[code]
on `Program` class.
The fourth argument called `emitOnlyDtsFiles` might be something you are interested in. I don't have a time to implement this in near future so PR's are welcome :)

[2017-09-12 12:33] donaldpipowitch commented on #50
Don't worry about that 😃

[2017-09-12 13:35] johnnyreilly commented on #50
Come on @donaldpipowitch - you've got a docs PR in you I'm sure :wink:

[2017-09-12 16:10] donaldpipowitch commented on #50
Sure! 😘😃

[2017-09-13 17:03] vladimir-rovensky opened #51 "Configuration in JS"
Hey Everyone,

Would it be possible to add some means to configure the typescript options in JavaScript rather than loading them from tsconfig.json? We have many builds that require different setup - for instance one build shouldn't build unit tests, while another should. One build should resolve a particular module using a generated d.ts file, while another should use the actual source code of th

[2017-09-13 17:24] johnnyreilly commented on #51
I'm not a maintainer of this project but I know PRs are welcome. Why don't you submit one with your proposed changes in? It might need a few iterations to get right but that would be a great place to start!

[2017-09-15 05:27] piotr-oles commented on #51
I didn't add such option because I think it's not useful in most cases. Having tsconfig.json has its benefits - if you have IDE that supports typescript, it will use this file, not configuration from webpack - so IDE messages will be the same as in webpack output and whole developing process will be more consistent :) But as @johnnyreilly said - PR's are welcome :)

[2017-09-15 18:40] #50 closed, assigned to nobody

[2017-09-25 16:56] alfrescian opened #53 "alias imports of namespaced types are failing when using ts-loader with fork-ts-checker-webpack-plugin"
I've created a simple example repository to reproduce the issue:
https://github.com/alfrescian/fork-ts-checker-issue

I've an index.ts that does the following alias import of a type defined in a namespace:
`import foo = myNamespace.foo;`
`const myFoo: foo = {foo: 'foo'};`

when using ts-loader with  fork-ts-checker-webpack-plugin then the output is (run `npm run fork` and check dist/index.js):
`va

[2017-09-30 01:17] DevoidCoding opened #54 "Debug Failure. ImportClause [SOLVED]"
I'm running an electron application with webpack 3.6, everything is going well but I still have this error
[code]

I don't know where it comes from and I don't know why.

The project is here if you want to test : https://github.com/DevoidCoding/wow-client

[2017-09-30 13:16] Vasiliy-Bondarenko opened #55 "Check TS inside .vue files"
Is there a way to make it check typescript inside .vue files?
I've tried to use it - and it checks all my .ts files, but don't check TypeScript inside .vue

[2017-10-09 17:02] knaos opened #57 "Suport for noEmitOnError?"
Hey guys, is it possible to use the `noEmitOnError` from tsconfig.json?

[2017-10-10 20:36] piotr-oles commented on #57
Hi! :)
This plugin only checks typing errors and reports errors. There is no emit at all. I think this issue should be opened in ts-loader repository :)

[2017-10-10 20:43] piotr-oles commented on #55
Hi! :)
Currently there is no logic that filters files by it's extension - we get files from typescript compiler api:
[code]
It looks like there is no .vue files in getSourceFiles() result. It may be invalid tsconfig.json file or bug/missing feature in typescript

[2017-10-10 20:44] piotr-oles commented on #54
It looks like error in typescript and the title changed to [SOLVED] so I will close this issue :)

[2017-10-10 20:44] #54 closed, assigned to nobody

[2017-10-11 07:42] johnnyreilly commented on #57
Although I haven't checked recently, I believe ts-loader already supports this (I think some of our execution tests depend on it).

[2017-10-11 07:42] johnnyreilly commented on #57
I'd close the issue if there's no more to do

[2017-10-11 07:48] Vasiliy-Bondarenko commented on #55
vue files are not compiled directly by tsc. ts code extracted from vue by webpack and send to tsc AFAIK.

[2017-10-11 08:19] johnnyreilly commented on #55
Maybe it would help if you shared a repo demonstrating the issue?

[2017-10-11 08:29] Vasiliy-Bondarenko commented on #55
I'd love to, but can't. It's private project.
This is the proccess I've followed https://sebastiandedeyne.com/posts/2017/typescript-with-laravel-mix

my current webpack.mix.js
[code]

[2017-10-11 15:03] knaos commented on #57
Yes, thank you. @johnnyreilly ts-loader has it working. But I want to use it with happypack, and then the emit prevention won't work.

[2017-10-13 15:08] markmcdermid opened #58 "Doesn't work with extended tsconfig file."
Hey, when I use "extends" in tsconfig, this plugin doesn't seem to pick it up and just gives `No type errors found`, however the extended tsconfig is definitely picked up in the ts-loader config.

Do you know why this might be?

tsconfig.json
[code]

webpack.config.js
[code]

[2017-10-13 15:34] markmcdermid commented on #58
Oddly, it also doesn't lint anything when I refer to the extended tsconfig but does when I use the base one.

[2017-10-15 20:33] Toilal commented on #55
I created a repository to reproduce the issue : https://github.com/Toilal/vue-25-typescript

git clone, yarn install && yarn dev to run the dev server. It display no error, but it should display a type error because of [this line](https://github.com/Toilal/vue-25-typescript/blob/master/src/components/HelloWorld.vue#L45).

If I set [transpileOnly to false here](https://github.com/Toilal/vue-25-type

[2017-10-15 20:45] Toilal commented on #55
here's the file list returned by `this.program.getSourceFiles()`

[code]

That's it, `.vue` component files are missing.

[2017-10-19 00:16] hodavidhara opened #59 "Enable typescript's traceResolution option"
Is there a way to see the module resolution trace logs like when you run `tsc --traceResolution` but through this plugin? I'm running into a strange issue where my dev and prod builds compile fine, but my test build (using karma and karma-webpack) fails to compile with`TS2307: Cannot find module 'moment'.` All builds are using the same tsconfig file, and when I run `tsc --traceResolution` I can se

[2017-10-19 21:11] jambonrose opened #60 "Feature Request: Include Definition File in Package Distribution"
I have a webpack config written in Typescript (`webpack.config.ts`; it allows me to use an interface to ensure I'm not misconfiguring webpack). When I try to import fork-ts-checker-webpack-plugin, however, I'm shown an error about missing Typescript definitions.

[code]

Given that the package is actually written in Typescript, it would be great if you included the type definitions with distributi

[2017-10-24 10:54] RoystonS commented on #55
I've come across slightly related issues with my codebase. The surprising bit is that fork-ts-checker-webpack-plugin appears to gets its list of files purely from the `tsconfig` file, not from anything webpack is building or producing.

[2017-10-24 11:39] johnnyreilly commented on #55
@roystons - I believe that's intentional. The motivation being getting the fastest performance possible. @piotr-oles can confirm

[2017-10-24 13:28] RoystonS commented on #55
Sure, I can see why. It's just _surprising_.  e.g. I spent several hours trying to work out why my files were being compiled correctly, but not type-checked, and it was the difference between the `files` section of my `tsconfig.json` and my webpack configuration.

I presume the type checker goes directly back to those source files, for speed? That would mean that it wouldn't be able to access bits

[2017-10-24 13:34] johnnyreilly commented on #55
As things stand, no.

It's worth saying that this is a general behaviour.   I think I'm right in saying that it is specific to `fork-ts-checker-webpack-plugin` and applies to both ts-loader and atl as well.  The principal being, that loaders should generally be drop in replacements for `tsc`.  See [here](https://github.com/TypeStrong/ts-loader/issues/267) for a little more context.

[2017-10-29 19:06] #51 closed, assigned to nobody

[2017-10-29 19:11] piotr-oles commented on #53
This plugin has no impact on js output - I think it's not possible to be caused by adding it to the webpack. I guess it's because `transpileOnly: true` mode :)

[2017-10-29 19:27] piotr-oles commented on #55
@RoystonS This behavior is intentional and is described in the readme of the plugin in the "Module resolution" section. I'm sorry that you had to spend a lot of time on this. I will close this issue because it cannot be solved directly in this plugin.

[2017-10-29 19:27] #55 closed, assigned to nobody

[2017-10-29 19:35] piotr-oles commented on #57
@knaos I just realized what you want to achieve and why it won't work. If you are using transpileOnly mode, ts-loader doesn't know about semantic errors so it's not possible to block emit. The information about errors is in the fork-ts-checker-webpack-plugin.

Support for this setting would be possible only in the "async: false" mode, where type-checking and emitting is synchronized. There is `for

[2017-10-29 21:46] piotr-oles commented on #60
I've created experimental branch `feature/declaration-files` - please check if this solves your issue :)

[2017-10-29 22:03] johnnyreilly commented on #57
Yup - I'd be open to a PR on that :+1:

[2017-11-01 09:08] dreef3 opened #61 "Parameter to define which files should be linted"
Hi,

Thanks for a great plugin! The issue I have is the following:

All files in the `program` are passed to TSLint for linting. However the program contains not only the files of the application but also any dependencies from node_modules. In my case I have some dependencies with *.ts files which are imported by application.

And while I definitely need them for compilation & type checking I'd pr

[2017-11-02 10:25] DorianGrey commented on #61
At least the ability to kick of the `node_modules` directory would be awesome - there are several cases where people are publishing their `ts` source files along with their transpiled counterparts to be used directly, or they referencing them in provided typings, so that they get picked up.

However, it should be documented that using to many filters here might cause this to become quite expensive

[2017-11-03 10:21] mdudek commented on #61
I'm facing same issue. I need to reference some *.ts files from node_modules, but some of these files are not tslint compliant. So i can't build my project without tslint errors at this moment.

There is an option in tslint.json that could be used for excluding of files from linting, but this setting is not respected by fork-ts-checker-webpack-plugin:

`
"linterOptions": {
    "exclude": [
      "

[2017-11-03 11:44] DorianGrey commented on #61
That would be even better than a custom solution.

This option in the `tslint.json` currently seem to only be respected automatically when using the `tslint` CLI. Users of the `Linter` API have to do that manually.

[2017-11-03 13:04] johnnyreilly commented on #61
Why not submit a PR? I've had a good level of success with PRs being taken by this fine project.

[2017-11-03 19:01] DorianGrey commented on #61
Sure, I'll see if can get some spare time during the next days to work on this. Should not be that hard.

For reference - this is the approach `tslint` takes:
https://github.com/palantir/tslint/blob/5634a074f72bd82854bc5439a3a27388b05b64d3/src/runner.ts#L193-L196

Dealing with these options should attempt to follow this behavior and use the same tools, since it simplifies validation and minimizes

[2017-11-03 19:04] johnnyreilly commented on #61
Awesome!

[2017-11-07 08:38] mdudek commented on #61
Great, could you release a new version to npm please?

[2017-11-07 10:10] piotr-oles commented on #61
After rewriting it to typescript, deploy script won't work :/ I need time to fix it, I will try to do this today

[2017-11-07 11:00] johnnyreilly commented on #61
Awesome!

[2017-11-09 19:12] zuzusik opened #65 "Initial build is faster, but incremental builds are much more slower"
So, my initial build time is now `30..40` seconds VS `60..80`, but in incremental builds only type checking takes `4..6` seconds VS  `1.5...2` for the whole build which I had before - this is a major degradation.

My config is:

[code]
my cpu as reported by Node is
[code]
I am running it on MacBook Pro 2016, 13" with 16GB of RAM
Node version - `6.9.5`
OS version - 10.12.6 / 10.13.1 (tested on both

[2017-11-10 11:58] ivanvoznyakovsky commented on #65
Same problem on MBP late 2013, 16GB RAM and Intel(R) Core(TM) i7-4850HQ CPU @ 2.30GHz. Incremental build slow down from `1.2...1.5` to `2.5...2.8` seconds.

[2017-11-10 12:14] johnnyreilly commented on #65
Maybe worth fiddling with your settings?

[2017-11-10 12:22] zuzusik commented on #65
@johnnyreilly if you are talking about @ivanvoznyakovsky's settings - they are the same as mine, we are working on the same project

if you need more settings provided by me, please specify what you need - will be happy to provide it

[2017-11-10 12:37] johnnyreilly commented on #65
I should say that fork-ts-checker-webpack-plugin is not my project.  That said, I'd suggest moving thread-loader and cache-loader out of the mix for now.  Focus just on using the plugin.  I can see you've tried that; I'm surprised it didn't make any difference.

I can't debug your problem for you but I'd advise taking a look at some working setups that you  might find here:  https://github.com/Typ

[2017-11-10 12:42] zuzusik commented on #65
Maybe you can advice the way we should try to debug it? Maybe some additional diagnostic information would be helpful for you?

it makes *some* difference - it makes things like 10% slower :)

where is the guarantee that in that setups the incremental build speed is not slowed down?

I can see the docs mentioning `~3s` rebuild time which sounds too big for me (we have really big project and as you

[2017-11-10 12:58] johnnyreilly commented on #65
I'm really sorry - I'd love to help more but right now I am snowed.

[2017-11-10 13:01] zuzusik commented on #65
@johnnyreilly sure 👍 just trying to understand whether this is just our project issue or the general issue of this plugin

[2017-11-10 18:14] johnnyreilly commented on #65
I'd suggest this is something to do with your project. The only purpose of this plugin is to speed up builds, with particular focus on incremental build performance. Probably the most useful things you could do is create a minimal reproduction of your slow build and share it on GitHub. That will allow someone to look at your setup and advise. Speaking from my own experience, it's notable that duri

[2017-11-15 05:48] leebenson commented on #60
Cloning and switching to that branch yields the following on `npm i`:

I'm also not sure that simply exporting the interface names would actually solve anything - wouldn't you need a `types` attribute in `package.json` in the absence of `index.d.ts`? Per https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

Would appreciate seeing this released. Like the OP, I'm using thi

[2017-11-15 06:37] johnnyreilly commented on #60
@leebenson - if you're using TypeScript 2.5 do you see the same error?  I've seen a few unexpected breakages with 2.6 and I wonder if this is another example?

[2017-11-15 21:42] jambonrose commented on #60
Hi @piotr-oles , thanks for looking into this. Unfortunately, the new branch continues to have the same problem.

I've created an example repository to demonstrate the problem:  https://github.com/jambonrose/ts-webpack-fork-type-check-mve . Please note the two branches on the project: [`project-with-current-version`](https://github.com/jambonrose/ts-webpack-fork-type-check-mve/tree/project-with-cu

[2017-11-15 22:40] leebenson commented on #60
There's just a couple of things needed to fix this on the `feature/declaration-files` branch, both in `package.json`

**1. Peg the Typescript to a working version**

This is a temporary solution; obviously, it's better to figure out what broke between TS 2.5.3 and 2.6 that is causing the type errors and fix, but for now, just peg the TS version in `package.json`:

[code]

After that, `npm run buil

[2017-11-16 08:07] pelotom opened #67 "Option to use tslint in fix mode"
Is it possible to make tslint run with the `--fix` option?

[2017-11-16 08:57] johnnyreilly commented on #67
I think that's in 0.2.9 of fork-ts-checker-webpack-plugin. I believe @piotr-oles is presently battling to release it right now...

[2017-11-16 09:26] pelotom commented on #67
Great, can't wait!

[2017-11-17 04:01] rhys-vdw commented on #61
Is there a way to use this plugin right now? When I build I get about 100 of these:

[code]

[2017-11-17 06:12] johnnyreilly commented on #61
Do you know when 0.2.9 might get released @piotr-oles? I know it's a bit tricky as you're depending on someone else but it would be great to get an idea...

Just a thought, if it's going to be a problem releasing new versions is it worth publishing this as a different package so you don't have this issue?

[2017-11-17 12:41] johnnyreilly commented on #67
The 0.2.9 release has been slightly delayed for some fairly understandable reasons.  If you're too impatient to wait for it to land on npm you could use this in the short-term:  https://github.com/typestrong/fork-ts-checker-webpack-plugin

nb The repo above will be removed from GitHub once 0.2.9 is released to npm.  This is just for those impatient people out there (well, me mostly :wink:)

[2017-11-17 12:41] johnnyreilly commented on #61
The 0.2.9 release has been slightly delayed for some fairly understandable reasons.  If you're too impatient to wait for it to land on npm you could use this in the short-term:  https://github.com/typestrong/fork-ts-checker-webpack-plugin

nb The repo above will be removed from GitHub once 0.2.9 is released to npm.  This is just for those impatient people out there (well, me mostly :wink:)

[2017-11-17 12:48] johnnyreilly opened #68 "The plugin doesn't compile with TypeScript 2.6"
I'll fix it.

[2017-11-17 17:44] pelotom commented on #67
Thanks for the heads up!

[2017-11-17 19:15] DorianGrey commented on #61
@rhys-vdw : These errors have nothing to do with this plugin in particular.
Considering that path
[code]
I'd assume that multiple versions of `@types/react` got installed, since these ones are nested, This happens quite often when using lockfiles (either from `yarn` or `npm`) in conjunction with wildcard dependency definitions (e.g.`"*"`). I've often had this problem with `@types/react-dom`.

I cu

[2017-11-18 04:36] rhys-vdw commented on #61
Interesting. I don't see these errors when running tslint from
command-line. I wonder what the difference is.

I can try to flatten the dependencies, but if it's a fragile solution then
it's not something I'd be comfortable merging into master.

On Sat, 18 Nov. 2017, 6:15 am Christian Linne, <notifications@github.com>
wrote:

[2017-11-18 05:11] johnnyreilly commented on #61
Do you get the same problem if you use https://github.com/typestrong/fork-ts-checker-webpack-plugin ? (Temporary 0.2.9 repo) I'm wondering if the tslint 0.2.9 changes resolve the problem

[2017-11-18 05:33] davidm-public opened #70 "curious if this plugin works with vue and typescript?"
seems to have issues finding typescript classes in .vue files.
wondering if this is a known issue?

[2017-11-18 19:28] #68 closed, assigned to nobody

[2017-11-18 20:59] DorianGrey commented on #61
command-line. I wonder what the difference is.

This message is **not** generated by the linter, it's a TSC error. There are a couple of issues pending regarding this error.
E.g. - one specifically for `@types/react` (still applies for the most recent versions):
https://github.com/DefinitelyTyped/DefinitelyTyped/issues/18484
One from Microsoft's react starter project:
https://github.com/Microsoft/

[2017-11-19 04:29] prograhammer commented on #55
This actually can be accomplished by overriding default host behavior with `host.resolveModuleNames` (just like it is already being done in `host.getSourceFile` in the source [here](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/02f2a0860d43079471dfd64e57a61b172095183e/src/IncrementalChecker.ts#L90)). **I'm working on a PR** for this now and hope I can have it ready by tomorrow.

[2017-11-19 04:33] prograhammer commented on #70
This actually can be accomplished by overriding default host behavior with `host.resolveModuleNames` (just like it is already being done in `host.getSourceFile` in the source [here](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/02f2a0860d43079471dfd64e57a61b172095183e/src/IncrementalChecker.ts#L90)). Since the `.vue` file is not going to be processed through `vue-loader`, I'm us

[2017-11-19 06:58] Toilal commented on #70
Thanks. When PR is ready, I will will include it as soon as possible in my vue webpack template fork https://github.com/Toilal/vue-webpack-template to test this.

[2017-11-20 04:13] rhys-vdw commented on #61
Thanks @DorianGrey.

[2017-11-21 04:39] speedy250 opened #71 "Errors list quickly in CLI but are cleared and do not interrupt webpack"
I'm new to the FTCWPlugin, but I'm having a hard time believing that my experience is the norm.

Libraries
React: 15.4
Typescript: 2.4.2
ts-loader: 2.3.7
fork-ts-checker-notifier-webpack-plugin": "^0.2.0",
fork-ts-checker-webpack-plugin": "^0.2.8",
cache-loader: 1.2
thread-loader: 1.1.2

I'm using the thread-loader method which has cut my initial compile from ~4minutes to >1min, so keeping this se

[2017-11-21 06:25] johnnyreilly commented on #71
Do you want to try the `async: false` option? - this will break the build by passing errors from the plugin to webpack and is probably the behaviour you want. It's not the default for speed reasons.

[2017-11-21 11:15] prograhammer commented on #70
Hi @Toilal

You can see the PR here: https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/77
For a quick test, I created a `vue` branch (out of the `feature/vue` branch) with the built `lib` folder included. So you can install like this:

`npm install git://github.com/prograhammer/fork-ts-checker-webpack-plugin.git#vue --save-dev
`
1. Turn on the vue option in the plugin in your webpac

[2017-11-21 11:22] prograhammer commented on #70
For anyone else following this thread, you can use this plugin right away with `npm install git://github.com/prograhammer/fork-ts-checker-webpack-plugin.git#temp --save-dev`. Check back in a week and we'll have the PR merged or I'll just put it on `npm` so we can all just get back to writing Vue apps!

[2017-11-21 14:23] prograhammer commented on #70
I just found a critical problem that I'm working to fix. It looks like the `.vue` file has to be referenced somewhere in the import dependency chain that leads back to the entry point (ie. `main.ts`). It is also having problems with relative path imports of `.vue` files. I somehow missed this before PR. Working on it...

[2017-11-21 19:39] DorianGrey commented on #71
The `"Compiled Successfully! ..."` message in conjunction with the `react` dependency points me to an ejected CRA project ... is that the case?
If so, you should follow @johnnyreilly 's suggestion to config the plugin to sync mode. The default CRA behavior is a hard clean (i.e. it skips your terminal's content) before and after the build, so any error listed in between will be kicked off. With `ts

[2017-11-22 08:25] pelotom opened #74 "Strange "Cannot find module" error when using with TSLint and the no-unused-variable rule"
This is a very weird bug which took me hours to whittle down to a minimal example, so I hope it's of use. Steps to reproduce:
1. ```
    git clone https://github.com/pelotom/fork-ts-checker-bug
    cd fork-ts-checker-bug
    npm install
    npm start
[code]
    ERROR in /Users/tom/code/fork-ts-checker-bug/index.ts
    (1,25): Cannot find module 'moment'.
[code]

[2017-11-22 17:29] vleandersson opened #75 "Saving non emitting files causes failure in resolving paths from tsconfig.json for es6 imports"
First of all, thank you very much for this awesome plugin! Keep up the good work!

*Description*
We are building an Angular (v4) application, using webpack, angular2-template-loader and awesome-typescript-loader, and want now to lint our project with an async linter, i.e. fork-ts-checker-webpack-plugin. The setup works fine for files emitting js, but non emitting files (interfaces, html etc) cause

[2017-11-23 11:26] eddyw commented on #57
@johnnyreilly I'm curious about the status of this issue. Is it now possible to do so?

[2017-11-23 11:43] johnnyreilly commented on #57
Uh I don't think anything has been implemented related to this so I guess not.. don't actually know

[2017-11-23 11:51] eddyw commented on #57
@johnnyreilly I'll try to implement it on `ts-loader` and open a PR. It will take me some time, because I'm actually hating the hacky way I'm dealing with this right now.

Actually, I was thinking about building a new loader to have accept a function in options to listen to some hooks and decide if it should allow emitting files or not. Kind of:
[code]
So it could work as a general solution rather

[2017-11-23 11:53] johnnyreilly commented on #57
I don't know - now's your chance!

[2017-11-23 16:42] eddyw commented on #57
@johnnyreilly got it working!. Listening to `fork-ts-checker-receive` hook instead before `fork-ts-checker-emit` is reached, so it's possible to tell webpack not to emit on error. I will share it tomorrow, now the code is a mess.

[2017-11-23 17:43] johnnyreilly commented on #57
Great!

[2017-11-23 19:27] alecmev commented on #67
@johnnyreilly Mm, 0.2.9 is out, but I don't see anything in the code suggesting that fixing can be enabled. It's hardcoded to `false` [right here](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/b53a7d52e9e720e85c27761516a79129dec11639/src/IncrementalChecker.ts#L124).

[2017-11-23 19:32] johnnyreilly commented on #67
Maybe submit a PR then? It's not my project but PRs are taken!

[2017-11-23 19:34] alecmev commented on #67
Why did you claim this then? ^

[2017-11-23 19:46] pelotom commented on #67
@jeremejevs dude, chill. He said "I think", which is not a "claim". He's not the maintainer and was just trying to be helpful with an educated guess. If you know where it's hardcoded then you're in a position to submit a PR, so maybe stop complaining and contribute.

[2017-11-23 20:10] alecmev commented on #67
If I were complaining, it'd be justified, since this "I think" made me go on a wild goose chase, thinking that there must be some branch or a PR or a fork somewhere, with the `--fix` setting in it. Why would one say "I think X" without any reason to say that? But it wasn't even a complaint, it was a question.

[2017-11-23 20:12] johnnyreilly commented on #67
Much 💓 for having my back @pelotom

@jeremejevs - it's not my project I was clearly mistaken. But now you have an opportunity to make the world a slightly better place. Go to it! Submit a PR 👍

[2017-11-23 20:12] piotr-oles commented on #67
Sorry I didn't reply. There is no such option in 0.2.9. I think we could add such option, PR's are welcome.
I would like to add this feature but I'm not sure when I will have enough free time to do this. So like I said - don't hesitate to add PR :)

[2017-11-23 20:23] piotr-oles commented on #75
It will be hard to help you without reproduction repo :/ My first guess is some bug in Typescript if you use newer version of ts in the new clean repo :)

[2017-11-23 20:28] piotr-oles commented on #74
Thank you for reporting this issue with reproduction repo :) I will check it, but I'm busy so it would be probably in the next week. But maybe someone else could help? PR's are welcome :)

[2017-11-24 14:42] alecmev commented on #67
Looks like this isn't as simple as setting `fix` to `true`. Here's a relevant discussion: https://github.com/palantir/tslint/issues/3188 Tried some quick potential fixes (like not passing `oldProgram` to `createProgram`), to no avail. Ultimately decided to not invest any extra time into this, because the only reason I wanted auto-fixing in the first place was Prettier, and the [`onchange` watch ap

[2017-11-24 14:45] johnnyreilly commented on #67
No worries @jeremejevs. Thanks for reporting back - that's helpful

[2017-11-24 20:48] prograhammer commented on #70
Alright! I found how to get it to work fully on `.vue` files (without need to go the route of `.vue.ts`).

It's working in my vscode extension fork: [TSLint Vue](https://marketplace.visualstudio.com/items?itemName=prograhammer.tslint-vue). So now I can release a new working PR here. Stay tuned!

[2017-11-24 21:43] johnnyreilly commented on #70
Exciting!!

[2017-11-25 18:56] eddyw commented on #57
@johnnyreilly I wrote what I was using as a `webpack` loader. It's a bit hacky but works:
https://github.com/eddyw/forktschecker-hook-loader

Maybe something like it could be implemented inside `fork-ts-checker-webpack-plugin`. I mean, if this package could ship also a loader.

Anyway, it works with my current configuration in build and watch mode. The first build is usually slower in `--watch`, t

[2017-11-27 04:48] rokoroku opened #76 "TypeError: Cannot read property '0' of undefined"
The plugin crashed right after rebuilding (in watch mode), with below message

[code]
### version
webpack 3.8.1
webpack-dev-server 2.9.4
fork-ts-checker-plugin 0.2.9
typescirpt 2.6.1
tslint 5.8.0
tslint-microsoft-contrib 5.0.1

### options
fork-ts-checker-plugin
[code]
tsconfig
[code]
tslint
[code]
it works well with `fork-ts-checker-plugin@0.2.8`.

[2017-11-27 06:52] johnnyreilly commented on #76
Can you provide a minimal reproduction repo please?

[2017-11-27 19:13] #53 closed, assigned to nobody

[2017-11-27 19:18] #61 closed, assigned to nobody

[2017-11-29 08:42] prograhammer commented on #70
The new PR is up and waiting feedback/approval: https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/77

For a quick install into your current Vue project (to see it working):

     npm install git://github.com/prograhammer/fork-ts-checker-webpack-plugin.git#vue --save-dev

See [this post](https://github.com/Realytics/fork-ts-checker-webpack-plugin/issues/70#issuecomment-345995666) fur

[2017-11-29 12:26] zuzusik commented on #65
@johnnyreilly the thing is that our repo is not **minimal** - it has hundreds of our own files and tens of external npm modules imported all over - so I can suppose this incremental builds slowing down issue can stand out only on big projects

So, my question would be - was this tool tested on really big projects? If yes - where I can look at such tests/real life usage examples? If no - maybe you

[2017-12-05 19:25] johnnyreilly opened #78 "Support webpack 4.0 API changes"
Should be simple to implement - see details here: https://github.com/webpack/webpack/issues/6064#issuecomment-349399854

I should be able to take a look. (Unless someone else gets there first!)

[2017-12-08 06:23] wangtao0101 opened #79 "seems to not work with webpack >= 3.7.0"
[code]

[2017-12-08 06:31] johnnyreilly commented on #79
Works for me!

[2017-12-08 07:08] wangtao0101 commented on #79
@johnnyreilly actually i failed,  i can't figure out the root cause

[2017-12-08 07:48] wangtao0101 commented on #79
@johnnyreilly  i eventually find out the root casue is the version of webpack,  seems to not work webpack >= 3.7.0

[2017-12-08 08:58] eddyw commented on #57
It's been some time. I figured how to make the compiler work with `HappyPack` or `thread-loader` without killing Type Checking and also allowing to `noEmitOnError`..
https://github.com/eddyw/owlpkg-typescript-loader

I wrote the loader from scratch. First as part of an experiment, then it turned out to work fairly well. `tslint` is also able to run within the loader with HappyPack, ... and cache

[2017-12-08 09:14] johnnyreilly commented on #79
For what it's worth I've been using with 3.8.1 with no issues

[2017-12-08 09:15] johnnyreilly commented on #79
And 3.10.1

[2017-12-08 09:24] wangtao0101 commented on #79
seems caused by #71, when i set async true, it shows errors.

[2017-12-08 09:24] #79 closed, assigned to nobody

[2017-12-11 08:37] vleandersson commented on #75
@piotr-oles here is our fix. Upp till 1.0 fixes this problem for us. Do not propose you to use the same method, since its an ugly hack. Thou 1.1 (latest commit) might be of intrest for you. It fixes a bug that we have not reported here. It fixes our problem of linting for templates (Angular v. 4) gets stuck, i.e. you use a private variable in the view, which with angular-template-loader triggers a

[2017-12-11 08:43] johnnyreilly commented on #75
This doesn't look like the worst fix in the world :smile:.  Maybe we should use it?

[2017-12-11 10:32] vleandersson commented on #75
@johnnyreilly  updated the code for a bug when file list is empty. Se old comment for details.

Go nuts! :)

[2017-12-11 14:10] johnnyreilly commented on #75
@piotr-oles what do you think?

[2017-12-15 20:58] nidu opened #80 "Cannot read property 'getLineAndCharacterOfPosition' of undefined"
Hello. Just migrated to webpack 3 and trying to setup fast TS compilation, but stumbled on following error. Problem occurs for TS 2.6.x but not for e.g. 2.1.4. Any hints on what can be the cause? Maybe some broken dependency? If i proceed working and save files same error appears again and again.

Environment:

Windows 7x64
webpack 3.10.0
node 6.11.0
npm 3.10.7
typescript 2.6.2
fork-ts-checker-web

[2017-12-15 21:53] johnnyreilly commented on #80
I'd suggest clearing your node modules and reinstalling - btw you didn't share your plugin setup..

[2017-12-16 10:38] nidu commented on #80
@johnnyreilly Thanks, it helped!

[2017-12-16 10:59] nidu commented on #80
Unfortunately i was wrong. Error just didn't appear until i resolve webpack errors. Plugin configuration is default - just `new ForkTsCheckerWebpackPlugin()`. Maybe there's some dependency that probably may be the reason?

EDIT: Error starts with typescript@2.4.0, 2.3.2 doesn't show this error.

[2017-12-18 06:10] nidu commented on #80
According to [this](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#incremental-build-support-using-the-language-services) (function `logErrors`) `diagnostic.file` can be nil.

Wrapping code inside `NormalizedMessage.createFromDiagnostic` in `if (diagnostic.file)` and printing diagnostic i've got in console:

[code]

So maybe reading `diagnostic.file` attributes should be wrapp

[2017-12-18 21:38] c1moore commented on #76
I'm getting this error, too.  Although my error message isn't as nice and I had to use the Chrome inspector to find the problem.  I only see this bug when I use the `watch` option for WebPack set to `true`.  If I set it to false, everything works perfectly.

@rokoroku Is that the case for you?

I might be willing to see if I can create a minimal reproduction if you can't duplicate this @johnnyreil

[2017-12-18 21:46] johnnyreilly commented on #76
Hey @c1moore,

Thanks for that - this is probably a good basis for a minimal repro: https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker

[2017-12-18 22:04] c1moore commented on #76
@johnnyreilly I can only reproduce this when using this plugin in conjunction with Grunt.  I'm not sure if @rokoroku has the same setup.

You can see how I reproduced it [here](https://github.com/c1moore/ts-loader/tree/master/examples/fork-ts-checker).  My changes were extremely simple:
- Add `watch: true` to the webpack config file
- Add grunt
- Add and register `grunt-webpack`
- Run `grunt run`

[2017-12-18 22:07] johnnyreilly commented on #76
It does - the issue appears to happen in the done callback here: https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/src/index.ts#L465

@piotr-oles can you think why grunt wouldn't play nice with fork-ts-checker-webpack-plugin?  I had 1 idea.  The plugin looks like it has some global variables in the form of node's `process.env.`:

[code]

Perhaps these are colliding with simil

[2017-12-18 23:18] c1moore commented on #76
@johnnyreilly I'm using the Chrome inspector to walk through some of the code.  It looks like `this.elapsed` _is_ initially set.  However, when `createDoneCallback()` is called, `elapsed` is not defined.  In other words, `handleServiceMessage()` is called after `createDoneCallback()` and I believe after a child process is spun off.  `handleServiceMessage()` does define `elapsed` on `this`, but `_t

[2017-12-19 12:26] rokoroku commented on #76
Sorry for late, and thanks @c1moore for reproducing example.

In my case, I use `gulp`, not `grunt`. It seems like this issue is related to such build tools.

[2017-12-19 12:29] johnnyreilly commented on #80
Thanks for digging into this @nidu.  You're seeing:

[code]

Are you running in a super old version of node?

It would be useful if you could provide a minimal reproduction of the issue; it's hard to know if this is a configuration problem or a bug with fork-ts-checker-webpack-plugin.

[2017-12-19 13:08] nidu commented on #80
@johnnyreilly environment is as following:

Windows 7x64
webpack 3.10.0
node 6.11.0
npm 3.10.7
typescript 2.6.2
fork-ts-checker-webpack-plugin 0.2.9
ts-loader 3.2.0

I resolved the error by adding `es6-promise` to the project so this particular error was mine. But at the same time i think checker should print error and errors like this can occur. Moreover according to example from my link above `d

[2017-12-19 14:51] johnnyreilly commented on #80
Yeah that sounds reasonable. If you get a chance to submit a PR I'm sure @piotr-oles would be appreciative

[2017-12-19 21:09] johnnyreilly commented on #76
That's absolute gold @c1moore - thanks for digging into it.  Let me have a little play and report back

[2017-12-19 21:30] johnnyreilly commented on #76
Okay I've made a propective fix; I haven't had time to test it properly but I'm fairly confident this should resolve the issue.  My fix can be viewed here: https://github.com/johnnyreilly/fork-ts-checker-webpack-plugin

We're using https://github.com/typestrong/fork-ts-checker-webpack-plugin as an __@next__ channel for the plugin.  I've get this pushed up there so you can have a test.

Can you adv

[2017-12-19 23:46] c1moore commented on #76
@johnnyreilly It might be worth testing outside of the context of Grunt/Gulp, but I'll give it a try.  I don't understand how I can get this update, though.  Should I use your fork, pull directly from the typestrong repo, or do something like `npm install fork-ts-checker-webpack-plugin@next`?  It sounds like I should use the typestrong repo.

I forgot I was messing around with the compiled version

[2017-12-20 06:31] johnnyreilly commented on #76
Hey @c1moore

The typestrong repo contains the compiled code in a github repo that you can reference in your `package.json`.

Use the instructions in the readme here: https://github.com/typestrong/fork-ts-checker-webpack-plugin

It was me that ported the plugin to Typescript and my change reverts a change I made to do with the lexical binding of `this`. It's now more in line with the original is c

[2017-12-20 21:14] johnnyreilly commented on #76
Did you get chance to test this @c1moore?

[2017-12-21 00:10] c1moore commented on #76
@johnnyreilly Sorry, I've been busy.  That seems to work for me.

[2017-12-21 04:00] rokoroku commented on #76
@johnnyreilly  it seems work for me too. 👍

[2017-12-21 06:05] johnnyreilly commented on #76
Great - I'll submit a PR. Thanks!

[2017-12-22 09:24] piotr-oles commented on #80
PR merged, will be released as v0.2.10 :)

[2017-12-22 09:24] #80 closed, assigned to nobody

[2017-12-22 09:28] piotr-oles commented on #76
Merged - will be released as v0.2.10 :)

[2017-12-22 09:28] #76 closed, assigned to nobody

[2017-12-22 09:37] piotr-oles opened #83 "Invalid deploy key"
@etienne-dldc @smonteil NPM deploy key doesn't work again - please send me a new one

[2017-12-22 11:13] etienne-dldc commented on #83
um... this is annoying, I think we should transfer ownership of the npm package to you so this issue stop happening, @smonteil this should do : https://docs.npmjs.com/cli/owner .

[2017-12-22 15:43] c1moore commented on #76
@piotr-oles I don't see v0.2.10 available on npmjs yet, but it seems to be available on GitHub.  Is there some delay for the npm registry to update or are you holding off on releasing to npm for the time being?  If the latter, is there an ETA for its release?

[2017-12-22 19:36] johnnyreilly commented on #76
Hey @c1moore,

Hopefully should be out soon - see: https://github.com/Realytics/fork-ts-checker-webpack-plugin/issues/83

[2017-12-23 22:12] piotr-oles commented on #83
@smonteil Thank you for the token :) I would be thankful for transferring NPM ownership. The repository still will be on the Realytics account :)

[2017-12-23 22:12] piotr-oles commented on #76
@c1moore v0.2.10 released :)

[2017-12-23 22:13] johnnyreilly commented on #76
Yay!

[2017-12-24 06:40] johnnyreilly commented on #83
I'd just like to second the desire to add @piotr-oles as an owner of `fork-ts-checker-webpack-plugin`. FWIW, if you're concerned about losing control, it is not necessary to transfer the publishing rights entirely.  You can simply add him as another owner. See the npm docs here:

https://docs.npmjs.com/cli/owner

By way of example, [`ts-loader`](https://www.npmjs.com/package/ts-loader) has 3 owner

[2018-01-05 16:25] RehanSaeed commented on #70
I seem to be able to build and run my app with and without the `vue: true` option. What exactly does it do?

[2018-01-05 16:30] Toilal commented on #70
this adds TypeScript type checking and TSLint to vue SFC.

[2018-01-09 18:26] piotr-oles commented on #75
@vleandersson Your fix looks good, could you create a PR? :) Sorry for delay :/

[2018-01-09 18:29] pelotom commented on #75
I'm curious if this is related to #74 at all, since that also has symptoms of not resolving paths after saving a file. However there the condition of being a non-emitting file seems to be sufficient but not necessary. I have a reproducing project here:

https://github.com/pelotom/fork-ts-checker-bug

[2018-01-09 19:36] piotr-oles commented on #65
I've created this project because we had very slow incremental build time (about 40 seconds). The project in this stage had about 100k lines of code. Thanks to this plugin our incremental check dropped to ~10 seconds and didn't block emit.

The problem with a semantic check is that it can't be done only for modified files - we need to perform this check on all project files (in fact we could limit

[2018-01-10 08:43] Toilal opened #85 "(vue) TSLint is running on empty script tags"
TSLint is running on empty script tag content, even when a src attribute is defined.

[code]

This raises tslint errors for missing EOL

[code]

[2018-01-10 18:30] The-DL commented on #85
I'm seeing this as well. If you move the closing `</script>` to the next line, it doesn't trigger the issue.

[2018-01-11 19:48] Toilal commented on #85
@BigForNothing It seems to be fixed with TSLint 5.9.1, can you confirm ?

[2018-01-16 15:32] Toilal opened #88 "[vue] Imports requires to omit .vue extension"
When running vue-loader with ts-loader without this plugin, I have to use `.vue` extension to perform imports. But when enabling this plugin, I have to omit them for build to pass.

See [this comparison](https://github.com/pragmasphere/vue-tree/compare/fork...no-fork) => Both branches builds with no error.

It would be better embrace default import behavior, but I'm not sure how the underlying web

[2018-01-18 13:33] kfurmann opened #89 "Pipe naming rule - failing with multiple prefixes allowed"
I have a tslint config with the following line:
`"pipe-naming": [true, "camelCase", ["gp", "gph"]]`

When run with simple tslint command all is fine, however when run with fork-ts-checker-webpack-plugin, I'm getting an error:

I think a part of the reason is this line in codelyzer:

https://github.com/mgechev/codelyzer/blob/master/src/pipeNamingRule.ts#L58

args.slice(1) is [['gp', 'gph']] - so ar

[2018-01-24 01:33] univerio commented on #74
I stepped through the code and it looks like it happens for packages that specify `typings` in their package.json. Because `no-unused-variable` pollutes the module resolution cache in `SourceFile` instances, if they are reused after linting, and if the set of changed files does not cause typescript to re-resolve these packages, it fails to resolve them altogether.

A quick workaround is to do this

[2018-01-24 01:45] univerio commented on #74
Related tslint issue: palantir/tslint#2763

[2018-01-24 06:51] johnnyreilly commented on #74
Thanks for the information @univerio - as I understand it this only occurs when the `no-unused-variable` is in play.

It's cool there's a workaround.  Given this problem only occurs for the one rule I'm not that keen to use the workaround in all cases.  I'm kinda reticent to use it at all given it's working around a problem in another package which might be fixed in future.

That said, I'm wonderi

[2018-01-24 07:03] pelotom commented on #74
Thanks for looking into this and filing a bug with tslint, @univerio. Speaking for myself, due to this issue and the fact that lint rules which require type checking don’t show up in VSCode, I’m currently opting instead for `tsc`’s `noUnusedLocals` and `noUnusedParameters`. I really hope tslint fixes this rule someday because I want it to be autofixable, but in the meantime there are too many reas

[2018-01-24 08:23] johnnyreilly commented on #74
@pelotom makes an excellent point; the various tsc `noUnused...` compiler options make the `no-unused-variable` less useful. If memory serves, tslint do retire rules when the Typescript compiler offers an "in-the-box" alternative. I wonder if this rule will be retired as a result?

[2018-01-24 15:12] oguzhaneren opened #90 "TS2304: Cannot find name 'X'"
Hi,

When I use ForkTsCheckerWebpackPlugin in webpack, completion completes successfully but somewhere produce errors.

<pre>

ERROR in O:/code/vue/vts/node_modules/@types/bluebird/index.d.ts(731,37):
TS2304: Cannot find name 'Iterable'.
ERROR in O:/code/vue/vts/node_modules/@types/bluebird/index.d.ts(731,69):
TS2304: Cannot find name 'Iterable'.
ERROR in O:/code/vue/vts/node_modules/@types/bluebi

[2018-01-24 19:10] univerio commented on #74
@johnnyreilly It will not. palantir/tslint#1481

I actually dug around a little more last night, and it seems that the proper fix would be in tslint. The reason I say this is that I've noticed similar behavior in tslint-language-service. I have filed an issue with them with a (seemingly okay) patch. This fix works for tslint-language-service as well.

[2018-01-24 19:26] pelotom commented on #74
[As I commented on that issue](https://github.com/palantir/tslint/issues/1481#issuecomment-269109000), I don't _want_ this rule to go away. I just want them to fix it!

[2018-01-25 08:19] johnnyreilly commented on #78
See also advice from @sokra here: https://github.com/webpack/webpack/issues/6244#issuecomment-357502113 and here: https://github.com/webpack/webpack/issues/6064#issuecomment-349405474

[2018-01-25 13:21] oguzhaneren commented on #90
I added "es2015.iterable" to "lib" section tsconfig.json to fix this.

[2018-01-25 13:21] #90 closed, assigned to nobody

[2018-01-25 17:56] wonderful-panda opened #91 "Some integration tests fail with newer tslint"
These tests in `vue.spec.js` fail if newer tslint installed.

[code]

If we use `yarn install`, tslint 5.8.0 is installed according to `yarn.lock`.
If we use `npm install`, newer tslint (5.9.1 at today) is installed, and above tests fail with this version.

tslint 5.8.0 reports `missing semicolon` as error, and 5.9.1 reports it as warning.
This is the reason why these tests fail.

I guess tslint v

[2018-01-26 12:45] clentfort commented on #74
Is there any way a temporary fix could be applied in `fork-ts-checker-webpack-plugin`? This package is now used as the webpack-loader by `react-script-ts` which might surface this problem to many, especially new, users.

[2018-02-01 13:32] mchaov opened #95 "Typescript 2.7.1 compatibility"
Builds are filing with latest typescript.

![image](https://user-images.githubusercontent.com/12296991/35682346-0cd28dfc-0769-11e8-8771-31fc16c2c9b0.png)

[2018-02-03 14:05] sharmad-nachnolkar opened #96 "Errors in .d.ts files when running webpack"
Have moved from type checking via ts-loader to this plugin.

However many of the .d.ts files have started showing errors which were not reported earlier by ts-loader. Attaching webpack config and tsconfig

webpack config -
[code]

ts config -
[code]

[2018-02-03 14:15] piotr-oles commented on #96
Did you try "skipLibCheck" option in tsconfig?

03.02.2018 3:05 PM "sharmad-nachnolkar" <notifications@github.com>
napisał(a):

[2018-02-03 14:29] johnnyreilly commented on #96
Just to add to @piotr-oles comments, ts-loader enables `skipLibCheck` by default. I don't believe fork-ts-checker-webpack-plugin does. It might be nice to align the defaults between the two perhaps. Would avoid confusion for people when they make the switch to using fork-ts-checker-webpack-plugin

[2018-02-06 15:38] chanlito opened #97 "Getting weird error when using ForkTsCheckerWebpackPlugin.TWO_CPUS_FREE"
TypeError: Cannot read property 'text' of undefined
    at TokenObject.TokenOrIdentifierObject.getText (/Users/chanlito/Codes/Typescript-Projects/next-typescript-boilerplate/node_modules/typescript/lib/typescript.js:100312:31)

P.S. TypeError doesn't show when using `ForkTsCheckerWebpackPlugin.ONE_CPU`

[2018-02-06 22:51] mbrowne commented on #74
@clentfort You're right - I was just affected by this on a new create-react-app project using the new beta version of material-ui (https://material-ui-next.com/). It took me quite a while to troubleshoot it and find this thread.

[2018-02-08 12:09] RehanSaeed commented on #95
I'm using 2.7.1 and not getting this error but am getting compile time errors with Vue.js.

[2018-02-08 12:12] RehanSaeed commented on #88
The `extensions` setting in Webpack configuration should be used to determine whether to add or omit `.vue`.

[2018-02-18 21:15] Pajn opened #99 "Support overriding typescript version"
I need to be able to override the typescript version.
It would be great if compiler could be specified in options just as with ts-loader

[2018-02-18 21:22] johnnyreilly commented on #99
Doesn't it just use the TypeScript version in the `package.json`? i.e. You can use this?

[2018-02-18 21:26] Pajn commented on #99
It does, which works fine in most case.
My case is that I maintain tscomp which is similar to create-react-app. I would like to allow the user to override the typescript version with their own which complicates the matter a bit though.

[2018-02-21 03:19] MayaRainer commented on #36
With Microsoft/TypeScript#17493 now being resolved, is there a chance of seeing a fix for this now?

[2018-02-22 11:53] #97 closed, assigned to nobody

[2018-02-25 14:18] #78 closed, assigned to nobody

[2018-02-26 01:07] #91 closed, assigned to nobody

[2018-02-26 11:56] geirsagberg opened #101 "Don't print info when running webpack --json"
Version: 0.3.0

Running `webpack --profile --json` currently produces the following when `fork-ts-checker-webpack-plugin` is included:

[code]

The first two lines cause e.g. `webpack-bundle-analyzer` to fail.

When webpack is ran with `--json`, nothing should be written to console.

[2018-02-26 17:22] danthegoodman opened #102 "[suggestion] Remove tslint as a peer dependency"
I like that the project supports tslint, but I don't think it should require it to be a peer dependency or even be a regular dependency.

npm doesn't support having optionalPeerDependencies at this time, and I don't think it's necessary to nag the users of this library with unmet peer dependency warnings. My suggestion is to remove it from the peer dependency list.

This is just a suggestion. If y

[2018-02-27 06:59] johnnyreilly commented on #101
We had this same issue in ts-loader for ages. In the  end we bowed to peer pressure and dialed down our logging to not emit by default. Before that we had a `--silent` option which nixed it - people could use that and did. Maybe worth introducing a similar option?

[2018-03-08 17:15] developer-lindner opened #106 "tslint (configuration) issues"
Seems like setting **tslint: true** exceeds maximum call stack very soon.
Activating it stops notifications by fork-ts-checker-notifier-webpack-plugin as well.

Also notification stops in watch mode?!

[2018-03-08 19:26] johnnyreilly commented on #106
What happens if you tweak the `memoryLimit` option? Does that help?

[2018-03-09 07:03] developer-lindner commented on #106
@johnnyreilly Does it work for you? I mean does it notify about tslint issues?
Just noticed success or failed build notifications (which are coming from ts check) but no tslint message at all?!

settings:

[code]

Doesn't work in watch mode?

Error Message (even with memoryLimit):
[code]

tslint.json:
[code]

[2018-03-09 07:22] developer-lindner commented on #106
**watch: path.resolve(__dirname, "module")** => 1400+ *.ts(x) files

seems to help (which reduces files amount i guess), but still as long as **tslint: true** is set:
no notifications at all...

[2018-03-09 13:12] johnnyreilly commented on #106
Give me an hour or so - I'll see if I can try something

[2018-03-09 13:17] johnnyreilly commented on #106
See this: https://github.com/johnnyreilly/fork-ts-checker-demo

Seems to work okay?

[2018-03-15 05:32] sharmad-nachnolkar commented on #96
@piotr-oles  @johnnyreilly  Thanks a lot. Setting `skipLibCheck` to `true` did the trick.
Yes, I think as @johnnyreilly  mentioned, it would be nice to align the defaults of ts-loader and ts-checker-webpack-plugin

[2018-03-15 05:32] #96 closed, assigned to nobody

[2018-03-23 11:30] ColCh opened #107 "TypeScript types got broken by this project installation"
We have pure-FrontEnd project, but after this project install, we have strange errors about Timer type, like this.

[code]

this is because of node typings installed.

[code]

these typings got installed because of this chain:

[code]

So, the question is, why `vue-parser` exists in `dependencies` anyway? We have no `vue` in project installed anyway, as well as react.

It seems that this introduce

[2018-03-23 17:34] johnnyreilly commented on #107
If you use `window.setTimeout` does that work?

[2018-03-23 17:36] ColCh commented on #107
Thank you for your answer. Yes, it does. It's a proposed solution?

I wonder if there is possibility to remove node typings from project if it's not used actually

[2018-03-23 17:54] johnnyreilly commented on #107
They're only `devDependencies` aren't they? Shouldn't being impacting you?

[2018-03-24 08:06] ColCh commented on #107
Sorry but what do you mean about `devDependencies`?

`vue-parser` is listed in regular `dependencies` section https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/package.json#L96

And `fork-ts-checker-webpack-plugin` - yes, it's development dependency. But we can't build project because TS errors

[2018-03-24 08:25] johnnyreilly commented on #107
Oh  sorry I misunderstood you. `vue-parser` is in play for Vue support. @prograhammer can likely advise why.

I'm unclear why `vue-parser` would have `@types/node` as a dependency but then I don't use Vue so it's not really my area ...

[2018-03-27 08:50] ColCh commented on #107
May be just make `vue-parser` as `peerDependency` ? I can send PR. What do you think @prograhammer @johnnyreilly ?

[2018-03-28 00:35] jvtrigueros commented on #95
I'm getting this error inside a `node:9` container, but for some reason I am not getting this on macOS.

[2018-03-28 17:49] marcofugaro opened #108 "No errors ouptutted in the node API when there are type errors, compilation doesn't fail"
I'm trying to use this plugin with `thread-loader` as described [in this example](https://github.com/TypeStrong/ts-loader/tree/master/examples/thread-loader), but running it from node instead of the cli, it appears to totally ignore the type checking errors.

Here is how I'm using it, I'm using webpack4:

[code]

these are the type errors printed by the fork-ts-checker-webpack-plugin plugin:

<img

[2018-03-28 17:55] johnnyreilly commented on #108
Maybe look at this example for reference? https://github.com/TypeStrong/ts-loader/tree/master/examples/thread-loader

[2018-03-28 18:03] marcofugaro commented on #108
Yes that's the example I pointed out, forgot to link it sorry 😄

[2018-03-28 18:04] johnnyreilly commented on #108
So you're good now?

[2018-03-28 18:06] marcofugaro commented on #108
Nope, if running that example using webpack's node api, there are no errors in dev mode

[2018-03-28 18:32] johnnyreilly commented on #108
Have you tried using the `async: false` option? The plugin normally bypasses webpack for speed of reporting. This option makes it use webpack

[2018-03-29 09:22] marcofugaro commented on #108
Here it is! That's the option I was looking for.

Yes I am using `webpack-dev-server`'s overlay functionality.

From the readme:

I think it can be written in a better and more explicit way, I read the readme and didn't get that the first time.

You're the man!

[2018-03-29 09:22] #108 closed, assigned to nobody

[2018-03-29 12:28] johnnyreilly commented on #102
I don't feel that strongly but others clearly do! Fine with me...

[2018-03-29 12:28] johnnyreilly commented on #102
@piotr-oles what do you think?

[2018-03-29 13:06] johnnyreilly commented on #108
Happy to help! If you think you can improve the docs then have a go. Every little helps!

[2018-04-06 08:21] aaronjensen opened #1 "Update readme to indicate that the official version is the most current"
Hey there, for whatever reason this repo shows up first when I google and it took me a while to realize that the official version seems to be current and I shouldn't be using this one. Could you update the readme if that's the case and I'm not mistaken please?

Thanks!

[2018-04-06 11:04] #1 closed

[2018-04-06 11:04] johnnyreilly commented on #1
Done - thanks for the heads up!

[2018-04-10 13:56] ktsn opened #111 "[vue] `src` attribute on script block is not resolved"
Looks like `src` attribute on `<script>` block in Vue SFC is not handled by fork-ts-checker-webpack-plugin. For example, if we process the following `.vue` file:

[code]

It produces like the following error:
[code]

The complete reproduction is [here](https://github.com/ktsn/vue-fork-ts-checker-webpack-plugin-repro).

FYI, if I only use `ts-loader` with type checking, it successfully compiled wit

[2018-04-13 00:41] LKay opened #112 "(feature) Support overriding compilerOptions settings and tslint config"
I would be very helpful if there was a way to override and extend the `compilerOptions` for typescript compiles and tslint options that are by default imported form `tsconfig.json` and `tslint.json` respectively.

This is especially useful for development only webpack configurations when in most cases there is no need for strict checking of some rules/flags such as `noUnusedLocals` for typescript

[2018-04-20 05:20] rodhoward commented on #111
@ktsn could you expand on your work around with ts-loader?

I would really like to use the latest vue-cli with minimal modifications to make it easy to manage moving forward.

[2018-04-20 05:35] ktsn commented on #111
@rodhoward I just removed `ForkTsCheckerWebpackPlugin` from webpack config and `transpileOnly` option of ts-loader. If you would like to work around with vue-cli plugin, you can modify webpack config on `vue.config.js` https://github.com/vuejs/vue-cli/blob/dev/docs/webpack.md#basic-configuration

[2018-04-20 06:05] johnnyreilly commented on #111
I imagine it doesn't work with the fork-ts-checker-webpack-plugin is down to ts-loader not having [appendTsSuffixTo](https://github.com/TypeStrong/ts-loader/blob/master/README.md#appendtssuffixto-regexp-default) functionality.

I imagine it could be ported across if someone was up for it.

[2018-04-23 12:21] etienne-dldc opened #114 "INFO: NPM Access"
Hi ✋

This issue just to inform you that we have change access on realytics org on NPM.

@piotr-oles you now have read/write access on `fork-ts-checker-webpack-plugin`.

I think current token is still working but can you please generate your own token and use it instead of the current token.

[2018-04-24 01:59] andrewbranch commented on #74
Oh, I'm so glad I finally found this—maybe a maintainer would like to add “Cannot find module” to the issue title, because I gave up on this plugin before coming back to it weeks later to discover this.

[2018-04-24 02:03] pelotom commented on #74
@andrewbranch I changed the title

[2018-04-24 06:40] meyer commented on #101
yep, same issue here. Are you all accepting PRs?

[2018-04-24 06:58] meyer commented on #101
I just found [the `silent` option](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/477a66fd038236060219512c8cbb60968d94f8e5/src/index.ts#L118). Looks like it does what I want.

[2018-04-25 16:52] cprass opened #115 "Support multiple typescript configurations in one project"
I have a project that has two tsconfig files. One for the main index file and one for a webworker that needs the webworker lib to be included.

~~Typescript itself works just fine~~ (Not really, I just set the ts-loader to transpile-only mode), the ts-checker-plugin is still trying to parse the /workers folder even tho it is excluded in the main tsconfig.json.

~~Shouldn't the plugin use Typescrip

[2018-04-28 15:40] IanEdington opened #116 "Conflicting Type definitions - Typescript vs Webpack Module Resolution"
I'm having an issue that I believe must be related to the difference in how Webpack and Typescript resolve moduals.

When I use this plugin I get a number of conflicting type definitions.

I'm posting here because I've scoured the internet and haven't found a solution to this.

[code]

Here's the diff of my webpack config:
[code]

[2018-04-28 16:25] johnnyreilly commented on #116
Why don't you take a working example and try and plug your code into that? https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker

Might make things easier for you.

[2018-04-28 16:56] IanEdington commented on #116
Thanks for the quick reply.

I've taken a look a that as well as read the documentation. It looks like my issue is with this:
https://github.com/Realytics/fork-ts-checker-webpack-plugin#modules-resolution
The Webpack module resolution doesn't import the types that are conflicting however TypeScript does.

@johnnyreilly  Is there something in `examples` that I'm missing that resolves these conflict

[2018-04-28 17:59] johnnyreilly commented on #116
I'm going to guess that the problem either lies in your `tsconfig.json` or in your usage of the `tsconfig-paths-webpack-plugin` (I don't use it myself and so if that is the issue you might want to try asking on that project.)

Does your `tsconfig.json`  include all the files? Might be worth explicitly ensuring that it does and see where that leads.

[2018-04-28 18:00] johnnyreilly commented on #116
FWIW I don't supply the `tsconfig.json` to the fork-ts-checker-webpack-plugin myself. Don't know if that's relevant

[2018-04-29 18:45] naiyt commented on #116
I was encountering this as well and some some people saying it's possibly to mismatched type definition packages. A `rm yarn.lock && rm -rf node_modules && yarn` fixed it for me.

Of course nuking your lockfile is always scary, because you might end up with a bunch of upgraded packages that don't work with your setup. If that's the case you might have to do some manual surgery on them.

This was t

[2018-04-29 22:21] qdot commented on #116
This is a problem with node and typescript libraries colliding. See:

https://github.com/Microsoft/TypeScript/issues/23769

Quick fix: Back down to `@types/node` v9.6.7 until v10 can be fixed.

[2018-04-29 22:47] IanEdington commented on #116
Thanks everyone!

@qdot's solution worked for me.

[2018-04-29 22:54] #116 closed, assigned to nobody

[2018-05-04 01:46] JounQin commented on #60
For anyone is interested to using it with `webpack.config.ts`, I've just published `@types/fork-ts-checker-webpack-plugin` in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25494 which should support basic usage.

Of course it would be great if we support `.d.ts` declarations inside.

[2018-05-09 06:04] Hoishin commented on #67
Have there been any progress on this issue? Looks like the discussion @jeremejevs linked (https://github.com/palantir/tslint/issues/3188) was solved, so it could be fixed now?

[2018-05-09 08:35] alecmev commented on #67
The discussion I linked to isn't a blocker, it just has some useful information. This *can* be fixed (ha, fixed), but it just isn't a trivial problem, and doesn't bring enough benefit to be worth the time investment, at least for those who have looked into it so far.

[2018-05-10 02:09] eramdam opened #117 "Sometimes runs even though no files changed"
I've noticed that in watch/serve mode, the plugin will run the type checking randomly even when no files have changed at all.

Any ideas as to why this would happen? Happy to provide details to help debugging.

[2018-05-10 05:41] johnnyreilly commented on #117
Sounds super weird. Haven't seen that myself... A minimal repro repo would be cool

[2018-05-10 18:52] eramdam commented on #117
I may have spoken too soon. I'm using this plugin with https://react-styleguidist.js.org/ and it seems that the issue I'm describing only happens when running `react-styleguidist` and not inside a "vanilla" webpack configuration.

So I feel like the issue is on styleguidist's side.
I'll investigate a bit more and close if needed, sorry 😅

[2018-05-10 19:31] johnnyreilly commented on #117
No bother!

[2018-05-10 20:33] eramdam commented on #117
So I ran a bunch of tests and fork-ts-checker-webpack-plugin is the reason this happens. I'll close the issue.

[2018-05-10 20:33] #117 closed, assigned to nobody

[2018-05-14 09:22] stnwk commented on #36
Would really love seeing a fix for this :) *pushes politely*

[2018-05-16 06:58] piotr-oles commented on #25
I close the issue due to no activity :)

[2018-05-16 06:58] #25 closed, assigned to nobody

[2018-05-17 08:50] kodemi opened #118 "TypeError: Cannot read property 'context' of undefined"
Webpack v.4.8.3
Typescript v.2.3.4

[code]

If I set absolute path to tsconfig in options, than:
[code]

[2018-05-18 21:44] AndrewCraswell opened #119 "Using stylish formatter?"
I'd like to use the stylish formatter that TSLint has, is this possible to do via this plugin? I only see two options for formatters described in the documentation, am I missing something simple?

[2018-05-19 04:52] johnnyreilly commented on #119
I don't think that's supported. You can control the formatting of errors / lints using the hooks in fork-ts-checker-webpack-plugin but these are custom and I think do not take account of stylish etc. Could be wrong...

[2018-05-22 05:13] piecyk commented on #36
~It looks like it's working~ it's not 😞

[2018-05-22 05:20] abirmingham commented on #36
@piecyk that's exciting, what version is it working on? Where/when was it fixed?

[2018-05-22 06:34] piecyk commented on #36
@abirmingham hard to say, just testing `fork-ts` with
[code]
Basic changing ts file with only type triggers rebuild, and correct type diagnostic to be presented.
Maybe @johnnyreilly has more insides ?

[2018-05-22 07:13] johnnyreilly commented on #36
If it's fixed that's awesome! I believe there's been a couple of PRs along the way that I have not been involved with. Maybe it was one of them that resolved it?

[2018-05-22 13:49] a-tarasyuk commented on #36
@piecyk hm..., the same versions of packages., however, changing ts(x) files which have only types definitions does not trigger a rebuild.

[2018-05-22 17:22] piecyk commented on #36
@johnnyreilly @a-tarasyuk @abirmingham false alarm Guys, it's not working, tested on repo from scratch... It looks like on my more complex repo that mislead me something is triggering the watch to run...

[2018-06-01 21:59] #65 closed, assigned to nobody

[2018-06-01 22:03] piotr-oles commented on #67
I close the issue because there was no PR since November 2017 and I think using tslint with some git hooks is a lot easier than messing with files during development.

[2018-06-01 22:03] #67 closed, assigned to nobody

[2018-06-01 22:03] #70 closed, assigned to nobody

[2018-06-01 22:06] #71 closed, assigned to nobody

[2018-06-01 22:08] #75 closed, assigned to nobody

[2018-06-01 22:10] #83 closed, assigned to nobody

[2018-06-02 21:46] piotr-oles commented on #114
Thank you for the update, I've changed this token - hope it will work :)

[2018-06-02 21:46] #114 closed, assigned to nobody

[2018-06-03 06:12] johnnyreilly opened #121 "ts-loader 4.3.1 changes have broken vue integration"
See details here: https://github.com/vuejs/vue-cli/issues/1399#issuecomment-394139721

If you're a Vue user I advise sticking with ts-loader 4.3.0 until this is resolved.

[2018-06-05 15:17] mildful commented on #85
I'm running tslint 5.10.0 and still have this issue. I can also confirm that moving the closing `</script>` tag to the next slide fix this.

[2018-06-07 12:39] patroza opened #124 "New files or overwritten files problems"
I'm receiving the following error when I add new files, refer them, delete or overwrite files, e.g on git branch switch, and it requires me to fully restart the webpack process:
[code]

How can this be prevented? Or at least ignored, so that it can recover?

[2018-06-10 10:30] deftomat commented on #118
@kodemi Did you solve this issue?

[2018-06-11 21:49] iam3yal commented on #111
Got the same issue myself, any progress on this?

[2018-06-12 18:38] kelly-tock commented on #74
so what is the actual fix for this?  just ran into it, and am glad to have found the core issue at least.

[2018-06-12 19:53] pelotom commented on #74
@kelly-tock my fix has been to abandon the `no-unused-variable` lint rule and instead use TypeScript's `noUnusedLocals` and `noUnusedParameters` options instead. I still believe this is the kind of thing a linter ought to handle, but at the moment the happy path seems to be letting the compiler do it. This lint rule is just buggy and problematic in a number of different ways and I've seen no indic

[2018-06-12 21:13] univerio commented on #74
@kelly-tock The actual problem exists in tslint itself, and, specifically, the way the `no-unused-variable` rule is implemented. I've filed palantir/tslint#3671, but heard no response.

In the meantime I've resorted to using a local fork of that rule with the patch in the linked issue.

I've also come across the [`no-unused`](https://github.com/ajafff/tslint-consistent-codestyle/blob/7d9604f4d94bf

[2018-06-12 21:55] kelly-tock commented on #74
hmmmm...i'm still getting this issue actually.

- from tslint.json I took out the `no-unused-variable`
- from tsconfig.json I added `"noUnusedLocals": true,`

I could not turn on noUnusedParameters at this time.

[code]

on tslint `5.10.0`.

and after I run webpack, make an obvious change to cause lint error, I get

[code]

any thoughts?

[2018-06-13 13:14] kelly-tock commented on #74
realized the project I was working with extended a few different configs, so I put `no-unused-variable` in as `false` and its working.

[2018-06-13 13:56] mbrowne commented on #74
I've noticed that this is only an issue when changing certain top-level files (at least in my current project). When changing most React components it doesn't occur.

[2018-06-14 03:56] kodemi commented on #118
No, I don’t.

[2018-06-14 05:35] johnnyreilly commented on #118
Do you have a reproduction repo?

[2018-06-18 21:44] jprince opened #125 "Fails to compile when used with tslint"
With `tslint: true` I get the following error:
[code]

Seems to affect all fork-ts-checker-webpack-plugin versions >= 0.4.0
Webpack 4.12.0
ts-loader 4.4.1
tslint 5.10

[2018-06-18 22:08] jprince commented on #125
Error does not seem to exist with:
fork-ts-checker-webpack-plugin 0.4.2
Webpack 3.7.1
ts-loader 2.3.7
tslint 5.10

[2018-06-19 05:06] johnnyreilly commented on #125
I don't experience this error myself - and I'm using the setup you describe...

[2018-06-21 20:10] samijaber commented on #118
@kodemi I ran into the same issue, and it turned out I accidentally put the plugin in `webpack.resolve.plugins` instead of `webpack.plugins`. Moving it to the correct array in my webpack config resolved the issue for me!

[2018-06-21 20:55] johnnyreilly commented on #118
Thanks for reporting back! Super helpful for others 🌻♥️

[2018-06-22 03:26] jprince commented on #125
Hmm ok. As soon as I have some time I'll take a crack at setting up a demo.

[2018-06-30 05:42] ascott18 commented on #111
Webpack modifications worked for me too as suitable workaround for now. For vue-cli 3, I added the following to `vue.config.js`:

[code]

[2018-06-30 06:21] johnnyreilly commented on #111
cc @prograhammer - our resident Vue expert 😄 (he added vue support to this plugin)

[2018-07-02 19:32] danielpza commented on #124
hello, got the same problem ... any updates ?

[2018-07-05 15:39] maksimsemenov opened #128 "Type checking for node_modules"
I'm seeing a whole bunch of errors related to `node_modules` directory, like so:
[code]

My webpack config:
[code]

My `tsconfig.json`:
[code]

I read through #116, but none of the recipes mentioned there worked for me.

Are there any other config options or any other details that I'm missing?

[2018-07-06 15:20] droid51 commented on #128
same here, got a lot of errors... THX!

[code]

[code]

[code]

[2018-07-14 19:36] farzadmf opened #129 "fork-ts-checker-webpack-plugin giving errors about @types and Mocha"
I'm using [ts-loader][1] and [fork-fs-checker-webpack-plugin][2] in a project, and it's complaining about `node_modules/@types`, for example:

    ERROR in D:/temp/temp-vscode/temp-electron/application-volume-change/node_modules/@types/react/index.d.ts
    ERROR in D:/temp/temp-vscode/temp-electron/application-volume-change/node_modules/@types/react/index.d.ts(2288,19):
    TS2320: Interface 'Elem

[2018-07-24 06:40] zeusLeeJh commented on #128
Unfortunately, I also have the same problem.

[2018-07-24 11:22] maksimsemenov commented on #128
For me, the solution was to add `skipLibCheck: true` to `tsconfig.json`

[2018-07-24 11:42] johnnyreilly commented on #128
Thanks so much for sharing that @maksimsemenov - I wonder if it would be worth making `skipLibCheck: true` on by default with `fork-ts-checker-webpack-plugin`?

Some background; there are 2 compiler flags on by default with `ts-loader`:

[code]
https://github.com/TypeStrong/ts-loader/blob/002c0f651cf1a8e27b0e232b7fe4a982ddce6323/src/compilerSetup.ts#L57

If values are supplied for these properties

[2018-07-25 05:30] ktsn commented on #111
I just made a PR to fix this issue #130

[2018-07-26 05:22] #85 closed, assigned to nobody

[2018-07-26 05:22] #111 closed, assigned to nobody

[2018-07-26 06:38] johnnyreilly opened #132 "new token required for publishing"
Hey @piotr-oles,

Would you be able to generate a new token for publishing please?

The current token has been invalidated due to [the eslint incident](https://status.npmjs.org/incidents/dn7c1fgrr7ng)

Taken from https://travis-ci.org/Realytics/fork-ts-checker-webpack-plugin/jobs/408368034 :

[code]

[2018-07-30 20:23] nickserv opened #133 "TypeScript 3 peerDependencies warning"
If this project officially supports TypeScript 3, its peer dependencies should be updated to allow it.

[2018-07-30 20:51] johnnyreilly commented on #133
Not a bad idea. But I think actually removing them from peerdeps would be better: https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/109

[2018-07-31 01:08] nickserv commented on #133
I wasn't aware ts-loader didn't have a peer dependency on typescript, do you know why? Peer dependencies are meant to signify dependencies used with plugins and tools that can have different versions, removing it from peer dependencies is not a good idea unless this plugin can somehow use all of typescript's features without typescript installed, like with a remote web service.

[2018-07-31 05:44] johnnyreilly commented on #133
I'm not completely sure - sorry. That said, given peerDependencies only trigger a warning in an (already noisy) install log I don't think they provide a ton of value. Particularly given the current situation which has prompted this discussion: i.e. there's a new version of TypeScript and because of the major version increment, we now need to ship a new version of fork-ts-checker-webpack-plugin jus

[2018-07-31 05:46] johnnyreilly commented on #132
Ping @piotr-oles!

[2018-07-31 05:49] johnnyreilly commented on #132
We're currently waiting on @piotr-oles to generate a new token so we can release. (A result of the eslint token problem the other week.)

In the meantime I could publish this to our unofficial fork-ts-checker-webpack-plugin@next channel:

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin

Let me know if that would help and I'll make it happen.

[2018-07-31 08:59] nickserv commented on #102
I agree that an optionalPeerDependencies field would be ideal, so npm wouldn't force us to have warnings when tslint isn't installed. However, it was mentioned in that thread that peerDependencies are already optional, which seems to be why npm isn't prioritizing this feature.

peerDependencies still seems to be the best way to check if the dependency exists for me. Sure it may be annoying to have

[2018-07-31 09:12] nickserv commented on #133
I agree that the noise isn't ideal, but as I mentioned in https://github.com/Realytics/fork-ts-checker-webpack-plugin/issues/102#issuecomment-409148444 I think the safest option is to continue using peerDependencies, and it makes more sense to me semantically. If I understand correctly, this package only works when TypeScript is manually installed by the user, and peerDependencies remind users to

[2018-07-31 20:47] johnnyreilly commented on #133
If you want to submit a PR with  `>=` ranges then we'd take a look. I think I'm still inclined to remove peerDependencies entirely one day. But for now I'd just rather remove noise from users.

[2018-08-02 07:21] khell opened #135 "skipLibCheck: true in tsconfig.json causes unexplainable tslint errors"
Versions:
[code]

When I enable `skipLibCheck`, I get these seemingly random TypeErrors on build:
[code]

There isn't anything wrong with these files, and the errors and files change when I change different bits of code. I don't get this issue if I do not enable tslint in the plugin options and use `tslint-loader` directly. Any ideas? :(

[2018-08-02 09:24] johnnyreilly commented on #135
I've never seen that and I'm using ts-lint. Is it linked to your tslint.json in any way perhaps? If you tweak it does the problem disappear?

[2018-08-03 09:00] piotr-oles commented on #133
I would not agree with you. I think it depends on user preferences - for example, I always check peer dependencies when I install a new package. I remember when webpack bumped version to 3.0.0 we had to do some changes in this plugin to make it compatible so it's not only dumb warning :)

[2018-08-03 09:35] johnnyreilly commented on #133
Okay cool - so shall we merge this PR? :smile:

[2018-08-03 10:08] nickserv commented on #133
@piotr-oles peerDependencies says what OTHER dependencies should be, and npm no longer installs them automatically. This means that updating a restriction to support a new version of TS still requires a manual upgrade to the new version of TS separately, so you would still be aware of breaking changes in other packages. That being said, peerDependencies should still reflect what the package that h

[2018-08-03 13:09] #133 closed, assigned to nobody

[2018-08-03 13:20] piotr-oles commented on #132
Sorry for delay - token will be updated with #136 :)

[2018-08-03 13:47] #132 closed, assigned to nobody

[2018-08-03 15:36] johnnyreilly commented on #132
Awesome!

[2018-08-06 21:10] SimonSchick opened #137 "Ship barebone typings."
Ironically this package doesn't seem to be shipping it's typings, could they be added?

[2018-08-07 05:10] johnnyreilly commented on #137
Sure - would you like to send a PR? You probably just need to make same changes we made for ts-loader; see https://github.com/TypeStrong/ts-loader/blob/master/src/tsconfig.json and https://github.com/TypeStrong/ts-loader/blob/master/package.json

Also https://github.com/TypeStrong/ts-loader/pull/790 and https://github.com/TypeStrong/ts-loader/pull/788

cc @Hotell in case he's any advice

[2018-08-08 13:16] #137 closed, assigned to nobody

[2018-08-08 13:58] #121 closed, assigned to nobody

[2018-08-08 14:02] johnnyreilly commented on #137
Shipped with 0.4.5 https://github.com/Realytics/fork-ts-checker-webpack-plugin/releases/tag/0.4.5

[2018-08-08 17:11] aistrych opened #140 "Typings - Lack of optional parameters"
ForkTsCheckerWebpackPlugin require Option type as a parameter but all keys in it are required. For that reason user has to pass all [options](https://github.com/Realytics/fork-ts-checker-webpack-plugin#options) to the plugin which shouldn't be the case. What with default values? It's also impossible to cast passed object to Option type: Options interface is not exported. This is now impossible:

[

[2018-08-08 17:38] johnnyreilly commented on #140
Sure - if you'd like to submit a PR we can get it in the next release?

[2018-08-08 17:42] aistrych commented on #140
Ok, thanks. I will do it tomorrow.

[2018-08-08 18:42] Larry1123 commented on #140
Oh I just submitted a PR for this #141

[2018-08-08 22:31] #140 closed, assigned to nobody

[2018-08-09 17:46] ChadBurggraf commented on #135
I'm having this problem as well. The only way to prevent it is to remove `skipLibCheck: true` from `tsconfig.json`.

[2018-08-10 07:13] hareacostica opened #142 "Could not find declaration file for module chalk"
After updating to `v0.4.5` it starts complaining about types for module chalk.
After setting `skipLibCheck ` to true in tsconfig eveything is fine, but isn't better to have this set by default with `fork-ts-checker-webpack-plugin` as explained [here](https://github.com/Realytics/fork-ts-checker-webpack-plugin/issues/128#issuecomment-407376483)?

[2018-08-10 10:31] johnnyreilly commented on #142
Could you post a reproduction please? Also, can you confirm if you are *not* using `@types/chalk`? Remember that chalk ships with it's own types now: https://github.com/chalk/chalk/tree/master/types

[2018-08-10 11:40] hareacostica commented on #142
[here](https://github.com/hareaca/fork-ts-checker-webpack-plugin-chulk-issue/) is the reproduction.
I am using node LTS `v8.11.3` and npm `5.6.0`.
Chalk i dont use.

[2018-08-10 14:22] johnnyreilly commented on #142
Ah the problem is that we need to update the chalk version `fork-ts-checker-webpack-plugin` uses. It's using a version that is very old.... Would you like to submit a PR that updates `chalk` to the latest and greatest and removes `@types/chalk`?

[2018-08-10 17:37] Rouche opened #144 "Option for default TypeScript source."
Hello,

Using vue-cli 3, I want to add an option for the VueProgram.js that when it does not find <script> tag, try to get a default option object on the Plugin. Like:
[code]
in VueProgram pass the file name to resolve.
[code]
resolveScriptBlock could then run through keys, use it as "lang" parameter, and value, use it as extention to the same fileName as the `MyFile.vue`
No longer ignore invalid

[2018-08-10 19:10] johnnyreilly commented on #144
I don't really know Vue so excuse the dumb question: is this idiomatic Vue? Sounds slightly custom?

[2018-08-10 19:46] Rouche commented on #144
I dont know if its "idiomatic" for TypeScript + Vue
But i got here because of another "fixed" bug : https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/130
So people were separating files before.

With vue-cli 3, TypeScript is build-in. But `vue-template-loader` does not works.
In this case, the entry point (import) is the typescript file, not the template. Or else there is some very

[2018-08-10 21:09] #142 closed, assigned to nobody

[2018-08-11 03:28] Rouche commented on #144
OK i was definatelly searching at the wrong place.

https://github.com/ktsn/vue-template-loader/issues/52

I would have liked a no config change and working but oh well, thanks.

[2018-08-11 03:28] #144 closed, assigned to nobody

[2018-08-11 04:55] johnnyreilly commented on #142
This should be fixed in 0.4.7 - can you confirm @hareaca ?

[2018-08-11 07:24] superlbr opened #150 "cannot read property 'length' of undefined"
in some env., os.cpus is undefined, such as turmux-app.
https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/db649e320e9350a098c7b854a1db35c9306d407c/src/index.ts#L69

[2018-08-11 09:14] johnnyreilly commented on #150
Do you want to submit a PR that tests for the existence of `cpus` before reading then?

[2018-08-11 11:08] hareacostica commented on #142
@johnnyreilly yes, chalk now is fine, but now there is an issue with `@types/webpack`. If i install them in the project everything works fine (but i suppose i dont have to, as i dont have a direct dependency to webpack). Also tried to update them in `fork-ts-checker-webpack-plugin`, but after that `build` is not working.

[2018-08-11 12:29] johnnyreilly commented on #142
Could you share the error you encounter please?

Also, could you try removing `@types/webpack` from `fork-ts-checker-webpack-plugin` and updating the webpack `devDependency` to the latest one? It looks like webpack may now be shipping with types in the box...

[2018-08-11 13:18] hareacostica commented on #142
@johnnyreilly Submited a PR, hope it's the last fix for this issue.

[2018-08-11 20:09] theborowski commented on #129
@farzadmf What version of typescript are you using? I'm experiencing a somewhat similar issue with greensock after upgrading typescript from 2.7.1 to 3.0.1.

[code]

[2018-08-12 12:44] farzadmf commented on #129
@theborowski I'm now using `3.0.1`, but for me, I think the error was because of an issue with the versions of the libraries. I removed everything (`node_modules` and `yarn.lock`) and re-installed everything, and that specific issue was gone.

Actually, now that I think about it, I could say my issue was solved, so I'm going to close the issue :)

[2018-08-12 12:44] #129 closed, assigned to nobody

[2018-08-13 08:19] hareacostica commented on #142
@johnnyreilly Looks like the issue with `@types/webpack` persists. I checked in `node_modules` and it's not getting installed. Maybe npm is not getting that needs to install that? I see an old [issue](https://github.com/npm/npm/issues/1341) from npm, maybe its something similar?
I can confirm that after installing `@types/webpack` everything its ok.

[2018-08-13 08:34] johnnyreilly commented on #142
Hey @hareaca,

So I suspect the reason you're encountering this is that `@types/webpack` is a `devDependency` and not a `dependency`. I'm guessing that it should be switched.... However I've got mixed feelings in that this means that everyone using `fork-ts-checker-webpack-plugin` will end up installing `@types/webpack` whether they need it or not...

[2018-08-13 08:53] hareacostica commented on #142
@johnnyreilly So, actually it make sense to have installed locally `@types/webpack` as it's a dev dependency? And it actually had to be added by `react-scripts-ts` in my case (as he ads webpack as a dependency)?

[2018-08-13 08:56] johnnyreilly commented on #142
I think so yes!

[2018-08-13 08:56] hareacostica commented on #142
@johnnyreilly Got it. Thanks!

[2018-08-24 22:00] larryprice commented on #97
What was the solution to this? I'm experiencing the same issue.

[2018-08-27 14:48] martpie opened #153 "Does it work with TypeScript 3?"
Hello 👋

I have a Next.JS application using TypeScript and `fork-ts-checker-webpack-plugin` to do type-checking. I am not sure if this is a problem related to Next.JS or this module.

When using TypeScript 3, I got the following error when trying to start my app:

[code]

Do you have any idea what could cause this?

[2018-08-27 15:03] martpie commented on #153
After doing some research, it appears that it may be related to the project configuration itself, I'll investigate.

[2018-08-27 16:04] martpie commented on #153
It seems to be a problem with TypeScript itself, with a function return type which is an union type. I really don't get it.

Anyway, unrelated to this repo.

_edit: found it: https://github.com/Microsoft/TypeScript/issues/26321_

[2018-08-27 16:04] #153 closed, assigned to nobody

[2018-09-06 08:10] TdyP commented on #124
Same problem here.
And the watcher doesn't recover afterwards, so I have to kill and restart it, which is pretty annoying

[2018-09-06 09:48] johnnyreilly commented on #124
If you'd like to submit a PR to address this we'll take a look.

[2018-09-08 07:49] Rolandisimo opened #154 "this.compiler.applyPluginsAsync( is not a function"
After upgrading to the following setup:

[code]

`fork-ts-checker-webpack-plugin` fails at line 354 in `index.ts`
`TypeError: _this.compiler.applyPluginsAsync is not a function`

It seems that the `compiler` object passed to the constructor has a different format.
Also, I previously have disabled `fork-ts-checker-notifier-webpack-plugin` because of an unrecognized hook. Namely:
[code]

I can creat

[2018-09-08 08:25] johnnyreilly commented on #154
Could you share a repo that illustrates this please? Also what were you upgrading from? You should only see that if you're using webpack 2/3 so it's a little peculiar. Could you debug your setup a little please?

[2018-09-08 08:27] Rolandisimo commented on #154
The repos private _(not the owner)_, however, maybe you could specify what you'd like to see from the configuration? Also, I've updated the initial comment.

[2018-09-08 08:30] Rolandisimo commented on #154
Added my package.json below

[code]

[2018-09-08 08:51] johnnyreilly commented on #154
The thing I'm curious about is the delta. What did you update?

Without knowing what your "before" state was it's hard to advise much. Too many possibilities; please narrow it down!

It looks like this test in `pluginCompile()` is no longer working to detect webpack 4:

``` if ('hooks' in this.compiler) {```

It might be worth cleaning out your `node_modules` just in case you've something stale in

[2018-09-08 08:58] Rolandisimo commented on #154
<img width="1054" alt="screen shot 2018-09-08 at 11 57 57" src="https://user-images.githubusercontent.com/9778368/45252418-89808880-b35e-11e8-9653-e3cec5ee00a2.png">
<img width="975" alt="screen shot 2018-09-08 at 11 58 06" src="https://user-images.githubusercontent.com/9778368/45252419-89808880-b35e-11e8-8c93-888b038ad313.png">
<img width="792" alt="screen shot 2018-09-08 at 11 58 13" src="https:

[2018-09-08 09:01] Rolandisimo commented on #154
Cleaning node_modules didn't help.

[2018-09-08 09:20] johnnyreilly commented on #154
By the looks of it your setup is similar to this: https://github.com/TypeStrong/ts-loader/tree/master/examples/core-js

Could be worth contrasting the webpack bits with your setup. FWIW the webpack 3->4 was quite significant; real breaking changes.

[2018-09-08 09:51] Rolandisimo commented on #154
Yes, actually it was initially taken from this example.
Anyhow, used these libraries from your setup. Still receive the `tap of undefined` issue from `ForkTsCheckerNotifierWebpackPlugin, index.js:99~`
[code]

[2018-09-08 12:23] johnnyreilly commented on #154
So if you use that specific example do you experience the issue? If you do there's something wrong with the example. If not then there's something wrong with your replication of it.

[2018-09-08 12:24] johnnyreilly commented on #154
Also are you using yarn or npm?

[2018-09-08 12:24] johnnyreilly commented on #154
The example will have been tested with yarn only

[2018-09-08 12:29] Rolandisimo commented on #154
yarn. Will try copying your example and get back to you.

[2018-09-08 12:56] johnnyreilly commented on #154
Cool - also check if you've got anything globally installed (webpack I'm thinking). Shouldn't conflict but it's a possibility I guess. Weird things happen

[2018-09-12 10:09] KenilDomadia opened #155 "Run ts-checker for specific directory and ignore derived directory from tsconfig.json"
It is more of a question than an issue.

I want to run ForkTsCheckerWebpackPlugin for a specific directory. I looked at the `options` configuration but it doesn't seem to allow specifying context directory. Currently, all errors from directory containing `tsconfig.json` file are emitted.

`watch` options allows to specify directories or files to watch by service which improves performance
 by redu

[2018-09-13 09:32] Akuukis commented on #101
Got the same problem, this works for me:
[code]

[2018-09-13 15:56] zarv1k commented on #124
Same issue in our project. Moreover, the checker service crashes from time to tome even when I'm working on unit test files, which are excluded in tsconfig:

        throw error;
        ^
FatalError:
Invalid source file: /app/src/components/SlateEditor/tests/simulator/plugins/shortcut/list/simple one level/toggle list.tsx. Ensure that the files supplied to lint have a .ts, .tsx, .d.ts, .js or .js

[2018-09-14 18:19] thavlik commented on #125
I am having this issue as well.

webpack 4.19.0
ts-loader 5.1.0
happypack 5.0.0
fork-ts-checker-webpack-plugin 0.4.9
No tslint

So it appears that between ForkTsCheckerWebpackPlugin.prototype's registerCustomHooks and handleServiceMessage, all of the custom hooks registered in this.compiler.hooks become undefined.

this.compiler is the same compiler in both of those methods (i.e. sanity check is p

[2018-09-15 13:30] janwirth commented on #36
Bump :)

[2018-09-17 14:18] danielkcz commented on #102
Just my two cents here. There are so many packages rather abusing `peerDependencies` and putting there anything they think might be useful. I've kinda decided to ignore those warning altogether because it's an endless battle of figuring out what is missing where and then explaining why this and that shouldn't be there.

[2018-09-17 14:27] nickserv commented on #102
That's incorrect, the package manager requires those to be in peerDependencies. If the package has two many dependencies, some of them can be removed.

[2018-09-18 21:45] webpepper opened #156 "Any way to use ModuleConcatenationPlugin?"
Recently I realized (assuming I understand it correctly) that due to their nature, **ModuleConcatenationPlugin** and **fork-ts-checker-webpack-plugin** can't be used together. I.e., it makes no sense to use both in one configuration.

As I understand it, to concatenate modules I have to run everything through webpack - it does static type checking and can optimize code (concatenate modules).

If I

[2018-09-20 19:34] Rolandisimo commented on #154
Sorry with the late response. I solved the issue. I hope this gives you some insights. Also, I'd like the following to be explicitly stated in the docs.
<hr />

**TL;DR;**

The issue was caused because of a wrong order of `ForkTsCheckerWebpackPlugin` and `ForkTsCheckerNotifierWebpackPlugin` plugins. They should be in this exact order:
1) `ForkTsCheckerWebpackPlugin`
2) `ForkTsCheckerNotifierWebpac

[2018-09-20 19:43] johnnyreilly commented on #154
Could you raise a docs PR against https://github.com/johnnyreilly/fork-ts-checker-notifier-webpack-plugin please?

[2018-09-20 19:56] Rolandisimo commented on #154
Sure. I'll do it tomorrow, if that's ok with you

[2018-09-20 19:57] Rolandisimo commented on #154
Also, now I noticed the comment about the order, however, I'd still prefer it to be more explicit. People _(like me)_ tend to overlook stuff that isn't highlighted 🙂

[2018-09-21 13:54] Rolandisimo commented on #154
How do I get permissions to push a branch?

[2018-09-21 14:45] johnnyreilly commented on #154
Fork and do a pull request?

[2018-09-22 03:52] septagram opened #158 "Cannot import when running webpack with ts-node"
I'm having a very odd issue: when I'm trying to import this plugin, it seems to resolve as `/lib/types/index.d.ts` instead of `lib/index.js`, so I receive `undefined` on import.

I've created a [minimal test case](https://github.com/septagram/fork-ts-no-import) to reproduce. Please help me figure out if this is the `fork-ts-checker-webpack-plugin` issue, or an issue with my configuration.

I have

[2018-09-22 07:01] codingwesley commented on #125
[code]

demo address: https://github.com/QwChat/react-fe-learning

@johnnyreilly  hope will help you

[2018-09-23 21:12] jannikbuschke commented on #124
For me this type of crash happens regulary even though I just edit normal source files (under /src).
No file adding or removing, just plain text editing.

[2018-09-24 20:54] Rolandisimo commented on #154
Created a PR https://github.com/johnnyreilly/fork-ts-checker-notifier-webpack-plugin/pull/7

[2018-09-25 15:24] justinmwarner opened #159 "Plugin seems to wait until webpack is done being built"
Hello,

We've been using this plugin + transpileOnly for a while now. Previously, it brought our build times incremental down from 25 sec. to 6 sec., which was awesome.

However, sometime in the past month, it seems to have slowed down again.

Judging by the output, it seems this plugin is working successfully, however it waits until Webpack is finished building it (which is ~ 35 seconds) until it

[2018-09-25 16:08] johnnyreilly commented on #159
What changed? Did you move to a new version that caused a performance regression? Or has your config changed?

[2018-09-25 16:09] johnnyreilly commented on #159
Did your config change? Is `async` false?

[2018-09-25 18:10] justinmwarner commented on #159
Hey John.  Yes, we did update to new versions, but even after I revert that, it doesn't seem to fix the problem.

I've tried with async set to true and false. But in the past, it's always been the default, we never specified it.

Is there something I can do to debug this on my side?

To rule out machine specific, it's happening on a co-workers machine as well.

[2018-09-25 18:31] johnnyreilly commented on #159
`async: true` is the default and it's what you likely want for development. It's the setting that says "hey I'm not waiting for webpack!"

The fact that you've rolled back to an older version without resolving the issue makes me think that it's not a problem with the plugin. (Which is a relief for me although it doesn't resolve your issue.)

I suspect this is a config issue or some curiosity intro

[2018-09-26 17:21] justinmwarner commented on #159
Hey John,  Thanks for the reply.  So, I've narrowed down the commit that broke this.  Essentially, we added a single json file that we use in both SASS and Typescript. So we added a library to deal with this, https://github.com/Updater/node-sass-json-importer.

I have two theories on what's happening:

1. Updating any code forces all scss to be re-built, adding that time to the overall time, thus

[2018-09-26 17:21] #159 closed, assigned to nobody

[2018-09-26 17:33] johnnyreilly commented on #159
Glad I could help!

[2018-09-27 11:10] Rolandisimo commented on #154
PR accepted. Closing issue

[2018-09-27 11:10] #154 closed, assigned to nobody

[2018-09-27 12:30] DamianOsipiuk opened #160 "Prevents dev-server to terminate it's process while canceling build with ctrl+c"
[code]
fork-ts-checker: 0.4.9
webpack-dev-server: 3.1.8 (on latest version behavior is the same)
webpack: 4.18.0

While using this plugin and hitting ctrl+c during build - process is not stopped and resides in memory.
This prevents cleanup and often results in `address in use` error, or zombie process eating up memory.
Some devs even hit system wide memory issues due to multiple zombie processes r

[2018-09-29 05:34] Adherentman opened #161 "Cannot read property 'call' of undefined?"
I don't know what caused this problem.

version:
- webpack ^4.20.2
- fork-ts-checker-webpack-plugin ^0.4.9
- ts-loader ^5.2.1
- cache-loader ^1.2.2
- thread-loader ^1.2.0

*this is my config*:

[code]

*this is terminal log*:

[code]

*what can i do*?

[2018-09-29 05:47] johnnyreilly commented on #161
It might be worth you comparing your setup with a working example: https://github.com/TypeStrong/ts-loader/tree/master/examples/thread-loader

[2018-09-29 05:53] Adherentman commented on #161
@johnnyreilly thanks, i copy this example, But this problem still exists

[2018-10-02 15:17] #156 closed, assigned to nobody

[2018-10-03 11:57] milewski opened #162 "Unable to compile typescript after importing the latest version to my config files..."
Hi, i have been using old version of this plugin for quite a long time, recently i tried to upgrade to the latest and it doesn't compile my typescript files anymore. probably due to the .d.ts that is being shipped along with it now... Here is how im using it:

webpack.config.ts

[code]

error

[code]

so once i forcibily install tslint (which im not using) and change
[code]
to
[code]

then so im a

[2018-10-03 14:01] johnnyreilly commented on #162
We want `d.ts` files to ship with `fork-ts-checker-webpack-plugin`. But if you'd like to submit a fix that improves them then we'd happily take a look!

[2018-10-04 05:06] milewski commented on #162
@johnnyreilly i made a PR that fixes the import part.. but the TSLINT i wont be able to fix because the types of it are actually being used, only the lib itself is loaded on demand...  there is no way to conditionally load that types in ts atm...

[2018-10-06 09:56] #162 closed, assigned to nobody

[2018-10-06 10:15] IlyaSemenov opened #164 "Not compatible with non-flattened (pnpm) node_modules"
If a project uses non-flattened node_modules (such as created by `pnpm`), `fork-ts-checker-webpack-plugin` fails to load typings of nested dependencies.

## Steps to reproduce

Clone https://github.com/IlyaSemenov/fork-ts-checker-webpack-plugin-pnpm-reproduction, then:

[code]

Make sure the compilation succeeds, then:

[code]

The type checks will fail.

## Actual result

[code]

## Expected resu

[2018-10-06 10:18] IlyaSemenov commented on #164
UPDATE: while checking the instructions above, I noticed that the last error (`Cannot find module 'tslint'`) shows even with `npm`.

[2018-10-06 10:57] johnnyreilly commented on #164
Is the problem related to symbolic links?

I know we had to make changes to ts-loader to support this: https://github.com/TypeStrong/ts-loader/pull/774

Perhaps similar need to be applied to this plugin?

[2018-10-07 15:40] IlyaSemenov commented on #164
Honestly I have not a slightest clue what could be the reason. 🤷‍♂️ I never examined *how* this library worked.

[2018-10-07 16:17] johnnyreilly commented on #164
Now's your chance :wink:

[2018-10-09 01:06] brunolemos opened #165 "Change how TypeScript dependency is handled"
We are trying to add [TypeScript support to create-react-app](https://github.com/facebook/create-react-app/pull/4837), but there is currently one pending blocker: The maintainers don't want to add the typescript dependency to their repository directly, they want the users to add them on a project basis, allowing people to specify the version they want.

The problem is when I remove the `typescript

[2018-10-09 01:09] Timer commented on #165
Just to add, the `tslint` dependency would be great to go as well. We don't want unnecessary peer dependency warnings.

[2018-10-09 06:08] johnnyreilly commented on #165
If we can help, we will! But since fork-ts-checker-webpack-plugin needs TypeScript to work I'm not sure what to suggest... Do you have an idea? PRs are gratefully received.

With regards peerDependencies, I suspect they are here to stay because of Yarn Plug'n'Play: https://github.com/TypeStrong/ts-loader/pull/841

[2018-10-10 04:21] workventure-ashish commented on #124
<img width="1249" alt="screen shot 2561-10-10 at 11 20 16" src="https://user-images.githubusercontent.com/42730867/46713053-85f26100-cc7e-11e8-98d2-f04b4ce0264f.png">
So annoying... :(

[2018-10-10 14:17] brunolemos commented on #165
We have found a [solution on create-react-app's end](https://github.com/facebook/create-react-app/blob/befafb3fceafb7cfe9f1e16e00436571637bcfc1/packages/react-scripts/config/webpack.config.dev.js#L415-L419), so no need to make changes here.
Thanks @johnnyreilly.

[2018-10-10 14:17] #165 closed, assigned to nobody

[2018-10-14 14:06] yrtimiD opened #167 "Webpack doesn't report plugin failure"
At the moment I enable ForkTsCheckerWebpackPlugin plugin it starts to fail with
CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory

But the real problem is: webpack doesn't recognizes that plugin failed and reports exit code 0.

part of log looks next:
[code]

So, either plugin doesn't report failure, or webpack doesn't get it.

webpack configuration is pretty basic:
[code]

[2018-10-16 14:54] JounQin opened #168 "find property `tsconfig.json` file like ts-loader"
https://github.com/TypeStrong/ts-loader#configfile-string-defaulttsconfigjson

Use case:
I'm using [assemblyscript](https://github.com/AssemblyScript/assemblyscript) in my own project, it uses a independent [tsconfig.json](https://github.com/JounQin/wasm-study/blob/master/asms/tsconfig.json) to build `.wasm` files, so I have three `tsconfig.json` files.

But `fork-ts-checker-webpack-plugin` can no

[2018-10-16 17:55] johnnyreilly commented on #168
Would you like to submit as PR?

[2018-10-17 18:55] jrmccannon opened #170 "TypeError: Cannot read property 'callAsync' of undefined on webpack.watch"
Issue:
ForkTsCheckerWebpackPlugin is causing the webpack.watch reload to throw the following error:
[code]

Everything bundles fine the first time. But on reload, it exits with that error.
When commenting out ForkTsCheckerWebpackPlugin, webpack.watch works fine.

Here's my webpack.config.js
[code]

Versions:
webpack 4.20.2
webpack-cli 3.1.2
typescript 3.1.1
ts-loader 5.2.2
fork-ts-checker-webpack-

[2018-10-21 07:23] fabb opened #171 "Add example for new Babel 7 TypeScript Integration"
Babel 7 supports TypeScript without type checking, so basically it just strips all the types away and makes the code valid JS code. It still would be preferrable to do type checking with `ts` in a separate process during the build. It would ve nice if in the readme of this project there was an example on how to configure this correctly (if it is possible).

[2018-10-21 07:54] #150 closed, assigned to nobody

[2018-10-21 08:12] superlbr commented on #150
Well, since cpus is not defined in os, os.cpus() will still throw an error, I guess.Why not

`static ALL_CPUS = os.cpus ? os.cpus().length : 1;`

[2018-10-21 11:57] johnnyreilly commented on #150
Sure - submit a PR!

[2018-10-22 07:38] johnnyreilly commented on #165
Really pleased to hear it! Well done @brunolemos !

[2018-10-22 13:57] Timer commented on #165
Hi, we actually decided against the work around above (mentioned by @brunolemos) and ended up needing to make changes to `fork-ts-checker-webpack-plugin`.

We're using a fork in Create React App for now and in the next few days I'll probably open a pull request with a proposal to change this behavior.

[2018-10-23 17:34] ajainarayanan commented on #67
@piotr-oles / @johnnyreilly  I know this is very late but is this feature still considered? Would a PR with `tslintAutoFix` as option to `ForkTsCheckerWebpackPlugin` plugin be acceptable?

[2018-10-23 17:41] johnnyreilly commented on #67
I kind of agree with @piotr-oles - it seems a little strange to have a type checker also changing your files. Doesn't seem like a good fit. Sorry

[2018-10-23 17:50] ajainarayanan commented on #67
@johnnyreilly I understand. Since this was going to an option it could by default be turned off and in cases where users need to enable it they could just enable it.

The reason I am trying for this solution is we right now have ForkTsCheckerWebpackPlugin to do both type check and linting check. If not I need to disable tslint check on ForkTsCheckerWebpackPlugin and manually configure tslint just

[2018-10-23 17:55] johnnyreilly commented on #67
No worries!

Just so I understand you correctly, you have your code linted and *fixed* as you're working on a file?

Forgive the surprise, I've just never encountered that before!

Out of curiosity, do you have an idea how simple an implementation might be?

[2018-10-23 18:07] ajainarayanan commented on #67
@johnnyreilly I am not sure what would be the difference between `linted` and `fixed` but I presume lint is checking for lint errors and fix is fixing them.

Yes. I am using prettier that is run as tslint rule. prettier formats and provides formatting options that can be run through `tslint --fix` that will automatically be fixed. This helps us to lint code in the webpack build as and when the use

[2018-10-23 18:52] johnnyreilly commented on #67
Hmmm. Still feels a little strange to me!

Would you like to have a try and see how hard this is to implement? If it's super simple with minimal impact to the codebase then I could see a case for supporting this.

If it turns out to be complicated and not so simple then perhaps not.

[2018-10-23 19:17] ajainarayanan commented on #67
@johnnyreilly It believe it should be simple. Need to pass the flag from the plugin to the service and have the service check if its in the process.env. If not default to false.

It would be easier for me to create a pull request to see how big the impact is.

[2018-10-26 01:50] charlesbetros commented on #170
Speed Measure Plugin seems to be causing this. Works fine without the 'smp.wrap' (for me).

[2018-10-26 01:52] charlesbetros commented on #161
Is this the same as #170? If so Speed Measure Plugin seems to be causing this. Works fine without the 'smp.wrap' (for me).

[2018-10-27 08:12] johnnyreilly opened #177 "`reportFiles` as an `exclude` alternative"
@Timer said here: https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/173#issuecomment-432803475

That's a merged PR and so it's less visible.  I didn't want it to get lost as I think it's a **great** suggestion.  😄  Do take a look at the conversation there.

cc @ianschmitz

[2018-10-27 08:12] johnnyreilly commented on #177
Suggested implementation (copied from https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/173#issuecomment-433600905 )

@Timer - sorry about the delay in replying!

The simplest implementation would seem to be taking the approach `ts-loader` employs here:

https://github.com/TypeStrong/ts-loader/blob/d49dfbaa7e35c728090554d47a122ad2571cb09c/src/utils.ts#L54-L75

and adding a `filter`

[2018-10-28 04:33] yoyo837 opened #178 "Error: Cannot find module 'lodash.isstring'"
[code]

[2018-10-28 06:55] johnnyreilly commented on #178
I think you just need to reinstall your packages.

See https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/175

[2018-10-28 06:55] #178 closed, assigned to nobody

[2018-10-28 06:57] yoyo837 commented on #178
Thanks for your reply.

[2018-10-28 09:24] #177 closed, assigned to nobody

[2018-10-29 14:03] Izzaki opened #180 "No type errors in browser console"
There is no type errors in browser console.
Is this possible to display them?

[2018-10-29 18:19] johnnyreilly commented on #180
If you look at how create-react-app-typescript uses the plugin it displays in an error overlay in the screen. Perhaps that would meet your needs?

[2018-10-31 13:53] arcanis opened #181 "Custom resolveModuleName"
Now that support has landed in `ts-loader` for a [custom `resolveModuleName` option](https://github.com/TypeStrong/ts-loader/pull/862), would `fork-ts-checker-webpack-plugin` be interested in a similar option?

My own use case it to make this plugin work with PnP (which is natively supported by create-react-app, itself using fork-ts-checker-webpack-plugin to power its TypeScript part) 🙂

[2018-10-31 15:09] johnnyreilly commented on #181
Hey @arcanis!

That's a super kind offer and it'd be greatly appreciated!  However before you put effort in, I think there might be something that needs to be resolved first.

Right now, `create-react-app` are actually using a fork of `fork-ts-checker-webpack-plugin` (very meta :smile:).  @Timer is looking at submitting a PR that makes the changes that will be required to make this happen.  Predom

[2018-10-31 15:20] Timer commented on #181
Most of this is going to be painful until https://github.com/yarnpkg/yarn/issues/6487 is supported. I'd love to have more open discussion about this.

Don't let our change block this feature, though! I'm sure we can figure out a way to integrate both of these changes.

[2018-10-31 16:29] johnnyreilly commented on #181
Thanks for responding @Timer!

@arcanis do you have an idea of how we can serve both PnP and CRA's needs?  It would be great to support both.  I've not been closely tracking the PnP development so please feel free to give guidance; you're obviously going to know most on this particular topic 😄

[2018-10-31 17:50] arcanis commented on #181
Hey!

Totally makes sense 👍

In the case of create-react-app, yes. In the more general case of an application depending on `fork-ts-checker-webpack-plugin` it will work just fine (the Yarn implementation of PnP has a fallback mechanism that defers to the top-level dependencies when an undeclared dependency is required).

Regarding optional  peer dependencies, we're still discussing the details (cf

[2018-10-31 18:12] Timer commented on #181
@arcanis as long as npm has a plan to implement I think we'd be fine adding the peer dep back (assuming backwards compatibility).

[2018-10-31 18:29] arcanis commented on #181
Yep, optional peer dependencies will be backward compatible (they'll just generate a warning on older package managers).

[2018-10-31 19:41] johnnyreilly commented on #181
That sounds great @arcanis!

Just so we're all clear: from the sounds of your plan we're safe to continue with plans to drop `peerDependencies` for now? So @Timer is still good to submit a PR in order that CRA no longer needs to depend upon the alt fork?

[2018-11-01 20:02] johnnyreilly commented on #181
Is that about right @arcanis? Sorry to chase - just wanted to make sure I understood your meaning.

[2018-11-01 20:10] arcanis commented on #181
Missed your answer - yep, dropping the peer dependencies is fine by me (don't get me wrong: it has potential to break things even without PnP; but in practice it should work in most cases). I'll setup a PR to add them back as soon as we get optional peer dependencies (and then you'll be free to merge it whenever you feel ready), and in the meantime I'll setup another PR for `resolveModuleName` 😃

[2018-11-01 20:13] johnnyreilly commented on #181
That's awesome - thanks so much!

[2018-11-03 01:00] vepanimas commented on #57
If [that](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/src/index.ts#L785) line will be invoked before `shouldEmit` webpack hook, we'll got it working. That's how the default `NoEmitOnErrorsPlugin` works, it checks `compilation.errors` on `shouldEmit` and returns false if they exist.

So if we could move [this](https://github.com/Realytics/fork-ts-checker-webpack-plugin/b

[2018-11-12 16:30] jrmccannon commented on #170
Removing the `smp.wrap` fixed the problem. Thanks! Closing the issue.

[2018-11-12 16:30] #170 closed, assigned to nobody

[2018-11-15 08:14] ddrozdov commented on #135
Same issue for me. Both with TypeScript 2.9.2 and 3.1.6. Both with tslint 5.11.0 and 5.5.0. There are no such messages with tslint 5.4.3, but this is probably due to https://github.com/palantir/tslint/pull/2890 that went to 5.5.0, so, in fact, the errors may still be there in the older versions. Disabling `skipLibCheck` solves the issue, but makes the build somewhat slower, so I'd prefer fork-ts-c

[2018-11-15 08:41] johnnyreilly commented on #135
Could you provide a minimal repro please? We still don't know what's actually causing this. I personally haven't seen this at all despite using `skipLibCheck: true`

[2018-11-15 09:50] ddrozdov commented on #135
Please see https://github.com/ddrozdov/fork-ts-checker-tslint-errors-135-repro
[code]
There are no issues with `workers: 1` - so this may be considered as a **workaround**.
There are no issues without `@types/history` dependency.

[2018-11-23 10:15] deftomat opened #184 "Use TSLint language plugin instead of TSLint itself"
I'm wondering if it is possible to use [`typescript-tslint-plugin`](https://github.com/Microsoft/typescript-tslint-plugin) instead of a standalone TSLint.

I'm assuming that performance can be better. Also, this could provide users a way, how to enable TSLint  without touching the build configuration. A good example is `create-react-app`, which recently got a TS support. However, to be able to ena

[2018-11-28 17:35] kelly-tock opened #185 "Receiving error on startup in webpack -Expected diagnostics to start"
/Users/kelly/dashboard/node_modules/fork-ts-checker-webpack-plugin/lib/service.js:22
        throw error;
        ^

Error: Expected diagnostics to have start
    at createFromDiagnostic (/Users/kelly/dashboard/node_modules/fork-ts-checker-webpack-plugin/lib/NormalizedMessage.js:22:23)
    at Array.map (<anonymous>)
    at IncrementalChecker.getDiagnostics (/Users/kelly/dashboard/node_modules/fork

[2018-11-28 18:17] johnnyreilly commented on #185
We've just changed to use es6 code rather than es5 code with 0.5.0... but given you're on node 10 that should be fine...

https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/CHANGELOG.md

[2018-11-28 18:56] kelly-tock commented on #185
downgrading to before `0.5.0` is working. we are compiling `node_modules` as well, maybe that is the issue. i'll try excluding this package.

[2018-11-28 19:13] kelly-tock commented on #185
that was it.
[code]

we are doing this to account for some modules switching to only es6 code to support older browswers.

[2018-11-28 19:13] #185 closed, assigned to nobody

[2018-12-06 14:55] phil-lgr opened #186 "Republish with version 1.x.x instead of 0.5.x"
https://docs.npmjs.com/about-semantic-versioning

when I specify "^0.4.1" when I don't get "^0.5.0"

why? because surprisingly, 0.4 and 0.5 are not considered to be under the same major versions.... major version starts at 1.0.0

[2018-12-06 14:56] phil-lgr commented on #186
![image](https://user-images.githubusercontent.com/9644867/49591698-27bfc280-f93d-11e8-83d6-bc2b8e8200cf.png)

and yea, I didn't know that before yesterday

[2018-12-07 16:45] MLoughry opened #187 "Plugin doesn't run for project references"
Much like `tslint` and (to an extent) `ts-loader`, it seems this project doesn't yet fully support Typescript>=3.0.0 style project references. If I introduce an error into a dependent project, `fork-ts-checker-webpack-plugin` doesn't find the error.

[2018-12-08 09:35] johnnyreilly commented on #187
If you'd like to have a crack at adding support you'd be most welcome! cc @andrewbranch - author of project reference support in ts-loader in case he has any thoughts 🌻♥️

See also: https://blog.johnnyreilly.com/2018/09/ts-loader-project-references-first-blood.html

[2018-12-09 04:33] MLoughry commented on #187
I believe that, like TypeStrong/ts-loader#851, this ultimately requires the new Typescript APIs yet to be implemented and tracked by Microsoft/Typescript#28640.

I may look into making such a contribution once the APIs are available, to learn them for my own needs; but I don't think it's worthwhile to do so before then.

[2018-12-10 14:30] harrysolovay commented on #184
Hi @deftomat, check out [Rescripts](https://github.com/rescripts/rescripts) if you're using CRA. There's a [use-tslint-config](https://github.com/rescripts/rescripts/tree/master/packages/rescripts/use-tslint-config) rescript, which I think is what you're looking for :)

[2018-12-10 15:56] deftomat commented on #184
@harrysolovay Thanks, it looks good.

However, I'm more interested in typescript language plugin as we have a custom CRA fork with TSLint enabled and CRA team is also considering to include TSLint but it is not ready right now.

What I find out is that TypeScript is ignoring the language plugins in type-checks and it is using them only when you start a language-server itself.

So, I just wanted to

[2018-12-10 20:44] maciejw opened #188 "wrong declarations - Initializers are not allowed in ambient contexts."
due to error in typescript 3.1 https://github.com/Microsoft/TypeScript/issues/28230

there is an error in your d.ts files
[code]

when I fixed typescript version to 3.0.3 in your project, declarations are correct.

now in package.json you have ^3.0.1 and 3.1.6 in yarn.lock it has to be changes to 3.0.3

3.2.2 can't compile due to
[code]

[2018-12-10 21:54] johnnyreilly commented on #188
Presumably this only impacts users who make use of the `.d.ts` files?

We won't be locking the plugin to a older version of TypeScript. If you'd like to submit a PR that remedies this in another way that would be great!

[2018-12-10 22:13] johnnyreilly commented on #188
Should be fixed by https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/189 hopefully.

[2018-12-10 23:40] maciejw commented on #188
damn you were faster :) maybe next time I'll win this PR race ;)

[2018-12-11 05:40] johnnyreilly commented on #188
Published as https://github.com/Realytics/fork-ts-checker-webpack-plugin/releases/tag/v0.5.1

Though I'm guessing the `.d.ts` error may remain? It still could be your time to shine!

[2018-12-11 16:19] harrysolovay commented on #184
@deftomat I don't know about using it as a TS plugin –– sorry about that :(

I'd love to float something by you though: if you're using a custom CRA fork, you're likely either keeping it in sync with the upstream via a service like Backstroke, or you're manually updating it?

Neither of these approaches feel great; you end up dealing with more code than you need to, and updating `react-scripts` is

[2018-12-12 05:32] deftomat commented on #184
@harrysolovay

Rewiring the `react-scripts` is not enough for us, we have a custom `react-dev-utils` too.

Anyway, it's not related to this issue. If you want to talk about it, please contact me through the email or create an issue in your repo and mention me.

[2018-12-12 14:45] harrysolovay commented on #184
@deftomat  gotcha. Thought it might be helpful. Sorry that it was not.

[2018-12-21 03:33] mortyccp opened #191 "Option tslintAutoFix is broken for vue file"
# Step to reproduce
1. `git clone https://github.com/mortyccp/reproduces`
1. `cd reproduces`
1. `git checkout fork-ts-checker-autofix-vue`
1. Follow instruction defined in the readme in the cloned repo.

[2018-12-21 04:29] wayou opened #192 "Could not find a declaration file for module 'webpack'"
Does this mean that I need manually install the peer dependency `@types/webpack`?

[code]

[2018-12-21 07:17] johnnyreilly commented on #192
Have you tried?

[2018-12-21 15:07] wayou commented on #192
Yes, install the missing type will work.

[2018-12-21 16:23] antch commented on #171
I think the same pattern could be applied for linting along with `AngularCompilerPlugin` as well. I use `ForkTsCheckerWebpackPlugin` for non-Angular TypeScript files but I'm stuck.

[2018-12-21 22:21] kelly-tock opened #193 "is there a way to suppress the initial console output if workers are more than 1?"
I see this when workers is not the default value:

[code]

is there an option to suppress this sort of stuff and only log out any TS or TSLint errors?

[2018-12-22 06:59] johnnyreilly commented on #193
Have you tried using `silent`?

[2018-12-22 06:59] #193 closed, assigned to nobody

[2018-12-22 14:15] kelly-tock commented on #193
silent disabled all logging of errors. I want the errors to be displayed, just not the other stuff. maybe a log_level setting or something would be nice?

[2018-12-22 16:57] johnnyreilly commented on #193
Yeah possibly - ts-loader has similar. Would you consider putting together a PR?

[2018-12-22 16:59] kelly-tock commented on #193
Will take a look.

[2018-12-24 10:17] johnnyreilly opened #195 "Split formatters and Normalized message out into separate module"
Users of this plugin tend to use it in concert with `ts-loader` and sometimes `fork-ts-checker-notifier-webpack-plugin`.

There's a certain amount of duplication which takes place across these projects, and I've come to realise, times where formatters can become out of sync between ts-loader and this plugin in particular.

I'm considering splitting out the formatters and the `NormalizedMessage` da

[2018-12-26 15:18] 0xorial opened #196 "Why is this plugin slower than tsc compiler?"
I have a webpack setup, where my complete compilation takes ~12 seconds and incremental compilation takes ~2s. I profiled it and noticed that it spends 1.5s in TypeScript compilation (which is in external process so I couldn't find how to run profiling on it). What surprises me a bit, is that it does not make a difference whether I change file with very few dependencies, or with lots.
 TypeScript-

[2018-12-26 20:54] johnnyreilly commented on #196
You might want to follow some of the profiling work done by @jantimon in this issue: https://github.com/namics/webpack-config-plugins/issues/24

We welcome anything that speeds up compilation, so if you want to dig into it and try to make things better that'd be amazing!

[2018-12-27 07:19] piotr-oles commented on #195
I think that's great idea - looking forward for this package :)

[2018-12-27 07:25] piotr-oles commented on #196
We didn't implement new API for incremental build that checks files dependencies - https://github.com/Microsoft/TypeScript/pull/20234 - that's the problem I think.

[2018-12-27 09:18] jantimon commented on #196
Webpack has a large overhead for every increments build. (about 2/3 of the time one incremental build takes)

I proposed a fast lane which would skip building up a module tree and chunk optimizing as long as you don’t add or remove a dependency inside a source file.

The webpack team is open for the idea but it will take a lot of effort to implement it.

[2018-12-27 09:35] johnnyreilly commented on #196
Sounds like a great idea!

[2018-12-28 12:44] 0xorial commented on #196
I've implemented a [version](https://github.com/0xorial/fork-ts-checker-webpack-plugin/commits/master) which uses TypeScript API. Is there some bigger project which I could use to test it?

[2018-12-28 13:40] johnnyreilly commented on #196
Great work! If you could test it on your own projects that'd be useful. I'm travelling right now but I'd be happy to test it on a fairly chunky one I work with when I get back...

I'm on a phone so looking at the code is tricky. That being the case, I wonder if you can answer a question: How straightforward is swapping from using the watch API to using the existing one? Assuming all looks good I'd

[2018-12-28 16:02] 0xorial commented on #196
The numbers with my version are following: initial compile: ~12s, incremental changes in a file with few dependencies: ~0.6s, incremental changes in a file with lots of dependencies: ~3.5s (note, however, that I switched from 2 threads, to 1 thread, because of reasons which I will explain below).

Unfortunately, using TypeScript incremental API is a bit tricky: if you use out-of-box compiler code

[2018-12-28 16:33] johnnyreilly commented on #196
Nice work @0xorial! To your points:

I'd recommend we either throw an error if a user attempts to run using the watch API and more than 1 worker. Either that or just fix to 1 worker when in watch API mode; possibly logging to console that this is necessary for the watch API.

If you could look into this that'd be amazing. This plugin is used in the Vue CLI I understand and I'm keen Vue users get t

[2018-12-30 06:11] johnnyreilly commented on #196
By the way, you could probably lift the Vue approach that ts-loader uses: https://github.com/TypeStrong/ts-loader/blob/master/src/index.ts#L63

[2018-12-30 23:17] 0xorial commented on #196
I have added some tests, linting support (without auto-fixing though) and Vue support. But since I do not use Vue myself I only had results from the test cases, which are quite basic. So it would be nice if someone could try and give more feedback.
Meanwhile, the incremental compilation time on my project is < 0.4s. Yay!

[2018-12-31 06:11] johnnyreilly commented on #196
Brilliant! I'm travelling right now and so just on my phone. But I'll be online towards the end of this week and I'll try and give this a test drive then.

Would you be interested in raising a pull request with your fork? It would be great to understand the differences between your fork and what is in place presently.

Assuming all is good - I'd like to talk about an approach for graduating this i

[2019-01-01 13:01] 0xorial commented on #196
Sounds great to me :)

[2019-01-04 14:29] johnnyreilly commented on #196
I've given this a test on the project I'm working on.  The performance seems to be roughly the same as current performance; perhaps marginally better.

Incremental build takes 12.5 seconds typically.  With the fork it's more like 11.5 seconds.  So it's an improvement 😄 Alas not as big as I'd hoped but an improvement nonetheless!

~Also the hooks seem to be broken.  https://github.com/johnnyreilly/

[2019-01-05 09:14] 0xorial commented on #196
Thanks for the update! Just out of curiosity - can you try to run 'tsc --watch' on that project to see if it would also produce similar timing? Also - how big is your project?

I am wondering because, as I mentioned earlier, incremental compilation on vscode project (which has ~20k files and 20 MB) takes ~1s...

[2019-01-05 11:43] johnnyreilly commented on #196
I'll give it another whirl on Monday to try your suggestions.

Question: do I need to do anything to use the incremental watch API or is it the default on your fork? I just `yarn link`-ed to your fork and didn't tweak anything. If it's behind the feature flag we discussed then I haven't actually tested it at all!

[2019-01-05 11:50] 0xorial commented on #196
xD yeah, it might be the case. You need to set useTypescriptIncrementalApi: true.

[2019-01-05 14:55] johnnyreilly commented on #196
Aha! I will try that 😏

[2019-01-06 12:52] ghost commented on #167
@yrtimiD Have you found a solution? I am facing the same problem.

In production mode, the build falis. So I have tried adding NoEmitOnErrorsPlugin (what production mode does) but it did not work. When using custom plugin just to debug and print the compilation.erros array, its empty. In production mode, in contains the errors.

[2019-01-06 13:25] johnnyreilly commented on #167
Have you tried `async: false`? The plugin deliberately doesn't report errors to webpack unless this is set for speed reasons

[2019-01-07 09:54] Bosee commented on #191
same issue too, all vue files was broken when tslint auto-fix enabled

[2019-01-07 10:59] johnnyreilly commented on #196
Tested.  With `useTypescriptIncrementalApi: true` incremental build time is still around the same time on my  big build.  😢

I'm wondering if I'm testing like-for-like.  Could you share your config please?

Mine looks like this:

[code]

[2019-01-07 12:24] johnnyreilly commented on #191
If someone could take a look at this that'd be great!

Perhaps @ajainarayanan could advise? I'm not a Vue user I'm afraid.

[2019-01-07 18:49] ajainarayanan commented on #191
I have not worked with vue before. But enabling `tslintAutoFix` literally just passes on the `--autofix` flag to tslint. I don't think this error is related to `fork-ts-checker-webpack-plugin`

BTW @mortyccp I tried cloning your repo and ran `yarn serve` setting the `tslintAutoFix` to both true and false in `vue.config.js`. Either ways I am getting the same error in the console. Are you sure if th

[2019-01-07 20:47] 0xorial commented on #196
Well, that is a bit suspicious indeed. The configuration looks correct though. To make sure the code is there try to set workers > 1 - you should see error saying that you have to use 1 worker.

Myself, I worked with it for a few days and what I noticed is a quite strange behavior: in a more synthetic test (recompiling one file with small modifications) results are quite consistent around 0.4s. Ho

[2019-01-07 22:27] johnnyreilly commented on #196
Will do. Are you using `async: false` BTW?

[2019-01-07 22:48] bknill opened #197 "RangeError: Maximum call stack size exceeded"
I use Create React App, I'm not sure where this is coming from but after a recent Typescript update this plugin is throwing this error and stopping the development server.

[code]

Here is a basic tsconfig

[code]

If I change the include to a folder with no Typescript it runs fine.. any clues?

[2019-01-08 06:47] johnnyreilly commented on #197
I don't know I'm afraid. If you try upping the `memoryLimit` from `2048` in the options does that fix it?

[2019-01-08 07:01] ghost commented on #167
@johnnyreilly Thank you. I have put it in the wrong place (ts-loader) and now its working. I get the errors array filled with the errors.

[2019-01-08 07:39] mortyccp commented on #191
@ajainarayanan Sorry, I mistakenly commit the files in after state. You can just `git diff HEAD~` to see the change on those files then.
I have pushed a commit and it should be able to reproduce now.
The `src/App.vue` contins code, `import Vue from "vue";` , violating  the quotemark rule and trigger the auto fix.

[2019-01-08 07:57] johnnyreilly commented on #167
Nice!

[2019-01-08 07:57] #167 closed, assigned to nobody

[2019-01-08 10:16] johnnyreilly commented on #196
Am an idiot.  I wasn't using your fork at all 😄

3rd time's a charm!

And the results are in: it's bloody fast.  Incremental build drops from 12 seconds to 2.

Please submit a PR and let's start the process of getting this in!

[2019-01-08 11:09] 0xorial commented on #196
OMG! That's a mead on my eyes! :)

Currently I do, but actually I shouldn't. I have also added `console.time(...)` inside a plugin to measure actual type-checking time, which perhaps should be behind a feature flag and output through something more flexible than console.

PR coming ASAP :)

[2019-01-08 13:11] johnnyreilly commented on #196
Why not?  Isn't that exactly what you want in dev mode (i.e. why wait for webpack)

👍 for feature flag.

Nice!

[2019-01-08 14:25] yyx990803 commented on #196
Great job guys!

[2019-01-08 14:38] 0xorial commented on #196
Yes, yes, I meant I am using 'async: false', but I should switch to 'async: true'

[2019-01-09 09:08] jantimon commented on #196
Amazing work 👍

[2019-01-11 13:04] Andarist opened #199 "[feature request] Receive checked files in plugin's hook"
I'd like to receive calculated workset together with diagnostics & lints in:
- `fork-ts-checker-receive` hook

But if you like this idea it would probably be good to add this also to:
- `fork-ts-checker-done`
- `fork-ts-checker-emit`

**Why?**
I'd like to produce some artifacts based on that information.

**Intent to implement**
I could work on this

[2019-01-11 14:07] johnnyreilly commented on #199
Submit a PR - let's take a look!

[2019-01-13 09:57] johnnyreilly commented on #196
Closing - see: https://github.com/Realytics/fork-ts-checker-webpack-plugin/releases/tag/v1.0.0-alpha.2

[2019-01-13 09:57] #196 closed, assigned to nobody

[2019-01-14 03:22] yuqingc commented on #36
Is this issue fixed yet?

[2019-01-14 06:09] johnnyreilly commented on #36
I've not tested it but I wonder if `useTypescriptIncrementalApi: true` would resolve this? Details on how to use here:

https://blog.johnnyreilly.com/2019/01/typescript-and-webpack-watch-it.html

[2019-01-15 11:48] Andarist opened #200 "[docs question] `watch` option"
According to the docs the option is not required - but from what i see in the source code is that it's mapped to `watchPaths` which are later used to start chokidar (watcher), therefore if the option is not used then no files are being watched.

Or maybe they are watched because of some other lines that I have not found and I only observe some other problem on my side?

If my suspicion is true - s

[2019-01-15 14:27] johnnyreilly commented on #200
AFAIK this is optional. Can you create a repro that demonstrates this is not the case?

[2019-01-15 21:23] #186 closed, assigned to nobody

[2019-01-16 11:33] marcofugaro commented on #102
This issue was resolved in #201

[2019-01-19 05:38] #200 closed, assigned to nobody

[2019-01-19 05:39] #197 closed, assigned to nobody

[2019-01-19 05:55] johnnyreilly opened #203 "Support typescript-eslint when it becomes available"
TypeScript are planning to move to using eslint in future to lint TypeScript: https://github.com/Microsoft/TypeScript/issues/29288

See also: https://eslint.org/blog/2019/01/future-typescript-eslint

Given this plugin supports running tslint side by side with the compiler it makes sense to allow the same functionality with eslint when that becomes ready.  It will likely involve integrating with th

[2019-01-20 19:06] beckend opened #207 "It tries to lint json files as ts files"
[code]

[code]

and of course many more errors

[2019-01-20 19:26] johnnyreilly commented on #207
I think you may want to raise a bug with tslint?

[2019-01-21 15:49] beckend commented on #207
I suppose then this plugin is simply using tslint, alright

[2019-01-21 15:50] beckend commented on #207
But what a moment...I just linted the file with tslint manually, this error is only present when using this plugin

[2019-01-22 11:45] Andarist commented on #200
Ok, so I've tried to reproduce the issue - but seems like everything is working, but for reasons I don't quite understand.

It works because the webpack's compilation hook triggers the service and thus IncrementalChecker.

I don't understand the purpose of FilesWatcher class though, what is its job? (I can confirm that it is not watching the source files if I don't specify `watch` option - but I h

[2019-01-22 13:04] johnnyreilly commented on #200
Perhaps @piotr-oles can advise?

[2019-01-25 15:59] fastfedora opened #209 "Improve error message for mismatched `vue`, `vue-template-compiler`"
When the version of the `vue-template-compiler` does not match the version of `vue`, the following error is thrown ([code](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/src/VueProgram.ts#L273)):

[code]

In this case `vue-template-compiler` is already installed; it's just that there is a version number mismatch. It would be helpful if the following text was added:

Altern

[2019-01-26 16:15] bluelovers opened #210 "how to stop display many useless wran message"
how to stop display many useless wran message

here has more .........
can i stop display this ???

[code]

[2019-01-26 18:28] johnnyreilly commented on #210
I suggest you use the Vue CLI? I believe it uses this project and probably has it configured in a helpful way..

[2019-01-26 21:42] bluelovers commented on #210
@johnnyreilly im already use vue cli ..........

https://github.com/bluelovers/ws-novel-vue

[2019-01-27 05:43] johnnyreilly commented on #210
Ah - the issue might be there then.

[2019-01-27 07:07] bluelovers commented on #210
no way to know which typescript module by vue-cli is make this, so i just random report lol

[2019-01-27 07:13] johnnyreilly commented on #210
I figured 😁

[2019-01-27 07:13] #210 closed, assigned to nobody

[2019-01-29 11:46] Kavorka79 opened #211 "useTypescriptIncrementalApi increases initial build time"
Hi,

I wanted to try the new option useTypescriptIncrementalApi. But our build time was as follows:

[code]
Incremental was only change to one file, so a little strange to see the difference between 4 workers and 1 worker. Any insights?

We got no incremental build time improvment and a initial build time slow down?

**setup:**
[code]
**tsconfig.js:**
[code]
**package.js**
[code]

[2019-01-29 12:10] johnnyreilly commented on #211
I don't think you can be using the version of the plugin specified as the plugin does not support multiple workers with the incremental build API mode. Do you want to double check?

Also, check out this example: https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin

[2019-01-29 16:24] Kavorka79 commented on #211
Hi,
Thanks for the quick reply! :)

The multiple worker is without useTypescriptIncrementalApi flag set, just to illustrate different settings and results. Settings are like under setup section.

[2019-01-29 18:11] johnnyreilly commented on #211
Do you have the latest version? I can't guarantee it's going to be faster for you but my own experience has been significant. About 4 times faster.

Suggest you change your config to:

[code]

[2019-02-02 21:32] lizzzp1 opened #212 "silent option silences errors and warnings"
I'm trying to silence only `WARNINGS` from tslint. Adding `silent` true will silence errors as well. Is there a way to specify only silencing warnings and not errors?

Thanks.

[2019-02-03 07:08] johnnyreilly commented on #212
Hey @lizzzp1

There's `ignoreLints` but that requires you specify the lints you want to ignore. It seems like a potentially useful feature though; do you fancy submitting a PR?

[2019-02-03 13:27] lizzzp1 commented on #212
@johnnyreilly yeah, I can give it a shot! - Thanks for the quick reply.

[2019-02-03 13:28] lizzzp1 commented on #212
@johnnyreilly what is the preferred api/option for this?

[2019-02-03 14:20] johnnyreilly commented on #212
Maybe a new option called `ignoreLintWarnings`? Default value of `false`. Try it out - see how it feels.

[2019-02-05 12:54] milewski commented on #36
@johnnyreilly i just tried, and i have lost all the type checking after setting

`useTypescriptIncrementalApi: true`

**Typescript: 3.3.1
fork-ts-checker-webpack-plugin: ^1.0.0-alpha.6**

[code]

Setting `useTypescriptIncrementalApi: false` restores the type checking but still no changes are emitted when changing .ts files that contains only interfaces/types etc...

[2019-02-05 12:58] Woodahs commented on #36
Try renaming type files to *.d.ts instead of *.ts  Works in my case

[2019-02-07 13:38] Tenga commented on #207
Can confirm that the problem is specific to `tslint` being run through `fork-ts-checker-webpack-plugin`.

`tslint` has implemented a check to avoid this [here](https://github.com/palantir/tslint/pull/4001/files#diff-105a25db2fd03476fc2d5672bc256a8cR115), therefore it no longer happens by directly calling `tslint`, even without any special configuration.

`fork-ts-checker-webpack-plugin` also seems

[2019-02-21 14:29] CloneXpert commented on #124
I've been having the same issue, every time I add a new tsx file and reference it somewhere.
It's very annoying and slow to restart it every time.

Does anyone have a better workaround for this?

[2019-02-22 15:56] jprince opened #216 "Fail CI build on TSLint warning / Support tslintEmitErrors config"
I'm looking for a way to configure my CI build to fail if TSLint warnings are emitted. The ts-checker-webpack-plugin supports this via a `tslintEmitErrors` configuration:

https://github.com/zinserjan/ts-checker-webpack-plugin/pull/32

Is there a similar configuration for this library?

[2019-02-22 17:56] johnnyreilly commented on #216
Doesn't this get triggered by running this with `async: false`?

[2019-02-22 20:00] jprince commented on #216
It does not appear to. It sounds like `async: false` waits for the linter to add _errors_ but perhaps it doesn't work for warnings? Looking at the commit linked above, they seem to use the flag to override the default TSLint severity and treat warnings like errors:

https://github.com/zinserjan/ts-checker-webpack-plugin/pull/32/files#diff-5d35cfb719cbb7207843d4209131df48R32

[2019-02-22 20:22] johnnyreilly commented on #216
We'd be open to PRs on this I think

[2019-02-25 09:35] 121371 commented on #135
I have upgraded the typescript version from v2.9.2 to v3.3.3333 and the issue is been resolved.

[2019-02-25 16:03] TdyP commented on #124
Looks like this issue is fixed as from v0.4.5 thanks to commit https://github.com/Realytics/fork-ts-checker-webpack-plugin/commit/1137f4b7039d52d3e732e2c91b47078db9d29454
Personally, I'm using it through `create-react-app-typescript` which relies on v0.2.8. As this project is archived in favor of regular create-react-app, I'm stuck and will have to migrate to CRA to get this working.

[2019-02-26 09:11] CRodriguez25 commented on #188
I'm actually getting this same error. The docs say that typescript 2.1 is the minimum working version of Typescript, and I'm using 2.8. Is that accurate?

[2019-02-26 09:33] johnnyreilly commented on #188
Yes

[2019-02-26 09:43] CRodriguez25 commented on #188
Any idea why I'd be seeing this error then? I'm unable to use this tool at all unless I upgrade to something like Typescript 3.1.1, but unfortunately that breaks some other stuff. I'd love to be able to use it.

[2019-02-26 16:12] johnnyreilly commented on #188
Do you need to write your `webpack.config.js` in TypeScript? As I understand it, it's just that that's hindering you?

[2019-02-27 18:39] WolfspiritM opened #219 "Vue files are not type checked or linted with useTypescriptIncrementalApi"
Hi,

My config is:

[code]

Using that config an error I implemented in a vue file is not checked:
e.g.:

Does not produce any error.

Changing useTypescriptIncrementalApi to false works but is much slower.

[2019-02-27 18:58] johnnyreilly commented on #219
Thanks for reporting. We have integration tests that check that Vue errors etc are caught:

https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/test/integration/incrementalApi.spec.js

Could you compare your setup with this please? I'm keen we understand why you might not be picking up errors with your config. It might help you're able to produce a minimal reproduction of the i

[2019-02-27 21:14] WolfspiritM commented on #219
Thanks for the answer.

I can't really find a big difference when it comes to configuration but it seems there is no test that checks for type and linting errors directly in *.vue files (or I missed that).
Maybe it's also just related to the output/cli?

I made a sample project here:
https://github.com/WolfspiritM/simplevue

[code]

In that code results with:

[code]

Even so the ./scripts/compone

[2019-02-27 22:00] johnnyreilly commented on #219
Thanks so much for that. I think you may have identified a bug. If you (or anyone else) is able to take a look I'd greatly appreciate the assistance.

In the meantime I'll change the plugin so it doesn't default to use the incremental API with Vue projects. I'll make we get that in for the 1.0.0 release.

[2019-03-01 16:23] phillipwinder opened #221 "cannot find module 'tslint'"
Hey guys, thank's so much for this plugin. Can really see this speeding up my development process.

However I'm stuck at trying to supply tslint rules.

Here's my setup:

- Folder structure
![image](https://user-images.githubusercontent.com/17256167/53650997-10475b80-3c46-11e9-8ab6-837873f55786.png)

- webpack.common.js
![image](https://user-images.githubusercontent.com/17256167/53651020-1c331d80-

[2019-03-01 16:33] phillipwinder commented on #221
Ha, writing issues always directly leads to solving the problem oneself i guess.

For anyone stumbling upon this, I had tslint installed globally on my machine but not in this specific package. After installing it in this the package (npm install tslint -D) it worked.

[2019-03-01 16:33] #221 closed, assigned to nobody

[2019-03-03 20:56] yanivefraim opened #222 "bug: `useTypescriptIncrementalApi` flag is not true by default, even if TS Version > 3"
The bug is caused by wrong `this.options.useTypescriptIncrementalApi` ([source code here](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/03c612ed742e6e6002c32cce2ddfef5bdba7b220/src/index.ts#L572)):

[code]

the fix should be:

[code]

[2019-03-04 08:55] #222 closed, assigned to nobody

[2019-03-04 15:32] phryneas opened #224 "Allow to trigger a typecheck for "virtual files" from outside?"
Hi there!

I'm trying to find a way to trigger a typecheck for `.mdx` files. Those files have to be transpiled to js/ts first using `mdx-loader`. After that, I would like to typecheck the generated source code.

My idea was to put a loader behind `mdx-loader` and from there somehow signal `fork-ts-checker-webpack-plugin` to check the transpiled source code.

Is this somehow possible?

Currently I'

[2019-03-04 17:23] ddrozdov commented on #58
Are there any plans to fix this or is there any workaround?

[2019-03-04 17:43] ddrozdov commented on #58
Just checked the latest version 0.5.2 and it seems to be fixed now!

[2019-03-04 17:54] #58 closed, assigned to nobody

[2019-03-04 18:46] johnnyreilly commented on #224
Wow that's an unexpected request!

I expect that you could do worse than look at how we handle Vue files. It's not exactly the same use case but there's some similar work at play

[2019-03-04 22:19] phryneas commented on #224
@johnnyreilly Thanks for the pointer - I didn't think about looking at the vue-specific-code. We have slackday on friday, so I'll try and spend that day trying to figure out how everything works.

One thing though: could you give me a few hints on how fork-ts-checker works in general? That could save me a few hours - I don't really know how the plugin knows which files to validate. Does it start w

[2019-03-05 06:25] johnnyreilly commented on #224
Sure. For speed reasons the plugin doesn't get triggered by webpack. A file change should trigger a change. There's 2 ways the plugin can work:

1. File watching mode - watches files and triggers compilation (`useTypescriptIncrementalApi: false`).

2.  Using TypeScripts watch API (`useTypescriptIncrementalApi: false`).

If experimenting I'd start with approach 1. As it's probably easier to get goi

[2019-03-05 08:51] phryneas commented on #224
Thanks :)

[2019-03-05 09:05] yuqingc commented on #135
I get this problem when I upgrade TypeScript to 3.2+. 3.1 is fine.

[2019-03-05 09:17] yuqingc commented on #135
It seems to be a bug from TSC per se. Ref: https://github.com/Microsoft/TypeScript/issues/28810

[code]

[2019-03-05 16:23] kenjiru commented on #171
Does this plugin even work with Babel 7? `webpack --watch` doesn't work anymore when enabling this plugin.

[2019-03-05 22:00] johnnyreilly commented on #171
I believe that create-react-app are using it - so could be worth ejecting one of their apps to get config.

[2019-03-06 15:19] huy-nguyen commented on #171
I do use babel 7's typesceript transpilation and this is my settings for development. For production, I run `tsc --noEmit` instead of using the plugin.
[code]

[2019-03-07 19:54] meatherly commented on #118
I'm having a similar issue. trying to put together a repo for you guys.
[code]
This is happening on version 1.0.0 for me. If I switch to version 0.5.2 it goes away.
put if I manually set the tsconfig option with: `path.resolve("./tsconfig.json")` it works. but this is because it doesn't call `this.compiler.options` lol

Also I'm using a mono repo with `extends` in my tsconfig.json. not sure if tha

[2019-03-07 20:04] johnnyreilly commented on #118
Might be worth you checking out the various alpha versions of the plugin so you can narrow down when the problem arose

See details of versions here: https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/CHANGELOG.md

Could be this: https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/214

[2019-03-07 20:25] meatherly commented on #118
@johnnyreilly Ah! thanks I didn't think about doing that and I had `^` on my package.json 🤕
I started testing it and it was working all the way up until `v1.0.0-alpha.5` so that's the culprit!
Thanks for your help!! I'll continue to use v1.0.0-alpha.4 until I or someone has time to dig into the issue.

[2019-03-07 20:34] johnnyreilly commented on #118
Awesome - if you did get the chance to look into this I'd greatly appreciate it. I'm guessing the issue lies somewhere in here: https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/204/files (the PR that lead to 1.0.0-alpha.5)

[2019-03-09 14:34] phryneas opened #226 "secret api key in travis.yml?"
Umm... are you aware that there is a secret npm api key in https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/.travis.yml ?

Obviously, I did NOT test it, so sorry if that is an old revoked api key.

[2019-03-09 16:31] johnnyreilly commented on #226
You mean the `secure: ` key? That's for publishing the package. It's encrypted - if you tried to use it it wouldn't succeed. Thanks for having our back though 😄❤️

[2019-03-09 16:31] #226 closed, assigned to nobody

[2019-03-09 17:12] phryneas commented on #226
Phew, okay :)

[2019-03-11 09:10] 0xorial commented on #211
Hi, @Kavorka79.
Just to give more context - could you provide some info about your codebase:
- how many files do you have and what is the total size?
- is it possible for you to run directly `tsc --watch` and see how much time it takes?
- are you using modules in your project?
- if so, do you have circular dependencies between them?

Also, to give you some more history of `useTypescriptIncremental

[2019-03-11 12:30] 0xorial commented on #184
I tried with `webpack` and with 'bare' `tsc` and had no success at all - seems like TypeScript compiler silently ignored passed plugins o_O
Idea overall seems awesome though.

[2019-03-11 12:34] 0xorial commented on #184
Oops, silly me:
[TypeScript Language Service Plugins ("plugins") are for changing the editing experience only.](https://github.com/Microsoft/TypeScript/wiki/Writing-a-Language-Service-Plugin#whats-a-language-service-plugin)

[2019-03-11 12:46] deftomat commented on #184
@0xorial Yes, it is not possible as TypeScript is ignoring it. I totally forgot that I created this issue.

Looks like I can close it as it is a limitation of TypeScript and there is nothing which we can do in this repo about it 😞

[2019-03-11 12:46] #184 closed, assigned to nobody

[2019-03-13 10:18] MeLlamoPablo opened #228 "Stuck when using a type alias for the module typesafe-actions"
I originally opened this issue in facebook/create-react-app#6467, but upon further investigation I assume that this issue is related to `fork-ts-checker-webpack-plugin`.

So if you may allow me, I'm gonna go ahead and copy and paste the content of the issue:

### Environment

[code]

### Steps to Reproduce

This issue is related to creating a type alias and using it.

When I develop with `redux` a

[2019-03-13 10:28] johnnyreilly commented on #228
Given it gets stuck with `Files successfully emitted, waiting for typecheck results...` which is part of the create-react-app TypeScript infrastructure I have a feeling this may be cra specific.

Can you repro this with just fork-ts-checker-webpack-plugin?

Slightly out of date but here's a simple example to start you off:

https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-check

[2019-03-13 10:45] MeLlamoPablo commented on #228
No, I can't. I pushed a branch to my repo: [fork-ts-checker-webpack-plugin](https://github.com/MeLlamoPablo/dev-server-bug-test-repo/tree/fork-ts-checker-webpack-plugin) and it still gets stuck, but that must be for another reason because I can't get the simplest of hello worlds running. If I apply this diff:

[code]

The server still gets stuck on `Files successfully emitted, waiting for typechec

[2019-03-14 08:36] 0xorial commented on #219
I had a fresh look at the tests, and vue tests for useTypescriptIncrementalApi are quite poor - there is [only one](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/test/integration/incrementalApi.spec.js#L113) test actually testing for errors and it is wrong (there should 2 errors, not 1).
@johnnyreilly, what do you think about applying same technique as in `index.spec.js`

[2019-03-14 09:03] johnnyreilly commented on #219
Completely agree @0xorial.

I believe @wolfspiritm has been working on trying to fix the issue here: https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/220

I'm not too sure how things are going.

[2019-03-14 23:42] kube opened #229 "Does not work with Webpack Multiple Target Configuration"
When using [Webpack Multiple Target Configuration](https://webpack.js.org/concepts/targets/#multiple-targets), e.g.

[code]

Here if all of these Webpack configurations use `fork-ts-checker-webpack-plugin`, only the first one will be compiled.

[2019-03-14 23:54] rogerlucena opened #230 "Emitting .d.ts files while type checking"
In our project we are working with TypeScript, Webpack and Babel 7.

To deal with the TypeScript files we were using the awesome-typescript-loader but there were happening a lot of problems when the generated .js files were taken by Babel. Then, we decided not to use the awesome-typescript-loader anymore, but instead stick to Babel and, since Babel does not do type checking for TypeScript, we deci

[2019-03-15 06:23] johnnyreilly commented on #230
I'm really glad you're enjoying using the plugin!

I'm afraid I have got very mixed feelings about what you're suggesting though.  The fork-ts-checker-webpack-plugin has always been intended to be a checker - not something that generates TS code in any way.

Classically code generation has been the responsibility of ts-loader which is typically what people use alongside the fork-ts-checker-webpack

[2019-03-15 06:24] johnnyreilly commented on #229
Interesting. It's not been a use case of mine so I haven't considered it. Feel free to experiment and submit PRs 😀

[2019-03-15 07:56] johnnyreilly commented on #203
This PR that adds support for `typescript-eslint` to `create-react-app` could well prove useful as inspiration when someone is looking into adding eslint support directly to `fork-ts-checker-webpack-plugin`

https://github.com/facebook/create-react-app/pull/6513

😀🌻

[2019-03-15 08:01] #212 closed, assigned to nobody

[2019-03-17 03:13] Jojoshua commented on #36
@johnnyreilly  Actually I've noticed this behavior on normal .ts files that were not just interfaces. This happens to me on typescript files I use as helper utilities which contain classes and other code which I specifically exclude from being transpiled to javascript. I use webpack split chunks to merge all my helper files into a single file I include manually. Because these excluded files were n

[2019-03-17 06:16] johnnyreilly commented on #36
@Jojoshua

I think your issue is different to the one in this thread (which I think is solved now).

Moreover, your setup seems somewhat unusual. Before you go further I'd suggest getting a more straightforward config in place; here's an example to get you started:

https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin

[2019-03-17 13:41] Jojoshua commented on #36
@johnnyreilly What part of my config looks off? I'm using the latest versions which should contain any fixes.

[code]
 I forgot to mention that I once I replaced that if statement to include all TS files(which started making everything working) and then went back to my old if statement (which excluded non -main.ts files) then everything was STILL working. It's almost as if there was something in c

[2019-03-17 14:31] johnnyreilly commented on #36
I'd advise ditching thread-loader and changing your ts-loader options to `happyPackMode: false,
              transpileOnly: true,
              experimentalWatchApi: false`

Also:

`new ForkTsCheckerWebpackPlugin({
      checkSyntacticErrors: false,
    })`

See also: https://blog.johnnyreilly.com/2018/12/you-might-not-need-thread-loader.html

[2019-03-17 15:07] Jojoshua commented on #36
Thanks, I'll test it out. I'm thinking that https://github.com/Microsoft/TypeScript/pull/29813 will pan out better than thread loader.

[2019-03-18 15:04] dallonf opened #232 "Feature request: option to warn instead of failing build"
It would be very useful to put this plugin in a mode where type errors are treated as equivalent to lint warnings, instead of failing the build. Maybe something like `maximumSeverity: 'warn'`?

[2019-03-18 18:27] johnnyreilly commented on #232
What would the use case of that be?

[2019-03-18 21:18] dallonf commented on #232
I'm currently working on a major refactor of my codebase and certain parts of it I know are not working and certainly are not type-correct at the moment. I'm OK with that and I really just need to test the parts that _should_ be working right now.

And in general, my team's mental model of TypeScript is that of a lint tool / test suite, and we are more often annoyed by type errors preventing us fr

[2019-03-18 22:04] johnnyreilly commented on #232
I'll have to admit to being appalled by your attitude towards static typing; surely you must want to be entirely type safe right now with no delay 😁

That said, there's room in the world for multiple opinions. If you'd like to consider a PR to that end I'll certainly look at it.

[2019-03-20 08:53] neoneo opened #233 "Use with Nuxt.js throws Cannot read property 'options' of undefined"
When I use the plugin with Nuxt (https://nuxtjs.org/), this error is thrown.

The function `computeContextPath` is defined inside the constructor like this:

        this.computeContextPath = (filePath) => path.isAbsolute(filePath)
            ? filePath
            : path.resolve(this.compiler.options.context, filePath);

The issue is resolved if the function is defined on the class itself, outsi

[2019-03-20 08:58] johnnyreilly commented on #233
Yup we'd be open to a PR! Could you provide a test as well so we don't break this in future please?

The test should ideally not include nuxt - I think this a more general problem