[2019-03-20 09:03] neoneo commented on #233
Yes, I will have to see how Nuxt invokes webpack from their builder and mimic that.

[2019-03-20 14:01] neoneo commented on #233
Nuxt-ts (Nuxt with TS) supports the plugin out of the box.. https://nuxtjs.org/api/configuration-build/#useforktschecker.

So.. it seems no fix is required!

[2019-03-20 14:01] #233 closed, assigned to nobody

[2019-03-21 23:06] reduckted commented on #60
Looks like this was done as part of #182 and is now available in v1.0.0.

[2019-03-22 05:32] #60 closed, assigned to nobody

[2019-03-26 23:44] agwells opened #234 "`useTypescriptIncrementalApi` mode choking on a function property declaration that indirectly references a non-exported interface"
I encountered this bug in a `create-react-app` project, so I first reported it there: https://github.com/facebook/create-react-app/issues/6716

But, it looks like the underlying problem is probably in `fork-ts-checker-webpack-plugin`. It seems like, in incremental mode, it's not correctly handling a particular set of types, spread across two files, and involving a [property declaration on a functi

[2019-03-26 23:53] agwells commented on #234
As best I can tell, CRA's `npm run build` command uses `fork-ts-checker-webpack-plugin` with this webpack plugin configuration:

[code]

If I remove this plugin from the webpack config, it builds successfully. Also, if I change `useTypescriptIncrementalApi` from `true` to `false`, it builds successfully.

`react-scripts` 2.1.8 is using `fork-ts-checker-webpack-plugin` version `1.0.0-alpha.6 `. How

[2019-03-27 05:54] johnnyreilly commented on #234
Thanks for the detailed report! I don't have time to look at this directly myself but perhaps I can help you look into the issue.

A couple of questions occurred:

1. From your report it looks as though no actual build error is being reported? The build is just collapsing with a non helpful "Diagnostic emitted without context" error. Is that correct? If so, that's surprising.

2. Could you reprodu

[2019-03-28 07:51] ux-engineer commented on #203
As a new comer with this package, I'm wondering what's the current state of ESLint support?

TypeScript's future is with ESLint instead of TSLint (as linked above). README doesn't even mention ESLint so it seems I'd need to wait before I can give this a try. Although linting integration is optional, I'm not sure if the package would be fully useful without it.

[2019-03-28 08:18] johnnyreilly commented on #203
As yet it hasn't been added - eslint TypeScript support is still a very new thing. If someone would like to submit a PR adding support we'd be super grateful.

In the longer term given that tslint is being deprecated, I'd imagine support for tslint with the plugin will be too. But that's going to be some time away.

The main purpose of the plugin is type checking. Linting comes a close second. Unt

[2019-03-28 16:21] kelly-tock commented on #232
I also would like this. here's my use case:

- with incremental flag turned on, it happens really fast, so 👍
- however, with this on, you may want to set `async` to be false again, as it is fast so no worries, and it integrates with plugins better
- but now you have to fix all TS errors first before you see/test your code. when refactoring/doing a new feature it's nice to be able to see it working

[2019-03-28 19:03] johnnyreilly commented on #232
Cool - if someone wants to submit a PR we'll take a look. 😊

[2019-03-28 20:51] agwells commented on #234
Thanks for the boilerplate! I don't have any experience setting up TypeScript myself (_because_ I've been using Create React App ;) ), so that is very helpful. I'll see if I can repro it without CRA.

[2019-03-28 20:59] agwells commented on #234
Yes. From the error stack, it looks like it's going the TypeScript package's `handleSymbolAccessibilityError` routine, but then it finds that the information that has been passed in is insufficient to generate a meaningful error message, so it falls back to the minimal `throwDiagnostic` method, which just prints that unhelpful "Diagnostic emitted without context" message.

From watching the proces

[2019-03-28 21:38] agwells commented on #234
Okay, successfully replicated using the `ts-loader/examples/fork-ts-checker-webpack-plugins` boilerplate!

https://github.com/agwells/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin

[code]

The compilation works successfully if I make any of these changes:
* change `useTypescriptIncrementalApi` in `webpack.config.development.js` from `true` to `false`
* Comment out line 14 of `mycom

[2019-03-29 05:40] johnnyreilly commented on #234
Okay that's narrowed it down nicely; good work!

So it looks like there's an issue with the incremental API functionality.

I'm expecting that this is an issue with the `fork-ts-checker-webpack-plugin` but we should check one more thing. If you run `tsc --watch` in your project does the issue occur? If the issue presents it's an issue with TypeScript itself. (Unlikely but we should rule it out)

@

[2019-03-29 06:23] agwells commented on #234
Well, look at that! It does happen with `tsc --watch` by itself!

[code]

[2019-03-29 06:48] agwells commented on #234
... and it looks like the same code edits I mentioned [here](https://github.com/Realytics/fork-ts-checker-webpack-plugin/issues/234#issuecomment-477780965) will cause it to compile successfully with `tsc --watch`, as does using `tsc` without `--watch`.

So it looks like this actually is a bug in TypeScript itself! I'll see about filing a bug report there on Monday (it's Friday evening already, her

[2019-03-29 06:52] agwells commented on #234
Actually, it looks like it is probably a variation on this one: https://github.com/Microsoft/TypeScript/issues/29672

I'll go ahead and close this issue then.

[2019-03-29 06:52] #234 closed, assigned to nobody

[2019-03-29 08:14] johnnyreilly commented on #234
Brilliant! Great investigation! Well done ❤️🌻

[2019-03-29 18:00] mszczepanczyk opened #236 "CPU usage on idle?"
I added checker to the build process in our app and after a while I started getting complaints about high CPU usage with `webpack --watch`. Interestingly only windows people raised it. I've tried to investigate the issue on my macOS and realized the checker processes use quite a lot of CPU resources even when idling:

![image](https://user-images.githubusercontent.com/286129/55252115-6661eb80-5252

[2019-03-29 23:07] piotr-oles commented on #236
Could you provide more information about your setup? The best option would be a bug reproduction repository and information about your OS and hardware. If you are not able to create bug reproduction repository, send at least your webpack config :)

[2019-03-31 12:18] kelly-tock opened #238 "utilize ts 3.4 build cache to improve startup time"
TS 3.4 just came out, and i'm wondering if it is possible to use this to speed things up?

I have set the incremental flag in my tsconfig, but don't see the build info being generated when going through webpack, only through the `tsc` command.

is it possible to utilize this within the context of this plugin?

[2019-03-31 14:03] johnnyreilly commented on #238
It's possible changes may need to be made to accommodate this. We're open to PRs on that front. This may be useful context: https://github.com/TypeStrong/ts-loader/issues/913

[2019-03-31 21:55] jesantana opened #239 "Incomplete error format when async: false"
I have a project with the following karma.conf.js

[code]

When I introduce a compilation error in typescript, I can't see the source file but just the lines and type of error

`(12,9): Type '"2"' is not assignable to type 'number'.
(12,9): 'i' is declared but never used.`

I tried adding
`formatter: ((message, useColors) => JSON.stringify(message))` to the plugin but didn't achieve anything.

Any

[2019-04-01 19:11] mszczepanczyk commented on #236
@piotr-oles hey, thanks for getting back!

I've tried to replicate the problem in a new repo with similar setup, and some auto-generated typescript files but the worst I'm getting so far is ~4% cpu on idle. It kind of feels like the number is slowly getting higher with more ts files but it's hard to tell as it jumps around and my dumb ad hoc generator quickly exceeds available stack size. I couldn

[2019-04-03 20:26] n8sabes commented on #228
Any new insights on this? I recently upgraded packages and now experiencing this same "Files successfully emitted, waiting for typecheck results..." message and horridly long build times that tax the proc. The problem occurs with TypeScript 3.4.1 and rolling back to TypeScript 3.3.3333 resolves the issue. It may be related to the new incremental build option..??

[2019-04-04 10:49] bestseob93 opened #240 "compile speed in my project slower than cra"
hello. i'm using same setting as Create React App in my webpack.config.js.
[code]
but with same sources initial time
in *my environment*: 100775ms
in *Create React App*: 1377ms

is there any solution for this? :D

[2019-04-04 13:33] bestseob93 commented on #240
oops this was typescript problem..

typescript 3.4.1 is very slow...

[2019-04-04 13:33] #240 closed, assigned to nobody

[2019-04-05 04:48] n8sabes commented on #228
This issue appears narrow in on the root cause, a conflict between Typescript 3.4.1 and styled-components@4.2.0:

Microsoft/TypeScript#30663

[2019-04-05 16:25] taylortdixon commented on #236
I'm not able to share the repository I am working on, but I am seeing this same issue, where it's getting up to 40% on idle.

![fork-ts](https://user-images.githubusercontent.com/3150886/55642200-11136600-578d-11e9-9938-9e6f7a4ea843.png)

System Information:
Microsoft Windows 10 Pro 10.0.14393 Build 14393
i7-6820HQ  2.70GHz 4 Cores

Dependencies:
fork-ts-checker-webpack-plugin: 1.0.1
Typescript 3.

[2019-04-05 17:03] johnnyreilly commented on #236
As part of your tweaking I suggest dropping happypack and starting to use the incremental API. Check out the config here for inspiration: https://github.com/TypeStrong/ts-loader/blob/master/examples/fork-ts-checker-webpack-plugin/webpack.config.development.js

Stopping using happypack might reduce the resource usage significantly

[2019-04-05 23:50] n8sabes commented on #228
This issue was just resolved and should be closed. See: Microsoft/TypeScript#30663

[2019-04-06 05:37] #228 closed, assigned to nobody

[2019-04-07 08:59] jesantana commented on #239
Ok, I found that fork-ts-checker-webpack-plugin when configured with async = false is emmitting errors to webpack for it to log them once it regained the control of execution.

The code that create the errors is like this:

[code]

and the output message that I am getting matches with the field `formatted.message`. Is it ok that the default field with error message send back to webpack doesn't con

[2019-04-07 13:51] johnnyreilly commented on #239
Are you saying that the formatter *isn't* used when in `async: false` mode? Can you supply a link to the part of the codebase you're looking at please?

[2019-04-07 17:27] jesantana commented on #239
Rigth. In `async: false` when there is compilation error, the `createEmitCallback()` function execute the code I sent before around line 786 (not calling the formatter but returning an error object), and I guess that since the emit phase ended wrongly, webpack output part of the error messages and execution is finished.

On the other hand, if I change to async: true, the formatter (only called in

[2019-04-07 17:48] johnnyreilly commented on #239
Could you upgrade the versions of webpack / fork-ts-checker-webpack-plugin you're using please? I'm keen to know whether this is a current issue.

It might be easier if you raise a PR to illustrate the suggestion you have in mind. Feel free to do that initially without tests whilst we talk this through.

If we want to go ahead with this we can discuss tests then

[2019-04-08 23:29] GeorgiosP opened #242 "Run times have a sharp increase after upgrade to packages."
running into an issue when upgrade my react app compile time has gone from ~4000ms to over ~70,000ms+ seems to be directly linked to `fork-ts-checker-webpack-plugin`

[Webpack Profiler](https://cl.ly/64a4fe495836)
[After emitting finishes](https://cl.ly/a1ff57671567)

### tsconfig
[code]

### webpack
[code]

[2019-04-09 07:44] johnnyreilly commented on #242
If you could investigate what's causing that, it would be very helpful @GeorgiosP 😊

By the way, having `async: false` rather than `async: true` will mean you have a slower experience.

[2019-04-09 15:23] GeorgiosP commented on #242
I'll give that a shot, and when I have some free time I'll do some more investigating 😄

[2019-04-10 16:27] donifer opened #244 "Why is it trying to lint js files?"
This may be a stupid question since I can't find anything in the issues about it. Getting a ton of logs that look like this:

If I try `silent: true` it still logs them

I'm not sure why its trying to lint .js files :thinking:

My tsconfig.json has `"include": ["src/**/*.ts", "src/**/*.tsx"]`

Using ts-loader + babel-loader.

What am I doing wrong? Preferably I don't want to manually set `reportFi

[2019-04-10 17:10] donifer commented on #244
Not an issue of this repo, my bad. Fix described in https://github.com/palantir/tslint/issues/3735 for future reference.

[2019-04-10 17:10] #244 closed, assigned to nobody

[2019-04-11 07:58] delaaxe commented on #236
I have the exact same issue on Windows 10 using this via create react app v2.1.8

[2019-04-12 23:56] zackschuster opened #245 "typescript errors on `moduleResolution` with `useTypescriptIncrementalApi: true`"
[relevant config](https://github.com/zackschuster/configs/blob/master/webpack.merge.js)

`fork-ts-checker`: 1.2.0
`ts-loader`: 5.3.3
`typescript`: 3.4.4

error text:
[code]

manually setting the `moduleResolution` in `CompilerHost` removes the error, though it does break typescript lib detection:

[code]

this is the best i've been able to find so far; not sure what else to do if i want the featur

[2019-04-13 07:57] johnnyreilly commented on #245
If you provide a minimal repro repo that would help someone look into the issue

[2019-04-13 20:30] jesantana commented on #239
My bad, on latest is not reproducible. I totally thought I was running on it but I wasn't.

The problem seems to be fixed by this pull requests:

[https://github.com/Realytics/fork-ts-checker-webpack-plugin/commit/fa466c688b747e06e4e955acbf1ec6cc9870f88e](https://github.com/Realytics/fork-ts-checker-webpack-plugin/commit/fa466c688b747e06e4e955acbf1ec6cc9870f88e
)

I guess this issue can be closed.

[2019-04-13 20:31] #239 closed, assigned to nobody

[2019-04-15 10:24] ajkettun commented on #236
Same issue here (Win 10). Upgraded from 0.4.6 to 1.0.1. 1.0.1 uses about 10% CPU, 0.4.6 practically none.

[2019-04-16 06:41] Ky6uk opened #247 "Support other kind of TSLint configuration files"
Right now it supports only `tslint.json` file but TSLint is supporting other formats, YAML for example.

[2019-04-16 07:24] johnnyreilly commented on #247
Tslint is now deprecated - as such we're unlikely to add further support for it. See details here: https://github.com/Realytics/fork-ts-checker-webpack-plugin/issues/203

[2019-04-16 07:25] #247 closed, assigned to nobody

[2019-04-17 11:06] NeKJ commented on #236
@johnnyreilly

I have the same issue with my system:

Windows 10 1809 x64
Node 10.15.1
Typescript 3.4.2
Gulp 4.0.0
ts-loader 5.3.3
webpack 4.29.6

I just tried your suggestion and changed to ts-loader to transpileOnly with the `useTypescriptIncrementalAPI` enabled:

![image](https://user-images.githubusercontent.com/5416165/56282939-0952aa80-6119-11e9-8b68-073031c61833.png)
![image](https://user-i

[2019-04-17 11:46] 0xorial commented on #236
I think I had some improvement when I tried setting environmental variable TSC_NONPOLLING_WATCHER = '1'.
[More info](https://www.typescriptlang.org/docs/handbook/configuring-watch.html)

[2019-04-18 07:22] roni-frantchi commented on #118
This was a lifesaver https://github.com/Realytics/fork-ts-checker-webpack-plugin/issues/118#issuecomment-399227381 .
Thanks @samijaber !

[2019-04-18 15:17] zackschuster commented on #245
working on getting a repro together :)

[2019-04-18 17:47] NeKJ commented on #236
I read the link and figured out that this is the correct setting to use:

`set TSC_WATCHFILE=UseFsEvents`

I tested it and indeed cpu usage on idle is 0.0% without any issues (so far) watching and recompiling the files upon change.

[2019-04-18 18:43] johnnyreilly commented on #236
Is this PR-able? I'd be interested in baking in better default behaviour if we can.

[2019-04-18 19:11] NeKJ commented on #236
Yeah I guess so. Probably we could also bake in a new option too, that you could switch from polling to fsevents.

[2019-04-18 19:19] johnnyreilly commented on #236
If you'd like to try something out we'd be very grateful ❤️

[2019-04-18 19:35] NeKJ commented on #236
sure :)

[2019-04-20 07:51] #181 closed, assigned to nobody

[2019-04-20 12:18] alexkirsz opened #254 "`compilerOptions.paths` not taken into account without the `vue` flag"
## Current behavior

My `tsconfig.json` features the following code:

[code]

But when I run my webpack compilation, the plugin repeatedly complains that it cannot find modules prefixed with `"@/"`, i.e.:

[code]

Results in:

[code]

However, passing the flag `vue: true` to the plugin's options fixes the issue.

## Expected behavior

The `compilerOptions.paths` option should always be taken into

[2019-04-20 13:32] johnnyreilly commented on #254
I think you're missing the https://www.npmjs.com/package/tsconfig-paths-webpack-plugin - details here:

https://github.com/TypeStrong/ts-loader/blob/master/README.md#baseurl--paths-module-resolution

[2019-04-20 13:32] #254 closed, assigned to nobody

[2019-04-20 16:45] NeKJ commented on #236
PR ready, check it out :)
https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/256

[2019-04-21 17:51] phryneas opened #257 "Re-Evaluate supported TypeScript versions, open bugs in older versions"
I just executed the current test suite against all supported TypeScript versions. The results aren't too promising:
https://travis-ci.org/phryneas/fork-ts-checker-webpack-plugin/builds/522776393

Here's a collection of the failing tests:

## [TS 2.1](https://travis-ci.org/phryneas/fork-ts-checker-webpack-plugin/jobs/522776394)
    General:
    1) should not mark warnings as errors when ignoreLintW

[2019-04-21 18:04] #224 closed, assigned to nobody

[2019-04-21 18:26] kaykayehnn opened #258 "tsconfig paths resolution not working in v.1.1.0"
## Current behavior
Path aliases specified in tsconfig are not resolved, resulting in resolution errors.

## Expected behavior
TS path aliases are resolved as in previous versions. The issue is not present in v1.0.4

## Issue reproduction repository
https://github.com/kaykayehnn/fork-ts-checker-webpack-plugin-paths-bug

## Steps to reproduce the issue
[code]

## Environment
 - **fork-ts-checker-we

[2019-04-21 20:13] phryneas commented on #257
So I tried hunting down this `should not mark warnings as errors when ignoreLintWarnings passed as option` test's error.

It boils down to the test finding an error that is not found with later TS versions:
[code]

Honestly, looking at the tests I would also expect to see this behaviour in TS >= 3.0 :weary:

Do you have any explanation? Did searching for source files somehow change with 3.0?

[2019-04-22 03:16] JasonIsGithubbin opened #259 "TypeError: Cannot read property 'options' of undefined"
[code]

[2019-04-22 04:22] johnnyreilly commented on #257
This is a very sad thing!

When you mentioned that I remembered a change we made when we 1 point oh-ed: https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/CHANGELOG.md#v100

You get different behaviour for error reporting with the incremental API:  https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/198#issuecomment-453790649

Essentially, the compiler starts repo

[2019-04-22 04:33] johnnyreilly commented on #258
Is it resolved if you add https://www.npmjs.com/package/tsconfig-paths-webpack-plugin to your setup?

https://github.com/TypeStrong/ts-loader#baseurl--paths-module-resolution

[2019-04-22 04:41] johnnyreilly commented on #259
Closing as insufficient information

[2019-04-22 04:41] #259 closed, assigned to nobody

[2019-04-22 04:51] johnnyreilly commented on #258
Tried the plugin.  It didn't work.  I believe this is a regression.

Given the nature of the issue is paths resolution, that's definitely something we want to get right for both PnP and not 😁

Anyone bumping on this should pin to 1.0.4 for now. Apologies for the disruption.

If @arcanis gets a chance to look at this then hopefully we can get a fix in.  Otherwise I'll look at potentially reverting

[2019-04-22 07:01] arcanis commented on #258
Oh no! Will take a look today, thanks for the repro repo!

[2019-04-22 07:09] johnnyreilly commented on #258
Thanks @arcanis! I really appreciate it ❤️

[2019-04-22 07:17] arcanis commented on #258
To be sure: even in 1.0.4 the plugin is meant to be required, right? I tried downgrading on the repro repo with the same error.

[2019-04-22 07:28] johnnyreilly commented on #258
Interesting. I didn't try downgrading to 1.0.4 - just adding in https://www.npmjs.com/package/tsconfig-paths-webpack-plugin - thinking that was the issue.

I just tried downgrading to 1.0.4 and the same error presents.  My `package.json` looks like this:

[code]

My `webpack.config.js` looks like this:

[code]

Given there's 2 thumbs up for this issue I think we are likely to have a regression.

@

[2019-04-22 08:03] arcanis commented on #258
It seems like there's a design flaw in the TS `resolveModuleNames` API. The `options` parameter is required to call `ts.resolveModuleName`, but it's never passed to `host.resolveModuleNames`.

The documentation seems to directly pass the options used for `createProgram`, but that doesn't seem work with `createWatchProgram` which creates the options itself. As a result the options are currently emp

[2019-04-22 08:06] phryneas commented on #257
Unfortunately, this is not a `useTypescriptIncrementalApi: true` thing - I did not execute those tests for TS<2.7 and am getting the most errors for these versions nonetheless.

The error in questions occurs for both `useTypescriptIncrementalApi: false` and (in >=2.7) `useTypescriptIncrementalApi: true` in the same way :/

On the other hand, we have no additional failures with `useTypescriptIncrem

[2019-04-22 08:39] johnnyreilly commented on #258
That's really helpful! The output of this could be us opening an issue with the TypeScript repo and seeing if it's possible that could change. Fingers crossed that isn't necessary but it's worth trying. They are helpful and wonderful people 😁

[2019-04-22 08:40] johnnyreilly commented on #257
Good shout.

[2019-04-22 08:50] arcanis commented on #258
Yup! In the meantime I opened #260 with a fix.

To people affected by this bug, you can workaround it right now by disabling the incremental API:

    new ForkTsCheckerWebpackPlugin({
      useTypescriptIncrementalApi: false,
    })

[2019-04-22 08:59] kaykayehnn commented on #258
Sorry about the repo, I hadn't added `tsconfig-paths-webpack-plugin`. Now it should be working with 1.0.4 and throw with 1.1.0

[2019-04-22 11:18] phryneas commented on #257
New finding:
https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/3990a135cb93e336ef0890061f6c360e7efc2f4d/test/integration/index.spec.js#L178

All tests running `helpers.testLintAutoFixTest` are not passing the `useTypescriptIncrementalApi` option at all, so for TS>=3.0, these tests are always running with the default value of `useTypescriptIncrementalApi: true`, even if the tests tha

[2019-04-22 11:26] johnnyreilly commented on #257
How many are in that camp? [hands over eyes]

[2019-04-22 11:28] phryneas commented on #257
Just four. Assuming I haven't missed anything else.

[2019-04-22 11:59] johnnyreilly commented on #257
cool - which ones are they? are they all tslint related?

[2019-04-22 12:00] phryneas commented on #257
* "should not print warnings when ignoreLintWarnings passed as option"
* "should not mark warnings as errors when ignoreLintWarnings passed as option"
* "should fix linting errors with tslintAutofix flag set to true"
* "should not fix linting by default"

so yes, all linting-related.

[2019-04-22 12:01] phryneas commented on #257
But I think I found something far more concerning.

I just copied the files from the test over to a copy of https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin

In `useTypescriptIncrementalApi: true` mode I'm not getting any errors even though the files themselves are full of errors.

I'll make a production repo, maybe you can tell me what's going on there..

[2019-04-22 12:13] phryneas commented on #257
You can check out this branch.
https://github.com/phryneas/fork-ts-checker-webpack-plugin/tree/reproduce-useTypescriptIncrementalApi-missing-errors

`yarn start` and `yarn build` show no errors, even though there is one right in `index.ts`.
Turning on `checkSyntacticErrors` finds errors though - but still misses the semantic error in `index.ts`.

[2019-04-22 12:14] johnnyreilly commented on #257
Just saw your thing - the below was made by using the ts-loader example

![Screenshot 2019-04-22 13 14 13](https://user-images.githubusercontent.com/1010525/56499925-96727680-6500-11e9-85a3-b8f6d666b70d.png)

[2019-04-22 12:17] phryneas commented on #257
Yup, it's an edge case with the test suite here.

As long as that syntactic error exists there, the ApiIIncrementalChecker bails on that syntactic error. Due to a syntactic error being present, the semantic errors are never found.
And as semantic errors are not being reported per default, `fork-ts-checker-webpack-plugin` happily reports
[code]

[2019-04-22 12:19] johnnyreilly commented on #257
okay cool.  Heart attack over 😄

[2019-04-22 12:20] phryneas commented on #257
So having the syntactic error there essentially nullifies all other tests.

Also, this might be highly confusing in production. In this specific case, `ts-loader` never reports the error in `syntacticError.ts` because it never is processed by webpack (it is not referenced anywhere), but `fork-ts-checker-webpack-plugin` thinks `ts-loader` reported an error and outputs `No type errors found`.

[2019-04-22 12:22] phryneas commented on #257
Yup, had the same heart attack until I re-stumbled over this by accident by reading the README xD.

But this is still concerning - the case I described above might really impact real-life projects out there.

Just go to your project, create a rogue `error.ts` with the contents `const array = [{} {}];`.
As long as that file is not imported from another file, you will not get any more error reports.

[2019-04-22 12:32] johnnyreilly commented on #257
Yes - granted. All suggestions to help fix this are welcome 🤗

I'm not certain what the best way forward here is.

[2019-04-22 12:37] phryneas commented on #257
Hmm. Off the top of my head, I can think of three things:

* even when `checkSyntacticErrors === false`, instead of emitting `No type errors found`, emit something like `There are semantic errors that block type checking. Please correct the errors in ${fileName} to get type checking again`
* override `typescript.emitFilesAndReportErrors` to continue checking after syntactic errors were found. Seei

[2019-04-22 13:00] johnnyreilly commented on #257
In the scenario you discuss above I think you're suggesting that ts-loader *won't* report the  syntactic error and fail the build. Is that right? If so that's disappointing.

Options 1 and 3 sound interesting. Simplicity of use remains a strong motivation of the plugin. I'd be curious to hear you talk through the developer experience of using each.

(Bearing in mind that the typical user of the pl

[2019-04-22 13:10] phryneas commented on #257
No, ts-loader will not fail the build, as it is a syntactic error that does not affect the build at all. (It is not directly referenced in webpack and not imported by any file directly referenced by webpack). The build will succeed without any errors.

fork-ts-checker-webpack-plugin on the other hand sees a syntactic error and does not report errors, assuming that the build has failed. After all,

[2019-04-22 13:37] johnnyreilly commented on #257
Cool - what do you think the option of generally steering people to do all type checking with the fork-ts-checker-webpack-plugin? Codewise there's technically nothing to do. They can achieve the same goal right now by using ts-loader with `happyPackMode: true` and fork-ts-checker-webpack-plugin with `checkSyntacticErrors: true`.

Obviously having to supply those two options is rubbish. But if we'r

[2019-04-22 13:52] phryneas commented on #257
I think that's a good option too, but it would need an update to `ts-loader` and `fork-ts-checker-webpack-plugin` at the same time through the user, or a change to configuration. I can kind of see that being error-prone :/

As for option 3., I have got that one working.

In `service.ts`, directly after `const typescript: typeof ts = require(process.env.TYPESCRIPT_PATH!);`:

[code]

This makes the

[2019-04-22 13:59] #258 closed, assigned to nobody

[2019-04-22 14:37] piotr-oles opened #266 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-04-22 14:51] johnnyreilly commented on #266
Sadness. I believe in you @piotr-oles!

[2019-04-22 15:14] piotr-oles commented on #266
I think it's from the old commit that was broken - I will close it and wait for the latest job to finish :)

[2019-04-22 15:14] #266 closed, assigned to nobody

[2019-04-22 16:00] #242 closed, assigned to nobody

[2019-04-22 16:04] phryneas commented on #257
Question is: how would you like to go on from here?

While option 3) feels a bit hacky at first sight, it is essentially how #231 would work internally, so this could be a first step in that direction.
If you would be comfortable with that, I could create a PR based of #253 that fixes the tests and implements this workaround.

That should clear all errors for >=2.6. From then, I could investigate

[2019-04-22 17:07] johnnyreilly commented on #257
And yet you don't want to use proxies? 😉

Great question...

Your plans sound good. I say go for it! Any thoughts @piotr-oles?

[2019-04-22 17:13] phryneas commented on #257
Nah, the proxies are out of there for a while. Actually, while those things are interesting, it's _really_ easy to shoot yourself in the foot with them. Make a change somewhere down the road and you got an infinite loop that's really difficult to debug (especially for future contributors). All that remains is the name of that PR :grin:

[2019-04-22 18:02] JasonIsGithubbin opened #267 "TypeError: Cannot read property 'options' of undefined"
## Current behavior
[code]

## Steps to reproduce the issue
I am running webpack, using the basic config laid out in README.md, with grunt-webpack. The issue seems to be that `this.compiler` is not set here:

[code]
## Environment
"grunt": "1.0.3"
"ts-loader": "5.2.1"
"webpack": "4.20.2"
"grunt-webpack": "3.1.3"

[2019-04-22 18:27] piotr-oles commented on #257
The option 3 looks reasonable - as far as I understand we don't make breaking change with that option.

Speaking about moving forward - in my opinion this plugin became hard to maintain. We have to take care about:
 * IncrementalChecker
 * ApiIncrementalChecker
 * TsLint
 * VueProgram

keeping compatibility with many typescript, webpack and tslint versions. We need to revise the architecture of th

[2019-04-22 18:54] johnnyreilly commented on #257
Agreed - if you'd like to open an issue that's probably a good start.  Here's my initial thoughts:

When we get to the point where ApiIncrementalChecker can do all of the things IncrementalChecker can then I'm totally sold!  That's not where things are now; but hopefully that will happen...

Yup - that's what https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/231 is ideally going to

[2019-04-22 19:19] phryneas commented on #257
@johnnyreilly I'm honored that you consider that. One thing though, just to get this off my chest: I can't make any guarantees how much time I can/will spend with this project in the future - but if that is okay, I'd be happy to continue contributing and try to stick around for a while. This is very much fun :)

[2019-04-22 19:38] johnnyreilly commented on #267
Can you replicate it using this repo? https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin

[2019-04-22 19:42] johnnyreilly commented on #257
It's fine with me - people come and go.  That's to be expected.  But I'm always keen to make the best of people when they have time and energy to spare.  Doing open source well is very much about catching the wind when it blows your way ⛵️ 😉

[2019-04-22 19:43] GeorgiosP commented on #242
hey @johnnyreilly I haven't forgot about this just been super busy sorry. update: I can't seem to decipher the issue here I know not super helpful but if I end up finding something will pass it along.

[2019-04-22 20:31] piotr-oles commented on #257
@phryneas Invitation sent - welcome aboard 🚢

[2019-04-23 16:54] phryneas commented on #267
From what I can see, this exact error could only occur if [ForkTsCheckerWebpackPlugin.apply](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/src/index.ts#L264) is called with `undefined` or no arguments.

This seems to be more of a bug with `grunt-webpack` or `webpack` itself, as usually `webpack` would call the `apply` method.

To further narrow it down, could you try turn

[2019-04-23 18:02] phryneas opened #269 "Add an example `tasks.json` to README?"
This is just something I was missing and that kept me personally from using fork-ts-checker-webpack-plugin in a few projects: integration with with the "Problems" tab in vscode.

But as I'm starting to dogfood now, too, I did a bit of googling and found https://code.visualstudio.com/docs/editor/tasks#_defining-a-multiline-problem-matcher which describes the process of defining `yarn watch` as a vs

[2019-04-23 20:20] johnnyreilly commented on #269
I don't use these myself but you're not the first person to raise it. So I think we should add it.

I don't have strong feelings either way. Totally don't mind. @piotr-oles any views?

[2019-04-23 20:40] piotr-oles commented on #269
Would be great to split `README.md` and make it more clear :) Please feel free to improve English as well - I'm not a native speaker :)

[2019-04-23 22:07] phryneas commented on #257
I'm just running the tests again for the current `1.2.0-beta.4`. Looks promising: https://travis-ci.org/phryneas/fork-ts-checker-webpack-plugin/builds/523703738

From what I see:

* from 2.1 to 2.4, there is only one non-vue test left failing: "should support custom resolution" - as this was just added recently with #260, maybe @arcanis could take a look if it is possible to get that to work with

[2019-04-23 22:17] arcanis commented on #257
I can take a look but not before next week at the earliest. In the meantime maybe they can be skipped? 2.5 is almost two years old 😅

[2019-04-23 22:26] phryneas commented on #257
@arcanis no worries, those are not the regular tests :grinning:
I just took a moment and executed the test suite against all TS versions we officialy support at the moment, so it would be great to get that going again - otherwise we'd have to drop support for older TS versions - but I don't think this is too urgent ;)

[2019-04-24 05:18] johnnyreilly commented on #257
Frankly I'm happy with us just not supporting < 2.5

We should technically do a breaking change for that (and we likely will in future). But given how old that is, and that no-one is really knocking down our door about this, the pragmatist in me is fine with this. 😁

Interestingly, in ts-loader we have tests that are only executed when we are above a certain version of TypeScript: https://github.c

[2019-04-25 19:18] piotr-oles opened #270 "Create Roadmap and Architecture plan for this plugin"
As we discussed in the #257, we need a Roadmap to plan future work on this plugin. Here is the place to share our ideas and drafts :)

[2019-04-25 20:46] marcusjwhelan opened #271 "Heap out of memory `memoryLimit` issue in ForkTsCheckerWebpackPlugin"
## Current behavior

Upgraded to start using electron-webpack and upgraded all our packages to newer versions.

## Expected behavior

Typescript and webpack should compile code

## Steps to reproduce the issue

use electron webpack with typescript?

## Issue reproduction repository

## Environment
 - **fork-ts-checker-webpack-plugin**: [version from the `package.json`]
in node modules under /elect

[2019-04-25 21:54] johnnyreilly commented on #271
Could be worth upping your `memoryLimit`

https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/README.md#options

[2019-04-25 22:45] marcusjwhelan commented on #271
@johnnyreilly  I moved the memory to 8192 but still failed with the same error just takes a little longer. I believe after talking to someone from electron-webpack that my issue could be a memory leak having to do with Typescript itself.

[2019-04-27 13:06] phryneas commented on #270
So... I'll try and gather some thought.

# Step 1: Tests

Honestly, after #253 and #268, where I discovered that many tests were just testing nothing my first priority would be to get the test suite into a better state.
(Something along the lines of there were tests testing for 0 errors after a compile, but they initialized against a folder without sources in it, so they would always get 0 errors)

[2019-04-27 16:17] johnnyreilly commented on #270
Agree with all points 😀

I'd rather just have one checker. I'd rather that checker was `ApiIncrementalChecker` as it's faster. That would mean dropping support for < TS 2.9. I am fine with that. I don't think the multi process IncrementalChecker thing is advantageous when you compare to the speed of the ApiIncrementalChecker.

[2019-04-27 21:09] phryneas commented on #270
@johnnyreilly in #257 you said that the `ApiIncrementalChecker` does not support everything the `IncrementalChecker` does.
Besides vue support and multithreading - are there any other things that are still missing?

As for timing: I've got three rough weeks ahead of me. I'll try to sneak some work on the tests in, but bigger chunks of work will have to wait until after mid-may.

[2019-04-28 05:16] johnnyreilly commented on #270
Besides vue support and multithreading - are there any other things that are still missing?

We need Vue support. I don't think we need multithreading. When @0xorial contributed the `ApiIncrementalChecker` https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/198 I believe there was some conversation around why it wasn't feasible / advantageous to have the multi-threading. Either way; w

[2019-04-28 20:44] piotr-oles commented on #270
@phryneas - good job! :) I agree with @johnnyreilly that multi-threading is a something we can give up. To make multi-threading type-checking reasonable, there would be needed changes in the TypeScript architecture. The required changes are:
 1. serialization friendly TypeScript AST (so called SourceFile)
 2. asynchronous API in CompilerHost (so we could share SourceFiles between threads using for

[2019-04-29 05:00] swashata opened #273 "Difficulty with webpack multi-compiler and plugin hooks"
## Feature motivation

Right now, the way the plugin's hook system and webpack multi-compiler works, it makes it quite difficult to actually get the plugin hooks. For example, let's say we have

[code]

In such multi-compiler setup, we can not hook into fork-ts-checker hooks from the multi-compiler instance.

## Feature description

However, we can loop over `compilers` property to get the actual

[2019-04-29 05:16] johnnyreilly commented on #273
I wasn't actually aware of the multi compiler thing at all, so a docs PR would definitely be appreciated! Changing the behaviour in the way you suggest seems potentially useful. It would be backwards compatible by the sounds of it.

If you're game, maybe we could get a docs PR first. Merging that should be no problem at all.

Then if you wanted to raise a prospective pr which implements the change

[2019-04-29 05:40] swashata commented on #273
That sounds like an idea. I will work on the docs first from my understanding. I will also show you the code which is responsible to properly hook into this plugin for both single compiler and multi-compiler. Maybe we can proceed from there.

[2019-04-29 06:18] swashata commented on #273
So this is the piece which determines whether it is a multi-compiler or not.

https://github.com/swashata/wp-webpack-script/blob/b355d9d8bc0815a7f408dd72bf9187299d49ef82/packages/scripts/src/scripts/Server.ts#L382-L393
[code]

I don't know of any other method to figure out the type of compiler it is. I will work on the docs for hooks.

[2019-04-29 07:27] johnnyreilly commented on #273
cc @sokra @thelarkinn - do have any thoughts on this? Feels like there might be something worth considering in here around the general webpack compiler hooks API?

[2019-04-29 21:55] marcusjwhelan commented on #271
@johnnyreilly I also made a simple repo with what I used. It works just fine. However as I add more reducers/Actions the application then crashes with the same error.

[2019-04-29 22:22] phryneas commented on #271
@marcusjwhelan could you share that repro so I could take a peek? (No guarantees though.) Sometimes there are just TS patterns that lead to a looot of memory consumption.

[2019-05-03 04:36] xinbenlv commented on #209
+10000000000

[2019-05-03 04:39] xinbenlv commented on #209
@fastfedora you want to update your link to code to https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/4537c161e26a4961663236e208644ddd3d84a9ca/src/VueProgram.ts#L273 (permlink)

[2019-05-03 05:15] johnnyreilly commented on #209
Sounds good. Would you like to submit a PR?

[2019-05-03 12:56] fastfedora commented on #209
I no longer am on the project I was using Vue for, so have no easy way to test the code for a PR. But a decent fix would be to change [lines 313-317](https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/dfd8933f23da7ca72aa3a864e5811725146323d4/src/VueProgram.ts#L313-L317) from:

[code]

To:

[code]

[2019-05-03 18:11] marcusjwhelan commented on #271
@phryneas  https://github.com/electron-userland/electron-webpack/issues/280
https://github.com/marcusjwhelan/testingproj

While using `electron-webpack` is how I get this issue. That link to that project, that project works just fine, however, as you add more redux/actions to the structure of the application it will memory leak out, No matter the memoryLimit set.

[2019-05-03 18:34] phryneas commented on #271
First thing I am noticing: you are including all .d.ts in node_modules which will include these in the typecheck - usually those should be automatically included as they are the default value of `typeRoots`. Does everything keep working when you remove them from `include` in the `tsconfig.json`? If not, try using `compilerOptions.typeRoots` instead of `include` for those.

PS: just invoking `tsc -

[2019-05-03 19:03] johnnyreilly commented on #271
I'm considering a `skipLibCheck` tattoo. Or I would be if I wasn't already filled with regret about the `noImplicitAny` one I got one drunken night in 2014

[2019-05-03 19:11] phryneas commented on #271
Apart from `skipLibCheck` and the node_modules thing I don't see anything glaring. That project is not using much advanced type magic, so I don't understand why it could take so long. But this is definitely a TypeScript problem - maybe you could open an issue over there? A project of that size should not consume that many resources.

[2019-05-04 20:21] yacut commented on #267
FYI: version 0.5.2 works perfectly

[2019-05-06 10:04] phryneas commented on #271
Another thing that just came up in a conversation with colleague: you should not import from `@material-ui/icons` directly.

Do `import Close from "@material-ui/icons/Close";` instead of `import {Close} from '@material-ui/icons'`

maybe that helps

PS: the same thing, albeit with a lower impact applies to `@material-ui/core`

[2019-05-06 10:06] phryneas commented on #271
Also, you might consider downgrading to TS 3.3: https://github.com/Microsoft/TypeScript/issues/30663

[2019-05-07 13:08] harrybin commented on #236
Hi,
I also have this issue. In my real-world project the node process eats over 60% cpu.
First I thought it was an issue of the webpack-dev-server: https://github.com/webpack/webpack-dev-server/issues/1846
But after "evilebottnawi" said it must be a loader or plugin I was able to drag it down to fork-ts-checker-webpack-plugin.
The issue I created for webpack-dev-server (https://github.com/webpack/

[2019-05-09 19:16] phryneas opened #284 "Discussion: releasing"
CC @piotr-oles  @johnnyreilly

So as I noticed in #283, our current way of rebasing `beta` into `master` won't work. Github rewrites hashes even if there is no need to and this means, with every release, `master` and `beta` will be out of sync history-wise even if they contain commits with the same message etc.

Especially for future PRs, this is super-confusing.

So my idea: why don't we trigger

[2019-05-09 19:47] piotr-oles opened #286 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-05-09 20:39] johnnyreilly commented on #284
Are you saying that semantic release will never work without manual intervention?

I'm surprised if that's the case as that would kind of defeat the purpose of it to a certain extent. I mean to say: semantic release is supposed to remove friction from the release process. If I understand you correctly, given the way GitHub works, there is always going to be this added friction; literally having to

[2019-05-09 20:51] phryneas commented on #284
I guess that usually, people don't do the releases out of the github GUI, but they do it from the command line by doing something like
[code]
(on a side note: this is much more simple than what I wrote above and should absoutely do the trick - I was not aware of `--ff-only`.)

The thing we tried - doing a PR from beta to master to do a release - will never work with the current github PR UI.

So,

[2019-05-09 20:54] johnnyreilly commented on #284
What about if we got rid of the beta step - PRs off master again? Merging a PR to master triggers a release. Would that work?

[2019-05-09 21:00] phryneas commented on #284
Yeah, but we would lose @next - and I think that's quite valuable. I think it's nice that we can dogfood bigger changes for a few days and then decide to release them after a while.

PS: also, I had that idea of running only a subset of the tests on PR and the full suite with extra node versions etc. on a daily basis against `beta`.

PPS: I also asked here: https://spectrum.chat/semantic-release/g

[2019-05-09 21:05] piotr-oles commented on #284
https://github.com/semantic-release/semantic-release/blob/beta/docs/recipes/pre-releases.md here we have a workflow proposed by the semantic-release

[2019-05-09 21:24] johnnyreilly commented on #284
So are they manually having to fix up every PR to get the release working? That seems so unlikely.... Do we just have the recipe slightly wrong?

Have we forgotten to add salt? 😉

By the way, this issue looks problematic: https://github.com/Realytics/fork-ts-checker-webpack-plugin/issues/286

Maybe all semantic releases are triggered by command line...

Random other thought: can we use GitHub acti

[2019-05-09 21:31] phryneas commented on #284
Phew. that kind of looks like Merge-Commit hell :(
I mean, I understand that when you have multiple branches and sneak in fixes into master that don't go through beta before, you have to do that.

But still... not really appealing to have one merge-commit for every stage advancement :neutral_face:

[2019-05-09 21:51] phryneas commented on #284
@johnnyreilly  If we can manually trigger a github action, then we could use it to do that merge. And from there on, semanic-release could take over in travis - that would be quite elegant as we'd never have to leave github for it.

The only question is what event to trigger on.

Maybe `commit_comment` - so you could just comment "release this to master" on a commit and then the action merges that

[2019-05-10 05:02] johnnyreilly commented on #284
I may have jumped the gun here; GitHub actions are still in beta and there's actually very few events you can hook into as yet... (And I don't think you can trigger them manually - it's all about the events)

I've been thinking about this overnight (slept badly to be honest 😁)

Here's where I am right now:

1. we have a release process that I doesn't work without manual intervention

2. I don't un

[2019-05-10 11:48] piotr-oles commented on #284
I think I've got a wrong approach to the beta branch - it shouldn't be protected. It's more like a temporary branch to work on the experimental features.

My plan is to:

- [x] remove protection rule on the beta branch
- [x] update `CONTRIBUTING.md` file

The workflow would be:
1. create a `beta` branch if we want to work on the feature that is complex
2. merge when work will be done
3. remove `be

[2019-05-10 16:23] FishOrBear commented on #271
I just upgraded to the new version today and I have the same problem.

I tried to increase the memory, and roll back the ts version, there is no way to solve it.

      new ForkTsCheckerWebpackPlugin({ checkSyntacticErrors: true, memoryLimit: 5000 }),

[2019-05-10 16:49] johnnyreilly commented on #284
Sounds great! Go for it! 🥰

[2019-05-10 19:28] phryneas commented on #271
Could you please specify, which packages exactly you updated and from which to which version?

* did you only upgrade `fork-ts-checker-webpack-plugin`?
* did you also upgrade `typescript`?

[2019-05-10 19:42] phryneas commented on #284
I guess that would work :)

[2019-05-13 06:46] FishOrBear commented on #271
I am testing.

When I upgraded from 0.5.2 to the latest version.
     "fork-ts-checker-webpack-plugin": "^0.5.2",

Originally it took 11s, and it became 13s after the upgrade.

[2019-05-13 06:50] FishOrBear commented on #271
Node12
Typescript 3.3.4000
The latest `fork-ts-checker-webpack-plugin`

There will be no memory explosion problems.

I tried what it was caused.

[2019-05-13 08:11] #286 closed, assigned to nobody

[2019-05-13 08:14] piotr-oles commented on #284
I think we are ready to use the new flow - as contributors you have full control over `beta` branch - you can update it with `--force` flag in case of rebasing, you can remove it and create again.

[2019-05-13 10:46] FishOrBear commented on #271
This is a magical problem, I also encountered, I tried to roll back the package, but it will also trigger the problem of insufficient memory.

And I can compile smoothly on another computer.

[2019-05-13 10:59] johnnyreilly commented on #284
I'd like to test out the new flow. At the moment I'm not confident I can get a release out. I very much want to get back to the point where I feel I can make a release happen 😁

So I'm planning to raise a docs only PR against `master`, merge it and hopefully see a release flow out automatically. Codewise it'll be identical to what we have now but it will ensure we're simply releasable again.

Is t

[2019-05-13 11:13] piotr-oles commented on #284
I'm not sure if doc change will create a new release. As far as I know, we need a `fix`, `feat` or `BREAKING CHANGE`.

[2019-05-13 12:08] FishOrBear commented on #271
```tsc --noEmit```
I use this script to get the same result, should it be the error caused by typescript?

[2019-05-13 12:11] phryneas commented on #271
Exactly. That's why I'm asking about your TS version - 3.4 seems to have some problems regarding performance.

--
Sent from my Android phone with K-9 Mail. Please excuse my brevity.

[2019-05-13 12:37] FishOrBear commented on #271
3.3.x If properly installed, it will not cause memory leaks.

Originally I may not have correctly rolled back the typescript version.

Type checking can be done when `npm i typescript@3.3.4000` is used correctly.

So I think it might be a typescript 3.4.x and 3.5.x error.

Because I run `tsc --noEmit`, I get the same result.

[2019-05-13 12:58] johnnyreilly commented on #284
Okay maybe I'll do a `fix: test the new release process`. The new release should be identical codewise to the last one. (This is just checking we're in a state where releasing is simple.)

[2019-05-14 02:28] FishOrBear commented on #271
It should be the problem of this.
https://github.com/microsoft/TypeScript/issues/31227

use
`npm i typescript@3.3.4000` to solve the problem

[2019-05-15 14:32] marcusjwhelan commented on #271
I tried all versions after 3.3.400 and they all had the same issue. So sticking with TS 3.3.4 for now

[2019-05-15 15:55] reeywhaar opened #289 "Build passes if some import has filename with different case"
## Current behavior
Consider we have `src/SomeLib.ts` and import it as `import {something} from "src/someLib"`.
If SomeLib has type errors fork-ts-checker will give no hint about this. Even more, it completely misses all type errors in project and always builds with "no type errors found". Standard ts compiler will give errors and will warn that import filename case differs from original.

## Expe

[2019-05-15 19:04] phryneas commented on #289
Does this behave differently when you change `useTypescriptIncrementalApi` to true or false?

[2019-05-15 19:21] reeywhaar commented on #289
Nope, behaviour is same, whether it `true` or `false`

[2019-05-15 19:24] reeywhaar commented on #289
Oh, no, sorry, I've tested wrongfully. Setting `useTypescriptIncrementalApi` to `false` actually makes checker behave normal, except it doesn't give warning about case mismatch, but at least build fails.

[2019-05-15 20:03] johnnyreilly commented on #284
Just attempting the new workflow now. Unfortunately it looks like `prettier` isn't playing nice on Windows.  I did a change to the `README.md` and it errored out with this when I tried to `commit`:

[code]

I ended up doing the formatting in VS Code using the prettier extension and then committing.

[2019-05-15 20:04] phryneas commented on #289
Ah. What happens if you combine `checkSyntacticErrors: true` with `useTypescriptIncrementalApi: true`?

[2019-05-15 20:09] reeywhaar commented on #289
Aha, build fails!
[code]

[2019-05-15 21:02] phryneas commented on #289
So this is an interesting edge case.

Just to give you some background on this:
We have two different types modes we can run the type check in. One of them is the old mode - incremental: false. This has file discovery & watching written mostly by hand. The new mode is the mode that typescript uses internally with their file watcher.

Their version does an early exit if a syntactic error is found a

[2019-05-15 21:08] reeywhaar commented on #289
At your service, of course. Guess I should make test repo, since bug is legit.

[2019-05-15 21:16] johnnyreilly commented on #289
I too had not seen a global error in the wild either! 😁

But you can see the behaviour in the TypeScript incremental API here:

https://github.com/Microsoft/TypeScript/blob/abc861862ab7c08b07216ba2c4ede7ccefc1cc60/src/compiler/watch.ts#L134

To quote the comment:

[code]

So yeah, it looks like we should be catering for global errors in the same way we do for semantic errors.

Oh and a test to cov

[2019-05-15 23:11] reeywhaar commented on #289
So, made test repo https://github.com/Reeywhaar/fork-ts-checker-289

Funny enough, now I see that ts-loader behaves differently from project where I've found bug, In my project it reports all errors (type error, casing error). However, here it reports duplicated error.

[2019-05-17 07:19] johnnyreilly commented on #289
Yeah I'd expect ts-loader to be fine here. It generally doesn't use the incremental API. It has support through an (undocumented) option called `experimentalWatchApi`. But problems were reported with it and so I've never felt comfortable promoting it to be the default.

https://github.com/TypeStrong/ts-loader/blob/cc7b2b18fb30bb6b3a6b0e17fb2f2ee95ca55ac6/src/index.ts#L252

[2019-05-19 17:35] piotr-oles commented on #135
It looks like this bug is not directly related to the fork-ts-checker-webpack-plugin :)

[2019-05-19 17:35] #135 closed, assigned to nobody

[2019-05-19 17:36] #95 closed, assigned to nobody

[2019-05-19 17:40] #74 closed, assigned to nobody

[2019-05-19 17:40] #88 closed, assigned to nobody

[2019-05-19 17:41] #89 closed, assigned to nobody

[2019-05-19 17:42] #99 closed, assigned to nobody

[2019-05-19 17:43] #102 closed, assigned to nobody

[2019-05-19 17:44] #106 closed, assigned to nobody

[2019-05-19 17:45] #107 closed, assigned to nobody

[2019-05-19 17:47] #118 closed, assigned to nobody

[2019-05-19 17:49] #124 closed, assigned to nobody

[2019-05-19 17:50] #125 closed, assigned to nobody

[2019-05-19 17:56] piotr-oles commented on #155
Sorry that I respond a few months later - you can set up a specific directory in tsconfig.json. The goal of this plugin is to emit the same errors as you could get in your IDE or another tool - that's why `tsconfig.json` is a source of truth for this plugin.

[2019-05-19 17:56] #155 closed, assigned to nobody

[2019-05-19 19:47] johnnyreilly commented on #99
@piotr-oles maybe worth plugging in https://probot.github.io/apps/stale/ ?  I've started using it on ts-loader.  Really pleased I did!

[2019-05-19 21:07] piotr-oles commented on #158
Tested with version 1.0.0 with import * as ForkTsCheckerWebpackPlugin from 'fork-ts-checker-webpack-plugin'; - works :)

[2019-05-19 21:07] #158 closed, assigned to nobody

[2019-05-19 21:09] #161 closed, assigned to nobody

[2019-05-19 21:24] #192 closed, assigned to nobody

[2019-05-19 22:03] piotr-oles commented on #195
@johnnyreilly what is the status of this feature? :)

[2019-05-19 22:19] piotr-oles opened #292 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-05-19 22:44] piotr-oles commented on #292
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-05-19 22:57] piotr-oles commented on #292
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-05-19 23:07] #292 closed, assigned to nobody

[2019-05-21 18:16] phryneas commented on #289
Oh, great, this is a double-edge-case: It only fails on operating systems with case-insensitive file systems like OSX or Windows. On my Linux machine, this doesn't even get to the global error, because it already fails before that step. Gotta find a way to test that :D

[2019-05-22 06:50] #289 closed, assigned to nobody

[2019-05-22 07:34] piotr-oles commented on #289
:tada: This issue has been resolved in version 1.3.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin)
- [GitHub release](https://github.com/Realytics/fork-ts-checker-webpack-plugin/releases/tag/v1.3.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-22 21:15] alexkirsz commented on #207
I muted this error by adding `"**/*.json"` to my `linterOptions.exclude` array in `tslint.json`

[2019-05-23 15:27] edwingustafson commented on #271
Working flawlessly for me after upping the `memoryLimit` on the plugin itself via React App Rewired. (Because it forks, adjusting memory settings on the parent process don't help.)

config-overrides.js
https://gist.github.com/edwingustafson/ee786fe26c6a7fae394321a892698f64

Discovered my confusion by inspecting the command line via `ps wwwaux` on my development box: it showed the plugin's process

[2019-05-25 05:54] johnnyreilly commented on #236
To spread the knowledge about this issue (and the workaround) I've blogged it here: https://blog.johnnyreilly.com/2019/05/typescript-and-high-cpu-usage-watch.html

Hope it helps people reading this!

[2019-05-26 17:09] 0xorial opened #294 "Adding tests for incremental compilation."
## Feature motivation
I have a feeling that having incremental compilation tested will help to track some tricky bugs and provide some common ground for performance discussions. Also, I would like to try to do some more improvements on incremental compilation, but without tests around it I really feel uncomfortable changing anything...

## Feature description
I've written a simple [code generator]

[2019-05-26 21:26] phryneas commented on #294
From taking just a glimpse at it, that code generator looks like a lot of dark magic - very interesting :+1:

Generally speaking, performance tests would be great. But I also have some doubts:
* in the current CI, our test suite takes between 5 and 7 minutes, so we have a big deviation there. I'm not sure if we can counteract that. Maybe by calling `time` on the command line which counts actual CP

[2019-05-30 18:12] phryneas commented on #294
I've tried to find some real-life repos we could use in addition.

So far, these are what I've got: https://github.com/phryneas/fork-ts-checker-performance/tree/master/repos

I'll play around with compiling & measuring those a bit, but feel free to do your own tests on them :)

[2019-06-03 02:45] #49 closed, assigned to nobody

[2019-06-03 02:45] #160 closed, assigned to nobody

[2019-06-03 02:45] #164 closed, assigned to nobody

[2019-06-03 02:45] #168 closed, assigned to nobody

[2019-06-03 22:23] piotr-oles opened #296 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-06-03 23:07] #296 closed, assigned to nobody

[2019-06-04 20:04] stavalfi opened #297 "Equivalent for ts-loader's context"
## Feature motivation
https://github.com/TypeStrong/ts-loader#context-string-defaultundefined
This is a killer feature in complex projects.

In my specific use-case, I moved all my build related files (including tsconfig.json) to a different package (something like create-react-app is doing but in much more flexible way) in my mono-repo and everything is working great. it's just that i'm fighting

[2019-06-04 21:02] johnnyreilly commented on #297
Heya! Thanks for the complements! Maintainer of both ts-loader and fork-ts-checker-webpack-plugin here. It would be great to understand more about your use case. Could you go into some more details please?

Also, would you consider working on a PR?

[2019-06-04 22:05] stavalfi commented on #297
hihihi!

I'm working on a super Lerna-starter that pretty much includes everything there is to include. I'm not even close to finishing but anyways, here is a taste: https://github.com/stavalfi/lerna-starter  (just run `yarn` and you are good to go).

as part of my work, I found out that a lot of the sub packages (workspaces in yarn) has 90% of their build strategy in common. for example, packages

[2019-06-08 08:03] johnnyreilly opened #298 "Add docs for Yarn PnP usage"
This is a reminder for me to add docs to the project detailing how you can use `fork-ts-checker-webpack-plugin` with Yarn PnP.  (See: https://github.com/arcanis/pnp-webpack-plugin/pull/10#issuecomment-499367457 )

I've written a blog post: https://blog.johnnyreilly.com/2019/06/typescript-webpack-you-down-with-pnp.html

For now I've just put a link in the `fork-ts-checker-webpack-plugin` GitHub pag

[2019-06-12 19:08] #267 closed, assigned to nobody

[2019-06-12 19:51] piotr-oles commented on #267
:tada: This issue has been resolved in version 1.3.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin)
- [GitHub release](https://github.com/Realytics/fork-ts-checker-webpack-plugin/releases/tag/v1.3.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-13 15:20] Kamahl19 opened #300 "Cannot read property 'compiler' of undefined in v1.3.6"
## Current behavior
[code]

## Environment
 - **fork-ts-checker-webpack-plugin**: v1.3.6

The bug was introduced in this commit https://github.com/Realytics/fork-ts-checker-webpack-plugin/commit/489dc89b1d4b043128837c8588d2c3c9ad6dd4ec

[2019-06-13 15:43] phryneas commented on #300
Thanks!
This has already been reported in https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/299#issuecomment-501731332 - I'll publish a fix this evening.

[2019-06-13 18:31] #300 closed, assigned to nobody

[2019-06-13 20:25] piotr-oles commented on #300
:tada: This issue has been resolved in version 1.3.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin)
- [GitHub release](https://github.com/Realytics/fork-ts-checker-webpack-plugin/releases/tag/v1.3.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-15 21:21] piotr-oles commented on #284
I think that the release process is stable now and we can close this discussion :) We can re-open it if there will be any issues in the future :)

[2019-06-15 21:21] #284 closed, assigned to nobody

[2019-06-16 06:10] johnnyreilly commented on #203
# A Plan!

Yesterday I took the functionality in place in `create-react-app` for a spin. Based upon that experience I think that TypeScript eslint has got to a pretty good place.

I'm not sure whether I'm going to have time to attempt this in the near future, but I think implementation of this functionality may actually prove fairly straightforward. I've certainly an idea of a rough plan - if some

[2019-06-18 13:20] deser opened #302 "Is there a way to cache typechecking (like via cache-loader)?"
I used ts-loader along with cache loader and seems it helped pretty much. But now with ForkTsCheckerWebpackPlugin I seems unable to do that. Is there a way to cache results of ForkTsCheckerWebpackPlugin?

[2019-06-18 13:39] phryneas commented on #302
As they are working very differently, unfortunately not.

(loaders only get one input file and compile that - that can be cached. fork-ts-checker-webpack-plugin checks types for all files in your sources and then watches to only check for differences from there on - that can't be cached by any other loader)

[2019-06-19 12:07] karlhorky commented on #1
@johnnyreilly The commit 2d0c11c95f13cb7d80ee57db685765f5b24e9699 somehow got lost in the git history (maybe due to a force push?).

The message was only online from April 6 to April 17.

I also had this issue today and was also confused.

Can this message be added back? Maybe in a heading?

[2019-06-19 12:38] johnnyreilly commented on #1
I'm going to delete this repo to avoid confusion - I meant to do this a long time ago and forgot.

My apologies.

[2019-06-25 08:43] deser opened #303 "Exclude files from watching"
## Current behavior
I have a project with mixed js and ts files. All ts files are placed in `src/ts`. tsconfig is configured respectively:
[code]

When I run webpack in watch mode and change something in NOT `src/ts` ForkTsCheckerWebpackPlugin seems still runs typechecking and linting.

I've also configure the plugin itself:
[code]
This doesn't help either.

## Expected behavior
typechecking and l

[2019-06-25 17:58] phryneas commented on #303
`watchPaths` has apparently no effect in `useTypescriptIncrementalApi: true` - and I can't really think of a good way to make it work.
in `useTypescriptIncrementalApi: true` mode, every time webpack triggers the `compile` hook, all files that changed since the last trigger will be checked again.
I guess all we can do is change the documentation accordingly, what do you think @johnnyreilly ?

[2019-06-25 19:36] johnnyreilly commented on #303
Agree @phryneas - good shout 👍

[2019-06-25 20:11] deser commented on #303
At least something:)
Thanks guys

[2019-06-29 07:27] johnnyreilly commented on #297
Sorry I think I missed this reply! This sounds like a potentially interesting feature; do you want to submit a PR?

[2019-06-29 10:16] stavalfi commented on #297
I have no idea where to start lol.. let me investigate a little bit..

[2019-06-30 09:00] johnnyreilly commented on #203
I've tentatively started the beginnings on work on this in the linked PR.  Very preliminary stages right now, people should feel free to pitch in and help as I predict this maybe slightly stop / start from my side 😄

[2019-07-01 06:51] hawx1993 commented on #203
@johnnyreilly thanks for your update, but eslint-loader can't use custom `.eslintrc.js` file. I tried to use
[code]
but it seems only work on `babel-eslint` paser not on `@typescript-eslint/parser`, that's so awkward, because `babel-eslint` not support ts type checker, and `@typescript-eslint/parser` not
work on eslint-loader on dev mode.
if fork-ts-checker-webpack-plugin support eslint ,that woul

[2019-07-01 07:15] johnnyreilly commented on #203
Hi,

Thanks for commenting! Essentially I don't think we're bound by any restrictions eslint-loader may have. I'm intending to use `executeOnFiles`: https://eslint.org/docs/1.0.0/developer-guide/nodejs-api#executeonfiles

From the CLI engine:

https://eslint.org/docs/1.0.0/developer-guide/nodejs-api#cliengine

Presumably that should just work and surface up the lint info needed. Incidentally, if y

[2019-07-01 07:23] hawx1993 commented on #203
@johnnyreilly have you tried `eslint-loader`? can you used that on webpack dev mode to lint ts file?

[2019-07-01 08:15] johnnyreilly commented on #203
Yes; I've used create-react-app which has it plugged into the config.

[2019-07-07 08:47] oozliuoo commented on #188
Any updates on this issue? We are using the `.d.ts` file and this error still remains. Should we submit PR to this repo to fix it??

[2019-07-07 09:21] johnnyreilly commented on #188
Sure!

[2019-07-10 09:08] piotr-oles opened #307 "Welcome in the TypeStrong organization"
Hello!
I've just transferred this repository from [Realytics](https://github.com/Realytics) to [TypeStrong](https://github.com/TypeStrong) organization 🎉
I hope this will secure the future of this plugin and make it more trustworthy. Please update your origin in local repositories.

@johnnyreilly @phryneas

[2019-07-10 15:00] johnnyreilly commented on #307
That's awesome - great job @piotr-oles!

[2019-07-11 03:42] pamls opened #309 "Error if process.env.WATCH is not defined"
## Error
[code]

## Expected behavior
It could be good to check if `process.env.WATCH` is defined

## Steps to reproduce the issue
I used an hello world example of Nuxt.js with nuxt-i18n

## Environment
 - **fork-ts-checker-webpack-plugin**: 1.3.7
 - **typescript**: 3.5.3
 - **tslint**: 5.18.0
 - **webpack**: 4.34.0
 - **os**: Windows 10

[2019-07-11 04:08] johnnyreilly commented on #309
Would you like to submit a PR? I'm afraid your reproduction isn't plug and play enough for me to look at; we'd need a reproduction repo

[2019-07-11 06:34] phryneas commented on #309
We are setting `WATCH` in https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/0c934557928d58e2c10f866dfe0ad9352ee12f13/src/index.ts#L599 before calling the `service.ts`.

The only way this behaviour makes sense to me would be if Windows 10 would delete environment variables with an empty string instead of keeping them. And that would have many more implications.
@johnnyreilly, if I r

[2019-07-11 08:09] johnnyreilly commented on #309
I am a Windows user yes - will try and check that when I get some time. (Lots going on right now 😁)

[2019-07-12 14:51] zackschuster commented on #203
could tslint support be kept as a plugin somehow? i have no plans to migrate as eslint is 4x the install size before typescript support & doesn't provide any extra value for me.

[2019-07-12 18:06] johnnyreilly commented on #203
Since TSLint is deprecated and will certainly become incrementally less useful and useable over time, I think it's safe to say that we're likely to remove it. Older versions of `fork-ts-checker-webpack-plugin` will always be available which will support it however.

That said, support won't be removed in the near future. So rest easy for now.

[2019-07-12 18:47] johnnyreilly commented on #203
Shipped with 1.4.0

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v1.4.0

[2019-07-12 18:47] #203 closed, assigned to nobody

[2019-07-13 09:49] johnnyreilly commented on #203
See how to use this here: https://johnnyreilly.com/typescript-and-eslint-meet-fork-ts-checker-webpack-plugin

[2019-07-13 20:19] Austaras opened #312 "Wrongly lint tsconfig.json when using eslint"
## Current behavior
When using eslint, `tsconfig.json` is wrong included and cause lots of error

## Steps to reproduce the issue
passing `{ eslint: true }` to fork-ts-checker-webpack-plugin

## Issue reproduction repository
https://github.com/Austaras/boilerplate

## Environment
 - **fork-ts-checker-webpack-plugin**: 1.4.0
 - **typescript**: 3.5.3
 - **webpack**: 4.35.3

after some digging I foun

[2019-07-13 21:21] Austaras commented on #312
Well, after some more digging, seems like when enable useTypescriptIncrementalApi, this pulgin will get tsconfig.json as changed file at first compile. TSLint will ignore any file that isn't js or ts, while ESLint doesn't and that is the cause of the problem.

[2019-07-14 05:18] johnnyreilly commented on #312
Hi @austaras

Thanks for reporting. That's super curious and I'd like to understand why it's happening. I'm hoping you can help me. If you take a look at this minimal example here:

https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin

The issue does not present itself and it is using `useTypescriptIncrementalApi`. I'd like to understand what's different betw

[2019-07-14 05:56] Austaras commented on #312
@johnnyreilly the main difference is I use json as config file so I simply pass `"./tsconfig.json"` to `parseOptions -> project` while your example pass `path.resolve(__dirname, './tsconfig.json')`. Change that to `'./tsconfig.json'` in your example will generate same error.

It's true that a dirty and quick fix is possible but I believe in a wide used package like this one such fix is bad for lon

[2019-07-14 06:07] johnnyreilly commented on #312
Thanks!

Given ESLint shouldn't parse JSON anyway, I think my suggestion to exclude `tsconfig.json` is probably fine. I'm on my phone right now, but if you'd like to submit a PR with my suggested fix I'll happily merge it and get this out there.

https://github.com/eslint/eslint/issues/5076

[2019-07-14 06:55] johnnyreilly commented on #312
Actually I've got a screen and put together a prospective fix: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/313

Could you give this PR a try locally and confirm if this resolves your issue please?  Thanks!

[2019-07-14 07:03] Austaras commented on #312
It works fine on my project.

[2019-07-15 01:50] #312 closed, assigned to nobody

[2019-07-15 11:41] Cristy94 opened #314 "Plugin runs without running loaders"
## Current behavior
I am using [ifdef-loader](https://github.com/nippur72/ifdef-loader) to conditionally include modules based on some environment variables. When compiling with webpack (ifdef-loader and then ts-loader) it works as expected. When adding `ForkTsCheckerWebpackPlugin` I get errors that imported modules could not be find, even though the imports were inside ifdefs.

## Expected behavi

[2019-07-15 12:10] phryneas commented on #314
`fork-ts-checker-webpack-plugin` runs in a separate thread next to webpack and always checks all files that are defined in the tsconfig.json - due to being run in a different thread it has not access to any transformations done in loaders.

This is a conceptual thing that cannot be changed - if this is your use case, `fork-ts-checker-webpack-plugin` might not be what you are looking for.

Sorry :d

[2019-07-15 12:13] Cristy94 commented on #314
But could I add a hook before each `.ts` file is accessed by the TSChecker to do some extra processing on it (eg. run ifdef-loader on it) ?

eg. (pseudocode)
[code]
or
[code]

My use-case is that I want fast re-compilation time while developing, so I could have the type-checking delayed (and run `ts-loader` with `transpileOnly`), but I also need to run some extra loaders on my code before the type

[2019-07-15 12:33] phryneas commented on #314
There is a very big open PR by me to add the opportunity to run other extensions (e.g. vue) through loaders  in #231. You could try that and add a loader for `.ts` https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/231/files#diff-5c49a678c54aafbfd2c33a29e20cbc89R17.
That might work, but honestly I'm not sure.

[2019-07-16 03:49] nfm opened #315 "Missing default exports cause warnings instead of errors when useTypescriptIncrementalApi is true"
## Current behavior

When using the [fork-ts-checker-webpack-plugin example](https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin), attempting to import a missing default export only causes a warning.

If `useTypescriptIncrementalApi` is set to `false`, the build errors as expected.

## Expected behavior

The build should error when a default export is missin

[2019-07-16 04:16] eamodio opened #316 "Using eslint support and seeing warnings for ignored files"
## Current behavior
I've switched [GitLens](https://github.com/eamodio/vscode-gitlens/tree/develop) over to use the new eslint support (thanks for that!) but I'm running into a minor issue. At first, it was trying to lint one of my `json` files, but I added that file to my `.eslintignore` file. But it still seems to be trying to lint that file (and another file from `node_modules` which is ignored

[2019-07-16 04:35] johnnyreilly commented on #315
That is indeed strange!

Question: does a proper build error fail the build with `useTypescriptIncrementalApi: true`?

eg `const name: string = 1;`

I'm assuming yes but wanted to double check. I'm curious as to why this is classified as a warning but not an error. Warnings should still fail the build to my mind

Looking at the output, it seems that it's webpack reporting the issue (which given it

[2019-07-16 05:14] johnnyreilly commented on #316
Thanks for reporting @eamodio!

Yeah I think there's two issues here possibly:

1. We should be excluding all `.json` files from linting.
2. We should be excluding everything from `node_modules` from linting

The reason that you're seeing the errors is because of the way we invoke ESLint - we pass it specific files for linting which ESLint would typically ignore but that the TypeScript compiler do

[2019-07-16 05:17] eamodio commented on #316
@johnnyreilly I have to crash right now, but I will try that out tomorrow and let you know. Thanks!

[2019-07-16 05:20] johnnyreilly commented on #316
Awesome - BTW there's one failing test on Windows. So if you're running your tests on Windows either ignore that or use WSL instead :smile:

Note to self: make all tests cross platform again!

[2019-07-16 08:36] nfm commented on #315
Thanks @johnnyreilly.

Yes, this does fail in the example repo (for both `useTypescriptIncrementalApi: true` and `useTypescriptIncrementalApi: false`).

[code]

[code]

I get the same output for both values of `useTypescriptIncrementalApi` there.

Other kinds of import related issues fail the build as expected with `useTypescriptIncrementalApi: true`. For example:

[code]

[code]

It seems to only

[2019-07-16 13:12] phil-lgr opened #317 "Less Verbose Incremental Build Output?"
## Feature motivation

This:

![image](https://user-images.githubusercontent.com/9644867/61297050-665a0d00-a7a9-11e9-997f-bdbdffe3a45c.png)

## Feature description

What about an option to filter out the incremental build output which is *extremely* verbose and has no value AFAIK?

## Feature implementation

Just want to have people thoughts on this

[2019-07-16 14:12] phryneas commented on #317
This is not normal and those logs do not look like they are from `fork-ts-checker-webpack-plugin`, but rather from a dependency. (maybe even TypeScript itself)
Do you have any special environment variables like DEBUG set?

[2019-07-16 14:16] phryneas commented on #317
`extendedDiagnostics` in your tsconfig could be causing this, too

[2019-07-16 19:10] #316 closed, assigned to nobody

[2019-07-16 20:43] piotr-oles commented on #316
:tada: This issue has been resolved in version 1.4.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v1.4.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-18 15:47] phil-lgr commented on #317
Sorry for the delay

NO special env set, extendedDiagnostics is not set

[2019-07-18 15:52] phil-lgr commented on #317
[code]

when I put silent I get no output, but silent = false output the mega thing.. 🤔

[2019-07-18 16:14] phil-lgr commented on #317
ok you are right this is coming from tsc itself or ts loader... I will keep searching, thanks for the input

[2019-07-18 16:14] #317 closed, assigned to nobody

[2019-07-19 07:55] BiosBoy opened #319 "No errors thrown while build running in the console."
## Current behavior

So, I've tried to use the *fork-ts-checker-webpack-plugin* in my project, but it doesn't throw any error even I put them for sure.

## Expected behavior

Should throw errors if they are present in .ts|.tsx files processed by *babel*.

## Steps to reproduce the issue

Example of the error to reproduce:

![error_image]: (https://i.ibb.co/r5HKHsv/Screen-Shot-2019-07-19-at-10-52-3

[2019-07-19 08:01] phryneas commented on #319
That is just webpack output, the output of `fork-ts-checker-webpack-plugin` would be shown AFTER that. So my best guess is that it isnÄt running ? Can you share your webpack config?

[2019-07-19 08:03] BiosBoy commented on #319
@phryneas Hi!

Here is my minimal webpack config:
[code]

[2019-07-19 08:04] BiosBoy commented on #319
@phryneas

The problem here is that it doesn't show any output after build at all.

[2019-07-19 18:38] phryneas commented on #319
Hmm.

Could you make sure that you are running from the `__DEV__` mode and also please pass absolute paths to the plugin options instead of relative paths? That might help narrow it down a bit.

[2019-07-21 17:12] u8sand commented on #297
I would also be interested in this capability--my use case is building opinionated reusable webpack build scripts--tsconfig.json is defined in the build scripts project but it will be utilized to build typescript in a separate project. When context is not set, the include paths don't check in the right location (instead it checks in the same place as tsconfig.json).

[2019-07-22 04:42] stavalfi commented on #297
@u8sand we have the same use case :) you can have a look at what I did here: https://github.com/stavalfi/flow under packages/build.

I also have a starter-project that is the non-up-to-date-copy of this project: https://github.com/stavalfi/lerna-starter

@johnnyreilly I didn't start working on it yet. so if someone else want to investigate, it would be great.

[2019-07-24 15:22] michalpuskel commented on #128
Hello, please help!

#reportFiles option is buggy

I can't set ```skipLibCheck: true``` because I need to check *d.ts* files in src/**/*
Actually there is option for ForkTsCheckerWebpackPlugin *reportFiles*.

But this is absolutelly not working for me.
I tried all possible settings like:
[code]

[code]

I either end up with no checking, yet I know TS erros are there,
or node_modules d.ts files are

[2019-07-24 21:19] phryneas commented on #128
@michalpuskel reportFiles is just about the information that is output in the end - the files will be typechecked before anyways. If you want to exclude them from that, you'll have to use the exclude option in your tsconfig.json. Also, you might try `useTypescriptIncrementalApi: true` vs `useTypescriptIncrementalApi: false` (if there's a difference, please report it!)

Also, for reportFiles, we're

[2019-07-24 22:07] stavalfi commented on #203
@johnnyreilly Thats such a great addition to this plugin! Thanks!!

But there is a problem - https://www.npmjs.com/package/eslint-import-resolver-webpack does not work any more.. when using eslint-loader, someone (i guess it's eslint-loader) calls the webpack config function and get the resovle details. overall, there are alot of calls to webpack config functions.

now, after removing eslint-loade

[2019-07-25 04:31] johnnyreilly commented on #203
@stavalfi I'm afraid I don't understand what you mean... What doesn't work?

[2019-07-30 07:46] akillingbeck89 commented on #203
Hmm unsure if this is working, I'm on "fork-ts-checker-webpack-plugin": "^1.4.3"

Previously, when using tslint, I would get the log output:

Now I only get,

I tested it by changing some code which fails linting, and then running and everything compiles successfully (eslint is definitely not being run).

This is the section of my webpack which uses the forkTs plugin:
`new ForkTsCheckerWebpackPlug

[2019-07-30 08:07] johnnyreilly commented on #203
The logging should be fixed - we're just not checking for ESLint as well as TSLint correctly here:

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/34b16c5bb9e003b963a22c5c20ae265cbbb77618/src/index.ts#L602

If you'd like to submit a PR I'll review. Arguably we should also log whether we're linting with TSLint or ESLint too

If there's an issue please can you replicate the issue

[2019-07-30 08:15] michalpuskel commented on #128
@phryneas Thank you for quick response, though so far I couldn't solve it.

I tried settings in *tsconfig.json* before aswell (variations of include and exclude or both)

*tsconfig.json*
[code]

*webpack.config.js*
[code]

```useTypescriptIncrementalApi``` *true / false* makes no difference for me

maybe is it problem with *micromatch* - I use it bad way
[code]
options above output nothing, no err

[2019-07-30 20:47] theandrewlane commented on #203
I'm facing the same issue as @akillingbeck89  :(

[2019-07-31 14:50] allnash commented on #236
When will this be fixed? it is eating my battery.

[2019-07-31 15:45] johnnyreilly commented on #236
Please see the blog post linked above for details @allnash.  This is not an issue with the `fork-ts-checker-webpack-plugin` but with the watch implementation in TypeScript.  We're not planning to workaround it in the plugin itself, but there is advice in the blogpost which will allow you to work around this on your own build.

[2019-07-31 15:56] phryneas commented on #128
We are matching the relative path, so something like `./node_modules/react-codemirror2`.
You try to match the absolute path against that in your example - that cannot work.

Something like `!node_modules`, `!/node_modules/`, `!**/node_modules/**` could work - you'll have to try that, I never use that feature myself and I don't have a reproduction project for that.

[2019-08-01 10:08] akx opened #321 "Info messages are written to stdout, not stderr, which breaks --stats"
## Current behavior

The

progress/info messages are written to the stdout stream (since the default behavior is to basically call `console.log`).

This breaks using Webpack's `--stats` option, which dumps a blob of JSON statistics to standard output at the end of compilation (which can then be used by e.g. (tooting my own horn a bit here 😄) https://github.com/akx/webpack-xray for analysis).

## E

[2019-08-04 05:40] akphi commented on #119
@piotr-oles  @johnnyreilly one thing I notice though, for a formatter like `stylish`you need to be able to group messages [like](https://github.com/palantir/tslint/blob/master/src/formatters/stylishFormatter.ts) [these](https://github.com/eslint/eslint/blob/master/lib/cli-engine/formatters/stylish.js), so their `format` functions take in array of messages whereas `fork-ts-checker-webpack-plugin` c

[2019-08-04 06:05] johnnyreilly commented on #119
Feel free to experiment! We're potentially open to this, backwards compatibility is important but we could potentially support 2 behaviours in the logging space if it seemed the result was worthwhile

[2019-08-04 11:10] akphi commented on #119
@AndrewCraswell @johnnyreilly after playing around with [webpack-stylish](https://github.com/webpack-contrib/webpack-stylish) for a while I realize that it's not that hard to implement a stylish-like reporter. What we can do is to create our own webpack plugin like `webpack-stylish` to format the `stats`. We should also disable errors and warnings stats for `webpack-dev-server` to avoid duplicatio

[2019-08-06 08:29] michalpuskel commented on #128
**SOLVED**

Thank you @phryneas !

so final config:

*tsconfig.json*
[code]
```skipLibCheck``` is omitted, so its default ```false``` is okay

*webpack.config.js*
[code]

And it works like charm, thanks a lot for support :)

[2019-08-07 09:33] f-jost opened #323 "How can add the --fix option to eslint?"
For tslint we can enable the fix option with `tslintAutoFix` but how use the `fix` option for eslint?

[2019-08-07 09:52] ankita240796 opened #324 "Webpack compilation does not halt even when errors are present"
I am using this plugin to check for typescript type errors. The errors are listed on terminal when compiling webpack but the compilation continues and I was not able to find a way to halt the compilation when there are errors. Is there any way to do this?

[2019-08-07 10:12] phryneas commented on #324
The whole point of it is that you can transpile indenpendently from the typechecker (typechecking might take >10s while transpiling might only take 2-3 secs). So, for development mode, I would suggest keeping exactly that behaviour for faster development - it will save you a lot of time.

You _can_ set `async: false` which is what you want, but I'd only do that in production builds.

[2019-08-07 11:43] ankita240796 commented on #324
Thanks for the help @phryneas!

Also is there any way to write the errors to some output file instead of terminal?

[2019-08-07 11:43] #324 closed, assigned to nobody

[2019-08-07 12:26] giniedp commented on #319
I'm having a similar issue, but i am still investigating to provide better input. However, here is my observation so far.

We are using `ts-loader` along with `fork-ts-checker-webpack-plugin`.
After introducing a compilation error, the error is not detected in a `development` mode but it it is detected in the `production` mode. The error output is missing in the `development` mode.

I suspect that

[2019-08-07 14:35] johnnyreilly commented on #323
Is it possible to to pass an option to `eslintOptions` to trigger this? https://eslint.org/docs/1.0.0/developer-guide/nodejs-api#cliengine

Or can it be driven from `.eslintrc.js` at all?

[2019-08-07 14:37] johnnyreilly commented on #319
without a reliable repro it's hard to help.  I suggest you take this setup here: https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin and try to reproduce the issue.

[2019-08-07 15:36] phryneas commented on #324
Not that I know of. You could use a custom error formatter that returns an empty string and writes output to a file?

[2019-08-07 15:58] johnnyreilly commented on #324
Exactly that. Ideally I'd like the `async` field value to be driven by webpack mode: https://webpack.js.org/configuration/mode/

i.e. `async: mode !== 'production'`

So when `mode` is `'production'` then `async: false` and otherwise `async: true`

Haven't figured out if you can access `mode` in a plugin though...

[2019-08-08 18:11] johnnyreilly opened #325 "GitHub Actions - we should do some cool stuff with them. Maybe CI/CD"
## Feature motivation
This looks cool: https://github.blog/2019-08-08-github-actions-now-supports-ci-cd/#matrix-builds

😄

[2019-08-09 18:28] Jerska opened #326 "Less verbose output"
Hi there, and first of all thanks for this awesome extension which considerably helps our build times.

I have however one question: is there a way to reduce the output of the library at each incremental build?

[code]

- `Type checking and linting in progress...` is redundant with `Compiling...`
- `Version: typescript 3.5.3, tslint 5.18.0` is pretty useless information for me (i can understand ho

[2019-08-10 04:32] johnnyreilly commented on #326
Some of that output is webpack; some is the plugin.

That's webpack. Pretty sure it's configurable somehow.

If you'd really like fine grained control of what gets logged from the plugin, you could use the `logger` option. This allows you to supply your own logger to the plugin (default is `console`). You could then filter out those pieces of logging that were uninteresting to you, just logging th

[2019-08-11 22:28] Jerska commented on #326
This looks like a great option, thanks for the answer!

[2019-08-11 22:28] #326 closed, assigned to nobody

[2019-08-13 11:56] giniedp commented on #319
i understand but can not reproduce it in a small setup so far and can not share the current project. Our setup involves

- `thread-loader`
- `ts-loader` with `happyPackMode: true` (which sets implies transpileOnly: true)
and then `ForkTsCheckerWebpackPlugin`

However if i remove the `thread-loader` i get the output back again. According to @johnnyreilly  [post](https://blog.johnnyreilly.com/2018/1

[2019-08-13 18:08] birender opened #327 "Error on Module Not Found"
![error](https://user-images.githubusercontent.com/1873263/62965807-65a5ac80-be23-11e9-92e5-4a8b59d2f08f.png)
Hi All,
Error Throw when I run npm run dev

Please assist me

[2019-08-13 19:09] phryneas commented on #327
Do you have any indication that this has anything to do with fork-ts-checker-webpack-plugin?
Without further information on why you think it could have anything to do with your problem, I don't think we can help you.

[2019-08-17 06:36] phryneas opened #328 "TS 3.6 will come with api support for --build and --incremental"
I'm still on vacation so I won't get to play around with this too early, but I just wanted to copy-paste this over here:
https://devblogs.microsoft.com/typescript/announcing-typescript-3-6-rc/

Might also be interesting for ts-loader.

https://github.com/microsoft/TypeScript/pull/31432

[2019-08-17 12:59] johnnyreilly commented on #328
Agreed - could be interesting! I am also on holiday right now. 🚢🏕️😄

There's a WIP PR for ts-loader related to these APIs by @sheetalkamat and @andrewbranch of the TypeScript team. Exciting times ahead!

https://github.com/TypeStrong/ts-loader/pull/935

[2019-08-21 00:24] connorshea opened #329 "How to make this work with Rails' Webpacker?"
**NOTE**: This isn't actually an issue, I figured out how to do it myself. I just figured this might be useful to someone trying to do the same thing in the future. I'll close this issue right after opening it :)

Here's how you do this with [Webpacker](https://github.com/rails/webpacker) 4.x:

- Add the package to your `package.json`. Make sure to add it as a 'normal' dependency since we'll also

[2019-08-21 00:24] #329 closed, assigned to nobody

[2019-08-21 05:12] johnnyreilly commented on #329
Thanks for sharing! 🤗

[2019-08-21 18:03] aaronjensen opened #330 "Occasionally stops working"
## Current behavior
Occasionally, after waking up from sleep, fork-ts-checker-webpack-plugin stop working. It will no longer emit any status (either type checking in progress or type errors). Restarting webpack fixes this.

## Expected behavior
I don't have to restart webpack.

## Steps to reproduce the issue

I'm not sure how to reproduce this 100%, it just happens sometimes. My configuration is

[2019-08-28 15:12] ryedin opened #332 "preserveSymlinks option not honored"
## Current behavior
If you have folders of code that are symlinked into src (very common pattern for monorepo style development), the type checker does not re-trigger when those files are changed.

## Expected behavior
I should be able to make changes to those symlinked files and have the typechecker correctly re-run checks.

## Steps to reproduce the issue
Setup a basic CRA app with typescript en

[2019-08-28 16:34] johnnyreilly commented on #332
Thanks for the detailed report. I'm afraid I'm not able to look at this myself right now. This is definitely functionality we would want. If you'd like to take a look we're happy to look at PRs and collaborate!

[2019-08-29 10:02] fabb commented on #328
Typescript 3.6 has been released with API support for `--incremental`: https://github.com/microsoft/TypeScript/issues/29978

[2019-09-04 05:13] johnnyreilly commented on #328
See sample example by @sheetalkamat here: https://github.com/microsoft/TypeScript-wiki/pull/225

[2019-09-10 23:07] jasonwilliams commented on #236
@johnnyreilly you are a hero, thanks for chasing this up, i'm late to the party but this has bugged me for a while, great blog post, I've managed to fix it by adding TSC_WATCHFILE=UseFsEvents.

I've found UseFsEvents is the best option, UseFsEventsWithFallbackDynamicPolling was still using quite a bit of CPU (maybe trying to poll?)

If you're using a Mac (even with a docker guest) you don't need p

[2019-09-17 10:44] ypresto commented on #330
In my environment it also stops without any output, with 100% CPU, and running even after Ctrl+C.
And always reproduces, but with `useTypescriptIncrementalApi: false` option it does not reproduce.

When I attached to service.js instance (added `--inspect-brk` to plugin's js code), it seems doing type ~check~ emit for TS file which references our most complex type declaration.

[2019-09-17 10:53] ypresto commented on #330
It seems a issue of typescript compiler for our case, because `tsc --watch` does not finish while `tsc` do.
https://github.com/microsoft/TypeScript/issues/25023

[2019-09-17 12:39] johnnyreilly commented on #330
@ypresto I think you may be experiencing this: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/236

[2019-09-17 14:46] ypresto commented on #330
@johnnyreilly Even when I prepend `TSC_WATCHFILE=UseFsEvents` to tsc command it does not finish, and inspector shows it is working hard (= not idle) on ast nodes. So our case looks different than watchfile one.

[2019-09-18 10:16] maksnester commented on #319
In my case, I can't see plugin output on the first run, because console is cleared. So I see only build result, like "Ok. Ready at: localhost:8080" but errors go before this printing. So I can see them later when I change some files and rebuild triggered...

[2019-09-18 21:50] beark commented on #207
Running into this issue too. Adding `"linterOptions": { "exclude": ["**/*.json"]}` to the relevant `tslint.json` did not do anything for me. Running tslint manually on the project results in no errors.

[2019-09-19 04:58] johnnyreilly commented on #207
It's worth considering starting to move to ESLint now that TSLint is deprecated. We're not planning further work on TSLint support for that reason

[2019-09-19 10:04] IIIristraM commented on #211
Hi, are any updates on this issue ?

I have about 6k files in my repo. Compilation with "useTypescriptIncrementalApi: true" takes 300+s without linters, when with "useTypescriptIncrementalApi: false" about 90s with a single worker

TS v3.5.3
fork-ts-checker-webpack-plugin v1.5.0
webpack v4.40.2

[2019-09-19 15:35] beark commented on #207
By judicious sprinkling of `console.log` statements, I think I may have figured this out!

In `ApiIncrementalChecker.initLinterConfig`, if I print the value of `linterOptions.exclude`, they have all been resolved as absolute paths. Ie, say my project is located in `/wherever/project/packages/subproject`, then at the time the linter is initialized, the `"**/*.json"` exclude is transformed to `/wher

[2019-09-19 16:11] johnnyreilly commented on #207
`console.log` answers many questions 😁

[2019-09-19 16:27] 0xorial commented on #211
Just FYI, I was recently trying to get some performance measurements for webpack+TS setup, but discovered that webpack watch mode time grows linearly with the number of files. I found this extremely discouraging and didn't do any further tests/investigation.

@Kavorka79, could you try running `tsc --watch` and see if it has better performance? (and, while we are at it, also try the `tsc --incremen

[2019-09-25 09:03] mforman1 opened #336 "Cannot read property 'length' of undefined error"
## Current behavior
After installing `fork-ts-checker-webpack-plugin` builds start failing, we get a runtime error:

[code]

## Expected behavior
Successful build

## Steps to reproduce the issue
On `webpack.config.js`:

then - `npm run build` results the above error.

## Environment
 - **fork-ts-checker-webpack-plugin**: 1.4.0
 - **typescript**: 3.6.3
 - **tslint**: N/A
 - **webpack**: 4.39.3
 -

[2019-09-25 10:10] Fatme commented on #57
Hey @piotr-oles, @eddyw, @johnnyreilly, @knaos, @vepanimas,

We've hit the same issue and spent some time to investigate it.

@vepanimas,
You're absolutely correct that we'll got it working if we move the logic from [emit hook](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/4e8c6f98fb14dced5f40a56723b459e519d59362/src/index.ts#L574) to an earlier stage of webpack compilation. Ac

[2019-09-25 14:37] johnnyreilly commented on #57
Do you want to raise a speculative PR and let's see where it goes?

[2019-09-25 16:55] Fatme commented on #57
@johnnyreilly,

Here is the PR - https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/337.

[2019-09-27 06:38] mforman1 commented on #336
@johnnyreilly Any idea what can causes this error? Thanks!

[2019-09-27 10:44] johnnyreilly commented on #336
I'm afraid not - does it present if you use this setup:

https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin

[2019-09-27 19:52] phryneas commented on #336
This is not a fork-ts-checker-webpack-plugin error message, but something within typescript itself.

Other people are experiencing similar things under different circumstances, see [many of these issues](https://github.com/microsoft/typescript/issues?utf8=%E2%9C%93&q=is%3Aissue+unescapeLeadingUnderscores).

Just a guess: maybe TS or some other dependency was updated while installing  `fork-ts-chec

[2019-09-28 21:05] mforman1 commented on #336
@phryneas Thanks for your reply.

Other dependencies were not updated while installing `fork-ts-checker-webpack-plugin`.

While commenting out the `new ForkTsCheckerWebpackPlugin()` line, the bug is gone and the build success. Please advise.
Thank you!

[2019-09-29 07:27] phryneas commented on #336
First thing to check: do you get different results using `useTypescriptIncrementalApi: true` vs `useTypescriptIncrementalApi: false`?

Also, your project isn't open source per chance so I could take a look?

[2019-09-29 07:35] mforman1 commented on #336
Yes, using `new ForkTsCheckerWebpackPlugin({useTypescriptIncrementalApi: false}),` the build success and the bug is gone.

unfortunately not:(

Thank you.

[2019-09-29 08:01] phryneas commented on #336
Could you at least share your `tsconfig.json`?
`useTypescriptIncrementalApi: false` is something we'd like to deprecate in the future, so it would be great if we could somehow reproduce this.
And I believe it might be something how TS internally handles the config differently between createCompilerHost and createWatchCompilerHost in certain cases.

[2019-09-29 08:14] mforman1 commented on #336
Sure, please see below:

`tsconfig.json`
[code]

[2019-09-30 09:02] Fatme commented on #57
@johnnyreilly,

Did you have the chance to take a look at the PR?

[2019-09-30 10:37] johnnyreilly commented on #57
Sorry I'm currently snowed @fatme

I will try and take a look but it won't be immediately I'm afraid

[2019-10-01 19:32] mforman1 commented on #336
@phryneas Hi,

Have you came up with anything?

Thanks!

[2019-10-01 20:12] jeffijoe opened #338 ".tsx files are not type checked"
## Current behavior
`.tsx` files are not type checked. This can be fixed in userland with a `reportFiles` option.

## Expected behavior
Since `ts-loader` is configured for `.tsx`, I thought it would also check `.tsx` files.

## Steps to reproduce the issue
Use the `README` config, then add a `.tsx` file with a type error in it.

## Environment
 - **fork-ts-checker-webpack-plugin**: 1.5.0
 - **type

[2019-10-01 20:31] phryneas commented on #338
The `fork-ts-checker-webpack-plugin` uses the `files`/`include`/`exclude` rules of your `tsconfig.json` - are you maybe missing `tsx`files there?

[2019-10-01 20:32] jeffijoe commented on #338
I didn't use `includes` as `ts-loader` doesn't seem to care about it. But that makes sense!

[2019-10-01 20:39] phryneas commented on #336
Sorry, but not really. That's a really standard `tsconfig.json`.

I still believe this might be a typescript-internal error that's just only triggered in a watched build or something similar (the full stacktrace doesn't touch a single file from `fork-ts-checker-webpack-plugin`)

Could you try doing a  `tsc --watch` on the command line and see if it triggers there, too?

[2019-10-01 20:48] johnnyreilly commented on #338
Might be worth comparing your setup to this: https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin

I can say for sure that the checker checks tsx. 😁

[2019-10-01 20:57] jeffijoe commented on #338
Well damn it, reverted my changes and now it works. Classic. 😂

Sorry about the false positive! No idea why it didn't work before, but I swear I'm not crazy. 😅

[2019-10-01 20:57] #338 closed, assigned to nobody

[2019-10-02 07:38] mforman1 commented on #336
@phryneas, Yes, it triggers there too:

[2019-10-02 15:15] phryneas commented on #336
Then this is a TypeScript bug. I suggest you open an issue over in https://github.com/microsoft/typescript - and mention that it only happens when using the `watch` API (I guess a normal `tsc` without `--watch` will run successfully for you)

[2019-10-03 09:57] mforman1 commented on #336
@phryneas Thank you for your assistance, thanks to your comments I was able to figure out what triggers the issue.
Thanks so much!

[2019-10-03 09:57] #336 closed, assigned to nobody

[2019-10-07 14:11] IlCallo opened #339 "Could not find a declaration file for module 'webpack' / 'tapable'"
## Current behavior
[code]

## Expected behavior
No errors by default, or a `peerDependencies` warning fired off, or a disclaimer in setup section of the README.

## Steps to reproduce the issue
Not really sure, I just updated `fork-ts-checker-webpack-plugin` to `1.5.0` from `0.5.2` and the error popped up.
The error doesn't show up in `1.3.1` because of the typings dependencies being added, then

[2019-10-07 17:17] johnnyreilly commented on #339
Oh that's a shame. If you'd like to reattempt https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/281 (I'm not sure how this regressed) I'll certainly take a look at it 🥰

[2019-10-07 17:28] phryneas commented on #339
In #287 I had moved everything depending on webpack/tapable out to hooks.d.ts in the hopes that only index.d.ts would be included automatically and the rest just where used.

We should definitely not add @types/webpack as a dependency, as as I remember that would re-introduce @types/node as a dependency.

Maybe just move the declaration
[code]
to the index.d.ts, reference it from hooks.ts and make

[2019-10-08 08:16] IlCallo commented on #339
Not sure about how your typings generation works. If @phryneas already have an idea on it, I'll be happy to check if it works.

I think https://github.com/microsoft/TypeScript/issues/18588 is somewhat related and there could be some workarounds. Still, no official solution

[2019-10-08 18:58] jeffshaver opened #340 "add option to enable --quiet in eslint"
In eslint-loader, you have the option to pass `quiet: true` and it will only show errors in the output. When I was trying to switch over to this instead of eslint-loader, there is no option to pass the quiet option. You cannot pass this option via eslintOptions because the CLIEngine doesn't actually accept a quiet option.

[2019-10-08 20:00] johnnyreilly commented on #340
That sounds like a potentially useful option!  Would you like to submit a PR?  I suspect this is probably not too difficult to implement.

[2019-10-09 15:28] inori1707 opened #341 "Add a custom hook before checker run"
## Feature motivation

Sometime we want to delay type checking until some tasks done. In my case, it should wait for CSS module type definition files generated. It can be done with `serviceBeforeStart` hook in production build, but not for watch mode because this plugin use single checker service in watch mode and `serviceBeforeStart` hook triggered only in initial build.

## Feature description

[2019-10-09 20:45] johnnyreilly commented on #341
Would you like to try something out and raise a prospective PR?

[2019-10-10 11:03] viljark commented on #323
At the moment it is possible to pass fix option to eslint: https://eslint.org/docs/developer-guide/nodejs-api#cliengine

But as the docs state:

Which is not implemented in the codebase yet.

[2019-10-10 12:25] johnnyreilly commented on #323
So there's no way to do it right now?

[2019-10-10 12:31] viljark commented on #323
What I meant is that this is not implemented in `fork-ts-checker-webpack-plugin` codebase.
For my use case I patched the createEslinter.js with patch-package until official support:
[code]

[2019-10-10 13:49] johnnyreilly commented on #323
Would you consider sending a PR and we could add that support officially?

[2019-10-10 18:12] inori1707 commented on #341
Sorry about my misunderstanding, the `serviceBeforeStart` hook should work as expected.

[2019-10-10 18:12] #341 closed, assigned to nobody

[2019-10-11 07:25] viljark commented on #323
https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/342

[2019-10-14 07:40] #321 closed, assigned to nobody

[2019-10-14 09:23] piotr-oles commented on #321
:tada: This issue has been resolved in version 1.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v1.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-15 02:22] gyancse08 commented on #332
I think this problem is coming from chokidar, https://github.com/paulmillr/chokidar/issues/696.
They fixed it in the version 3.x. We only need to update the version here.

[2019-10-15 03:10] gyancse08 commented on #332
I was trying to create a branch for this fix but I am not able to publish my branch due to access to this repo. Could you please provide me the access?

[2019-10-15 03:22] johnnyreilly commented on #332
Hi @gyancse08,

Thanks for looking into this! Please could you fork the fork-ts-checker-webpack-plugin repo, work on that and send a pull that way?

[2019-10-15 20:36] gyancse08 commented on #332
When I publish my branch I am getting this error:
"You do not have permission to access this repository".

only change is following, I will appreciate if someone else fixes the same.

-    "chokidar": "^2.0.4",
+   "chokidar": "^3.2.1",

-    "@types/chokidar": "^1.7.5",
+   "@types/chokidar": "^2.1.3",

[2019-10-15 20:57] phryneas commented on #332
You need to fork this project, push the changes to a branch on your fork and then send a pull request, that's the "github workflow". :)
Here's some more information: https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-10-16 14:23] jeffshaver commented on #340
@johnnyreilly i could definitely look to help. I haven't dove into the repo. any suggestions on where to start?

[2019-10-16 14:31] jeffshaver commented on #340
@johnnyreilly looks like this is what we want: https://eslint.org/docs/developer-guide/nodejs-api#clienginegeterrorresults

And it looks like all i would need to do is add a quiet option to this plugin, and then check that new option after we call `executeOnFiles`. If true, set the `lints` variable to the result of `getErrorResults`. does that sound about right to you?

[2019-10-16 14:43] jeffshaver commented on #340
@johnnyreilly Actually, since we pass around a LintReport object most of the time, we would need to filter right before outputting to the console... One option is to put a filter here before the map: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/1621fd501353cd40ba1bfe5aac96c697ad8f9f74/src/createEslinter.ts#L44

if message.severity !== 2 and the new option is true, then filter

[2019-10-16 16:55] johnnyreilly commented on #340
The latter seems like a better choice; why reimplement what ESLint already has.  Question though; is this not configurable with the `.eslintrc`?

Also, could you expand a little on why a quiet option would be useful? It's not clear to me why you'd like to see warnings inside VS Code (or your editor of choice) but not in the console.

https://github.com/eslint/eslint/issues/905

It's interesting th

[2019-10-16 20:23] cmoad commented on #319
Also seeing this behavior. We recently cleaned up a ton of tslint warnings and I suspect the forked process is finished BEFORE the webpack process and the last process is winning the display.

[2019-10-17 00:11] pelotom opened #344 "Type checker hangs indefinitely in v1.5.1"
This was not happening prior to v1.5.1.

Steps to reproduce:

[code]

(type `y` to confirm)

[code]

Edit `webpack.config.js`:

[code]

Run `yarn start`, and it hangs forever on:

[code]

[2019-10-17 04:16] johnnyreilly commented on #344
Thanks for reporting @pelotom. This is likely down to this change which moved fork-ts-checker-webpack-plugin to log everything to stderr

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/321

@akx @piotr-oles it looks like logging to stderr might be problematic. Please see the details above. Is there anything we can do to remedy this? If not perhaps we should consider reverting?

[2019-10-17 11:57] jeffshaver commented on #340
@johnnyreilly so our specific use-case is that we have eslint-plugin-react-hooks and some other plugins that produce false-positives sometimes. In our case, 36 files have "false-positive" warnings. I don't want to never be able to find the warnings, but while I'm actively building, i want to get rid of the error level issues, without seeing 36 files worth of output that only contains warnings.

I

[2019-10-17 17:00] johnnyreilly commented on #340
Thanks for the clarification. I think it's probably a useful feature and it seems like implementation should be minimal in terms of complexity. If you'd like to put together a PR I'll take a look 🥰

[2019-10-18 04:54] johnnyreilly commented on #321
It looks like this may be causing the type checker hangs indefinitely. We may want to revert this change. See linked issue from @pelotom

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/344

[2019-10-18 05:00] johnnyreilly commented on #344
@pelotom would you like to raise a PR that reverts:

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/commit/a89fdaf081b845e82eb8a1b578c597da6e24d2a2

If there are no suggestions of alternate approaches then we should look to merge that and get it released as `1.5.2`

[2019-10-18 05:04] pelotom commented on #344
Sure, here ya go: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/345

[2019-10-18 07:48] miegir commented on #321
In .NET core application that is run through `dotnet run` this leads to the following output:
[code]
These fails are confusing too.

[2019-10-18 11:29] #344 closed, assigned to nobody

[2019-10-18 11:31] johnnyreilly commented on #321
This has now been reverted in https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/345#merged-event

Should be released shortly

[2019-10-18 18:23] jeffshaver commented on #340
@johnnyreilly how do you suggest testing this? I have the change (not that much code has changed). But the way its implemented, we only change the output going to the CLI, not the lint report itself (i can't just check the warning count).

[2019-10-18 19:27] johnnyreilly commented on #340
We have an integration test suite - probably best to provide a test which includes an error and a warning but only shows the error in the output.

[2019-10-21 11:48] jeffshaver commented on #340
@johnnyreilly i put up a pr, but was having some difficulty with the integration test i was trying to write.

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/346

Thanks

[2019-10-21 12:03] johnnyreilly commented on #340
Thanks @jeffshaver - I'll take a look but it won't be straight away (pretty snowed)

[2019-10-21 12:17] jeffshaver commented on #340
@johnnyreilly np. just let me know when you have time. as soon as i get feedback, ill try to update. appreciate your time

[2019-10-21 17:52] ahqardah opened #347 "Security vulnerability -- severity = HIGH"
Hi folks,

the package has a sub-dependency on mixin-deep 1.3.2, which has a vulnerability (as assessed by github). can you please update your dependencies to resolve this?

[2019-10-22 18:26] johnbouma commented on #321
This change causes our automated build system to fail due to the fact that it relies on stderr to determine if any errors are encountered during each step.

Why would you log anything but errors to stderr?

[2019-10-22 18:34] johnbouma opened #349 "Logging To stderr Breaks VSTS Builds"
## Current behavior
The change fixing #321 breaks our automated build system (VSTS) which relies on stderr to determine if any errors have occurred during the build process.

## Expected behavior
I would expected *errors* to be written to stderr and other logging to be written to stdout.

## Steps to reproduce the issue
Define a build process that properly utilizes stderr to provide error logging

[2019-10-22 20:48] johnnyreilly commented on #349
Ah - https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/345#merged-event which reverted this was never published as the commit didn't have a `fix:` prefix... See https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/master/CONTRIBUTING.md#examples

Would you like to send an "empty" PR (just add a line break to the readme or similar) with a `fix: ` prefix on the commit? I

[2019-10-23 11:38] akx commented on #321
It's fairly normal to log status messages, diagnostics, etc. onto `stderr`, since `stdout` is reserved for regular program output. This is the default for [Python's logging](https://github.com/python/cpython/blob/d34ac305327420bd68f05e201b63d2a665b073f8/Lib/logging/__init__.py#L1054-L1055), [npm's logger](https://github.com/npm/npmlog/blob/f0454b0868020cf5f406931fd500ce95d1bbb235/log.js#L12), etc.

[2019-10-23 13:05] johnbouma commented on #349
Can do once I get to the office

[2019-10-23 13:16] johnbouma commented on #321
@akx quoting from

https://npm.community/t/npm-ci-logs-success-to-stderr/2303

[code]

[2019-10-23 17:32] phryneas commented on #321
You can only rely on an exit code when the software in questions exits - for a long-running (watching?) process, this might not always be the case.

I must say I have to agree with not liking this on stderr, but for a different reason:

For me, type errors (at least in watch mode) are an expected output that I'm explicitly looking for (that's why I'm running the program!), not an error as in "the

[2019-10-23 18:07] johnnyreilly commented on #349
Don't worry - #334 should handle this

[2019-10-24 05:49] piotr-oles commented on #344
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-24 06:33] TokugawaTakeshi opened #350 "INTERNAL ERROR: Cannot read property 'fileNames' of undefined"
## Current behavior
INTERNAL ERROR: Cannot read property 'fileNames' of undefined when use `fork-ts-checker-webpack-plugin` instead of build-in TypeScript type checker

## Expected behavior
No this error

## Steps to reproduce the issue
1. I'll share to you [my project](https://github.com/TokugawaTakesi/issue-fork_ts_checker_webpack_plugin-1) during this issue is being opened. Please clone or down

[2019-10-24 18:47] johnnyreilly commented on #350
Thanks for the repo. It's quite large and so that doesn't make diagnosis easy. Would you be able to confirm if your issue presents with fork-ts-checker-webpack-plugin@1.5.0 ? I'm curious as to whether there's a regression or if this might be user error

[2019-10-25 04:38] TokugawaTakeshi commented on #350
Thank you for the quick response.

Unfortunately, nothing changed with `fork-ts-checker-webpack-plugin@1.5.0 `.

This bug occurred also in my other smaller project. You can use [this project](https://github.com/TokugawaTakesi/issue-fork_ts_checker_webpack_plugin-2) for investigations instead. This time npm command is long, so please use copy-paste to execute it:
[code]

[2019-10-25 06:48] phryneas commented on #350
Okay, this took me too long to debug. No it's not a bug.
In your webpack config, you have to set the whole path to the tsconfig, including the filename, not just the folder:

[code]

this is wrong.

[2019-10-25 07:19] #307 closed, assigned to nobody

[2019-10-25 07:26] piotr-oles commented on #347
Fixed with #333 :)

[2019-10-25 07:26] #347 closed, assigned to nobody

[2019-10-25 07:46] TokugawaTakeshi commented on #350
@phryneas,

You right, my mistake. Thank you for the investigation.
Well, this is not a bug, but could I call it "non-accurate error message"?
Could you please to determine the error like this in the future and output the error "Incorrect file path to 'tsconfig.json'"?

[2019-10-25 07:46] #350 closed, assigned to nobody

[2019-10-28 01:12] akphi opened #351 "v2.0.0 breaks async: false"
## Current behavior
If I have `async: false`, our `webpack` build (webpack-dev-server` will not finish and just stuck at `wait until bundle finished`

## Expected behavior
In `v1.6.0`, this does not happen.

## Steps to reproduce the issue
I am using this plugin with `eslint`, `typescript-eslint`, `webpack` and `ts-pnp` (similar to the setup of `create-react-app`).
I have `async: false` in webpack

[2019-10-28 05:40] johnnyreilly commented on #351
This is related to @fatme PR here: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/337

cc @piotr-oles

I'm guessing you're running in watch mode rather than doing a production build?

Most definitely. But speaking for myself (and create-react-app does the same) I only run with `async: false` for the production build.

I'm not totally clear what the issue is here; we won't be abl

[2019-10-28 06:24] swashata commented on #351
Hello,

I can confirm that this is indeed an issue. I will try to create a repro.

[2019-10-28 06:48] akphi commented on #351
@johnnyreilly Sorry it will take me time to build a repro repo. In the meantime I did a little bit of digging. I just needed to change [this line](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/commit/2e3aedd84ee888189af0478e73b5db9b5467d6c6#diff-f41e9d04a45c83f3b6f6e630f10117feL574) back to use `emit` hook.

Also another thing, when I'm building production (i.e. not in watch mode an

[2019-10-28 07:12] swashata commented on #351
Hello,

I did some testing and was able to create a repro. You can find it here

https://github.com/swashata/fork-ts-checker-issue

The thing is

1. If there is a `style.scss` or `style.less` import, then the plugin fails in `async:false` mode.
2. If there are more than one `style.scss` or `style.less` import, then the plugin hangs in `async:false` mode.

Kindly read the README of the repository f

[2019-10-28 07:14] swashata commented on #351
Also

You are correct about this. I was working on my tooling [wpackio](https://github.com/swashata/wp-webpack-script) and I notice this behavior. The `afterCompile` I believe is called for every files compiled? (entrypoint, chunk files etc).

[2019-10-28 07:19] johnnyreilly commented on #351
Thanks all - let's use this issue as a place to discuss this. @fatme can you be part of this if possible?

We want to land on a solution that suits all parties; it sounds at present that 2.0.0 works well for @fatme use cases but not for @blacksteed232 and @swashata.

It's possible we may want to revert the changes of 2.0.0. But let's see if we can work towards a future which serves all cases.

I'm

[2019-10-28 07:26] swashata commented on #351
Yeah,

But I am most interested in the part that why in `async:false` mode, the plugin fiddles with what comes from style files. And if there is more than one style file it completely hangs.

I must say I am relieved though. Have been banging my head over wall to figure out why the build was failing. At first I thought, it was something to do with `mini-css-extract-plugin`, but it turns out to be

[2019-10-28 07:39] johnnyreilly commented on #351
Thanks for the repro repo @swashata - that's super helpful. Given that 2.0.0 clearly has a number of issues I think it's wise if we revert the changes of

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/337/files

And release that as 3.0.0. This will ensure that people installing the plugin don't get broken. That's important. We don't want to frustrate users.

Would someone be up

[2019-10-28 09:17] #349 closed, assigned to nobody

[2019-10-29 03:41] Jessidhia commented on #351
Very strangely, this issue affected me with one entry point, but not another of the multi-compiler entries in the same build; both use typescript and the same `tsconfig.json`. But yes, can confirm that rolling back to `<2.0.0` avoids the breakage.

[2019-10-29 04:29] #351 closed, assigned to nobody

[2019-10-29 04:31] johnnyreilly commented on #351
`3.0.0` should be out later today which will resolve this issue.

[2019-10-29 05:50] piotr-oles commented on #351
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-29 06:21] akphi commented on #351
@johnnyreilly am I missing something, I thought [this line](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/master/src/index.ts#L574) is supposed to be reverted to `.emit.tapAsync` right? (based on this [commit](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/commit/2e3aedd84ee888189af0478e73b5db9b5467d6c6))

Just tried 3.0.0 and I still see the problem.

[2019-10-29 06:35] iippis commented on #351
@piotr-oles @blacksteed232 @johnnyreilly  same here, still just hangs after modules are handled.

[2019-10-29 07:17] Jessidhia commented on #351
Indeed, 3.0.0 still freezes.

[2019-10-29 07:44] johnnyreilly commented on #351
Okay - let me take a look

[2019-10-29 07:52] johnnyreilly commented on #351
Okay just force merged https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/353/files

A new release should appear with the fix in the next couple of hours.  `v3.0.1`.  Serves me right for merging in the middle of a sleepless night.   Ah well.

[2019-10-29 09:26] piotr-oles commented on #351
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-31 16:57] fc commented on #271
I had made a copy of the node_modules folder in the same directory that led to me getting this error.  Deleting the copied folder resolved it for me.

[2019-11-01 00:27] cainrus opened #354 "Support for nativescript-vue-template-compiler"
## Feature motivation
Compatibility with nativescript-vue. It uses nativescript-vue-template-compiler instead of vue-template-compiler

## Feature description
Allow to set ```{ vue: {compiler: 'nativescript-vue-template-compiler'}}``` instead of ```vue: true```
To be compatible with nativescript-vue based projects.

## Feature implementation
We need to fix types for vue option from ```boolean``` t

[2019-11-01 04:24] johnnyreilly commented on #354
If you'd like to work a PR we'd certainly take a look!

[2019-11-02 19:01] johnnyreilly opened #356 "Migrate from TSLint to ESLint"
Now that the plugin itself supports ESLint, we should probably migrate to linting the project itself with ESLint instead of TypeScript.

This will probably help:

https://github.com/typescript-eslint/tslint-to-eslint-config

[2019-11-11 13:34] bitttttten opened #357 "Build stops after `0.95 'emitting' 'fork-ts-checker-webpack-plugin'`"
## Current behavior
My webpack build gets to 95%, and after it emits 'fork-ts-checker-webpack-plugin' the build fails. Although the command exits with status 0, like a success, no build artefacts are generated. With the webpack logs, I see that it only ever gets to 95%, at this step.

[code]

This is the end of the logs, no artefacts are outputted. That is the `build` folder is empty.

## Expected

[2019-11-13 12:29] azizhk commented on #319
Same issue.
Can fork-ts-checker-webpack-plugin be used with babel-loader? I don't use ts-loader.

[2019-11-13 12:43] phryneas commented on #319
It can - I'm using it with babel-loader.

Can you provide a reproducible?

[2019-11-19 23:18] akleiber commented on #339
hi @phryneas do you have a PR for this that I may not find? Because you mentioned here https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/342#issuecomment-545757062 that you are working on it - if not is your suggestion solution the way to go?
-> https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/339#issuecomment-539119519

[2019-11-20 07:04] phryneas commented on #339
@akleiber  Argh, I had experimented using [API-extractor](https://api-extractor.com/pages/setup/configure_rollup/) for that, hit a roadblock, got distracted and forgot about that. Sorry!
Yes, comment 339 would be the easy way to go about this. Would you want to do a PR on this? I'm a bit swamped right now.

[2019-11-21 15:06] junalmeida opened #359 "Cannot find module issue while using on a webpack.config.TS file"
## Current behavior
![image](https://user-images.githubusercontent.com/991675/69349766-f5869e00-0c3d-11ea-86aa-4edeeba40d77.png)

## Expected behavior
Typings should be found by the editor.

## Steps to reproduce the issue
Add package and run `yarn install`

## Issue reproduction repository
None yet

## Environment
 - **fork-ts-checker-webpack-plugin**: 3.1.0
 - **typescript**: 3.7.2
 - **tslint**

[2019-11-21 22:07] phryneas commented on #359
This means that the TSServer run by your IDE cannot find fork-ts-checker-webpack-plugin. This can have plenty of reasons (most likely misconfiguration of `moduleResolution`, `typeRoots` or `types` in your `tsconfig.json` - or it is actually not installed), but it definitely is not a bug of fork-ts-checker-webpack-plugin.

Please re-check your setup, and if you really can't resolve this create a re

[2019-11-22 08:48] yuya-kanai commented on #357
I have the same issue with nuxt (vue)

[2019-11-22 14:28] junalmeida commented on #359
@phryneas ok, let me show you my setup:

`package.json`
![image](https://user-images.githubusercontent.com/991675/69433673-a013c500-0d01-11ea-9000-e03b897ffa36.png)

`node-modules`
![image](https://user-images.githubusercontent.com/991675/69433717-c174b100-0d01-11ea-8a77-bba46d37fc18.png)

`tsconfig.json`

[code]
There is no `types` node.

[2019-11-22 14:40] lygstate opened #360 "upgrade chokidar version"
## Current behavior

## Expected behavior

## Steps to reproduce the issue

## Issue reproduction repository

## Environment
 - **fork-ts-checker-webpack-plugin**: [version from the `package.json`]
 - **typescript**: [version from the `package.json`]
 - **tslint**: [version from the `package.json`]
 - **webpack**: [version from the `package.json`]
 - **os**: [e.g. Ubuntu 19.04]

[2019-11-22 18:37] noahm commented on #187
The new API was added in https://github.com/microsoft/TypeScript/pull/31432 and has been released in Typescript v3.6 so this should be unblocked now. Unfortunately, I don't know enough about how this plugin or the typescript API works to really tackle this myself yet.

[2019-11-26 02:54] WolfspiritM opened #362 "Sometimes watch is using old Diagnostics"
## Current behavior
Sometimes when saving files quickly after another and possibly when many file watchers are active the ApiIncrementalChecker is outputing the previous Diagnostics.

## Expected behavior
Always use new diagnostics

## Steps to reproduce the issue
Change and save files with and without errors repeatedly causes it to randomly not displaying the error but old diagnostics.

## Possib

[2019-11-26 20:27] johnnyreilly commented on #362
The `ApiIncrementalChecker` uses the underlying API in TypeScript to power the checking. I'm curious as to how webpack is the cause of the issue here; what's the "join" if you will between the TypeScript API and webpack and hence the cause of the issue do you think?

[2019-11-26 20:38] WolfspiritM commented on #362
@johnnyreilly Yes. However as far as I understand the watch callbacks are delayed until webpack triggers a build. All watch events are queued and pushed to webpack once with the forEach loop I mentioned above. The changes are queued here: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/04581f4a8cc999563e9ba1c63bfee7efb97e380f/src/CompilerHost.ts#L300-L305

Usually that is a singl

[2019-11-26 22:06] johnnyreilly commented on #362
Hmmmm.... I'd be interested in trying out some mitigation strategies here. If we could do it behind a feature flag then we could release it, get a broader group of people to try it and graduate it to the default if it works. What do you think?

[2019-11-27 09:30] bitttttten commented on #357
It is definitely reproducible, as I can trace it back to a commit where the issue starts to happen.

Although VSCode does not complain, linting has no issues, and the TypeScript playground does not have a problem with it either. Or when building locally.

Very strange how only the CI server has issues running it, and then even stranger is that I can SSH into the CI machine and manually run the bui

[2019-11-28 04:19] johnnyreilly commented on #357
Would you be able to do some investigation to discover what the issue is please?

[2019-12-03 01:03] boxmein commented on #362
I'm experiencing the same issue as well. When saving a file, noticing a mistake, quickly editing and saving it again, often times the first error is shown even after I've already made the changes. The error message highlights the line that the error does not exist on any more.

[2019-12-03 07:43] pelotom commented on #362
I've been seeing this too for a while now, and it's not restricted to windows (I'm on a Mac). It's pretty reliably reproducible in my large-ish CRA-based app. I would guess that in smaller codebases it may be harder to reproduce because compilation usually finishes before you can fix/introduce an error and save again.

[2019-12-03 08:31] johnnyreilly commented on #362
Yeah - I've experienced it too. I don't have time to look into this myself but I'd welcome people experimenting with ways to tackle it. Some kind of debouncing mechanism might work

[2019-12-09 04:53] ianschmitz commented on #360
This can be closed it looks like?

[2019-12-09 07:11] #360 closed, assigned to nobody

[2019-12-09 07:11] johnnyreilly commented on #360
Done! It shipped with version 3.1.1

[2019-12-10 23:42] GreenGremlin opened #363 "Errors outside of the fork-ts-checker-webpack-plugin cause it to error"
## Current behavior

Error in fork-ts-checker-webpack-plugin after an error occurs outside of fork-ts-checker-webpack-plugin. I had a legitimate error in my postcss config file, which was causing the build to bail early. When this happens, I get the following error.

[code]

I'm not familiar with fork-ts-checker-webpack-plugin, but it appears a spawned service is receiving a message after shutting

[2019-12-11 08:00] ypresto commented on #180
You need `async: false` option for plugin to make webpack-dev-server's `overlay: true` option work.

FYI I created plugin to enable error overlay for `async: true` (default) configuration by a little hacky way.
https://github.com/ypresto/fork-ts-checker-async-overlay-webpack-plugin

[2019-12-16 14:50] afgriffiths opened #367 "Nesting tsconfig inside a subdirectory causes an error parsing even though tsc on it's own works fine."
## Current behavior
When nesting `tsconfig.json` inside a subdirectory of the project, an error occurs when trying to parse `tsconfig.json`. Here is the fill stack trace:

[code]

## Expected behavior
`tsconfig.json` should be parsed without an error.

## Steps to reproduce the issue
Run the following commands:

[code]

If you then run the following commands:
[code]
you will see `tsc` executes wit

[2019-12-18 07:37] piotr-oles commented on #367
Thank you for reporting this issue. I've tried to reproduce it, and after commenting out `ForkTsCheckerWebpackPlugin`, the error still throws. It seems that the issue is in the `ts-loader` - please report this issue there :)

[2019-12-18 08:07] #367 closed, assigned to nobody

[2019-12-21 20:08] trusktr commented on #60
Regarding the all-too-common "has or is using private name" error, I've opened a request to fix issues like these in TypeScript by bringing declaration files to parity with language features. https://github.com/microsoft/TypeScript/issues/35822

[2019-12-23 20:32] TeamDman commented on #197
I believe it was an issue with typescript that is [now fixed.](https://github.com/Microsoft/TypeScript/issues/28785)
Try updating TS if you have the issue.

Related: https://github.com/vuejs/vue-cli/issues/2019

[2019-12-26 15:10] ypresto commented on #357
Maybe `useTypescriptIncrementalApi: false` can solve the issue:
https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/330#issuecomment-532166555
(Today I bumped fork-ts-checker-webpack-plugin from 0.5.2 to 3.1.1 (and bumped typescript from 3.5.3 to 3.7.4)  and webpack build did not finish, then solved with this option.)
TL;DR: It's too complex for tsc to emit type declaration of our

[2019-12-27 07:05] johnnyreilly commented on #357
That's not really a long term fix as we plan to remove that option once all the kinks in the useTypescriptIncrementalApi are ironed out

[2019-12-30 11:45] yangfan-coder commented on #357
Excuse me ，useTypescriptIncrementalApi Where to set up

[2019-12-30 13:24] johnnyreilly commented on #357
I'm really sorry I didn't understand that

[2019-12-30 13:26] yangfan-coder commented on #357
I want to disable during packaging 【fork-ts-checker-webpack-plugin】
But I don't know how to do it

[2019-12-30 14:41] johnnyreilly commented on #357
I need a little more context I think; I don't see fork-ts-checker-webpack-plugin being used in a packaging context. More for type checking in building / bundling web apps

[2019-12-30 14:46] yangfan-coder commented on #357
I want to disable the ts check when packing
`
nuxt.config.js
import ForkTsChecker from 'fork-ts-checker-webpack-plugin';

build: {
        /*
		 ** You can extend webpack config here
		 */
        postcss: {
            preset: {
                autoprefixer: {
                    overrideBrowserslist: [
                        'Android 4.1',
                        'iOS 7.1',

[2019-12-30 14:53] johnnyreilly commented on #357
I think just comment it out; the plugin is there for type checking. If you don't need to use it then don't use it

[2019-12-31 00:29] activescott commented on #236
FYI I added `ENV TSC_WATCHFILE UseFsEvents` to a Dockerfile that I was noticing exceptionally high cpu usage with and that fixed it! Thanks for this!

This was happening with Next.js which ends up running this service in dev mode.

[2019-12-31 02:36] yangfan-coder commented on #357
But I still check when I don't use packaging
I'm upset about this

[2019-12-31 05:29] johnnyreilly commented on #357
Perhaps use webpack's mode to determine when you want to use it and not?

[2019-12-31 06:31] berickson1 commented on #357
FWIW, I was tracking this issue as well. I had been seeing this on CircleCI builds in production. I had seen a hint that it _may_ have been related to a poorly (or unreported) out of memory exception inside of webpack.
After upgrading to the latest build of webpack and related build tooling, the issue seems to have resolved itself.

[2019-12-31 06:37] yangfan-coder commented on #357
nuxt.config.js
So I closed the typescript check
`buildModules: [
        [
            '@nuxt/typescript-build',
            {
                typeCheck: false
            }
        ]
    ]
`

[2019-12-31 06:46] johnnyreilly commented on #357
Thanks for sharing @berickson1 - perhaps worth trying @yangfandashuaige?

[2020-01-12 01:53] zoltan-nz commented on #336
@mforman1 Could you please share what triggered this issue and what was your solution? I would really appreciate your help. Cheers. :)

[2020-01-12 19:39] olee opened #374 "eslint emitWarning option"
eslint-loader has an option named `emitWarning` to make all errors warnings instead, to help during development so hot-updates etc. do not fail.
It would be great to allow setting this option in fork ts checker as well.

[2020-01-12 21:07] johnnyreilly commented on #374
Is that configurable using `eslintOptions`? Possible dupe of https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/346

[2020-01-13 23:17] bryanrideshark commented on #357
I am also experiencing this issue using `@storybook/angular` on a Circle.CI process.

Ideally would like to disable this plugin as part of the Webpack used by Storybook. Unsure as to what caused the error, but it's the same for me; Gets to 95% and then dies.

[2020-01-16 12:47] johnnyreilly opened #375 "Take v4 from beta to released!"
Hey @piotr-oles,

What do you think about releasing v4.0.0?  I've been testing with them in some projects of mine since Christmas and have had a great experience so far.

I think this could be ready to release!

[2020-01-16 20:38] piotr-oles commented on #375
Hi @johnnyreilly , I think it's a good idea  🚀

[2020-01-16 20:41] piotr-oles commented on #375
It seems that semantic-release finally published a stable version 16. Maybe it's worth to update it before releasing v4.0.0?

[2020-01-16 20:57] johnnyreilly commented on #375
Go for it!

[2020-01-18 19:30] piotr-oles commented on #36
I think I will be able to resolve it with 5.0.0 release - so stay tuned :)

[2020-01-21 08:55] #375 closed, assigned to johnnyreilly, phryneas, piotr-oles

[2020-01-21 12:00] StefanoMagrassi opened #379 "Could not find a declaration file for module 'eslint'"
## Current behavior
My Webpack config file is written in TS and type-checked on test/release.

With v4 of `fork-ts-checker-webpack-plugin` **tsc** started to complain about a not found declaration file for `eslint`

[code]

## Expected behavior
type-checking should pass

## Steps to reproduce the issue
**tsconfig.json**
[code]
**webpack.config.ts**
[code]
and then run

[code]

## Environment
 - **

[2020-01-21 12:26] johnnyreilly commented on #379
Thanks for the report. @piotr-oles how do you want to proceed with this? I'd suggest we don't want to make `@types/eslint` a dependency.

I suspect this is a side effect of moving to use `import * as eslint from 'eslint';` style imports rather than targeted ones that only import the types being used.

If so, this could probably be fixed by switching back to the `import { TYPE } from 'eslint';` sty

[2020-01-21 19:46] sikloidz commented on #187
There is any update on this feature? Currently my build it's ok with ts-loader but would be nice to be able to speed the compilation time by forking the type checking

[2020-01-21 20:46] piotr-oles commented on #379
Thanks @StefanoMagrassi , I'm working on the fix.

You are right @johnnyreilly , I will remove `@types/eslint` dependency to forbid using types from eslint. The PR will be soon 👍

[2020-01-21 21:43] piotr-oles commented on #187
We are working on the major refactor of the plugin internals as a 5.0.0 release. The new implementation should support project references out of the box :)

[2020-01-21 21:43] #379 closed, assigned to nobody

[2020-01-21 22:01] piotr-oles commented on #379
:tada: This issue has been resolved in version 4.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/4.0.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v4.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-22 08:53] piotr-oles commented on #356
Released with 4.0.0 😃

[2020-01-22 08:53] #356 closed, assigned to nobody

[2020-01-22 08:55] piotr-oles commented on #325
Done 😃

[2020-01-22 08:55] #325 closed, assigned to nobody

[2020-01-22 08:55] #302 closed, assigned to nobody

[2020-01-22 13:21] Chnapy commented on #271
Hi,

I also have a memory issue on type checking, since I upgraded one of my project lib (`react-scripts` from 2.1 to 3.X (tried with 3.0.1, 3.2.0, 3.3.0).

Note that `react-scripts` uses `fork-ts-checker-webpack-plugin` 3.1.0 in its webpack config.
I use typescript 3.3.3 (also tried with 3.7.5).

When I try a build, it takes like 5min then fails with this error stack:
[code]

I tried to increase

[2020-01-29 08:45] Fatme commented on #129
The code below should ensure that the errors from within `node_modules` will not be reported.

`tsconfig.json`
[code]

[2020-01-30 18:58] IIIristraM commented on #229
Looks like right now workaround is

[code]

It works, but has at least one negative effect like multiple same messages on start, nevertheless in my case with fifteen configs it's more acceptable than fifteen services.

Important note is that in my case all configs build parts of one app, so I can just run checker with tsconfig that includes all corresponding folders, add apply is a way to trigger

[2020-02-05 11:07] piotr-oles commented on #362
It will be fixed with the 5.0.0 release - this plugin will use only webpack's watcher to avoid race conditions :)

[2020-02-06 03:21] trusktr opened #383 "incompatible with Webpack 5.0"
With Webpack 5.0, we get an error, because `hooks` is no longer extensible:

[code]

[2020-02-06 21:06] ahrbil commented on #271
@Chnapy I'm having the same issue
I have turned off
[code]
and it's working
using typescript 3.7.5
and fork-ts-checker-webpack-plugin 4.0.3

[2020-02-07 13:26] lwyj123 commented on #363
any updates?

[2020-02-10 23:17] DannyDelott commented on #363
Running into this as well.

[2020-02-10 23:57] alecf commented on #363
note that this is merely indicative of another unrelated problem to this plugin, it just means a real error occurred in your project, elsewhere during webpack compilation.

[2020-02-11 07:06] piotr-oles commented on #363
I will take a look today, sorry guys for the inconvenience

[2020-02-12 16:43] jods4 opened #384 "Support Vue 3"
## Feature description
Vue 3 is now publicly available in alpha.
Because of changes in its internal structure, tools like fork-ts-checker-webpack-plugin need to be updated (see below).

## Feature implementation
I'm using Vue 3 + Webpack + Typescript in my project.
This requires `ts-loader@6.2.1`, `vue-loader@16.0.0-alpha.3` and `@vue/compiler-sfc@3.0.0-alpha.4`.

When I try to use `vue: true` in

[2020-02-12 18:32] johnnyreilly commented on #384
If you'd like to work on this that would be greatly appreciated. I'm not a Vue user and I believe none of the other maintainers are either.

If someone would like to submit a PR that would be greatly appreciated. It's important that we maintain support for Vue 2 for now as well. Thanks!

[2020-02-12 19:39] piotr-oles commented on #384
Did you try the following settings?
[code]

[2020-02-12 23:26] jods4 commented on #384
@piotr-oles I did not, I'll try tomorrow!
Should it work? If the packages share the same interfaces it might (and it would also be rather easy to fix out-of-the-box)

[2020-02-13 07:50] #363 closed, assigned to piotr-oles

[2020-02-13 08:04] piotr-oles commented on #363
:tada: This issue has been resolved in version 4.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/4.0.4)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v4.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-13 10:11] tony1377 opened #386 "TS5055: Cannot write file 'C:/projects-dir/some/file.js' because it would overwrite input file."
## Current behavior

After doing a large semvar update we are getting the TS5055 error mentioned in the title for all js files in "projects-dir" when running webpack in watch / build mode.

I've had a look into it and it seems that if I set `useTypescriptIncrementalApi: false` in the `ForkTsCheckerWebpackPlugin` options, then this error doesn't occur

As there's no other reported problems like thi

[2020-02-13 12:22] vlamitin opened #387 "Memory leak: service.js process is running after node heap out of memory crash"
## Current behavior

Every time [node falls with Heap out of memory](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/271), the `<project>/node_modules/fork-ts-checker-webpack-plugin/lib/service.js` is still running, causing memory leak. The more crashes: the more service.js processes causing leak

## Expected behavior

Proper shutdown of all running services

## Steps to reprod

[2020-02-13 14:02] jods4 commented on #384
Quick update: it doesn't work.

Unfortunately the exported api has changed just a little bit.

I have not tested yet but changing this line:
https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/master/src/VueProgram.ts#L321

to
[code]
might work.

[2020-02-13 19:44] IronSean opened #388 "4.0.0 should have release notes"
This is more a minor documentation ask:

Release 4.0.0 currently has no release notes, they all appear to be scattered among several beta releases. But as a user of the library who didn't use the beta releases, I would rather have the breaking changes collated with the actual release, rather than having to pick through beta releases and figure out if the changes are cumulative, or if some invalida

[2020-02-14 08:17] piotr-oles commented on #388
Thanks for reporting - I didn't notice. There was an issue with the `semantic-release` process and because of that, release notes haven't been generated. I did it manually: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v4.0.0

[2020-02-14 08:17] #388 closed, assigned to piotr-oles

[2020-02-14 14:10] jods4 commented on #384
PR available in #389

[2020-02-17 01:17] thehappycoder commented on #330
In one project, some code was added, which increased a production build from ~7mins to ~45mins. Setting `useTypescriptIncrementalApi` to `false` helped reducing it back.

[2020-02-19 07:36] charlessolar commented on #386
I was doing some updates today as well (tslint -> eslint) and ran into this.

In my case the error is:
[code]

And disabling `useTypescriptIncrementalApi` works as reported.

Of note - I tried a few different ways to tell ForkTsChecker and eslint to ignore the root directory and none worked.

Heres my current webpack config section

[code]

[2020-02-24 06:49] samupl commented on #236
Unfortunately, that did not help in my case. I tried both `UseFsEvents` and `UseFsEventsWithFallbackDynamicPolling` and I still get 99% CPU usage on idle.

In my use-case, I use a `node:13-alpine` docker image with `ENV TSC_WATCHFILE=UseFsEvents` set, and the app code mounted from the host directory. For reference, here's my Dockerfile:

[code]

The entrypoint simply runs `yarn dev`. The app is a

[2020-02-24 07:55] piotr-oles commented on #236
In order to `fs-events` to work, you need pre-compiled binaries to be fetched from the npm. These binaries are different for each node version. Please make sure the fs-events have been successfully installed inside a docker container. If not, you can try to fix it [by removing yarn.lock](https://github.com/fsevents/fsevents/issues/291) :)

[2020-02-24 13:08] aprilandjan opened #391 "allow override `include` and `exclude` of `tsconfig` in options"
## Feature motivation

I have a project which mixed js and ts files, using webpack/babel7/ts to compile all files. I need to manually make webpack ts-check-plugin check less files(only include `ts` `tsx`), but still keep the actual `tsconfig` in project root including all `ts` `tsx` `js` `jsx` files(for vsc support & eslint validation purposes).

## Feature description

Currently the plugin suppor

[2020-02-24 22:21] mvargeson opened #392 "TS6305: Output file '/path/to/dist/index.d.ts' has not been built from source file '/path/to/src/index.ts'."
## Current behavior
You receive a TS6305 error when using the `fork-ts-checker-webpack-plugin`. The error does not show up when not using the plugin. Running the build again without running a cleanup script to remove the output directory and buildinfo file will result in a no error being outputted. See the steps to reproduce for more info.

## Expected behavior
You either receive this error consis

[2020-02-25 16:18] slavafomin opened #393 "Compiler options are expected in internal format"
## Current behavior

When passing compiler options in the external format (like in `tsconfig.json` and like it stated in the plugin's documentation) it fails to parse "enumerated" fields like `moduleResolution` with the error like this: `Unexpected moduleResolution: Node`.

## Expected behavior

It should parse such fields correctly.

## Steps to reproduce the issue

Pass this config:

[code]

##

[2020-02-25 23:00] toverux opened #394 "Missing type checking error 'type breakdown'"
## Current behavior

When a type error occurs and is displayed in the console, whether it be with the `default` or `codeframe` formatters, I don't have the "type comparison breakdown" of the type checking error (don't know how to call it in TypeScript terminology):

Example:

[code]

Here, we don't know exactly why the types aren't assignable because we don't have the full breakdown.

Also, I noti

[2020-02-26 07:40] johnnyreilly commented on #394
Hmmm I think you've found something!

I don't have chance to look at this myself right now; but if you would like to have a crack I'd encourage it. I can cheer from the sidelines! 🤗

[2020-02-26 08:03] piotr-oles commented on #394
Thanks for reporting, I think it is related to the #390 :)

[2020-02-26 09:47] piotr-oles commented on #394
@toverux As #390 has been released, could you fetch the newest version of the plugin and test it?

[2020-02-26 12:24] toverux commented on #394
It fixes my problem indeed, thanks! (and thanks @connorjsmith for the PR)

[2020-02-26 12:24] #394 closed, assigned to nobody

[2020-02-26 13:01] cliedeman commented on #336
I had a similar issue and was able to track it down to a typescript definition file? https://github.com/diegomura/react-pdf/pull/833

[2020-02-27 14:33] oviava commented on #36
@piotr-oles wouldn't typescript adding specific syntax for `import type` help with this ? https://devblogs.microsoft.com/typescript/announcing-typescript-3-8/#type-only-imports-exports

[2020-02-28 02:18] elektronik2k5 commented on #36
@oviava that new syntax doesn't replace the old one. It is an addition, not a replacement.

[2020-02-28 21:40] berickson1 commented on #392
I did a little bit of digging into this and I think it's a race condition when building.

I believe this stems from fork-ts-checker and ts-loader running in parallel.  Typescript composite projects rely on the dist files being emitted and on disk, so if fork-ts-checker starts typechecking a module that ts-loader hasn't emitted yet, the above error would likely occur.  That also explains why runnin

[2020-03-02 18:16] theoomoregbee opened #396 "TS|TSX files are linted with useTypescriptIncrementalApi"
My current config:

[code]

created the variable without using it anywhere else
[code]

#### Actual output
[code]

#### Expected output

[code]

Changing `useTypescriptIncrementalApi` to `false` works but is much slower.

related to #219

[2020-03-03 17:54] Ivaylo-Lafchiev commented on #187
Is there any updates on this? Would like to be able to use this & ts-loader with projectReferences.

[2020-03-04 01:06] GreenGremlin commented on #357
This recently started happening in our circle-ci builds. The build that was having issues was using a single shell script to perform a number of tasks, one of the last being running webpack. I ended up solving this by breaking the shell script up into separate circle steps.

[2020-03-04 02:22] GreenGremlin commented on #357
Never mind, it looks like that didn't work after all.

[2020-03-04 08:59] piotr-oles commented on #187
Currently, I'm focusing on refactoring and I hope I will release an alpha version in the next month. It's a huge task and I have limited time to work on it :)

[2020-03-08 22:40] Bessonov commented on #238
@johnnyreilly linked issue seem to be resolved. Any news on this one?

[2020-03-09 06:24] johnnyreilly commented on #238
I'm not working on this myself; I'm not sure if anyone else is

[2020-03-09 17:59] nickretallack opened #397 "Doesn't read the memoryLimit from tsconfig.json"
## Current behavior

I created a react app using `create-react-app`.  I put a `memoryLimit` setting in the `tsconfig.json` file like so:

[code]

I put a very large amount of typescript files in the project.
I ran `yarn start`, and it built the app but then this happened:

[code]

I opened the report and I saw this:

[code]

That's not the memory limit I set!  So I edited `node_modules/react-scrip

[2020-03-11 01:40] GreenGremlin commented on #357
I was finally able to track down! Turns out there's two different out of memory errors you can run into for node processes, in a docker container on circleci. The first is if an individual process exceedes the limit imposed by node via the --max_old_space_size option. In that case, node kills the process and throws an OOM exception that is pretty obvious. fork-ts-checker-webpack-plugin actually de

[2020-03-11 06:53] johnnyreilly commented on #357
Thank you for sharing your findings @GreenGremlin !

[2020-03-11 16:50] GreenGremlin commented on #357
Might be worth adding a warning when the service exits with a SIGINT signal. Maybe something like, "Type checking and linting interrupted - If running in a docker container, this may be caused by the container running out of memory. If so, try increasing the container's memory limit or lowering the `memoryLimit` value in the ForkTsCheckerWebpackPlugin configuration."

[2020-03-11 22:08] GreenGremlin commented on #357
Here's a PR to warn for this condition: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/398

[2020-03-12 08:03] #323 closed, assigned to nobody

[2020-03-12 08:18] piotr-oles commented on #323
:tada: This issue has been resolved in version 4.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/4.1.0)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v4.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-12 08:45] piotr-oles commented on #397
Sorry @nickretallack but it's not a bug - it's how this plugin works and how it is documented. We don't want to extend `tsconfig.json` with our custom configuration because it can cause configuration parsing error on the TypeScript. What we could eventually implement is a separate configuration file, like `.fork-ts-checker.json`. I'm not an expert on `create-react-app` - maybe you could ask there

[2020-03-13 09:24] oviava commented on #36
Well they added something new with

So now with fork-ts-checker-webpack-plugin, if you set the flag to `preserve` it actually triggers on types only TS files

[2020-03-13 10:08] piotr-oles commented on #36
The issue is somewhere else - in the `webpack` + `ts-loader` / `babel`. If you use `ts-loader` with `transpileOnly: true` or `babel`, it omits files that contain only types (it doesn't add it to the dependencies Set in webpack compilation). Because of that, webpack will not rebuild the project after changing something in the types only file. And fork-ts-checker-webpack-plugin is controlled by webp

[2020-03-13 11:13] alexk111 commented on #36
Here is how I solved this. Maybe will be helpful for someone else :)

**webpack.config.js:**
[code]

**tsconfig.editor.json:**
[code]

[2020-03-13 15:44] oviava commented on #36
see my comment, if you use `importsNotUsedAsValues: preserve` in tsconfig, apparently it does add it to the dep tree, it fixed it for me at least - only have the value set in dev mode

[2020-03-13 15:54] piotr-oles commented on #36
Oh, that's cool :) Unfortunately, we can't fix it on the plugin side - so either you have to set it manually or change the configuration/behavior of the `ts-loader` / `babel`.

[2020-03-22 18:51] #357 closed, assigned to nobody

[2020-03-22 19:05] piotr-oles commented on #357
:tada: This issue has been resolved in version 4.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/4.1.1)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v4.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-26 11:01] andyrooger opened #400 "ESLint fix option silently fails"
## Current behavior
With eslint running via `fork-ts-checker-webpack-plugin`, turning on `fix` stops all issues from being reported and doesn't fix anything. If I turn `fix` off, I get issues reported again.

## Expected behavior
With `fix` turned on fixable issues should be fixed. At least the unfixable issues should be reported.

## Steps to reproduce the issue
Set up `fork-ts-checker-webpack-pl

[2020-03-26 11:01] andyrooger commented on #400
Seems on [this line](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/4013a3f56839dd27e4df6a410ff20c90d56a7b97/src/createEslinter.ts#L27) we're calling `outputFixes` on the linter itself rather than `CLIEngine` which the eslint docs suggest. The error then seems to be swallowed below. If I change this locally everything works as expected.

[2020-03-26 12:38] #400 closed, assigned to nobody

[2020-03-26 12:54] piotr-oles commented on #400
:tada: This issue has been resolved in version 4.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/4.1.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v4.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-02 23:20] JosipReh commented on #271
Did someone managed to fix this issue?

[2020-04-05 21:22] myshov commented on #211
There is a related issue in TypeScript repo: https://github.com/microsoft/TypeScript/issues/34119

If you have a problem with slow initial build with `useTypescriptIncrementalApi`, please run tsc (with watch mode and without with `--diagnostics`) independently and post the results in the issue. The more information we will give to the developers of TS the sooner they will resolve the issue.

[2020-04-08 13:45] remorses commented on #236
I got a `JavaScript heap out of memory` error on mac, caused by nextjs dev server, it wasn't even running when it happend
previous days there were many node processes taking 100% cpu
As you can see the running process was from `node_modules/fork-ts-checker-webpack-plugin/lib/service.js`

[code]

[2020-04-10 06:01] johnnyreilly commented on #187
Hey all,

The amazing @sheetalkamat is busy improving the  project references support in `ts-loader` in https://github.com/TypeStrong/ts-loader/pull/1076

Part of the discussion is around how `transpileOnly` should work alongside `fork-ts-checker-webpack-plugin`. Feel free to be part of the discussion 🌻🥰

[2020-04-14 18:55] bfricka commented on #319
My issue _looks_ the same as @giniedp
I'm running an ejected create react app, and I found the issue is that `react-dev-utils` has a bunch of stuff that swallows this up. Specifically, in the start script, `WebpackDevServerUtils.createCompiler` has a `useTypeScript` option, which I had omitted because I previously used a different method of compiling TS. However, I can't just enable that because i

[2020-04-18 08:03] piotr-oles commented on #391
Hi :) You can create a separate `tsconfig.only-ts.json` file that will extend from `tsconfig.json` and use that file in the `ForkTsCheckerWebpackPlugin` by specifying `tsconfig` option

[2020-04-18 08:11] #354 closed, assigned to nobody

[2020-04-18 08:53] aprilandjan commented on #391
@piotr-oles your solution is good, I didn't really thought of that. Thanks!

[2020-04-18 08:53] #391 closed, assigned to nobody

[2020-04-18 09:08] #327 closed, assigned to nobody

[2020-04-18 09:39] #245 closed, assigned to nobody

[2020-04-18 09:52] #207 closed, assigned to nobody

[2020-04-18 09:53] #191 closed, assigned to nobody

[2020-04-18 10:01] #119 closed, assigned to nobody

[2020-04-18 10:13] #57 closed, assigned to nobody

[2020-04-28 10:20] samal-rasmussen commented on #386
I added `"noEmit": true` to tsconfig.json compilerOptions to fix this.

[2020-05-07 22:25] kpeters-cbsi opened #406 "Webpack fails with "Cannot find module /home/USER/PROJECT/--max-old-space-size=2048""
## Current behavior
Using the Serverless framework with Webpack. I type in `sls deploy`, which bundles my application with webpack, and I get:

[code]

Disabling the plugin in my `webpack.config.js` removes the problem

## Expected behavior
Application would build successfully

## Steps to reproduce the issue
In `webpack.config.js`, have the following under "plugins":

[code]

## Issue reproductio

[2020-05-09 02:07] connorshea commented on #329
FYI this has changed somewhat and is now covered in the official docs (link is to 5.1, check the master branch of webpacker to make sure this is still relevant): https://github.com/rails/webpacker/blob/22ab02b7c84e917f985ecc76f5916d144f43bfbf/docs/typescript.md#optional-adding-compile-time-type-checking

So if you're on Webpacker 5.1+ you should use the official docs instead :)

[2020-05-14 03:45] bitquality opened #407 "Build stops after 40% in node js project with npm serve command"
## Current behavior
Build stops after 40% in node js project with npm serve comand

## Expected behavior
Output errors and stop from hanging.

## Steps to reproduce the issue
   setup vue cli project and below configuration

`Starting type checking service...
Using 1 worker with 2048MB memory limit
40% building 220/229 modules 9 active usr\abc\node_modules\querystring-   es3\encode.js`

I used bel

[2020-05-15 17:36] andyrooger opened #408 "Bump babel dependency to @babel/code-frame"
## Feature motivation

I have a large project that's having issues with conflicting versions of `chalk` being installed. Wrong versions are being picked up in places (which is the individual package's fault).

`fork-ts-checker-webpack-plugin` has a dependency on `babel-code-frame` which in turn pulls in `chalk@1`. For me this is the only package that uses `chalk@1` so I'd like to be able to update

[2020-05-15 18:22] johnnyreilly commented on #408
I believe that @piotr-oles has already done the upgrade in the beta he's working on.... I don't know how far away from shipping that is. If it's going to be a while then I suspect we'd be open to a PR 🤗

[2020-05-15 19:51] piotr-oles commented on #408
The stable version of the plugin will not be released very soon - it's a major rewrite with breaking changes. We will release alpha and beta versions first. So if you don't want to wait, feel free to open a PR :)

[2020-05-15 20:17] andyrooger commented on #408
I'll get on it!

[2020-05-16 15:58] #408 closed, assigned to nobody

[2020-05-16 16:11] piotr-oles commented on #408
:tada: This issue has been resolved in version 4.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/4.1.4)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v4.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-19 06:43] joebnb commented on #391
same problem i have,did this issue has any plan in future?

[2020-05-19 06:45] joebnb commented on #391
in my case,i need take tsconfig.json out of project,and it seems no context ,in ts loader it was works well
![image](https://user-images.githubusercontent.com/1646883/82293579-5c172980-99df-11ea-9379-80fd3d8712ce.png)

[2020-05-19 08:05] joebnb commented on #297
![image](https://user-images.githubusercontent.com/1646883/82301267-92a67180-99ea-11ea-9123-b732a5f725dd.png)

[2020-05-22 09:09] piotr-oles commented on #393
There is a function provided by the TypeScript itself: `ts.convertCompilerOptionsFromJson` :) It will be used in the 5.0.0 release :)

[2020-05-23 07:14] Sara2009 opened #411 "[bug]webpack will hang out and not break progress if set bail=true"
"webpack": "^4.41.5"
"fork-ts-checker-webpack-plugin": "^4.1.3"

[code]
![image](https://user-images.githubusercontent.com/9332442/82724336-e923f080-9d07-11ea-9675-94cc957c4ce2.png)

[2020-05-23 08:28] piotr-oles commented on #411
Hi! Could you provide a minimal reproduction repository?

[2020-05-23 08:30] piotr-oles commented on #407
Hi!

Maybe this issue is not related to this plugin directly? Could you provide a reproduction repository?

[2020-05-23 09:05] piotr-oles commented on #406
Hi!
Do you have the same error for the `sls webpack` command? I didn't want to set up AWS credentials to test it.

I didn't have this issue for `sls webpack` commend so I'm not sure if there is some difference between these commands or its because of the environment.

[2020-05-23 19:14] piotr-oles commented on #362
@WolfspiritM
Please try [`fork-ts-checker-webpack-plugin@alpha`](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀

[2020-05-23 19:15] piotr-oles commented on #362
I will close this issue to clean-up the backlog. If it wasn't resolved with this version, we can re-open this issue :)

[2020-05-23 19:15] #362 closed, assigned to nobody

[2020-05-23 19:17] piotr-oles commented on #332
@ryedin
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:17] #332 closed, assigned to nobody

[2020-05-23 19:19] piotr-oles commented on #330
@aaronjensen , @ypresto , @thehappycoder
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:19] #330 closed, assigned to nobody

[2020-05-23 19:23] piotr-oles commented on #236
@mszczepanczyk , @taylortdixon , @delaaxe , @ajkettun , @NeKJ , @harrybin , @allnash , @jasonwilliams , @activescott , @samupl , @remorses
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀(now the plugin uses webpack's watcher instead of typescript's one)
I will

[2020-05-23 19:23] #236 closed, assigned to nobody

[2020-05-23 19:26] piotr-oles commented on #211
@Kavorka79 , @IIIristraM
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:26] #211 closed, assigned to nobody

[2020-05-23 19:27] piotr-oles commented on #392
@mvargeson , @berickson1
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:27] #392 closed, assigned to nobody

[2020-05-23 19:28] piotr-oles commented on #328
@phryneas , @fabb
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which supports build mode 🚀
I will close this issue to clean-up the backlog :)

[2020-05-23 19:28] #328 closed, assigned to nobody

[2020-05-23 19:30] piotr-oles commented on #187
@MLoughry , @noahm , @sikloidz , @Ivaylo-Lafchiev
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which supports project references 🚀
I will close this issue to clean-up the backlog :)

[2020-05-23 19:30] #187 closed, assigned to nobody

[2020-05-23 19:31] piotr-oles commented on #238
@kelly-tock , @Bessonov
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which supports incremental building 🚀(note that it won't generate `.tsbuildinfo` file but will consume it if present)
I will close this issue to clean-up the backlog :)

[2020-05-23 19:31] #238 closed, assigned to nobody

[2020-05-23 19:33] piotr-oles commented on #219
@WolfspiritM
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which supports Vue.js with the Watch API  🚀(note: TypeScript >= 3.8.0 required)
I will close this issue to clean-up the backlog :)

[2020-05-23 19:33] #219 closed, assigned to nobody

[2020-05-23 19:34] piotr-oles commented on #209
@fastfedora , @xinbenlv
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog :)

[2020-05-23 19:34] #209 closed, assigned to nobody

[2020-05-23 19:35] piotr-oles commented on #298
Solved in the alpha release :)

[2020-05-23 19:35] #298 closed, assigned to nobody

[2020-05-23 19:37] piotr-oles commented on #36
Thank you @oviava for the comment about `importsNotUsedAsValues: preserve` - I documented it in the `README.md` in the [new alpha release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) :) I will close this issue as this configuration solves the problem :)

[2020-05-23 19:38] piotr-oles commented on #257
Support was re-evaluated in the new alpha release (TypeScript >= 2.7.0 - because of the Watch API). The E2E tests check different versions of TypeScript :)

[2020-05-23 19:38] #257 closed, assigned to nobody

[2020-05-23 19:39] piotr-oles commented on #387
@vlamitin
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:39] #387 closed, assigned to nobody

[2020-05-23 19:40] piotr-oles commented on #383
@trusktr
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:40] #383 closed, assigned to nobody

[2020-05-23 19:46] piotr-oles commented on #359
@junalmeida
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:46] #359 closed, assigned to nobody

[2020-05-23 19:50] piotr-oles commented on #188
@maciejw , @oozliuoo
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:50] #188 closed, assigned to nobody

[2020-05-23 19:50] piotr-oles commented on #393
@slavafomin
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:50] #393 closed, assigned to nobody

[2020-05-23 19:51] piotr-oles commented on #112
@LKay
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:51] #112 closed, assigned to nobody

[2020-05-23 19:52] piotr-oles commented on #396
@theoomoregbee
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:52] #396 closed, assigned to nobody

[2020-05-23 19:53] piotr-oles commented on #374
@olee
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀 (there is an option to pass eslint options and another option to set issues predicates)
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 19:53] #374 closed, assigned to nobody

[2020-05-23 19:55] piotr-oles commented on #340
@jeffshaver
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which allows to filter out issues using configuration (`issues` options) 🚀
I will close this issue to clean-up the backlog :)

[2020-05-23 19:55] #340 closed, assigned to nobody

[2020-05-23 19:57] piotr-oles commented on #232
@dallonf , @kelly-tock
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which allows you to filter out issues using predicates (`issues` options) 🚀
I will close this issue to clean-up the backlog :)

[2020-05-23 19:57] #232 closed, assigned to nobody

[2020-05-23 19:58] piotr-oles commented on #216
I'm closing this issue as we no longer support TSLint :)

[2020-05-23 19:58] #216 closed, assigned to nobody

[2020-05-23 20:00] piotr-oles commented on #397
@nickretallack
Please check the new alpha release of the plugin: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/v5.0.0-alpha.1 As I promised, it supports `cosmiconfig` configuration - it's documented in the `README.md` :)

[2020-05-23 20:00] #397 closed, assigned to nobody

[2020-05-23 20:03] piotr-oles commented on #180
@Izzaki , @ypresto
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which shows errors in the async mode in the webpack-dev-server 🚀

Huge thanks to the @ypresto - your implementation of the https://github.com/ypresto/fork-ts-checker-async-overlay-webpack-plugin helped me a lot 👏

I will close

[2020-05-23 20:03] #180 closed, assigned to nobody

[2020-05-23 20:06] piotr-oles commented on #128
@maksimsemenov , @crazyx13th , @zeusLeeJh , @michalpuskel
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which sets `skipLibCheck` and `skipDefaultLibCheck` to `true` 🚀
I will close this issue to clean-up the backlog :)

[2020-05-23 20:06] #128 closed, assigned to nobody

[2020-05-23 20:07] piotr-oles commented on #101
@geirsagberg , @meyer , @Akuukis
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog :)

[2020-05-23 20:07] #101 closed, assigned to nobody

[2020-05-23 20:08] piotr-oles commented on #309
@pamls
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 20:08] #309 closed, assigned to nobody

[2020-05-23 20:08] piotr-oles commented on #303
@deser
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 20:08] #303 closed, assigned to nobody

[2020-05-23 20:12] piotr-oles commented on #273
@swashata
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which automatically forwards all taps from the child compilers to the multi-compiler so we can use `ForkTsCheckerWebpackPlugin.getCompilerHooks()` with multi-compiler (see https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blo

[2020-05-23 20:12] #273 closed, assigned to nobody

[2020-05-23 20:13] piotr-oles commented on #195
I will close it as there is no activity :)

[2020-05-23 20:13] #195 closed, assigned to nobody

[2020-05-23 20:14] piotr-oles commented on #199
I will close it as there is no activity :)

[2020-05-23 20:14] #199 closed, assigned to nobody

[2020-05-23 20:15] piotr-oles commented on #294
I will close it as there is no activity :)

[2020-05-23 20:15] #294 closed, assigned to nobody

[2020-05-23 20:16] piotr-oles commented on #314
I will close it as there is no activity :)

[2020-05-23 20:16] #314 closed, assigned to nobody

[2020-05-23 20:20] piotr-oles commented on #386
@tony1377 , @volak , @samal84
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 20:20] #386 closed, assigned to nobody

[2020-05-23 20:23] piotr-oles commented on #319
@BiosBoy , @giniedp , @maksnester ,  @cmoad , @azizhk , @bfricka
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 20:29] piotr-oles commented on #59
Hi @hodavidhara ,
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version that should resolve this issue 🚀You can set `"traceResolution": true` in your compilerOptions to see it in the console.
I know it was 3 years ago and you probably solved that issue, but I left this comment for the reference for

[2020-05-23 20:29] #59 closed, assigned to nobody

[2020-05-23 20:30] piotr-oles commented on #229
@kube , @IIIristraM
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 20:30] #229 closed, assigned to nobody

[2020-05-23 20:31] piotr-oles commented on #270
I will close this issue to clean up the backlog :) Most of the points were implemented in the [v5.0.0-alpha-1](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/v5.0.0-alpha.1) :)

[2020-05-23 20:31] #270 closed, assigned to johnnyreilly, phryneas

[2020-05-23 20:34] piotr-oles commented on #230
I'm closing this issue as there no further comments :)

[2020-05-23 20:34] #230 closed, assigned to nobody

[2020-05-23 20:35] piotr-oles commented on #315
@nfm
Please try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha) - I've published a new version which should resolve this issue 🚀
I will close this issue to clean-up the backlog. If this release didn't solve the issue, we can re-open this :)

[2020-05-23 20:35] #315 closed, assigned to nobody

[2020-05-23 20:38] piotr-oles commented on #269
@phryneas
Could you try the new version of the plugin (https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/v5.0.0-alpha.1) and update the tasks.json file? I would be happy to add it to the `README.md` but I'm not using vscode personally :)

[2020-05-23 20:39] piotr-oles commented on #271
Could you try [fork-ts-checker-webpack-plugin@alpha](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/alpha)? I've published a new version which potentially could resolve this issue :)

[2020-05-23 21:42] IgnusG opened #412 "Error: Cannot find module './ForkTsCheckerWebpackPlugin' on @alpha"
## Current behavior
Running webpack crashes immediately with:

<details>
<summary>Stacktrace</summary>
<pre>
/.../node_modules/webpack-cli/bin/cli.js:93
                                throw err;
                                ^

Error: Cannot find module './ForkTsCheckerWebpackPlugin'
Require stack:
- /.../node_modules/fork-ts-checker-webpack-plugin/lib/index.js
- /.../webpack.config.js
- /.../n

[2020-05-24 02:23] nickretallack commented on #397
Cool, thanks.  Honestly we ended up commenting out this plugin because it would stop development if there were any type errors, and we just converted our whole project from flow so we have about 8000 type errors.  Instead, we've been running `tsc` and writing the result to a checked-in file and treating it as a baseline until we can reduce the number of errors.  We review the error delta in code r

[2020-05-24 08:27] piotr-oles commented on #412
:tada: This issue has been resolved in version 5.0.0-alpha.2 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/5.0.0-alpha.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v5.0.0-alpha.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)*

[2020-05-24 12:36] phryneas commented on #269
As I said in #404, I'll start dogfooding this soon.
I'll have to update the `tasks.json` then anyways, and I'll update it here then - thanks for keeping an eye on this :)

[2020-05-24 22:31] eamodio opened #414 "5.0.0-alpha.2: ESLint support only seems to work on initial compile, not on changes"
## Current behavior

ESLint seems to only run on the initial compile, not on recompile (watch) after changes

## Expected behavior

ESLint should run in both scenarios

## Steps to reproduce the issue

Enable ESlint, have no ESLint issues on initial watch, then add an ESLint error

## Environment
 - **fork-ts-checker-webpack-plugin**: [5.0.0-alpha.2]
 - **typescript**: [3.9.3]
 - **eslint**: [7.1.

[2020-05-24 23:34] kpeters-cbsi commented on #406
I don't have an `sls webpack` command.

`Serverless command "webpack" not found. Did you mean "deploy"? Run "serverless help" for a list of all available commands.`

[2020-05-25 06:34] #412 closed, assigned to piotr-oles

[2020-05-25 06:35] piotr-oles commented on #414
Could you send a `webpack.config.js` file?

[2020-05-25 06:38] piotr-oles commented on #406
Ok :) I assume that `sls` command is from the https://www.npmjs.com/package/serverless package. I assume also that you have installed this package globally. Could you tell me which version of this package do you use?

[2020-05-25 07:38] Sara2009 commented on #411
https://github.com/Sara2009/bug-fork-ts-checker-webpack-plugin

run `npm run build`

`src/js/index.tsx` has an error `import App from './apps'`. The filename `apps` is wrong. I set bail=true in webapck.confg.js. The progress will hang on. If i remove the fork-ts-checker-webpack-plugin. Webpack will break.

[2020-05-25 08:34] piotr-oles commented on #411
Thank you for this repository. I found the bug and I will create PR soon :)

[2020-05-25 08:50] eamodio commented on #414
https://github.com/eamodio/vscode-gitlens/blob/develop/webpack.config.js

[2020-05-25 10:55] WolfspiritM opened #416 "5.0.0-alpha.2: Vue error when a module ends with ".vue""
## Current behavior
When importing a module that is for example called "qrcode.vue" then this plugin throws many:
[code]
errors.
The reason is that it tries to read the directory as a file:
x/node_modules/qrcode.vue
instead of importing that module.

I think it's a bad decision to have a module ending with .vue but still this shouldn't break.

## Expected behavior
Importing that module.
I think it

[2020-05-25 14:17] #411 closed, assigned to nobody

[2020-05-25 14:29] piotr-oles commented on #411
:tada: This issue has been resolved in version 4.1.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/4.1.5)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v4.1.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-25 15:25] piotr-oles commented on #411
:tada: This issue has been resolved in version 5.0.0-alpha.3 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/5.0.0-alpha.3)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v5.0.0-alpha.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)*

[2020-05-25 16:05] WolfspiritM opened #421 "5.0.0-alpha.2: Multiple eslint results for the same error on build"
## Current behavior
I had troubles getting eslint to work.
(Minor issue is that readme for the alpha says that "enabled" is the default value but for me it only works when I set eslint.enabled to true explicitly).
Once I got it to work I got overwhelmed by the amount of errors I received when using normal build. _Watch mode seems to work fine_!
I have vue, typescript and eslint enabled. I've added

[2020-05-25 16:32] piotr-oles commented on #414
:tada: This issue has been resolved in version 5.0.0-alpha.5 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/5.0.0-alpha.5)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v5.0.0-alpha.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)*

[2020-05-25 17:02] #414 closed, assigned to piotr-oles

[2020-05-25 17:39] eamodio commented on #414
Looks great -- thanks!

[2020-05-25 19:12] piotr-oles commented on #421
Thank you for testing the plugin and reporting this issue!
Would it be possible to create a reproduction repository?

[2020-05-25 21:02] eamodio commented on #269
Here is a the `tasks.json` I use for [GitLens](https://github.com/eamodio/vscode-gitlens/blob/develop/.vscode/tasks.json):
[code]

Which uses the problem matchers from my [TypeScript + Webpack Problem Matchers extension](https://marketplace.visualstudio.com/items?itemName=eamodio.tsl-problem-matcher)

[2020-05-25 21:16] eamodio commented on #269
@phryneas FYI, you can use the `npm` type tasks even with yarn if you set `"npm.packageManager": "yarn"` in your vscode settings

[2020-05-26 03:53] johnnyreilly commented on #269
I have only just realised that gitlens uses `ts-loader` and `fork-ts-checker-webpack-plugin` to build itself! I didn't realize you could use webpack to build a vs code extension.... There's so much I don't know!

[2020-05-26 08:23] piotr-oles commented on #416
:tada: This issue has been resolved in version 5.0.0-alpha.6 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/5.0.0-alpha.6)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v5.0.0-alpha.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)*

[2020-05-26 08:24] #416 closed, assigned to piotr-oles

[2020-05-26 09:03] piotr-oles commented on #339
Fix released in the 5.0.0-alpha.7 version :)

[2020-05-26 09:03] #339 closed, assigned to nobody

[2020-05-26 09:10] piotr-oles commented on #297
@stavalfi I'm just wondering - maybe you could use `process.cwd()` in the `tsconfig.json` file path? Or you could even use it for the webpack's `context` field? Then, you can use a path for the `tsconfig.json` that is relative to the webpack's context.

Also, please check out the `alpha` version which supports _Project References_ - it can be useful in the monorepo :)

[2020-05-26 10:16] vicary opened #424 "Option to limit number of processes/threads/fds"
## Feature motivation

My team is using `serverless-webpack` to bundle ~100-ish Lambda functions at the same time, due to constraints in `serverless-appsync-plugin` we cannot split them into multiple batches, and with `webpack` + `ts-loader` alone it is impossible to bundle them all at once.

This module opens up the possibility to keep the type checking, but we quickly hit another problem. i.e. W

[2020-05-26 11:28] piotr-oles commented on #424
Hi @vicary

I think it's not a common issue so I wouldn't like to implement this logic in the plugin. Instead, I could modify the `start` hook on the `alpha` branch to provide `AsyncSeriesWaterfallHook`. Then you could tap into this hook and add awaiting logic that suits your case :)

Is it something that would help you?

[2020-05-26 11:43] piotr-oles commented on #424
This is a pseudo-code that I came up:
[code]

and usage:
[code]
[code]

[2020-05-26 11:50] vicary commented on #424
Hi @piotr-oles,

Thanks for the quick reply.

Haven't worked with plugin hooks yet, do you mean I can control each processes with something like the following?

[code]

This looks like the current `AsyncSeriesHook` in `serviceBeforeStart` and `SyncHook` in `done` already works.

Am I getting it correctly?

[2020-05-26 11:53] vicary commented on #424
Oh wow thanks for the sample code! So I have to make my own plugin to tap into those hooks, right?

[2020-05-26 12:01] piotr-oles commented on #424
I think it's the most convenient way to do this :) You can also manually get the compiler instance but this means that you would have to use [webpack's Node.js API](https://webpack.js.org/api/node/) (because you don't have a compiler instance when you just export the configuration).

The pseudo-code I sent you is for the alpha branch - https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/t

[2020-05-26 12:10] vicary commented on #424
Sounds great!

Just wanna make sure no unnecessary works on your side, does the hook `serviceBeforeStart` do the job?