[2021-05-06 21:12] piotr-oles commented on #594
:tada: This issue has been resolved in version 7.0.0-alpha.2 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)*

[2021-05-06 21:12] piotr-oles commented on #593
:tada: This issue has been resolved in version 7.0.0-alpha.2 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)*

[2021-05-06 21:12] piotr-oles commented on #582
:tada: This issue has been resolved in version 7.0.0-alpha.2 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)*

[2021-05-06 21:12] piotr-oles commented on #583
:tada: This issue has been resolved in version 7.0.0-alpha.2 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)*

[2021-05-06 21:12] piotr-oles commented on #564
:tada: This issue has been resolved in version 7.0.0-alpha.2 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)*

[2021-05-07 14:31] olessavluk opened #606 "files from `node_modules` getting resloved despite being in `.eslintignore`"
Hi 👋

After updating to 6.2.6 which includes https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/602 I've got this error https://github.com/eslint/eslint/issues/14533. My config is:
[code]

But I also have `node_modules` ignored and when running from CLI `yarn eslint --fix '**/*.{js,jsx,ts,tsx}'` it works just fine.

Do you think it can be fixed? Or maybe I can specify this blob diff

[2021-05-08 21:21] rattrayalex opened #608 "Error: Debug Failure. False expression."
## Current behavior

[code]

I was able to work around this with the following config:

[code]

## Expected behavior

It should not error.

Probably, it should instead silently merge `outFile: null` and perhaps also `outDir: null`…

## Steps to reproduce the issue

The following in a tsconfig may be sufficient, I'm not sure:
[code]

## Issue reproduction repository

## Environment
 - **fork-ts-che

[2021-05-09 09:10] mykolarositskyi opened #610 "compile time lasts up to 5 min"
## Current behavior

This is a very little project with just some configuration, and I am experiencing compilation time around 2-5 min with a high CPU each time I run the build. Webpack builds projects for few seconds, but type checking is too long.
Here is some info from profile:

![image](https://user-images.githubusercontent.com/55023068/117565470-27055a80-b0ba-11eb-9246-de5ecf863b82.png)

## E

[2021-05-10 07:14] piotr-oles commented on #610
Hi! Could you test with the latest TypeScript beta version?

[2021-05-10 07:16] piotr-oles commented on #608
Could you test it with a regular `tsc --watch --noEmit` command?

[2021-05-10 09:51] mykolarositskyi commented on #610
@piotr-oles , Hi! Yes, it's fixed the problem! Thanks a lot for help!

[2021-05-10 09:51] #610 closed, assigned to nobody

[2021-05-10 18:54] rattrayalex commented on #608
That command shows these errors:
[code]
Without `--noEmit`, the command succeeds.

[2021-05-10 19:59] ratherblue commented on #606
Having this issue as well. Just tried upgrading `@nuxt/typescript-build` from `^2.0.3` to `^2.1.0` and our build is broken with this same error after `fork-ts-checker-webpack-plugin` changed from `5.1.0` to `6.1.1`. We have `node_modules` ignored everywhere but it still tries to check the folder.

[2021-05-11 00:59] jtbandes opened #611 "Incorrect `webpack --watch` behavior for type-only imports when using yarn workspaces"
## Current behavior
Type-only imports ([`import type X`](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-and-export), or `import X` where X is only used as a type) result in incorrect `webpack --watch` behavior. When files residing in workspace packages are modified, the importing code does not always get recompiled.

This is a similar issue to http

[2021-05-11 01:03] ratherblue commented on #606
Alright, narrowed it down. Calling `engine.isPathIgnored(path)` calls this code in ESLint:

[code]

This calls ESLint's `configArrayFactory` which tries to load configuration for that file. If you try to run `isPathIgnored` on a file in `node_modules` containing an ESLint config you don't have installed locally the check will fail. So for example in my project when it tries to check if `/app/node_

[2021-05-11 06:34] piotr-oles commented on #608
Ok, thanks, it seems to be an issue in the plugin :)

[2021-05-11 06:37] piotr-oles commented on #606
@ratherblue thanks for debugging it. Feel free to create a PR. If you don't have time, I will do it when I find a moment :)

[2021-05-11 06:46] ratherblue commented on #606
I can try to take a stab tomorrow morning 👍.

On Mon, May 10, 2021 at 11:37 PM Piotr Oleś ***@***.***>
wrote:

[2021-05-11 15:39] grumd opened #612 "ESLint checking from the 1st compilation blocks 2nd webpack compilation (tapAfterCompileToAddDependencies)"
## Current behavior
1. During the initial compilation, fork-ts-checker starts doing its thing, and one of these things is `getDependencies`.
2. Dependencies resolution will be written to `dependenciesPromise`
3. Next webpack compilation will stumble upon `tapAfterCompileToAddDependencies` hook.
4. If dependencies weren't resolved yet, this compilation will be blocked until fork-ts-checker finishes

[2021-05-11 15:40] grumd commented on #612
I really love this extension, works pretty much flawlessly at 6.2.6 except for this one thing. Thank you for your work

[2021-05-11 19:25] jtbandes commented on #611
Actually, in a larger repo I still don't get some type errors when changing files, even when I've changed all `import type` to `import` and enabled `"importsNotUsedAsValues": "preserve"`. I see webpack rebuilding at the right time, but fork-ts-checker doesn't give me new TS errors. This is in a more complex workspace setup though — I'm not sure where the difference lies between my example repo and

[2021-05-11 20:26] piotr-oles commented on #612
Thanks for reporting that, maybe #613 will solve it 🤔  Maybe getDependencies is traversing node_modules so that PR should improve time in that case

[2021-05-11 20:27] piotr-oles commented on #611
Thanks for reporting that, I will take a look hopefully in this week :)

[2021-05-11 20:39] #606 closed, assigned to nobody

[2021-05-11 21:02] piotr-oles commented on #606
:tada: This issue has been resolved in version 6.2.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.2.7)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.2.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-11 21:47] jtbandes commented on #611
Thanks for the response! Please let me know if you need any more information or help debugging 🙂  I noticed that my example repo demonstrates a partial issue, but the workaround doesn't work in our actual real-world repo, so the issue might be more complex than I initially guessed.

I created [a branch](https://github.com/foxglove/studio/compare/jacob/fix-webpack-watch) where I tried to remove all

[2021-05-12 05:35] piotr-oles commented on #612
Could you check if this problem still exists with 6.2.7?

[2021-05-12 12:26] grumd commented on #612
@piotr-oles Unfortunately still happens in 6.2.7 :(

![image](https://user-images.githubusercontent.com/5869818/117974556-5cb67780-b336-11eb-884b-8c01e85cb553.png)

Seems like it shaved 20s off the 120s total.
Disabling a few heavy ESLint rules could take it down to 55s, but it's still a lot.

[2021-05-12 12:47] grumd commented on #612
I'll be debugging for a bit right now to find what takes the most time, because atm ESLint's getDependencies seems to take <1s

[2021-05-12 12:55] grumd commented on #612
Intermediate findings: `await previousReport.close();` seems to take ~1 minute for me.
(L90 in /src/hooks/tapStartToConnectAndRunReporter.ts)

With logging setup like this:
![image](https://user-images.githubusercontent.com/5869818/117978144-3abef400-b33a-11eb-81dc-cf66735c085f.png)

I get this in terminal:
![image](https://user-images.githubusercontent.com/5869818/117978286-6215c100-b33a-11eb-8d8

[2021-05-12 13:12] grumd commented on #612
Removing `await` from `await previousReport.close();` just causes it to get stuck at the next line, `const report = await reporter.getReport(change);`. Wild guess: while the other thread is busy with eslint/ts checks, we can't communicate with it until it finishes the job?

[2021-05-12 13:23] grumd commented on #612
Doing this "fixed" my issue, 2nd compilation is 3-4 seconds now, but I don't know the implications of doing this. It seems to work, but maybe there's some bugs I just didn't find yet.

Edit: seems like eventually plugin crashes with an unhandled promise rejection because it can't find a report...

![](https://puu.sh/HG0se/919cd601a1.png)

[2021-05-13 19:46] piotr-oles commented on #612
You're right - the eslint code is synchronous so it's blocking the thread... I think we could move dependency computation to the main process or a separate process, but it's non-trivial change :/

[2021-05-13 20:21] #608 closed, assigned to nobody

[2021-05-13 20:33] piotr-oles commented on #611
Thanks again for the reproduction repository. I wish everyone would report issues as you did 😄
To make webpack compilation fast, we don't listen to node_modules directory changes. As you know, your projects are symlinked there by yarn workspaces.
The solution is to use project references. Thanks to your example I found one issue that will be solved in #615. When it will be merged, this is how you

[2021-05-13 20:54] piotr-oles commented on #608
:tada: This issue has been resolved in version 6.2.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.2.8)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.2.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-13 21:38] rattrayalex commented on #608
Amazing, thank you!

Confirmed working.

[2021-05-14 00:44] jtbandes commented on #611
Thanks! Is there a new build of fork-ts-checker that I can install to test out #615 in my repo?

[2021-05-14 09:34] piotr-oles commented on #611
I just merged #615, should be released in 30 minutes

[2021-05-14 21:47] jtbandes commented on #611
I tried 6.2.9, and improved some of the settings you recommended: https://github.com/foxglove/studio/compare/90cdcd3

However, I am now getting some errors when building. Strangely, the `Referenced project '...' may not disable emit` errors seem to change if I run `yarn tsc -b packages/just-fetch` before building, or if I `find packages app -name \*.tsbuildinfo -delete`. So they are related to som

[2021-05-14 23:21] jtbandes commented on #611
Here's an update to my example repo: https://github.com/jtbandes/ts-workspaces-repro/commit/a4dde59146fb29cb41c3136111bdec304907ceef

I enabled `projectReferences: true` for ts-loader, and upgraded to fork-ts-checker 6.2.9. Now I still do not see new type errors when I modify pkg1/index.ts.

[2021-05-15 00:08] jtbandes commented on #611
I'm still having issues in my main repo that I unfortunately can't reproduce in the small test repo. If you have some time to try it out, we would really appreciate the help:
1. check out [this repo @ cdd2deb](https://github.com/foxglove/studio/tree/cdd2deb4891bf702d3059ebb8dd0c374462a2f83)
2. run `yarn install` and `yarn serve`
3. Edit [app/types/panels.ts](https://github.com/foxglove/studio/blob

[2021-05-15 02:16] jtbandes commented on #611
^ [This PR](https://github.com/foxglove/studio/pull/967) contains a workaround for the issue, so we now get type errors when changing type-only files and files in other workspace packages. However, it also seems to slow down the type checking step (is fork-ts-checker re-checking every file mentioned in `include`?) and ideally this workaround would not be necessary.

[2021-05-16 08:12] piotr-oles commented on #611
It seems that there is another "bug" in the plug-in. When you run project references with ts-loader, ts-loader writes files faster than plugin and typescript uses mtime of file to decided if re-check is needed. I have some ideas how to fix it.

But I'm also thinking that maybe I could implement some exception for directories that are symlinked so project references would not be required here. I'm

[2021-05-16 08:15] johnnyreilly commented on #611
cc @sheetalkamat and @andrewbranch in case they're interested

[2021-05-16 19:01] jessedvrs opened #616 "Cannot install due to removed version of schema-utils@2.7.0 from the npm registry."
## Current behavior
I am not able to install this package anymore, due to removed version of schema-utils@2.7.0 from the npm registry.

[code]

[code]

## Expected behavior
To be installed correctly.

## Steps to reproduce the issue
`$ npm install fork-ts-checker-webpack-plugin`

## Environment
macos big sur
node version `v14.17.0`
npm version `7.13.0`

[2021-05-16 19:14] jessedvrs commented on #616
I had an old 'registry' setting in my global .npmrc that had an outdated registry url. Sorry for the report.

[2021-05-16 19:14] #616 closed, assigned to nobody

[2021-05-17 21:04] dmitry-zaets commented on #463
Just faced the same issue with the project freshly migrated to ts (ejected CRA + SSR build + updated fork-ts-checker-webpack-plugin).
With TypeScript 4.2.3 the build was terribly slow but seems that problem is fixed with Typescript 4.3-beta.

[2021-05-17 21:52] jtbandes commented on #611
Does this mean ts-loader and fork-ts-checker are both competing to write .js and .d.ts files if project references are used? I noticed that I did get both `[tsl]` and regular `TS9999` error messages sometimes when using project references, which seems wasteful.

[2021-05-18 07:24] piotr-oles commented on #611
In the plugin, I use memfs to write files, so they are not written to the real file system. The problem is that when I read them, I use "passive" file system, which uses the newest one by comparing mtime. The #617 tries to fix that by using memfs always for output files :)

[2021-05-19 18:29] piotr-oles commented on #611
Could you try 6.2.10? It should work, but I'm also interested if it's performant in your project :)

[2021-05-19 18:32] jtbandes commented on #611
I tried it briefly and updated this branch: https://github.com/foxglove/studio/compare/jacob/webpack-ts-fixes  I started running into some new build errors but didn't have time to look into it yet (possibly I just missed one of the project dependencies).

But I think overall, using project references is less performant for us, so we would prefer if there's a way to fix the incorrect watch behavior

[2021-05-19 19:43] piotr-oles commented on #611
Ok, I think the easiest fix for you would be to use https://github.com/pigcan/extra-watch-webpack-plugin:
[code]
I don't want to make this plugin too smart to detect workspaces because there are so many edge-cases. I think it makes more sense to let developers specify where they are using the extra-watch-webpack-plugin plugin. Let me know if it works in your project :)

[2021-05-19 19:48] piotr-oles commented on #611
Or maybe you could even use built-in plugin functionality:
[code]

[2021-05-19 19:49] piotr-oles commented on #611
Or maybe you can just update `tsconfig.json` instead of using `configOverwrite` :D

[2021-05-19 20:00] jtbandes commented on #611
That's what I tried here: https://github.com/foxglove/studio/pull/967/files

The problem is that these changes are only required because of our webpack/fork-ts-checker setup, and they are a bit fragile/hard to maintain... and it seems like it also adds extra rebuild time due to typechecking more files. From a TypeScript standpoint these files don't need to be listed in `include` because the regula

[2021-05-19 20:22] piotr-oles commented on #611
Yes. The list of files to watch cannot be provided asynchronously to webpack, so this operation is blocking. Because of that, we can't hook into TypeScript imports to get a list of files to watch. If we would do that, the `async: true` mode would be useless.
We have to watch because in the `transpileOnly: true` mode in `ts-loader`, typescript strips away all type-only imports. Because of that, the

[2021-05-19 20:30] piotr-oles commented on #611
I think adding `ExtraWatchWebpackPlugin` should not increase type-checking time. If it's true, then maybe we could define some reasonable default behavior with an opt-out option 🤔
Something like `workspaces: true` that by default add workspaces typescript files to the watch set.

Of course, the most correct way would be to use webpack API to build a proper dependency tree, but this is something th

[2021-05-19 22:31] silkfire opened #618 "Warnings treated as errors?"
## Current behavior
It seems like all warnings are treated as errors and printed out as such when building my project.

![image](https://user-images.githubusercontent.com/1554615/118893201-5316ac00-b902-11eb-98cb-239c169be810.png)

## Expected behavior
Only errors should be emitted or there should be an explicit setting to treat warnings as errors.

## Steps to reproduce the issue
Write a method w

[2021-05-25 15:42] VictorMachimana commented on #406
I have experienced the same thing, there were conflicting versions of serverless installed in two different locations.
to figure out if you have the same issue run `whereis serverless`, if you are using nvm, remove the other one (~/.serverless/bin).

[2021-05-27 15:21] rkriauciukas-freesat commented on #612
I came here to just confirm I am having the same issue - I think it was due to recent version upgrade to one of eslint-related packages.

Basically it always hangs for me on `94% after seal` in webpack watch mode and on subsequent recompiles after the first compilation.
I've just done the tweak @grumd suggested - and it is great, webpack does not get blocked anymore.

Any robust fixes for this one

[2021-05-28 07:35] piotr-oles commented on #612
I think I will try to move dependencies resolution to the main thread :) I'm not sure when I find time for this. Feel free to open PR ;)

[2021-05-31 16:07] danylkaaa commented on #374
Hello! As I found, you just pass eslint options to eslint CLI. So, eslint does not have build-in CLI option to emit all errors as warnings.
 `eslint-webpack-plugin` does this with custom processor for CLI errors
https://github.com/webpack-contrib/eslint-webpack-plugin/blob/c12e7be0be49f95fa8f2d9ae354acba3bd412b5c/src/linter.js#L202

Could you pls add some kind of preprocessor for eslint errors, th

[2021-06-01 06:11] piotr-oles commented on #374
Hi! :) You can use `issues` hook: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin#plugin-hooks . This is `SyncWaterfallHook` so you can return modified list of issues. You can for example map all eslint issues to be with severity = 'warning'

[2021-06-08 12:50] StreetStrider commented on #585
@nawordar this may be the pnpm issue. Do you have default pnpm hoisting rules in play?
https://pnpm.io/npmrc#public-hoist-pattern
The default public hoist pattern hoists `types` packages, so they become visible by tsc type resolution (which does not follow node resolution).

[2021-06-08 14:00] nawordar commented on #585
Yes, I'm using default rules. It looks like a problem with handling symlinks, because after issuing these commands:
[code]
I got rid of errors related to `@types/node`.

[2021-06-09 06:37] ananiy opened #622 "No error detail overlay display in webpack v5"
## Current behavior
when using webpack v4:
![image](https://user-images.githubusercontent.com/33290601/121305063-b4dd9b00-c92f-11eb-8b5c-d8c8fffa16d8.png)

when using webpack v5:
![image](https://user-images.githubusercontent.com/33290601/121305136-d0e13c80-c92f-11eb-9e46-58211afdd7a7.png)

## Expected behavior
show normally

## Steps to reproduce the issue
here is the demo:
[demo.zip](https://git

[2021-06-09 08:10] piotr-oles commented on #585
Hi! :wave: Thanks for reporting this issue. Just to double-check - if you run `tsc --watch --noEmit`, there are no such errors, right?

[2021-06-09 08:55] nawordar commented on #585
Yes, there are no issues when I run `tsc --watch --noEmit`.

[2021-06-09 20:10] caiquelsousa commented on #612
Same problem here, and I just realized that this problem was introduced in the @6.0.4 version because the @6.0.3 version has the asynchronous process working just perfectly...

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/compare/v6.0.3...v6.0.4

Also want to thank you guys for this lib it's really awesome!

[2021-06-10 00:31] caiquelsousa commented on #612
More specifically the problem is with this [line #68](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/29d78feff5337c01dfc98037e43f0e561b13a720/src/watch/InclusiveNodeWatchFileSystem.ts#L68)
`/src/watch/InclusiveNodeWatchFileSystem.ts`
[code]
It's watching to many files and directory, and I believe that the filesystem starts to watch all files under the dir when added

this also h

[2021-06-10 00:35] caiquelsousa commented on #453
I believe that this is related https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/612

[2021-06-10 06:00] piotr-oles commented on #612
@caiquelsousa
This is how webpack watch system works - I don't want to change it because it will probably break something in someone's project. Have you tried ignored option in webpack configuration?https://webpack.js.org/configuration/watch/#watchoptionsignored

[2021-06-10 09:27] caiquelsousa commented on #612
yeah, that's not the problem I just checked again and it seems that when I use `fork-ts-checker-webpack-plugin` with `react-dev-utils/WatchMissingNodeModulesPlugin` it adds the path `'/Users/${USER}/Projects/${PROJECT}/node_modules'` to my dirs list and then I have a problem

so when I remove the `WatchMissingNodeModulesPlugin` it makes `fork-ts-checker-webpack-plugin` unlocks the main thread

[2021-06-10 09:51] rkriauciukas-freesat commented on #612
In my setup there is no `WatchMissingNodeModulesPlugin` plugin used - but I've added the `watchOptions.ignored` option to webpack.config.js and will see if it has any positive effect.

[2021-06-10 11:19] piotr-oles commented on #612
@rkriauciukas-freesat I think it's not related to this issue - @caiquelsousa could you open a new issue regarding `WatchMissingNodeModulesPlugin`?

[2021-06-10 13:24] mdentremont commented on #433
@piotr-oles Could you include the `import ForkTsCheckerWebpackPlugin = require('fork-ts-checker-webpack-plugin')` to the readme? This is a pretty big gotcha for those that run into it 😄

[2021-06-11 05:51] piotr-oles commented on #433
I'm a little bit busy these days - feel free to open PR :)

[2021-06-11 14:18] gargroh commented on #271
Thanks @fc, this solved the problem.

[2021-06-12 14:40] waterfallpit opened #623 "Error RpcIpcMessagePortClosedError"
## Current behavior
I stumbled upon an issue when running an editor Zettlr (https://github.com/Zettlr/Zettlr) and the issue seems to originate from fork-ts-checker-webpack-plugin module. This issue might be similar to https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/562, however the steps to reproduce are different.
Error message:
[code]

## Expected behavior
Instead of Zettlr s

[2021-06-16 15:50] grumd commented on #612
@caiquelsousa I'll chime in to say that using 6.0.3 still results in the same problem I have.

[2021-06-18 19:34] piotr-oles commented on #558
@Melzmr Thanks for the reproduction repository, I found the issue and fixed it in #624 :)

[2021-06-18 19:36] piotr-oles commented on #572
I will assume it fixed the problem. If not, I will re-open the issue :)

[2021-06-18 19:36] #572 closed, assigned to nobody

[2021-06-18 19:50] piotr-oles commented on #623
I've tried to reproduce this issue but with no success - it works on my machine. I didn't try with the VM tough. I guess it may be a bug in Node on Xubuntu. It seems that Node is killing the plugin's forked process.

[2021-06-18 19:54] piotr-oles commented on #618
Could you create a reproduction repository, please? :)

[2021-06-18 20:20] piotr-oles commented on #585
I found the issue, fixed in #625 :)

[2021-06-18 20:23] Melzmr commented on #558
Great! I am glad that it helped 🎉

I will give it a try in a while. Thanks

[2021-06-18 20:30] piotr-oles commented on #463
It seems that the bug was in the TypeScript and as the new version of TypeScript has been released, I'm closing this issue :)

[2021-06-18 20:30] #463 closed, assigned to nobody

[2021-06-18 20:31] #506 closed, assigned to nobody

[2021-06-18 20:56] silkfire commented on #618
I think it has to do with that VSCode displays TypeScript rules (e.g. `noUnusedParameters`, `noUnusedLocals`) configured in `tsconfig.json` as warnings when they're actually errors. Definitely confusing but I think I can live with that. Closing the issue.

[2021-06-18 20:56] #618 closed, assigned to nobody

[2021-06-18 21:00] waterfallpit commented on #623
Thank you for the reply. I was testing it some more this afternoon and figured out I underestimated memory usage. Increasing RAM for the said virtual machine past 4 GB and increasing the swapfile helped and I am not getting this error any more.
I apologize for opening the issue, since it is clear now, after solving the issue, that the problem was in my environement and not in the fork-ts-checker-w

[2021-06-19 06:50] #585 closed, assigned to nobody

[2021-06-19 07:14] piotr-oles commented on #585
:tada: This issue has been resolved in version 6.2.11 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.2.11)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.2.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rock

[2021-06-19 07:57] #558 closed, assigned to nobody

[2021-06-19 08:18] piotr-oles commented on #558
:tada: This issue has been resolved in version 6.2.12 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.2.12)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.2.12)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rock

[2021-06-19 09:58] Melzmr opened #626 "Changing files in one entry triggers check in another webpack entry point"
First of all thank you for working on this plugin and fixing this issue https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/558

However, I noticed another problem with the plugin v6+

## Current behavior
Let's say we have 2 different entry points of webpack config.
`firstEntry.ts` – client bundle
`secondEntry.ts` – server bundle
And we run two parallel `npm run watch` scripts.
In

[2021-06-19 10:54] piotr-oles commented on #623
Cool! No need to apologize 😃 I'm glad that it works for you :)

[2021-06-19 10:54] #623 closed, assigned to nobody

[2021-06-19 11:01] piotr-oles commented on #626
It's an intentional behavior - the plug-in tries to mimic tsc as much as it's possible. The changes in v6 that triggers build on unrelated files changes from the webpack perspective fixes watch issues with type-only files. In previous versions if you had type-only file, it was not included in the dependencies set and therefore was not watched.
In general, the issue comes from the fact that TypeScr

[2021-06-19 11:15] Melzmr commented on #626
@piotr-oles Oh, I see. Thanks for the explanation!

[2021-06-19 11:15] #626 closed, assigned to nobody

[2021-06-26 04:21] J-Rojas commented on #557
bump

[2021-06-29 13:47] Robula commented on #461
I have a similar case where I use `esbuild-loader` to emit JS from my TS and use `fork-ts-checker-webpack-plugin` alongside it to type check but it would be awesome if it could emit declarations too.

[2021-07-04 07:47] zirkelc opened #628 "Compilation error with react-scripts start: Maximum call stack size exceeded TSINTERNAL"
## Current behavior
When I start my react app with `npm run start` it reports the following compilation error:

![image](https://user-images.githubusercontent.com/950244/124376946-a9209280-dca9-11eb-8bb3-b919f6320ffe.png)

## Environment
 - **fork-ts-checker-webpack-plugin**: "4.1.6" (installed by create react app)
 - **typescript**: "^4.1.3"
 - **eslint**: "^7.29.0"
 - **react-scripts**: "4.0.3"

[2021-07-05 07:24] piotr-oles commented on #628
Have you tried running `tsc --watch --noEmit`? Does it work?

[2021-07-08 08:47] zirkelc commented on #628
No, I was able to solve the issue somehow.
Typescript or Eslint was reporting a very strange error with a type mismatch from a react hook.

I guess that caused some problems for the type checker but was not reported properly due to react-scripts I guess.
I'm sure running typescript compiler myself without relying on webpack and react-scripts would have highlighted the issue.

Can be closed for now

[2021-07-08 11:20] #628 closed, assigned to nobody

[2021-07-15 08:45] amertak commented on #612
We are dealing with the same issue, we have a large repository and '94% after seal' in subsequent builds takes sometimes more than 5 minutes. Tried 7.0.0-alpha.3 with no luck. Not sure if it's connected to using workspaces or large or wrongly configure file dependencies.

[2021-07-15 09:02] rkriauciukas-freesat commented on #612
@amertak I am too still having the same issue - hoped that v6.2.12 of the package would fix the issue, but no luck.
I am now resorting to using just `ts-loader` + `babel-loader` and disabling `fork-ts-checker-webpack-plugin`: without fail it always recompiles just fine, but is slower to do that... My work involves loading up transpiled JS onto hardware, which in itself is a longish process, so if

[2021-07-15 09:40] piotr-oles commented on #612
@rkriauciukas-freesat , @amertak do you use eslint feature? Or only type-checking?

[2021-07-15 09:46] amertak commented on #612
@piotr-oles I do not have eslint enabled in this plugin. Using webstorm plugin.

[2021-07-15 09:58] rkriauciukas-freesat commented on #612
@piotr-oles Yes, I am relying heavily on ESLint, but not calling it from Webpack (it is disabled by default in Webpack).
My Webstorm is setup to use Typescript Checker + ESLint Checker and the former is pointed to the below `.eslintrc.js`.

I've tried disabling those in Webstorm, but do not seem to make any difference.

`.eslintrc.js`: is setup to use `parser: '@typescript-eslint/parser'` with bel

[2021-07-15 21:25] piotr-oles commented on #612
That's good because the next version of the plugin should fix this issue but we are also dropping support for eslint :)

[2021-07-18 12:05] time4dev opened #629 "adapting to "Vite""
Hello. https://vitejs.dev/guide/ there is a great lack of type checking, and specifically your plugin for checking in watch mode. Have you ever planned to write an analog for Vite?

[2021-07-18 13:50] piotr-oles commented on #629
Hi! :) Unfortunately, I don't think I will have time to maintain another plugin. Feel free to port it if you want :)

[2021-07-18 21:32] lnewson opened #630 "6.2.10+ crash when using workspaces and project references"
## Current behavior
When using version 6.2.10 or above and a workspace with project references, an exception is thrown and the plugin crashes:
[code]

I did some investigation into this and the cause appears to be the memfs changes done in 6.2.10, as it appears to assume that after the initial run the files will always be written into the memory filesystem for every file/artifact in the bundle. Ho

[2021-07-20 19:00] markjm opened #631 "getTsBuildInfoEmitOutputFilePath/getParsedCommandLineOfConfigFile does not use the ts version specified by typescriptPath"
## Current behavior
With the below config
![image](https://user-images.githubusercontent.com/16494982/126379572-b41b098c-0b94-4b3f-a490-74aff1734eef.png)

Both the specified version of typescript (via typescriptPath) and the "default" require("typescript") version are being imported, if they differ
![image](https://user-images.githubusercontent.com/16494982/126379373-cb90cbad-d35b-4e90-af41-dd88af

[2021-07-24 05:44] #629 closed, assigned to nobody

[2021-07-27 22:00] #631 closed, assigned to nobody

[2021-07-27 22:09] markjm opened #634 "`async` setting is not respected for tapAfterCompileToAddDependencies"
## Current behavior
When `async` is set to `true`, issues will be surfaced asynchronously via `tapDoneToAsyncGetIssues`. However, the _first_ recompilation gets blocked in `tapAfterCompileToAddDependencies` due to the webpack compilation waiting on `state.dependencies` promise. When TS compilation is very slow or broken (as there seemed to be in 4.3.2 for us), this causes webpack compilation to ha

[2021-07-28 07:32] piotr-oles commented on #634
I can't add it to async, because it will create some race conditions in how webpack watches files. This will also potentially break our E2E tests :/
I'm working on a new release of the plugin which will have a separate thread for dependencies and separate for diagnostics. It will still be sync for dependencies, but computing dependencies on its own should be fast enough (it only parses tsconfig.js

[2021-07-28 11:35] mbalc opened #635 "Display total error/warning count at the end of the error summary when in async mode"
## Feature motivation
In projects where there are lots of errors that are kept to be fixed 'later', the number count is a great indicator for whether maintenance of the errors goes in the right direction - whether the count increases or decreases

We should make the error count as easy to access
However, when using `webpack` in watch/async mode, the error count is not accessible (comparing to sync

[2021-08-01 15:06] #612 closed, assigned to nobody

[2021-08-01 15:07] piotr-oles commented on #634
There should be a new version released in a few minutes. It should fix this issue :) Could you confirm?

[2021-08-01 15:30] piotr-oles commented on #612
:tada: This issue has been resolved in version 6.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.3.0)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-03 17:41] maxim-kolesnikov opened #639 "[help wanted] TS ERROR formatter 🤷🏻‍♂️"
## Current behavior
How can I get console TS error formatter as codeframe type instead { file, message } object?

![image](https://user-images.githubusercontent.com/10406538/128058803-6dbabbf9-51b4-4e17-be83-da2b2c76cd8a.png)

![image](https://user-images.githubusercontent.com/10406538/128058746-765d9adb-0400-42e6-86bf-942e6edac491.png)

## Expected behavior
Need TS error forrmatter as in the term

[2021-08-04 20:26] #634 closed, assigned to nobody

[2021-08-04 21:30] markjm commented on #634
Let me try it later this week. Thanks!

[2021-08-05 22:57] phil-lgr commented on #630
Thank you! @lnewson, I can confirm that the issue is with the latest version 6.2.10 or v7 alpha, using 6.2.9 solved it for now

[2021-08-06 09:12] piotr-oles commented on #630
Thanks for the report and investigation! 👍🏻 I will take a look soon :)

[2021-08-08 12:59] #630 closed, assigned to nobody

[2021-08-08 13:18] piotr-oles commented on #630
:tada: This issue has been resolved in version 6.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.3.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-08 20:58] lnewson commented on #630
Thanks @piotr-oles! 🏆

[2021-08-10 13:14] StreetStrider commented on #623
@piotr-oles
I got this error when I need to manually `process.exit` the host process.
[code]
This does not break anything, since we already in the state of exiting, but this message is annoying, because the reason we finishing process is an explicit stop on another error. In that case we have two errors, one of them would be irrelevant, and will mess up minds of devs.
The terminal also becomes mes

[2021-08-13 16:19] Zn4rK commented on #568
I'm interested in this as well. A hook with a list of modules seems like a reasonable way of solving it.

[2021-08-17 03:35] AprilArcus opened #646 "invalidates filesystem cache"
I've set up a pretty simple webpack FS cache setup, and I am seeing this error when I try to use Fork TS Checker Plugin:

`
Pack got invalid because of write to: ResolverCachePlugin|normal|dependencyType=|esm|path=|/Users/<me>/<myProject>|request=|./<path>/<to>/<my>/entrypoint.js
`

I've tried with both `mode: 'write-references'` and `mode: 'readonly'`.

Edit to clarify: This does not effect watch

[2021-08-17 07:17] #646 closed, assigned to nobody

[2021-08-17 17:35] longlostbro opened #647 "Not working with Lerna mono repos"
## Current behavior
Getting "Module not found: Error: Can't resolve ..." for all packages when running fork-ts-checker-webpack-plugin in a lerna mono repository.
Removing fork-ts-checker-webpack-plugin works just fine, and tsc works just fine.

## Expected behavior
tsc seems to work fine and finds all of the packages but fork-ts-checker-webpack-plugin does not

## Steps to reproduce the issue
Crea

[2021-08-17 22:51] longlostbro commented on #647
It was a webpack configuration issue...
setting symlinks: false solved the issue.

[2021-08-17 22:51] #647 closed, assigned to nobody

[2021-08-25 02:03] mqliutie opened #648 "Is there a way to make warnings are shown before errors?"
In my case, I have set enable eslint,  Now terminal as shown below.

![image](https://user-images.githubusercontent.com/11795518/130714038-2d929e4d-677d-4136-b441-29b284092916.png)

I think errors should be shown in the end,  But I don't know how to do

[2021-08-25 02:24] mqliutie commented on #648
[code]
I've solved it
If someone has same requirement
You can refer to the code above

[2021-08-25 02:24] #648 closed, assigned to nobody

[2021-08-25 22:24] aboutaaron commented on #628
@chriszirkel can you provide any more context on how you solved this issue? I'm getting the exact same error with the same setup as you but not entirely sure where to debug. Any guidance would be helpful!

[2021-08-26 03:25] LongJinCen opened #650 "Vue3 setup support"
## Feature description
In Vue3 SFC, when I use setup, I lose the type checking for TS

[code]

[2021-08-26 08:34] zirkelc commented on #628
@aboutaaron I'm not entirely sure how I solved it. I think I was running ESLint manually from the shell and found a typescript file (a React Hook) that had some TypeScript type problems. When I removed this TypeScript issue, the error was gone.

I think a good starting point is to run the TypeScript compiler and ESLint separately from react-scripts/webpack. I guess `tsc` should report the error pr

[2021-08-26 14:51] eynait1010 opened #651 "somethings about formate"
## Feature motivation

Thanks for your effort , I like fork-ts-checker-webpack-plugin which is must faster than other utils.
and i have something confused about:

Sometimes, I want to customize output using formatter,
however, There is always something in the output, such as

![download-8](https://user-images.githubusercontent.com/50448236/130983803-cd561f5f-769b-44ef-8f36-fc91a6118987.png)

 and

[2021-08-26 22:39] mwisnicki commented on #565
I think I might have the same issue. I'm using CRA so it was version 4.1.2 but I forced update to 6.3.2 and it's doing the same thing. Options are as provided by CRA.

It's relatively small project but I can't share it.

Win7, Node 12.14.1

[2021-08-26 23:10] mwisnicki commented on #565
I've sprinkled console.log all over InclusiveNodeWatchFileSystem and even thrown error from constructor but it doesn't have any effect and yet file watching still seems to work.

[2021-08-26 23:35] mwisnicki commented on #565
Ughh, old version was nested, had to use npm-force-resolutions. But now it's not working because it's not compatible with CRA. I guess I'd have to eject and customize until it's compatible...

[2021-08-27 05:49] mwisnicki commented on #565
FWIW, I've tried to use `node --prof` on the 4.1.2 but it just showed me 99% usage by ntdll.dll with no children.

[2021-08-27 06:54] piotr-oles commented on #651
I changed it to be compatible with webpack formatting. If you don't like it, you can pass your custom `formatter` function :)

[2021-08-27 14:31] mwisnicki commented on #565
Disregard my previous comments. It's https://github.com/facebook/create-react-app/issues/11336

[2021-08-27 14:32] mwisnicki commented on #565
@caseyjhol try https://blog.johnnyreilly.com/2019/05/23/typescript-and-high-cpu-usage-watch/

[2021-09-05 19:09] jimmywarting opened #654 "Update dep"
Could you update all (dev)Dep to keep everything up to date?

[2021-09-05 19:16] johnnyreilly commented on #654
Fancy submitting a pull request? Open source is easier when people help ❤️

[2021-09-05 19:29] jimmywarting commented on #654
...not really, sry

latest chalk is written in ESM-only you don't have `"type": "module"` in package.json

means: you need to
- also become ESM only
- or set the minium required node version to 12.20 (if it isn't already) and import chalk lazy using `import('chalk')`

... The rest of all the other packages don't seems to be as much breaking...

[2021-09-05 19:51] #654 closed, assigned to nobody

[2021-09-08 15:11] zofiag commented on #463
Is it possible that this issue is back? I'm using `Typescript` 4.4.2 and after introducing a change in a package that is listed in the project `tsconfig.json references` my `webpack-dev-server` is incredibly slow (it recompiles couple of times before serving the newest files in the browser). This is my `ForkTsCheckerWebpackPlugin` setup:

[code]

I'm using `"fork-ts-checker-webpack-plugin": "6.3.3

[2021-09-14 06:26] takeaways commented on #357
thanks

[2021-09-14 08:36] Svenmarim commented on #498
For me the issue was with the Typescript package. When using 4.3.5 everything is OK, but when upgrading to 4.4.3 I get the exact same error message.

[2021-09-15 04:10] francisu opened #655 "High CPU usage with modern Typescript versions and 4.x versions of this plugin"
## Current behavior

The Typescript file polling does not respect the watchOptions and defaults to a 1/4 second polling for all files.

## Expected behavior

The Typescript file polling respects the watch options in the tsconfig.json file

## Steps to reproduce the issue

Run anything with the versions specified below; it will peg the CPU

## Issue reproduction repository

## Environment
 - **fork

[2021-09-15 04:19] francisu commented on #655
The fix is in CompilerHost. The watchFile and watchDirectory methods have a 4th parameter which is the options, which needs to be passed back to the tsHost.watchFile/watchDirectory.

Because the options parameter is missing, the tsHost watchFile/watchDirectory just assume it should do polling, with disastrous results.

This must have changed in a Typescript version after 3.0 (perhaps 3.8, when the

[2021-09-15 04:21] francisu commented on #236
See this for problems with the 4.x line of this plugin: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/655

[2021-09-16 20:21] piotr-oles commented on #655
Currently, I'm on vacations and will be back in 3 weeks. Feel free to open a PR to fix that - I can approve and merge fix from my phone. You would have to checkout the latest 4.x tag and use it as a base for the fix :)

[2021-09-16 20:32] francisu commented on #655
Thanks, unfortunately, as far as I know you can't make a PR against a tag.
If you could make a 4.x branch in the repo, then I would be happy to do a
PR against that.

Enjoy your vacation!

On Thu, Sep 16, 2021 at 1:21 PM Piotr Oleś ***@***.***> wrote:

--

CTO, Founder SnapStrat <http://www.snapstrat.com> | +1 510 432 1589

[2021-09-18 09:27] #639 closed, assigned to nobody

[2021-09-22 18:11] eduhenke opened #657 "Support for react-native?"
Is there any way I can put this plugin into react-native, which uses babel?

Thanks!

[2021-09-28 10:43] facinick opened #658 "Fork-ts-checker-webpack-plugin with TSC, How to avoid double type checking?"
I am using babel for transpilation,
fork-ts-checker-webpack-plugin for type checking,

However, I also want to generate .d.ts files. for which I am running tsc command, which again does type checking and i want to avoid that.

Is there a preferred combination of libraries for transpiling + typechecking + .d.ts generation?

[2021-09-29 10:00] IlCallo commented on #453
I cannot reproduce anymore the problem after migrating to Quasar v2, which uses Webpack5 and latest version of this package
Closing this since my original problem seems to be solved

[2021-09-29 10:00] #453 closed, assigned to nobody

[2021-09-30 19:54] mahirkabir opened #659 "Unused packages detected in the forktscheckerwebpackplugin project on Tag: v7.0.0-alpha.4"
**Issue**: We have detected the following unused dependencies in your project:
Unused dependencies
* glob
Unused devDependencies
* @commitlint/config-conventional
* @semantic-release/commit-analyzer
* @semantic-release/exec
* @semantic-release/github
* @semantic-release/npm
* @semantic-release/release-notes-generator
* @types/cross-spawn
* @types/jest
* @types/rimraf
* commitlint
* cross-env
* cro

[2021-10-04 21:58] kyleBeikirch commented on #628
I have the same issue only the problem when running typecheck I also get an error
[code]

[2021-10-05 08:39] vadimshvetsov opened #661 "Got unexpected error without any clue how to work with it in CRA"
## Current behavior
npm run build
[code]
npm start
[code]

## Expected behavior
It should build without error and with `npm start` show compiled files

## Steps to reproduce the issue
I've just migrated code when update react-hook-form from v6 to v7. It's really hard to reproduce, this error message gives no clue where the issue occurs

## Issue reproduction repository
It's very hard to reproduce,

[2021-10-06 23:30] facinick opened #663 "How to emit .d.ts and .d.ts.map files?"
I cannot use ts-loader to generate declaration files with this plugin as that'll cause double type checking.
How can I use this plugin and also have declaration files generated?

[2021-10-06 23:41] facinick commented on #663
What I understand is this plugin cannot generate .d.ts files, so what is the use case of this plugin? A large library which needs to save time on all the typescript type checking will most likely want to export their types too! This plugin is not useful for libraries where we need to export types as well, but perhaps apps where it's the final product that doesn't need types exported

[2021-10-07 08:00] piotr-oles commented on #663
We're open for contribution - if you think it's a useful feature, feel free to open a PR :)

[2021-10-09 08:41] vadimshvetsov commented on #661
I've found the reason of this bug. That was a nested type and it takes couple days to find that with removing files one by one from a codebase.

Who's using react-hook-form@v7 avoid approach like below on your integration components:
[code]

Sry for opening the issue here.

[2021-10-09 08:41] #661 closed, assigned to nobody

[2021-10-12 02:35] jafin opened #664 "Error after updated project to ESLINT 8 from 7.32 -- eslinteporter.js"
## Current behavior

Error in compile after updating ESLINT to v8 (from 7.32)
Reverting to 7.32 fixes error.

TypeError: CLIEngine is not a constructor
    at createEsLintReporter (\src\node_modules\fork-ts-checker-webpack-plugin\lib\eslint-reporter\reporter\EsLintReporter.js:22:20)

## Expected behavior
Not error

## Steps to reproduce the issue
[code]

## Environment
 - **fork-ts-checker-webpack

[2021-10-12 09:57] oliverlorenz commented on #623
I have a similar problem I want to share. Maybe its helpful to figure out what is the problem is. For this I will provide my setup here.

I came here from usage of [nx](https://www.npmjs.com/package/nx) running a node application. For development setup we run `npm start` (translates to) `nx serve --runtimeArgs=--max-old-space-size=8192 --verbose` which is doing a hot reload. I also added a DEBUG=*

[2021-10-12 11:01] stefpb commented on #664
We agree: after upgrading to eslint 8.0.0 we get this error:
[code]

Is this https://eslint.org/docs/8.0.0/user-guide/migrating-to-8.0.0#the-linter-object-has-been-removed helpful?

[2021-10-18 14:40] curly210102 opened #665 "Not support Vue3 setup-script block"
## Current behavior

Config fork-ts-checker-webpack-plugin with
[code]
the ts-checker is not working with vue setup-script block.

[code]

## Expected behavior

ts-checker works with setup-script block, also works when <script setup> alongside normal <script>
Reference to Vue3 document <https://v3.vuejs.org/api/sfc-script-setup.html>

## Steps to reproduce the issue

https://github.com/vuejs/vue-c

[2021-10-18 16:17] Michael-Tajmajer-Bentley commented on #664
This is happening in all of my projects as well :-(

[2021-10-19 20:17] piotr-oles commented on #665
Thank you for a detailed issue description - it was very helpful!

[2021-10-19 20:18] piotr-oles commented on #650
Fixed in #667

[2021-10-19 20:18] #650 closed, assigned to nobody

[2021-10-19 20:25] piotr-oles commented on #665
:tada: This issue has been resolved in version 6.3.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.3.5)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.3.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-20 07:53] cexbrayat opened #668 "`Module has no default export` error with Vue 3 `script setup` components in v6.3.5"
## Current behavior
Thank you for your work for a better support of `script setup`

When upgrading an application to use v6.3.5, we encounter the following error with Vue 3 components using `script setup`:

[code]

## Expected behavior

Previously, with v6.3.4, there was no error.

## Steps to reproduce the issue

This occurs in new projects using Vue CLI v5, with Vue 3 and TypeScript, blocking ne

[2021-10-20 07:59] cexbrayat commented on #668
Reading through commit https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/commit/2cfe45f567e30a56dea4cb5907a0d47e62dae644, I realize that your example of script setup component is inaccurate: `script setup` component have a completely different syntax, with no export.
See https://github.com/cexbrayat/no-default-export/blob/master/src/App.vue for an example, or the official documentation

[2021-10-20 08:12] cexbrayat commented on #668
cc @johnsoncodehk (developer of Volar) and @pikax (who knows Vue TypeScript arcane better than me) as they may have an opinion on what would be best here

[2021-10-20 08:48] piotr-oles commented on #668
Thanks for the feedback - I'm not a Vue developer so pardon my ignorance :) Feel free to open a PR to fix it ;)
If you don't have time, I will take a look at this probably in a few days

[2021-10-20 09:03] cexbrayat commented on #668
TBH I'm not sure I know enough to help here, and this might be more complicated than you expect. `script setup` components have macros like `defineProps` that are available without importing them for example. So this is valid TS:

[code]

Some developers might also use the [experimental sugar ref syntax](https://github.com/vuejs/rfcs/discussions/369).

 I pinged the Vue team to have more inputs on

[2021-10-20 11:35] curly210102 commented on #665
It's so efficient! But I noticed the checker may will ignore the `<script setup>`  when used alongside normal `<script>`

[code]
Reference from https://v3.vuejs.org/api/sfc-script-setup.html#usage-alongside-normal-script

[2021-10-20 17:09] johnsoncodehk commented on #668
The correct type checking of `<script>` + `<script setup>` is more complicated than expected, but I have implemented it in the Volar project. If you want, I can try to extract a public function.

The API may like this:

[code]

[2021-10-20 21:01] #664 closed, assigned to nobody

[2021-10-20 21:26] piotr-oles commented on #664
:tada: This issue has been resolved in version 6.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.4.0)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-21 07:13] piotr-oles commented on #668
@johnsoncodehk Oh, great, it would be very helpful!

[2021-10-21 07:23] piotr-oles commented on #665
I had to revert it - see #668 - I will take another pass on it later. I will keep this issue closed - if you have any comments, please add them in #668

[2021-10-21 08:54] curly210102 commented on #665
Thanks for reply, the situation is more complicated than I thought. #668 It's great getting support from developer of volar, believe this issue will be solved not long after.

[2021-10-30 19:51] kkuegler commented on #622
This seems to be due to the `"webpack-dev-server": "^3.11.2"` dependency, which does not play well with Webpack 5.
If you update to `"webpack-dev-server": "^4"` (and the corresponding webpack.config.js to `devServer: {}`) this works fine.

[2021-11-03 20:12] slalomzacharyd opened #673 "`typescript.context` configuration option does not work"
## Current behavior
`fork-ts-checker-webpack-plugin` cannot find my `tsconfig.json` when setting the context path

## Expected behavior
It should find the context path and work like `tsc` and `vscode`.

## Steps to reproduce the issue
Create a project where the `tsconfig.json` is in a subdirectory similar to a  monorepo project.  Add the plugin to your webpack config
[code]
At a tsconfig.json to t

[2021-11-07 14:57] johnsoncodehk commented on #668
Publish in 0.29, see:
- https://github.com/johnsoncodehk/volar/blob/master/packages/vue-code-gen/src/index.ts
- https://www.npmjs.com/package/@volar/vue-code-gen

[2021-11-09 12:08] aprilandjan commented on #663
I searched the related issues [generate d.ts](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues?q=generate+d.ts), seems that many people wants this, and so do I, too.

[2021-11-15 09:24] LongJinCen commented on #665
@piotr-oles Is there any progress? I find that 6.4.0 still does not support Vue3 setup

[2021-11-16 00:29] Robbie-Cook commented on #319
Yeah, I just set `async: false` to the plugin, does the job:
[code]

[2021-11-16 11:50] batuotasis commented on #665
We are waiting for the feature a lot. It's hard to work without type check. Especially that <script setup> is the recommended syntax if you are using Composition API

[2021-11-16 11:56] bodograumann commented on #665
Please have a look at the other ticket: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/668
As a workaround it is recommended to use the volar ide support and `vue-tsc --noEmit` from the command-line. (Cf. vue-cli 5.rc release notes)

[2021-11-18 07:24] vocko opened #674 "RpcIpcMessagePortClosedError: Process 9160 exited with code "1""
## Current behavior
I'm getting this error after upgrade to the latest version (6.4.0):

[code]

Build finishes fine, seems that even the checking as per the "No issues found" line, but then I get this error and the dev server process crashes. Any ideas what can be wrong?

## Expected behavior
The previous version 6.3.4 was running fine with no issues (on the same codebase). I have even verified b

[2021-11-18 09:57] piotr-oles commented on #674
Hi! Thanks for reporting this issue. Could you create a reproduction repository?

[2021-11-18 10:13] piotr-oles commented on #665
Hi! I was a little bit busy these days, I will take a look next week :) I'm also open for a contributions, feel free to give it a try :)

[2021-11-19 01:50] vocko commented on #674
Hi Piotr,
thank you for a quick reaction. I will try to put some sample together. The project where it is happening is a little too big, but let's see if I can reproduce it on some extract.

[2021-11-19 07:07] vocko commented on #674
I have tried to reproduce on react-start-app sample, but not successful at least not yet. Even when using the same webpack.config.js, package.json and tsconfig.json. I was also trying to switch between babel-loader and ts-loader but without any effect. I have tried to increase the memory limit and get more logging, but did not give me much light.

I have also tried to set typescript mode parameter

[2021-11-20 00:54] adriangodong opened #675 "Checker runs when webpack uses filesystem cache"
## Current behavior

Webpack 5 introduces a new filesystem cache. Vanilla ts-loader setup can use this cache and subsequent builds without change finished quickly. When ts-loader is set to transpileOnly and fork-ts-checker-webpack-plugin is added, subsequent build is bottlenecked on the plugin and will finish about the same time as without cache.

I've created a repository showing this issue: http

[2021-11-20 22:09] #665 closed, assigned to nobody

[2021-11-21 00:40] piotr-oles commented on #665
I created PR #676 - would be nice if someone with vue project could test these changes. I added some examples to e2e tests but I'm not a vue developer, so I may miss something.

To test it, clone the repo, run `yarn install`, `yarn build` and `yarn link`, and then run `yarn link fork-ts-checker-webpack-plugin` in your repository.

[2021-11-21 00:40] piotr-oles commented on #668
I created PR #676 - would be nice if someone with vue project could test these changes. I added some examples to e2e tests but I'm not a vue developer, so I may miss something.

To test it, clone the repo, run `yarn install`, `yarn build` and `yarn link`, and then run `yarn link fork-ts-checker-webpack-plugin` in your repository.

[2021-11-21 00:50] piotr-oles commented on #674
It seems like there is some issue in `readFile` call in `typescript`. It's related to this function:
![image](https://user-images.githubusercontent.com/8374473/142745083-70be39f0-0aef-4dce-bc0b-d8e7b04d0717.png)
(it may be slightly different on your project - I don't know your exact typescript version)

So you can search for this function in `node_modules/typescript/lib/typescript.js` file and add

[2021-11-21 11:31] vocko commented on #674
It occurs with the latest 4.5.2, but I think I had the same issue with some older version too. I will try to log the function you've said tomorrow and will let you know if I get any usable information out of it.

Thank you for looking into it!

[2021-11-22 00:47] vocko commented on #674
So I have added this logging line:

[code]

on got this:

[code]

And here is the stack trace for the error:
[code]

Does it give any idea?

As I have said above, it seems it does all the compilation and checking fine and fails after all that is done.

Also, I did try to add the debugging to my last working version and it doesn't seem to make the call at all. When I upgrade the libraries, it seems

[2021-11-22 21:25] piotr-oles commented on #675
I don't think we will support caching type-checking results (it's a little bit different than transpilation - type-checking results can depend on multiple files). There is already some kind of file-system caching you can use - it's `incremental: true` flag which emits `.tsbuildinfo` files :)

[2021-11-22 21:25] #675 closed, assigned to nobody

[2021-11-22 21:35] piotr-oles commented on #674
Could you try to add these lines of code to the
`node_modules/fork-ts-checker-webpack-plugin/lib/typescript-reporter/reporter/ControlledTypeScriptSystem.js` file
and check if it solves the issue?

![image](https://user-images.githubusercontent.com/8374473/142938430-15405368-5c8f-4753-9c09-448c0545dbcd.png)

[2021-11-22 22:29] adriangodong commented on #675
@piotr-oles Interesting, my initial ask is for the plugin to just skip, since if build output is from cache, there's no need to recheck typing. But, I did try using the incremental flag and it seems that we need to hack tsconfig so that it matches webpack build output for it to work. In my repo, the webpack output is `dist/main.js`, this doesn't match the default tsc output `[file].js`, so I have

[2021-11-23 05:11] vocko commented on #674
Hi Piotr,

this is really annoying now, but I had to revert the libraries to the last working version yesterday as I needed to do some other stuff and once upgraded back to the latest, the issue has disappeared and I can't reproduce it anymore. Possibly any race condition?

I have tried both `yarn upgrade` and `yarn upgrade --latest` but not successful, the checker seems to behave correctly sudden

[2021-11-23 07:42] piotr-oles commented on #674
No problem, I'm glad that the problem is solved :)

[2021-11-23 08:04] piotr-oles commented on #668
:tada: This issue has been resolved in version 6.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.4.1)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-29 20:41] #663 closed, assigned to nobody

[2021-11-29 21:10] piotr-oles commented on #663
:tada: This issue has been resolved in version 6.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.5.0)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 03:43] aprilandjan commented on #663
Thanks for your work! I'll try it immediately :)

[2021-11-30 12:48] arsinclair opened #680 "High CPU usage"
## Current behavior
I recently have done several package upgrades in my project, including webpack, but _fork-ts-checker_ wasn't upgraded. The project uses Electron.
I noticed that after the upgrade, when compilation is started there's a huge CPU spike and the computer freezes for about a minute, before it can operate again. Even the mouse pointer freezes. Disabling _ForkTsCheckerWebpackPlugin_ pl

[2021-11-30 23:54] rafaeelaudibert commented on #680
I'd +1 this. After a recent upgrade in our containers, when this plugin starts executing, it uses 100% CPU for ~1 minute.

[2021-12-01 13:49] arsinclair commented on #680
I rolled back all the changes, but this problem didn't go away. I guess it is not related to the upgrade, after all. I noticed that on Node v14 it is actually much worse than on Node v16. It completely froze my computer, and didn't unfreeze it after 15 minutes.

What I noticed is that disk activity LED on my tower is showing constant activity when this happens.

I tried to run this together with _

[2021-12-02 04:58] ghiscoding commented on #674
I have pretty much the same problem, it keeps crashing on my local and I tried to revert to previous TypeScript version (instead of latest) but that didn't help. It happens quite often, not sure if it's specific to a computer or not yet, but I get this error (nearly the same error as described)
[code]
I'm on Windows and I need to go and kill all left open NodeJS thread every time it crashes. I als

[2021-12-03 00:06] vocko commented on #674
@ghiscoding Could you try to apply the fix what Piotr posted above? I wanted to test that but the issue somehow miraculously vanished from my solution and I suddenly can't reproduce it anymore.

[2021-12-03 03:59] ghiscoding commented on #674
@vocko @piotr-oles
That patch seems to help, it didn't crash since I updated the code, so it would probably be a good idea to create a PR with this fix.

[2021-12-04 15:02] jonaserhart opened #682 "Process port closed after `yarn start`"
## Current behavior
when i try to `yarn build` my electron app, the build seems to succeed but afterwards I get this error:

[code]

## Expected behavior
My electron app starts as expected

## Steps to reproduce the issue
start the dev-container in the provided repository in vs code.
try to run `yarn start` in the root directory

## Issue reproduction repository
[Repository](https://github.com/jon

[2021-12-05 22:11] chrissyast opened #683 "How to 'break' build on errors?"
## Current behavior
Linting errors are shown in the console, but the server still runs and the app is uninterrupted

## Expected behavior
Linting errors are shown in the browser as well as in the console, app cannot be run until all issues of type 'ERROR' are resolved.
(Screenshot shown from another project
![image](https://user-images.githubusercontent.com/31564153/144765893-5aabf493-3e75-443a-bc

[2021-12-06 09:24] ananiy commented on #622
thx a lot~

[2021-12-06 09:24] #622 closed, assigned to nobody

[2021-12-07 11:34] piotr-oles commented on #683
The checker runs asynchronously, so it can't affect the build.
You can try with `async: false`, but then the performance will be worse :)

[2021-12-07 11:41] chrissyast commented on #683
@piotr-oles where would I put the `async: false` ?

[2021-12-07 18:17] MichaelKapustey opened #684 "Are there any optimization tips?"
I started to analyze webpack build and got next results (on dev machine, Intel(R) Core(TM) i7-1185G7):
General output time took 1 min, 12.42 secs,
ForkTsCheckerWebpackPlugin took 57.37 secs
This looks like the best place to start some optimizations, but I was not able to find anything surfing over the internet or reading through your readme files.
While it doesn't look very bad for local developme

[2021-12-07 20:19] piotr-oles commented on #683
in the plugin configuration

[2021-12-07 20:23] piotr-oles commented on #684
The plugin overhead is negligible and you should look for tips to optimize TypeScript :)
I can recommend this page: https://github.com/microsoft/TypeScript/wiki/Performance

[2021-12-07 20:31] chrissyast commented on #683
@piotr-oles Nuxt config?

[2021-12-07 20:39] piotr-oles commented on #683
According to the nuxt documentation, you can pass options to the plugin: https://typescript.nuxtjs.org/guide/setup/#typecheck
So it should be something like:
[code]

[2021-12-07 20:44] chrissyast commented on #683
@piotr-oles Ok, will try that. Thanks

[2021-12-08 10:30] chrissyast commented on #683
Confirming that adding `async: false` achieved desired behaviour. Thanks again 👍

[2021-12-08 10:30] #683 closed, assigned to nobody

[2021-12-19 10:48] revmischa opened #685 "Type errors: 'exports' has no exported member named 'compilation'. Did you mean 'Compilation'?"
## Current behavior
[code]

## Environment

I'm using ES modules, maybe that makes a difference?

 - **fork-ts-checker-webpack-plugin**: 6.5.0
 - **typescript**: 4.4.4
 - **webpack**: 5.65.0
 - **os**: macOS

[2021-12-20 07:43] kongxiangyan opened #686 "[Feat] options for "only check exported members""
## Feature motivation
I'm moving my project from js to ts, and it's not possible to complete in a short time. For some unused modules, I just comment the reexport statements to ignore them until I have time to upgrade them. In this situation, `ForkTSCheckerWebpackPlugin` is expected to only check the members actually be exported. But the plugin seems respect the `tsconfig` file in project root fol

[2021-12-21 10:20] kim3er commented on #601
I'll miss ESLint support, it's a key feature of the plugin. I have yet to get `eslint-webpack-plugin` working in my setup, yet your plugin worked straight out of the box. I suspect the decision is too far down the line, but I hope you reconsider.

[2021-12-21 10:36] PierBJX commented on #663
@aprilandjan Did you succeed to make it work?

[2021-12-31 09:55] JonathonChen opened #687 "config async with false will block the webpack-hot-middleware hot reload"
## Current behavior
By using `fork-ts-checker-webpack-plugin` with the config '`async=false`' and `webpack-hot-middleware` together, when I modify my js or ts file,  the webpack compiling was blocked.
![image](https://user-images.githubusercontent.com/20022758/147815287-7bce1789-872f-4b7b-8abc-b016f3b887bd.png)
![image](https://user-images.githubusercontent.com/20022758/147815297-fd0cfbee-26ac-421

[2021-12-31 22:32] giladv opened #689 "webpack watch mode will not update d.ts files when mode = write-dts"
## Current behavior
might be by design - but right now, when ``mode: 'write-dts'`` (and ``build: true``) it will create d.ts files on first run iteration.
but on subsequent runs caused by files changed (webpack watch mode) it will not update the d.ts files.

## Expected behavior
update d.ts files chaned on each subsequent run caused by files changed (webpack watch mode)

## Steps to reproduce the

[2022-01-01 12:43] piotr-oles commented on #687
I'm not sure I understand what's the issue :) Why can't you use the async: true mode? This mode is designed to not block webpack emit, so it solves the issue you have, right?
It's an expected behavior that async: false will block the emit.

[2022-01-04 02:14] JonathonChen commented on #687
We need the feature async: false to block the emit, so that guys using typescript in our team must fix the type check errors. By the way, I updated the awesome-typescript-loader to bable + fork-ts-checker-webpack-plugin and the awesome-typescript-loader will block the emit which is what we want.

[2022-01-04 17:24] luciopaiva commented on #689
I have a similar problem, but not exactly the same. Using TS-loader with `transpileOnly: true` and this plugin with `{ typescript: { mode: "write-dts" }}` is was not getting any `.d.ts` files, not even in the first watch pass.

I went googling for some help and, after finding your issue, I added `build: true` to my options and it is now generating `.d.ts` files as intended. Not only in the first w

[2022-01-05 08:37] piotr-oles commented on #687
Ok, so you mean that for `async: false` the bundle is never emitted / it takes infinite time to compile?

[2022-01-05 09:00] piotr-oles commented on #659
The report is not fully correct - most packages from this list are used in development and release process (for example semantic-release, eslint, prettier, git-cz, jest, etc.). But thanks for reporting this, I will remove unused packages :)

[2022-01-06 02:45] JonathonChen commented on #687
Yeah, it does act as you described.

[2022-01-06 15:11] piotr-oles commented on #687
Could you try to create a reproduction repository?

[2022-01-07 05:41] JonathonChen commented on #687
Check your email and if you have any questions, please don't hesitate to contact me!

![image](https://user-images.githubusercontent.com/20022758/148497430-d97b7d41-8abe-4108-a188-6de9a6827db7.png)

[2022-01-07 07:00] ChuckJonas commented on #271
using material ui and CRA, I run out of memory whenever I use styled components:

[code]

[2022-01-07 22:28] piotr-oles commented on #271
@ChuckJonas This is most likely a TypeScript issue :)

[2022-01-07 23:20] piotr-oles commented on #687
This looks suspicious:

![image](https://user-images.githubusercontent.com/8374473/148619346-4903d8b8-7392-49d0-8645-11be5fa24cda.png)

I see that you use `@block/cli` package - is it some in-house solution for setup a webpack?

[2022-01-08 13:51] JonathonChen commented on #687
Yeah, it is the Cli pacakge for our team, you can debug from the `src/dev-server.js` and it use the command(see the pic below)
![image](https://user-images.githubusercontent.com/20022758/148646725-ef4afe72-3405-4887-8479-de534eeadf73.png)

[2022-01-09 16:33] casamia918 commented on #525
## Tips to create-react-app users.

At the beginning, I've been using CRA version 4.0.3.

In create-react-app version 4.0.3, they internally use fork-ts-checker-webpack-plugin version 4.1.6, which has no options of `build: true`.
(see [package.json](https://github.com/facebook/create-react-app/blob/v4.0.3/packages/react-dev-utils/package.json#L64) )

I tried to manually set fork-ts-checker-webpack

[2022-01-10 17:35] longlostbro commented on #689
"write-dts" mode is not working for me either. No d.ts file is being generated. Not even by adding the build: true option.
Could someone provide a minimal repo example of the write-dts option?

[2022-01-12 08:30] fxmanu commented on #611
@piotr-oles any update on this?

[2022-01-13 07:12] a145789 opened #692 "Can I check the specified file？"
Hello!

my project is using vue2 + ts + vite + webpack . I need webpack build, but vite can't check very well. So I want to do some checks in `git push` pre-commit.

I wrote a script

[code]

but it's slow, I want to check only modified files or specified files, Is there any good way？

Looking forward to your reply.

[2022-01-13 09:03] JonathonChen commented on #687
@piotr-oles Hi bro, do you have any good news about this?

[2022-01-15 12:40] piotr-oles commented on #692
Hi! This plugin will not help you much in terms of performance - it's optimized for watch mode and will not be faster than tsc in a single run. We're limited by the TypeScript API and as far as I know it's not possible to force TypeScript to check only some files.

By the way - I don't think type-checking only changed files will give you correct results. For example if you change type in one file,

[2022-01-15 12:45] piotr-oles commented on #687
Sorry, but this is probably an issue in your setup in the internal package. If you create a repository that doesn't use this package and still has this error, I can try to help you. Otherwise, I can't afford to spent my free time debugging someone's code :)

[2022-01-15 12:56] JonathonChen commented on #687
Thanks anyway, I will make it clear first and if it still has this error then I might need your help :)

[2022-01-15 15:09] #687 closed, assigned to nobody

[2022-01-15 15:15] JonathonChen commented on #687
This is the reason of my in house package using two of the webpack middleware instaces which share the same webpack compiler instance and causing the loop locking waiting for the other one's waiting:)

[2022-01-16 03:54] a145789 commented on #692
thank you very much for your reply

[2022-01-16 03:54] #692 closed, assigned to nobody

[2022-01-21 19:55] rodrigofariow opened #694 "[7.0.0-alpha.11] - typescript errors are reported twice"
## Current behavior
After upgrading from 7.0.0-alpha.9 to 7.0.0-alpha.11 I got the following behavior:
![image](https://user-images.githubusercontent.com/22502084/150591323-6acb4956-0d2d-45d6-b3b5-1f2328116a52.png)

## Expected behavior
On 7.0.0-alpha.9 I get the following (**correct**):
![image](https://user-images.githubusercontent.com/22502084/150591754-6c0401fc-b364-4288-af1a-e4c40242534a.png)

[2022-01-22 19:45] piotr-oles commented on #694
Hi! Thanks for the report :)
Could you create a reproduction repository?

[2022-01-27 14:59] PenguinDetective commented on #674
Having the same issue as @vocko.

Tried to:
- downgrade to 6.3.4
- Apply @piotr-oles mentioned fix

Nothing helped.

Still receiving the same issue (copy from my terminal):
[code]

Could it be possible that this issue arises while running webpack, typescript, babel, (or something) else in watch mode, an whenever a checksum of a file changes, that this error is thrown?

I've tried with a project, t

[2022-01-27 21:38] piotr-oles commented on #674
I don't maintain `tsc` - if error appears when you run `tsc`, then you should ask for help on TypeScript repository :)

[2022-01-27 22:04] piotr-oles commented on #673
Sorry for the late response. Could you create a reproduction repository?

[2022-01-28 22:59] piotr-oles commented on #663
:tada: This issue has been resolved in version 7.0.0-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.15)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-releas

[2022-01-28 22:59] piotr-oles commented on #665
:tada: This issue has been resolved in version 7.0.0-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.15)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-releas

[2022-01-28 22:59] piotr-oles commented on #664
:tada: This issue has been resolved in version 7.0.0-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.15)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-releas

[2022-01-28 22:59] piotr-oles commented on #630
:tada: This issue has been resolved in version 7.0.0-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.15)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-releas

[2022-01-28 22:59] piotr-oles commented on #558
:tada: This issue has been resolved in version 7.0.0-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.15)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-releas

[2022-01-28 22:59] piotr-oles commented on #612
:tada: This issue has been resolved in version 7.0.0-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.15)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-releas

[2022-01-28 22:59] piotr-oles commented on #585
:tada: This issue has been resolved in version 7.0.0-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.15)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-releas

[2022-01-28 22:59] piotr-oles commented on #608
:tada: This issue has been resolved in version 7.0.0-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.15)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-releas

[2022-01-28 22:59] piotr-oles commented on #606
:tada: This issue has been resolved in version 7.0.0-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.15)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-releas

[2022-01-28 22:59] piotr-oles commented on #668
:tada: This issue has been resolved in version 7.0.0-alpha.15 :tada:

The release is available on:
- [npm package (@alpha dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0-alpha.15)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0-alpha.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-releas

[2022-01-29 00:40] #601 closed, assigned to nobody

[2022-01-29 00:41] piotr-oles commented on #534
Solved by dropping support for webpack 4 - should be released soon as v7.0.0

[2022-01-29 00:41] #534 closed, assigned to nobody

[2022-01-29 00:41] #555 closed, assigned to nobody

[2022-01-29 00:42] #684 closed, assigned to nobody

[2022-01-29 00:44] piotr-oles commented on #680
It's probably a file watcher that causes high CPU usage.
You can try to tweak settings: https://www.typescriptlang.org/docs/handbook/configuring-watch.html#configuring-file-watching-using-a-tsconfigjson

[2022-01-29 00:44] #659 closed, assigned to nobody

[2022-01-29 00:45] #590 closed, assigned to nobody

[2022-01-29 01:34] piotr-oles commented on #572
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.0.0)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 06:43] eamodio commented on #601
While I can certainly understand your reasoning (and really appreciate your work), I have to admit I'm saddened by this removal. With v6 and eslint, my build used to take ~24s, now with v7 and `eslint-webpack-plugin` it takes ~40s 😢  I've tried using the threading option as well, but then it never succeeds. I don't know what you were doing before vs what `eslint-webpack-plugin` is doing (maybe you

[2022-01-29 07:46] aprilandjan commented on #663
@PierBJX sorry for the late reply. I've accomplish that with the `v6.5.0` version of the plugin, with `typescript.build` set to `true` and `typescript.mode` set to `write-dts`(in a project of `webpack v4` and `babel-loader`) Seems that both of these two options are needed, which is not documented clearly. but, so far, so good.

[2022-01-29 14:22] MuhammadNuman24 commented on #575
I am aslo using vue.js I got same error but using a different version

 **Here is my vue.config.js**

`const prefix = require('postcss-prefix-selector');
const autoprefixer = require('autoprefixer');

module.exports = {
    pluginOptions: {
        i18n: {
            locale: 'en',
            fallbackLocale: 'en',
            localeDir: 'locales',
            enableInSFC: false,
        },
    },

[2022-01-29 14:37] PierBJX commented on #663
@aprilandjan No problem, I found the answer and I add a [comment](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/pull/679#issuecomment-993657737) in the PR ;)

[2022-01-29 15:37] rodrigofariow commented on #694
Hi @piotr-oles !

I just tested with the latest version 7.0.0 and it works correctly for me now!
Can't tell for sure which alpha (after 7.0.0-alpha.11) fixed the issue though 😆

Thanks!

[2022-01-29 15:37] #694 closed, assigned to nobody

[2022-01-29 16:00] piotr-oles commented on #686
Hi! I don't plan to support anything beyond what TypeScript provides by its API (the vue extension is the only exception here). It looks like a feature that could be implemented in TypeScript directly - I would suggest asking for it on their repo :)

[2022-01-29 16:00] #686 closed, assigned to nobody

[2022-01-29 16:01] piotr-oles commented on #685
Hi! Could you test with v7.0.0? We switched to a newer typings (by dropping webpack 4 support)

[2022-01-29 16:02] piotr-oles commented on #682
Hi! Could you try with v7.0.0?

[2022-01-29 16:07] piotr-oles commented on #657
Hi! I'm not familiar with react-native build system. I suspect it doesn't use webpack, right? It's a webpack plugin so it needs webpack to run :)

[2022-01-29 16:09] #562 closed, assigned to nobody

[2022-01-29 16:15] piotr-oles commented on #568
After more though I think I will not add this feature. I have to limit amount of features that this plugin has to be able to maintain it in a longer run :)

[2022-01-29 16:15] #568 closed, assigned to nobody

[2022-01-29 16:16] #651 closed, assigned to nobody

[2022-01-29 21:59] piotr-oles commented on #601
I think the main difference is that they start to lint files after all modules are processed (to get a list of changed/deleted files).
In this plugin, we start linting right after file changes.
I will propose this solution for eslint-webpack-plugin

[2022-01-31 12:08] PenguinDetective commented on #674
I don't posses sufficient knowledge to detect/say who is the culprint - tho it ends at the same error message as the original issue states. I've tried and digger a bit more over the weekend, but couldn't get further. Currently, this is a major bottleneck with a project I'm working on :/

[2022-01-31 12:18] piotr-oles commented on #674
Looking at the stack-trace, there may be some issue with your tsconfig.json

[2022-01-31 12:44] PenguinDetective commented on #674
Which line gives you that hint?

My applications `tsconfig.json` is:
[code]

And the library that is available with `npm link` has this `tsconfig.json`:
[code]

[2022-01-31 20:33] piotr-oles commented on #635
Thanks for the idea, I created a PR to implement that :)

[2022-02-01 09:57] piotr-oles commented on #674
I have no idea, but you can try commenting-out different options

[2022-02-01 10:02] #635 closed, assigned to nobody

[2022-02-01 15:54] PenguinDetective commented on #674
Well, if you have no idea, how did you then conclude to:

---

Not trying to offend, just curious.

[2022-02-01 20:16] piotr-oles commented on #674
ah, I misread the stack trace... I read it from bottom to top, but it is from top to bottom 🤦🏻

[2022-02-02 12:09] huineng opened #706 "Error: Cannot find module 'ajv/dist/compile/codegen'"
"fork-ts-checker-webpack-plugin": "^7.0.0"
"typescript": "^4.5.5",
"webpack": "^5.68.0",
"webpack-cli": "^4.9.2",

this morning i deleted my node-modules and package-lock.json to have a clean install.
Unfortunately i hit an error that traces back to this plugin as a start

can you help to determine what can be done to solve this ?

[code]

thanks

[2022-02-02 14:31] PenguinDetective commented on #674
Ahh i see - no worries.
But any insights then on what triggers the error? This currently keeps me from development.

[2022-02-03 03:34] gautamits commented on #689
Same for me @longlostbro . Anyone got to generate .d.ts files successfully ?

 - "webpack": "4.46.0"
-  "fork-ts-checker-webpack-plugin": "6.5.0"
- "typescript": "^4.1.5"

[2022-02-03 04:38] longlostbro commented on #689
I added an inline plugin subscribing to the compiled (or whatever) event.
So after its done building i generate d.ts using tsc.

On Wed, Feb 2, 2022, 10:34 PM Amit Kumar Gautam ***@***.***>
wrote:

[2022-02-03 04:54] gautamits commented on #689
Thanks @longlostbro. Which plugin you are using ? Can you please share solution with code ?

[2022-02-04 12:27] Pantura commented on #706
Bumped into this just the other day. Set version of ajv-keywords to 3.5.2 in your package.json. This should maybe be defined as peer dependency of schema-utils/fork-ts-checker. There's a mismatch of ajv and ajv-keywords and a breaking change between them.

[2022-02-04 22:00] Pantura commented on #557
Any luck with this?

[2022-02-05 13:23] AlonMiz commented on #557
moved to [vite](vitejs.dev) . works great with monorepo and ts. it listens to changes in each imported package

[2022-02-06 18:04] #658 closed, assigned to nobody

[2022-02-06 18:24] piotr-oles commented on #635
:tada: This issue has been resolved in version 7.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.1.0)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-06 18:24] piotr-oles commented on #658
:tada: This issue has been resolved in version 7.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.1.0)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-06 18:46] #673 closed, assigned to nobody

[2022-02-06 18:50] piotr-oles commented on #680
I assume that watch settings were the source of the issue. Let me know if tweaking watch settings doesn't help.

[2022-02-06 18:50] #680 closed, assigned to nobody

[2022-02-06 18:51] piotr-oles commented on #565
It's probably issue with typescript watcher, try to tweak watch options: https://www.typescriptlang.org/docs/handbook/configuring-watch.html

I'm closing this issue assuming that was the problem :)

[2022-02-06 18:51] #565 closed, assigned to nobody

[2022-02-06 18:58] piotr-oles commented on #655
Sorry, I forgot about this :/
The CRA team updated the plugin version 6. Because of that, I'm closing this issue.

[2022-02-06 18:58] #655 closed, assigned to nobody

[2022-02-06 19:06] piotr-oles commented on #706
I googled this error and it seems to occur in many packages. Could you report this to `schema-utils` and `ajv-keywords`? (seems like some package doesn't follow semantic versioning or uses non-public API)

[2022-02-06 20:17] piotr-oles commented on #689
Could you try with the newest version of the plugin? I think I found the bug and fixed it

[2022-02-06 20:17] piotr-oles commented on #685
Did it help?

[2022-02-06 20:52] piotr-oles commented on #682
Ok, I tested it and for some reason, `yarn start` script starts 2 webpack compilations - 1 as a single run and 1 as a watch run. This plugin uses `async` mode by default when it detects that it's a watch run. To fix the issue, you can set `async: false` in the plugin options.

<img width="675" alt="image" src="https://user-images.githubusercontent.com/8374473/152700846-8a62dd4f-9888-450f-8a29-e558

[2022-02-06 20:52] #682 closed, assigned to nobody

[2022-02-06 20:53] piotr-oles commented on #557
Could you test with the latest version? I found some bugs and fixed them :)

[2022-02-06 20:54] piotr-oles commented on #611
Could you test with the latest version? I fixed some bugs, maybe this will help

[2022-02-07 08:58] Pantura commented on #557
Still not working:

"webpack": "5.68.0",
"typescript": "4.5.5",
"fork-ts-checker-webpack-plugin": "7.1.1",

ts-config has
"preserveSymlinks": true,

Project has symlinked node_module that points to `../../library`. Webpack correctly builds the changes and these are available in the browser but type checking is always done to a version of dependency that existed when watch started.

[2022-02-07 09:29] piotr-oles commented on #557
And your code doesn't use vue, right?

[2022-02-07 13:08] revmischa commented on #685
Hm I got it working some time ago with v6.5.0, not sure how. When I upgrade to v7 I don't see any output, seems like webpack just hangs. If I downgrade back to 6.5.0 then webpack builds fine with the checker

[2022-02-07 16:15] aovchinn commented on #557
I am looking at the same code base as @Pantura

vue is not used

I digged into source code of this plugin, found that on file change, fileWatcherCallbacks is undefined
but it seems like nobody calls .close on watcher, is there other ways to delete callback from fileWatcherCallbacks ?
looking at  `src/typescript/worker/lib/system.ts`

initially callback is assigned properly

some debugging output:

[2022-02-07 17:09] aovchinn commented on #557
I missed obvious detail, that callback added with normalized path `"app/node_modules/redacted/selector.ts"` but later it is called with absolute path to the linked module `"/root/src/redacted/selector.ts"`, and this is why there is no handler on change

[2022-02-07 22:08] piotr-oles commented on #557
Ok, so we should use realpath here. The issue can be when we delete symlink - then we should invoke fileDeleted, but we will not be able to get realpath. Because of that, I think we would need to store some in-memory cache of mapping from linked modules to absolute paths.

[2022-02-09 03:05] nanwy opened #711 "Can I get more detailed file information from the Plugin hooks"
[code]

Currently available from issues:

1. origin
2.code
3.severity
4.message
5.file
6.location

Can I get more information about this error file like mtime, atime

[2022-02-10 14:15] aovchinn commented on #557
I wonder if it's appropriate to always use realpath, I think webpack does it by default
controllable with resolve.symlinks (https://webpack.js.org/configuration/resolve/#resolvesymlinks)

[2022-02-11 16:06] aovchinn commented on #557
if I use this realPath in createWatcher, typechecking works
[code]
  why initially watcher gets this "incorrect" path ? ("app/node_modules/redacted/selector.ts")
  could it be something with webpack itself ? who creates a watcher ?

[2022-02-11 17:41] aovchinn commented on #557
I've created a reproducible small example https://github.com/aovchinn/test-fork-ts-checker/tree/main
it seems it is due to silly tsconfig paths alias, `module: [node_module/module]`

[2022-02-12 21:33] piotr-oles commented on #557
@aovchinn I created a PR that should fix that. It fixes the issue in the repo you created :) Thanks for your help!

[2022-02-12 22:32] piotr-oles commented on #557
Could you check if the newest version works correctly in your case?

[2022-02-13 09:18] aovchinn commented on #557
yes, it is working, thanks 👍

[2022-02-13 13:45] piotr-oles commented on #557
I'm closing this issue then :)

[2022-02-13 13:45] #557 closed, assigned to nobody

[2022-02-13 13:53] piotr-oles commented on #611
I tested the newest version with the reproduction repository and I'm no longer able to reproduce the issue. I think #712 may fix the bug :) I'm closing this issue, let me know if this isn't the case and it still doesn't work.

[2022-02-13 13:56] #657 closed, assigned to nobody

[2022-02-13 13:57] piotr-oles commented on #685
Ok, I'm closing this issue then :)

[2022-02-13 13:57] #685 closed, assigned to nobody

[2022-02-13 13:59] piotr-oles commented on #711
I don't think I will support this case. You can always use `fs.stat()` method to get mtime and atime, right?

[2022-02-14 01:24] gautamits commented on #689
Tried with latest version and it worked. Thanks @piotr-oles .

[2022-02-14 09:03] #689 closed, assigned to nobody

[2022-02-14 23:45] watjurk opened #714 "Type check only bundled files"
## Current behavior
This plugin type-checks whole directory, it doesn't matter if the file is included in webpack bundle or not.

## Expected behavior
For this plugin to type-check only files that are included in webpack bundle.

## Steps to reproduce the issue
1. Run your project that has no type errors (and is using fork-ts-checker-webpack-plugin)
2. Create test.ts file in your's src, do not inc

[2022-02-15 19:11] piotr-oles commented on #714
It's the intended behavior of the plugin :) The plugin doesn't wait for webpack to resolve the dependency graph - it runs type-check immediately. This turns out to be faster in most cases because most of the time files inside your "src" directory are ~ of the dependency graph. And this is also consistent with how `tsc` works.

It's described in the README: https://github.com/TypeStrong/fork-ts-che

[2022-02-15 20:02] watjurk commented on #714
This sounds logical, but ts-loader actually does it in slightly different way - the webpack's way, and unfortunately my project was dependent on the way that ts-loader handled type checking, and I wanted to switch over to fork-ts.
Are you able to create an option so that this plugin will handle type checking as described in the issue? Or this would be very difficult?

Thanks!

[2022-02-15 21:58] piotr-oles commented on #714
I think it's possible to accomplish with existing hooks that this plugin provides :)
Here is a plugin that I tested locally and it seems to work:
[code]
and then in the `webpack.config.js`:

[code]
The plugin will still run type-check on all files, but they will be ignored

[2022-02-15 21:59] piotr-oles commented on #714
It works on Mac, I'm not sure if this will work on Windows due to path differences :)

[2022-02-16 19:27] watjurk commented on #714
Thanks a lot it work like a dream!

Dzięki wielkie, działa jak marzenie! Kraków rządzi!

[2022-02-16 19:27] #714 closed, assigned to nobody

[2022-02-17 17:52] jtbandes commented on #611
Hi, thanks for the update! I tested 7.2.1 in https://github.com/foxglove/studio and I still experience the same issue: when I run `yarn serve` and make some changes in `packages/studio-base/src/types/panels.ts`, fork-ts-checker does not re-run and pick up the changes.

[2022-02-19 01:25] Keavon commented on #674
I'm having this issue also after I upgraded my project from Vue-CLI-4 (using WebPack 4) to Vue-CLI-5 (using WebPack 5). Specifically it's `@vue/cli-plugin-typescript` that depends on `fork-ts-checker-webpack-plugin`. I have fully deleted my `package-lock.json` and `node_modules` folder, redid `npm install`, and then `npm run serve` causes this. Sorry for the Vue-specific stuff in the nature of my

[2022-02-21 10:18] riflowth opened #715 "Multiple tsconfig seem not working"
## Current behavior
I have a project structure like the graph below, in child tsconfig *(in client/server folder)* they have separate `types` and `paths` mapping, but when the webpack has done the building, it gives me an error that relates to path mapping. e.g. `Cannot find module ... or its corresponding type declarations`.

If I use only `ts-loader` without `fork-ts-checker-webpack-plugin` it w

[2022-02-21 10:56] guilhermesimoes commented on #96
Hello 👋
Was just wondering why this never came true:

It's a bit unexpected that this plugin has a different default (`skipLibCheck: true`) from [TS ](https://www.typescriptlang.org/tsconfig#skipLibCheck)(`skipLibCheck: false`).

[2022-02-23 11:41] kegi commented on #674
Also having this issue with React CRA. My issue is very similar to @PenguinDetective . I have a linked dependency and when declaration files changed on that library (with tsc-watch) `fork-ts-checker-webpack-plugin` crash.

[2022-02-25 09:43] PenguinDetective commented on #674
@piotr-oles Would you mind having a look at this issue again? It's been a month and it's still a bottleneck.

[2022-03-04 16:51] brunogarciavaz commented on #674
This happens every time I pull in commits from the repository, and stops happening after I reinstall node_modules (remove folder and `yarn`)

Might be a clue?
React CRA
centos

[2022-03-08 09:16] kingller opened #717 "Do not check the package of webpack externals"
## Current behavior
When I install package A in node_modules, and set it to webpack's externals, it still check the file of package A.

## Expected behavior
Skip the check for package A?

## Steps to reproduce the issue

## Issue reproduction repository

## Environment
 - **fork-ts-checker-webpack-plugin**: 6.5.0
 - **typescript**:4.2.4
 - **eslint**: 8.6.0
 - **webpack**: 5.65.0
 - **os**:  macOS

[2022-03-08 11:24] Mikado68 commented on #271
Hi @phryneas

This is interesting, can you please explain (or link) the difference ?

I'm using the latter in my project to reduce the number of lines of imports, but consider changing for the former if it helps reducing the RAM consumption.

[2022-03-08 11:33] phryneas commented on #271
@Mikado68 this issue is 3 years old, no idea if that is still relevant. By then it was the difference between importing all icons (that file was non-treeshakable) and only one.

[2022-03-08 18:58] nevnein opened #718 "Location issue is illegible on light background"
## Current behavior
On a terminal with a light background, the location of an issue is illegible, see attached image.

<img width="272" alt="image" src="https://user-images.githubusercontent.com/12485857/157305376-eb7aca60-ae79-45d5-bd58-b09b5a522a1c.png">

## Expected behavior
The location should be legible regardless of the background.

I suggest removing `whiteBright` [here](https://github.com/

[2022-03-09 11:58] #711 closed, assigned to nobody

[2022-03-09 16:04] didii commented on #611
Chiming in here to give another minimal repo where the issue happens. It's not necessarily related to yarn and/or workspaces. The only thing 'special' about this repo is that it is using `--isolated-modules` (which is required if you use babel) and thus exports its types as `export type { ... } from '...';`.

Whenever you change something in the `options-for-a.ts` interface file, no check will hap

[2022-03-10 10:19] DiFuks opened #719 "Build hangs with yarn pnp"
## Current behavior
When I run a build with yarn pnp (and `pnpEnableEsmLoader: true`) the process hangs

## Expected behavior
The process does not hang and completes successfully

## Steps to reproduce the issue
1. Install yarn 3 with pnp
2. Install webpack 5
3. Install fork-ts-checker
4. Run webpack build

## Issue reproduction repository

https://github.com/DiFuks/yarn-pnp-fork-ts-checker-stuck

[2022-03-10 17:54] ncrohn commented on #719
I am also running into this issue. I tried the steps outlined and confirmed setting `pnpEnableEsmLoader` to `false` lets the plugin run properly.

[2022-03-11 08:17] PenguinDetective opened #720 "Reopen #674"
In my opinion, #674 has been closed too fast. This bug exists for months and new users experiencing the issue pop-up on a frequent basis.

Please consider re-opening the issue and having a look at it - it's been a bottleneck in our dev environment for several weeks now.

(Sorry for creating a new bug report to inform about this, it seems like contributors are not actively following closed tickets)

[2022-03-11 10:30] aferditakrasniqi commented on #392
@piotr-oles I am having this issue with version "fork-ts-checker-webpack-plugin": "7.2.1".
I have a monorepo with yarn workspaces > services using a shared library as a dependency, imports from the library fail with this TS6305:.. error. It works fine when building locally with `tsc -b`.

For context on webpack config we're using `babel-loader` as well as `ts-loader` (ts-loader has these options

[2022-03-11 18:06] youaregiants opened #721 "Issue locating tsconfig.json when running `yarn serve`"
When I run ```yarn serve```, I'm returned the following error:

[code]

I've read that this typically is due to the fact that the plugin cannot locate the TS config file. I have mine set up like this, which I thought should be fairly straightforward
[code]

But, I'm still seeing the error. ```tsconfig.json``` is in the proper place. Am I missing something here?

[2022-03-11 19:57] #721 closed, assigned to nobody

[2022-03-12 16:21] mkantor opened #722 "`generateTrace` does not work with newer TypeScript versions"
## Current behavior

[The README describes how to profile slow type-checking by setting `generateTrace` in `tsconfig.json`](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin#profiling-types-resolution). However this doesn't work with recent TypeScript versions.

## Expected behavior

When building with `"generateTrace": "./traces"` in `tsconfig.json`, trace files should be created in `.

[2022-03-12 16:28] mkantor commented on #722
I think this comes down to relying on internal TypeScript APIs which have changed.

For example:
https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/b5a38c11dd568575f41a2eb24ba6fd33dd866d78/src/typescript/worker/lib/tracing.ts#L15

Since https://github.com/microsoft/TypeScript/pull/42323 it seems that `typescript.tracing` is `undefined` until `typescript.startTracing` is called, but

[2022-03-12 16:30] mkantor commented on #722
Also https://github.com/microsoft/TypeScript/pull/43354 removed `getTypeCatalog`, but it's relied upon here in `stopTracingIfNeeded`:
https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/b5a38c11dd568575f41a2eb24ba6fd33dd866d78/src/typescript/worker/lib/tracing.ts#L32

[2022-03-12 16:35] mkantor commented on #722
Separately, if there was some kind of warning about tracing being skipped even though `generateTrace` was set it would have helped me understand what was going on much more quickly. Such a warning would be useful for folks using older versions of TypeScript as well (even once this issue is resolved).

[2022-03-12 16:44] tjx666 opened #723 "MaxListenersExceededWarning"
## Current behavior

After multple time rebuild, throw this warning:

<img width="975" alt="image" src="https://user-images.githubusercontent.com/41773861/158026603-2b2170c2-1deb-4f1a-aa63-9dd68e872385.png">

After I remove this extension, no this issue.

I can confirm version 6.3.3 no this issue.

## Expected behavior

No this warning.

## Steps to reproduce the issue

1. clone repository: git@gi

[2022-03-14 10:03] piotr-oles commented on #722
@mkantor given that you already know where is the issue and how to solve it, would you mind creating a PR?

[2022-03-14 14:17] DiFuks commented on #719
Here is the information about the problem. I close this issue. https://github.com/yarnpkg/berry/issues/4157#issuecomment-1053558695

[2022-03-14 14:17] #719 closed, assigned to nobody

[2022-03-14 20:31] mkantor commented on #722
Should `generateTrace` be supported for various TypeScript versions? I think I know how to address it for TypeScript 4.6.x, but am not sure about past/future releases, and would be worried that a fix which works with my setup might break things for others.

Relatedly, are there any tests that run against different TypeScript versions?

[2022-03-19 14:33] #720 closed, assigned to nobody

[2022-03-20 22:07] cenoroid commented on #668
Hey, I am facing the exact same issue using @vue/composition-api in vue2. I am still in the migration process from options-api, playing with it this seems to not produce any errors

[code]

[2022-03-21 01:32] alexgleason opened #724 "[Question] Build fails with OOM error: RpcIpcMessagePortClosedError: Process 7709 exited [SIGABRT]"
## Current behavior

I develop self-hosted social networking software. I've begun converting it to TypeScript, and ever since some users started complaining about failed builds due to OOM issues. See: https://gitlab.com/soapbox-pub/soapbox-fe/-/issues/865

`fork-ts-checker-webpack-plugin` is throwing the error:

[code]

## Expected behavior

The build doesn't fail.

## Steps to reproduce the issue

[2022-03-27 11:18] galaxy-s10 commented on #723
![image](https://user-images.githubusercontent.com/61055341/160278991-f18b65ec-1b18-4e6b-8683-3982096aa034.png)

[2022-04-03 16:33] #706 closed, assigned to nobody

[2022-04-03 16:56] piotr-oles commented on #706
:tada: This issue has been resolved in version 7.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.2.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-03 18:45] piotr-oles commented on #724
If there is a problem with the memory limit, it's probably a bug in the typescript itself. The plugin simply calls some typescript API and does not have a significant memory footprint.

You can ask people to run `tsc --noEmit` command - if it also fails then we're sure that it's a typescript issue.

[2022-04-03 18:51] piotr-oles commented on #718
Yes, please create a PR :)

[2022-04-03 18:57] piotr-oles commented on #722
Sorry for the late response. I think it's enough to support it for TypeScript 4.6.x+ - this feature is a minor one.
We have e2e tests that run on different versions of typescript - check the `tests/e2e` directory. So basically you would have to create a new test that uses `generateTrace: './traces'` in tsconfig.json, run a webpack build, and check if trace files exist :)

[2022-04-03 19:02] piotr-oles commented on #715
I don't know if adding support to multiple tsconfig.json files will be supported in this plugin. This would require running multiple TypeScript instances - for each config file. This is contrary to what this plugin tries to achieve - improved type-checking speed. I would suggest creating a separate `tsconfig.all.json` file that defines project references to client and server and using that file in

[2022-04-03 19:09] piotr-oles commented on #674
@Keavon Thanks for the reproduction repository. I was able to reproduce this issue in the Graphite repo. It seems that it's caused by a change of the `frontend/wasm/package.json` file during the build, which triggers some code-path that is valid in `WatchCompilerHostOfConfigFile` but not in `WatchCompilerHostOfFilesAndCompilerOptions` that this plugin uses (because of `configOverwrite` option). I'

[2022-04-03 21:34] gkurt commented on #674
Happened to me after updating my dependencies. Gone away after deleting `node_modules` and lock file and installing dependencies again.

[2022-04-04 02:25] alexgleason commented on #724
Thank you, that's what I needed to know.

[2022-04-04 02:25] #724 closed, assigned to nobody

[2022-04-04 06:47] piotr-oles commented on #717
This plugin [follows typescript project definition](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin#modules-resolution) from `tsconfig.json` - not webpack's dependency graph (because of performance). If you want to skip check in a given directory, you can try to add it to `exclude: []` in `tsconfig.json`

[2022-04-04 06:59] piotr-oles commented on #392
@aferditakrasniqi Could you create a new issue? I will need a reproduction repository to help you.

[2022-04-04 07:05] piotr-oles commented on #674
:tada: This issue has been resolved in version 7.2.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.2.3)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-04 07:43] Keavon commented on #674
Thank you @piotr-oles for setting up the Graphite repo and debugging the issue to make the fix! I have overridden the version to force an upgrade to 7.2.3 but now I'm seeing this other error. Should I file a separate issue for it?

[code]

I updated the [branch](https://github.com/GraphiteEditor/Graphite/tree/upgrade-vue-cli) so if you pull the latest commit and then `cd frontend && npm install`,

[2022-04-04 07:47] vocko commented on #674
@Keavon Did you try increase the memory limit in the config?

Details are here:
https://github.com/TypeStrong/fork-ts-checker-webpack-plugin#typescript-options

[2022-04-04 07:53] Keavon commented on #674
@vocko thanks for the suggestion, but no dice.

Adding a `fork-ts-checker.config.js` file with:
[code]
didn't fix it. This also wasn't an issue before.

[2022-04-05 15:55] eowino commented on #674
@piotr-oles I am using create-react-app, and I just tried this patch out locally by modifying it in node_modules and it seems to work. Thank you!

Given [they are currently on v6.5.0](https://github.com/facebook/create-react-app/blob/67b48688081d8ee3562b8ac1bf6ae6d44112745a/packages/react-dev-utils/package.json#L64), would it be possible to get a patch for v6.5.0 as well to ease the transition unt

[2022-04-05 17:07] Keavon commented on #674
Likewise for Vue CLI, they are using `^6.4.0` in `@vue/cli-plugin-typescript`. There's a chance that the problem I posted above is a bug caused by an incompatibility between 6.x and 7.x. I did post a [feature request for them to upgrade to 7.x](https://github.com/vuejs/vue-cli/issues/7092). But a backport would be a helpful step if it's not too difficult! Thank you!

[2022-04-05 21:34] piotr-oles commented on #674
I created a PR :) I didn't test backporting feature of semantic release before, so let's hope this will work :D

[2022-04-06 21:07] piotr-oles commented on #663
:tada: This issue has been resolved in version 6.5.0 :tada:

The release is available on:
- [npm package (@release-6.5.x dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.5.0)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::

[2022-04-07 05:59] Keavon commented on #674
Thank you for the backport, @piotr-oles! I really appreciate your efforts. Hopefully this may have helped solve the problem for @eowino.

Sadly, for Graphite, this still didn't fix it though, I'm sorry to say :(

I deleted the `overrides` section of `package.json` as well as `node_modules/` and `package-lock.json` and ran `npm update`. I confirmed with `npm list fork-ts-checker-webpack-plugin` tha

[2022-04-09 15:16] piotr-oles commented on #674
@Keavon I wasn't able to reproduce this bug on the updated branch. Could you provide me with the exact steps? I was trying modifying `.ts`, `.vue`, and `.rs` files, but everything worked for me. Also, could you tell me which OS and Node version you use?

[2022-04-09 15:31] Keavon commented on #674
@piotr-oles that's certainly interesting to hear. It builds and lets you open the web interface at `localhost:8080`? I just verified it's still a problem by re-cloning the project from scratch to a new location. My steps:

[code]

<details><summary>And my console history (click to show):</summary>
<pre>
C:\Users\Keavon\Desktop>git clone https://github.com/GraphiteEditor/Graphite.git
Cloning into '

[2022-04-11 07:21] #722 closed, assigned to nobody

[2022-04-11 07:45] piotr-oles commented on #722
:tada: This issue has been resolved in version 7.2.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.2.4)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-12 06:54] piotr-oles commented on #674
I repeated these steps on MacOS and I didn't have this error. I suspect there is some difference in file watcher between Windows and Mac.
I don't know how to configure this in vue cli, but could you try to enable infrastructure logging for the plugin? Like here:
https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/main/test/e2e/fixtures/typescript-basic/webpack.config.js#L30-L33
This

[2022-04-12 07:55] lionel-bijaoui commented on #639
Hello, how did you fixed this issue ?

[2022-04-12 08:06] maxim-kolesnikov commented on #639
Can't remember, but hope it's will help u:

[code]

[code]

[2022-04-12 08:43] lionel-bijaoui opened #731 "Support custom transformers for ts-loader"
## Feature motivation
It is impossible to perform transformation to the file before type checking.
ts-loader [custom transformer](https://github.com/TypeStrong/ts-loader#getcustomtransformers) are not taken into account. [fork-ts-checker-webpack-plugin](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin) seem to only check against the original files.
When using [ts-import-plugin](https:/

[2022-04-12 08:53] lionel-bijaoui commented on #639
Thank you !

I don't think my issue is exactly the same. It has more to do with transform applied to the file than error formatting.
I created a [feature request](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/731) that might have helped you too, what do you think of it ?

If fork-ts-checker could have applied `ReactRefreshTypeScript` before type checking, it would have helped

[2022-04-12 19:54] okdistribute commented on #271
This helped me, thanks. I was trying to figure out why it kept crashing, and didn't think about mui. Of course!

[2022-04-13 21:56] #723 closed, assigned to nobody

[2022-04-13 22:18] piotr-oles commented on #723
:tada: This issue has been resolved in version 7.2.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.2.5)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.2.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-15 06:57] whamtet opened #734 "configOverride ignored when build: true"
## Current behavior

configOverride ignored when build:true

## Expected behavior

configOverride should either work when build:true or the documentation should more clearly explain why not.  Happy to submit a PR for either case once this is clarified.  You accepted a documentation PR from me the other day.

## Steps to reproduce the issue
Clone the below repo.  Try running `npm start` with `build

[2022-04-15 07:44] piotr-oles commented on #734
Hi! 👋🏻 Thanks for the report. There is no explicit logic that disables config overwrite for build: true, but I guess this is probably related to project references 🤔 When you have `build: true`, it creates multiple typescript projects, each with its own configuration. I think we overwrite only the entry one (but maybe even this doesn't work? I'm not sure how typescript is handling this).
My point

[2022-04-15 07:53] whamtet commented on #734
Probably just leave as is, but clarify the documentation.  I do not have multiple project references but I set build: true because I needed to set ‘write-references’ true to get it to spit out the tsBuildInfo caching file, this raises two questions:

1) should I have to set write-references: true to get it to spit out tsBuildInfoFile?
2) does build: true have to be set when write-references is set

[2022-04-17 02:19] Keavon commented on #674
Thanks @piotr-oles. I've confirmed with other team members that this doesn't happen on Mac and Linux, but it does on multiple of my Windows machines. It also doesn't happen with WSL on Windows.

I tried adding that like so to my `vue.config.js`:

[code]

However the output is the same with or without that, there's no actual logging showing up. Do you have a feel for whether this might be a Vue-rel

[2022-04-17 11:00] piotr-oles commented on #674
Thanks for the detailed response. I will create an e2e test with a project that triggers package.json change. It will run in our CI on a Windows machine. I hope I will be able to reproduce the bug this way.
Regarding logging, I didn't have time to debug this but my bet is that vue cli is not passing these options correctly to the webpack 🤔  But that's just a guess. These settings works in our e2e

[2022-04-22 04:01] whamtet commented on #734
Any more thoughts @piotr-oles ?  To help solve this issue I need to understand the design intent points 1) and 2) above

[2022-04-22 09:13] piotr-oles commented on #734
According to [TypeScript docs](https://www.typescriptlang.org/tsconfig#incremental), it should be possible to spit out tsbuildinfo with `incremental: true` mode, which does not need `build: true`. I don't think it's currently supported in the plugin 🤔
There is a separate API to [create incremental program](https://github.com/microsoft/TypeScript/blob/b57b5fe5ee31a334a1e2b63eced4ba5a046bff61/lib/ty

[2022-04-23 22:47] #674 closed, assigned to nobody

[2022-04-23 23:22] piotr-oles commented on #674
:tada: This issue has been resolved in version 7.2.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.2.7)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.2.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-24 00:10] Keavon commented on #674
Thank you @piotr-oles! Would you be so kind as to backport this again to the 6.x series? (This would ensure the latest version of the 6.x series doesn't remain broken on Windows.) Unfortunately Vue-CLI hasn't upgraded to 7.x. I really appreciate your time and effort that went into debugging this through the Windows CI server!

[2022-04-26 06:41] #717 closed, assigned to nobody

[2022-04-26 06:41] #715 closed, assigned to nobody

[2022-04-26 06:46] piotr-oles commented on #611
@didii In the example you posted, you could fix it by changing `"include": ["src/index.ts"]` to `"include": ["src"]` in `tsconfig.json` file. We compute dependencies using `tsconfig.json` only, because it's a blocking operation (it will block webpack emit), so we can't rely on the typescript dependency tree resolution.

[2022-04-26 07:08] piotr-oles commented on #674
:tada: This issue has been resolved in version 6.5.2 :tada:

The release is available on:
- [npm package (@release-6.5.x dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/6.5.2)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v6.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::

[2022-04-27 10:55] didii commented on #611
@piotr-oles Thanks, that indeed fixes the watch issue. It's not exactly how I'd want it since it will now check every file, even if it is not included (e.g. storybook files or some plain POC files), but it does suffice for dev purposes :)

Maybe this is something that should be added as a remark in the readme since it deviates from the default TSC behavior?

[2022-04-30 19:03] tal-rofe opened #740 "Adding this package makes the compilation process slower"
## Current behavior
I installed the package, found out the compilation process was slower

## Expected behavior

Should be faster

## Steps to reproduce the issue

I added the plugin to my webpack configuration:
[code]

## Issue reproduction repository

https://github.com/Vinyl-Depository/Inflint/blob/main/webpack.config.ts
## Environment
 - **fork-ts-checker-webpack-plugin**: 7.2.9
 - **typescrip

[2022-05-01 18:53] #718 closed, assigned to nobody

[2022-05-01 19:13] piotr-oles commented on #718
:tada: This issue has been resolved in version 7.2.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.2.10)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.2.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rock

[2022-05-01 19:44] piotr-oles commented on #740
Could you elaborate on which exact command you run to compare how long it takes?
Also, please provide timings, so I can compare this with running this on my computer :)

[2022-05-02 07:13] tal-rofe commented on #740
I run `webpack -c webpack.config.ts`.
The timings are provided out of the box. Yes, I'll provide my timings later. Thanks

Also, I run the command of course in both cases:
1. With the plugin. Run time: `webpack 5.72.0 compiled successfully in 4838 ms`
2. W/O the plugin. Run time: `webpack 5.72.0 compiled successfully in 3214 ms`

[2022-05-09 08:10] Bringordie opened #741 "[HELP] Issues with re-renders"
Hello,

We have a setup using yarn-workspace with babel.
When we add ForkTsCheckerWebpackPlugin out of the box to our webpack with just:
`new ForkTsCheckerWebpackPlugin({
            typescript: {
                build: true,
                memoryLimit: 4096,
            },
        }),`

We experience a (delayed) refresh once a file is changed. Meaning that we save, the hot reload makes a refresh

[2022-05-10 05:46] piotr-oles commented on #741
Could you create a reproduction repository?

[2022-05-10 10:43] Bringordie commented on #741
https://github.com/Bringordie/fork-ts-checker-webpack-plugin-741

[2022-05-13 19:22] ifeltsweet commented on #694
This is happening to us too on v7.2.11. (We are using Serverless Framework with `serverless-offline` and `serverless-webpack` plugins.)

First run we get a single log, but when saving a file a recompile triggered by the watch will log twice.

[2022-05-13 20:02] ifeltsweet commented on #694
I think this could be due to https://github.com/webpack/webpack/issues/15431

[2022-05-16 08:01] janlent1 opened #742 "Fork-ts-checker-webpack-plugin seems to run twice after change in code"
## Current behavior
When running in dev-proxy mode, the checker seems to not be aborted but still called again.
That can be seen here:

[0] runtime modules 1.27 MiB 192 modules
[0] javascript modules 3.8 MiB 250 modules
[0] webpack 5.69.0 compiled successfully in 43950 ms
[0] Type-checking in progress...
[0] No errors found.
[0] No errors found.
## Expected behavior

It should only output no error

[2022-05-19 10:03] idanka322 commented on #740
I have the same issue actually, i am not sure if i am doing something wrong or what, but when i add this plugin the compile time for dev is 21+ seconds, and without it is 2+ seconds and less than 5, im new to webpack and TS, please let me know should you need any more information.

[2022-05-20 08:46] piotr-oles commented on #742
I will not be able to help you without a reproduction repository :) I have limited time that I can spend on this project and I do all of this for free - didn't earned a cent on this 😃

[2022-05-23 02:54] brentvollebregt commented on #536
For anyone else that find this, I used the internal logging to identify what files were being changed to identify what was triggering the loop:

[code]

For me, the output js files (built files) were included in my tsconfig - thus any change would update these and then trigger a rebuild creating a loop. To fix this, I excluded the build directory from my tsconfig.

[2022-05-25 13:57] uiii opened #743 "[Question] Do I need this plugin? tsc vs eslint"
Hi there,
I am building my custom webpack config and thinking if I need this plugin. Area about linting is quite new and confusing to me. I am using `babel-loader` everything works fine, only thing I am missing is errors & warnings checking (types, unused variables, ...). I found this and `eslint-webpack-plugin` (when inspecting CRA webpack). As I see both plugins/tools (`tsc`, `eslint`) can do si

[2022-05-25 14:57] piotr-oles commented on #743
This plugin uses TypeScript to find semantic errors. An example of semantic error is something like: const x: number = "string". If you use typescript, I would recommend using this plugin or running tsc--noEmit as a part of lint stage in CI pipeline

[2022-05-25 16:06] uiii commented on #743
eslint can't check semantic errors?

[2022-05-26 07:07] piotr-oles commented on #743
it depends how you define semantic errors, but eslint can't check type-related semantic errors (assigning / passing wrong type)

[2022-05-26 09:19] uiii commented on #743
Ah, ok, so it is clear, this plugin has its place. Thanks for the clarification.

[2022-05-26 09:19] #743 closed, assigned to nobody

[2022-05-29 11:55] rsereir opened #746 "No warnings displayed"
## Current behavior
Some eslint/TS warnings are displayed in my production build command but not present

## Expected behavior
I want to display all warnings displayed in my `yarn build` to my terminal on dev server hot reload.
I have trying [fork-ts-checker-webpack-plugin](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin) configuration in my webpack config but it seems does not work.

[2022-05-30 05:38] piotr-oles commented on #746
Hi! Thanks for the report. Could you provide a reproduction repository? And could you send an example of warning that is missing?

[2022-06-01 03:07] kingller opened #747 "Cannot skip file check by exclude in tsconfig.json"
## Current behavior

When I add exclude files of node_modules in tsconfig.json, it still be checked as bellow,
[code]

tsconfig.json
[code]

## Expected behavior

Skip the check. When I run the `pandora` alone, it's OK. I don't know what happens, this error should not happen, or it should happen when I run the `pandora` alone. Here I want to skip it.

## Steps to reproduce the issue

tsconfig.json

[2022-06-01 06:09] piotr-oles commented on #747
Do you have this error with `tsc --noEmit` command?

[2022-06-02 07:56] kingller commented on #747
Yes, I add it, but the error still occurs.

[2022-06-02 08:59] piotr-oles commented on #747
If you have error for `tsc --noEmit` as well, it means that it's not an issue with the plugin, but with typescript or its configuration.
For me it seems that you have contradicting configuration - on the one hand you include `./node_modules/pandora/src/typings/index.d.ts` from node_modules but you also exclude `node_modules`. I think that in this case, `file` will take precedence over `exclude`. A

[2022-06-03 10:16] cmw-big opened #748 "When type in my package.json is module, using this plugin causes me to re-execute using the Node API file of Webpack."
## Current behavior
re-execut using the node api file of webpack.

## Expected behavior
no re-execut
## Steps to reproduce the issue
set the package.json type to module

## Issue reproduction repository

## Environment
 - **fork-ts-checker-webpack-plugin**: [7.2.11]
 - **typescript**: [4.7.2]
 - **eslint**: [8.16.0]
 - **webpack**: [^5.72.1]
 - **os**: [windows 11]

[2022-06-13 10:14] cpbotha commented on #271
Thank you very much for this @fc !

Thanks to me getting around too late to `attr -s com.dropbox.ignored -V 1 node_modules` aka ignoring `node_modules` on a new machine, it created a `node_modules (Ignored Item Conflict)` in the same folder. (dropbox, why can't we just add an account-global ignore-list?)

Anyways, the presence of that folder caused "issues checking in progress..." to take a minute

[2022-06-14 11:06] raphael10-collab opened #751 "Issue in transpiling .ts files"
## Current behavior

## Expected behavior

## Steps to reproduce the issue

## Issue reproduction repository

## Environment
 - **fork-ts-checker-webpack-plugin**: [version from the `package.json`] 6.0.1
 - **typescript**: [version from the `package.json`] ~4.5.4
 - **eslint**: [version from the `package.json`] 5.0.0
 - **webpack**: [version from the `package.json`]
 - **os**: [e.g. Ubuntu 19.04]

[2022-06-21 06:55] Twonster commented on #271
Hey guys, has anyone been able to fix the type checking memory leak issue?

[2022-06-22 11:35] pacop opened #752 "BUILTIN_IGNORED_DIRS hampering recompilation"
## Current behavior
`.d.ts` files from node_modules are not triggering recompilation after hot change (Use case: yarn link/yalc link)

After debugging I've found that after changing some file at `node_modules/whatever/file.d.ts`, webpack detects my change, but fork-ts-checker-webpack-plugin ignores the change.

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/main/src/watch/inclus

[2022-06-23 04:52] dsagal commented on #742
@janlent1, which editor are you using? If vim, this may be relevant: https://webpack.js.org/configuration/watch/#vim. One fix for this (or similar) issue is to add this to the webpack config:
[code]

[2022-06-26 03:46] BobbyJonas commented on #668
vue 2 ( + ts + composition api)  still not works.

[2022-06-29 08:31] zongc1001 opened #754 "[ consult ]What the "code" property in the Issue means？"
<img width="894" alt="image" src="https://user-images.githubusercontent.com/32095921/176389201-99ae8239-fc17-4c9a-a47c-87416f886ce6.png">

[2022-06-29 17:46] piotr-oles commented on #754
It's a TypeScript error code, like `TS1005`. I agree that it's not obvious, feel free to improve README.md :)

[2022-06-29 17:46] #754 closed, assigned to nobody

[2022-06-30 09:43] wys-evan opened #755 "Fork-ts-checker-webpack-plugin does not seem use the plugins in the tsconfig.json"
## Current behavior
webpack compiles successfully, but fails to check css module when building.

TS2307: Cannot find module './index.module.less' or its corresponding type declarations.
## Expected behavior
Can successfully check the css module

## Steps to reproduce the issue
1.  Project's tsconfig.json configuration :
[code]
2. webpack configuration:
[code]
## Issue reproduction repository

## E

[2022-07-01 20:24] reicolee opened #756 "class IssueWebpackError extends webpack_1.default.WebpackError when running `bin/webpack-dev-server`"
## Current behavior
I am currently using `@rails/webpacker `(v5.2.1) to compile my React app with TS
when following the steps [here](https://github.com/rails/webpacker/blob/22ab02b7c84e917f985ecc76f5916d144f43bfbf/docs/typescript.md#optional-adding-compile-time-type-checking), it kept showing me this error after I run `bin/webpack-dev-server`

[code]

has anyone seen this error before?

## Expecte

[2022-07-10 14:43] #752 closed, assigned to nobody

[2022-07-10 15:00] piotr-oles commented on #756
As stated in the README.md, version 7 of this plugin requires webpack ^5.11.0. If you want to use webpack 4, you should downgrade to version 6.

[2022-07-10 15:00] #756 closed, assigned to nobody

[2022-07-10 15:05] piotr-oles commented on #755
Unfortunately, TypeScript plugins are supported only in a language service API. I created an issue in TypeScript repo to support plugins in other APIs: https://github.com/microsoft/TypeScript/issues/38736
It seems that TypeScript team has other priorities - my proposal is 2 years old and there is no update.
This plugin supports the same features as `tsc` - so this behaviour is sadly expected :/

[2022-07-10 15:05] #755 closed, assigned to nobody

[2022-07-10 15:06] piotr-oles commented on #752
:tada: This issue has been resolved in version 7.2.12 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin/v/7.2.12)
- [GitHub release](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.2.12)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rock

[2022-07-10 15:08] piotr-oles commented on #751
That's not how webpack works - webpack is a bundler, which means that it merges together multiple source files. It creates a dependency graph and includes files based on this (so if file is not used, it will not end-up in the webpack output).
If you want to transpile each ts file into corresponding js file, you should use `tsc` directly :)

[2022-07-10 15:08] #751 closed, assigned to nobody

[2022-07-10 15:09] #747 closed, assigned to nobody

[2022-07-10 15:10] #746 closed, assigned to nobody

[2022-07-11 21:23] piotr-oles commented on #748
Could you elaborate more and provide a reproduction repository? I don't know what exactly doesn't work :)

[2022-07-17 17:26] piotr-oles commented on #740
@tal-rofe which version of ts-loader do you use? If it's < 9.3.0, you should provide `transpileOnly: true` option

[2022-07-18 06:30] #741 closed, assigned to nobody

[2022-07-19 03:52] iceprosurface opened #765 "Vue SFC TS check was broken on vue2.7"
## Current behavior

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/main/src/typescript/extension/vue/type-script-vue-extension.ts#L113

vue2.7 hit `isVueTemplateCompilerV3`,but there is no `descriptor` on `parsed`

[code]
`parsed` shows like following codes
[code]

So that any ts check on vue will fail.

[code]

<img width="827" alt="image" src="https://user-images.githubuserco

[2022-07-22 10:09] lake2 commented on #651
same issue +1, I pass my custom formatter function, but it only affect the content, not the path.

[code]

![image](https://user-images.githubusercontent.com/6293752/180417294-aad08e38-75c1-413e-8b11-ad8490e81da7.png)

[2022-07-26 08:17] jonathan-chancetop opened #769 "Building become slower when upgrade to 7.x"
Hello guys, I'm curious that when I upgraded to 7.2.13, my building time increased from 4s to 6.6s, below is my configuration:
This is the configuration for 6.0.3
[code]
This is the configuration for 7.2.13:
[code]
I enabled cache in webpack and ts check, I also dropped the result for the first build, so these results are all used cache.

I haven't added another eslint plugin, so I don't know why

[2022-07-31 06:15] hhhpw commented on #668
Sorry,but my project not wroks with  version 7.2.13 of fork-ts-checker-webpack-plugin.
my codes:
[code]

vue file:
[code]
no erros exports

[2022-08-05 09:46] fabis94 opened #771 "A linked dep's re-build while dev server is running causes TypeScript to not be able to find the dep anymore"
## Current behavior
So I have a monorepo using yarn 3.x workspaces and there's a package with webpack that depends on another package which is symlinked through yarn. The problem is that while a webpack dev server is running if I re-build that linked dependency, fork-t-schecker-webpack-plugin is no longer able to find that dependency, even after the linked rebuild has finished and there are defini

[2022-08-05 10:10] shenchaoran opened #772 "could use with esbuild-loader & vue"
## Current behavior

when use esbuild-loader, vue SFC is not type checked

## Environment
 - **fork-ts-checker-webpack-plugin**: 6.5.2
 - **typescript**: 4.7.4
 - **eslint**: 8.21.0
 - **webpack**: 4.46.0
 - **os**: mac

[2022-08-10 17:07] danparm commented on #772
Happy to make a separate issue, but I'm also not getting type checking on Vue SFCs when using `<script lang="ts" setup>`.

Using the standard `<script lang="ts">` with `defineComponent `still receives type checking.

Same behavior in v6 with webpack4 and v7 with webpack5.

[2022-08-10 20:36] wootencl commented on #734
I'll mention I'm seeing this in an [`nx`](https://nx.dev/) monorepo as well and suspect its for the the reasons mentioned: multi  config files/projects throughout the repo. Not a huge deal but figured I'd call it out as another data point.

Aside, it would be nice if it could override a multi project setup but understandably maybe not worth the investment.

[2022-08-11 09:48] 2812848295 opened #773 "我在jenkins上构建时会出现错误"
/var/lib/jenkins/workspace/typ-mall-cms/node_modules/fork-ts-checker-webpack-plugin/lib/rpc/rpc-ipc/RpcIpcMessagePort.js:19
        closedError = new RpcIpcMessagePortClosedError_1.RpcIpcMessagePortClosedError(code
                      ^

RpcIpcMessagePortClosedError: Process 3720 exited [SIGKILL].
    at /var/lib/jenkins/workspace/typ-mall-cms/node_modules/fork-ts-checker-webpack-plugin/lib/rpc/

[2022-08-11 09:48] 2812848295 commented on #773
我是jenkins新手，请问通过什么方式可以解决它？

[2022-08-11 09:52] 2812848295 commented on #773
在本地build是正常的，但是通过jenkins执行的shell命令是报错的

[2022-08-16 03:30] AprilArcus opened #774 "NodeJS API: `RpcExitError` on `compiler.close()`"
## Current behavior
ForkTSCheckerPlugin prints this error as soon as I call `.close()` on the [compiler instance](https://webpack.js.org/api/node/#compiler-instance) via the NodeJS API, which I must do (and await) in order to avoid corrupting the [filesystem cache](https://webpack.js.org/configuration/cache/) due to https://github.com/webpack/webpack-cli/issues/2918.

[code]

## Expected behavior

[2022-08-28 05:39] AprilArcus commented on #774
This error is also emitted when terminating webpack dev server.

[2022-08-28 13:28] piotr-oles commented on #774
Hi! Feel free to create PR to fix it :)

[2022-08-30 03:26] vanpipy commented on #773
编译使用的环境是什么配置？比如

* node and npm or yarn version
* jenkins container

[2022-08-30 09:05] BartusZak opened #775 "node_modules not ignored even when provided in exclude"
## Current behavior

Fallowed https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/tree/main/examples/babel-loader and can't make it right :(

Running

`yarn start`  -> `webpack serve --env NODE_ENV=development --progress --color` returns

<details>
  <summary>Terminal output</summary>

[code]
</details>

Running `tsc`

## Expected behavior
There are too many TypeScript related errors from

[2022-08-30 20:53] talha5389 commented on #769
Happening to me as well on version. Dev/watch take 10-30 seconds for a small change.

Using
- plugin verison: `7.2.13`
- nodejs `16.17`
- webpack `5.74.0`
- ts-loader `9.3.1`
- typescript `4.8.2`

Downgrading to `6.5.1` fixed issue witrh watch time take around 1 second

[2022-08-31 08:28] piotr-oles commented on #775
How many errors do you have when you remove `diagnosticOptions` field from the plugin configuration?

[2022-08-31 12:29] BartusZak commented on #775
[code]

No more `node_modules` related issues, but look like it's still missing some errors `tsc` command produces.

[code]

It's maybe because of `typescript` package version?

[code]

`package.json`
[code]

Can we accept it as a solution, or am I missing something?

[2022-08-31 21:04] piotr-oles commented on #775
You might running different ts version when using tsc command. Try running ./node_modules/.bin/tsc instead

[2022-09-01 08:50] BartusZak commented on #775
Now I see only `node_modules` related errors without "my code`.

[code]

<details>
  <summary>Terminal output</summary>

[code]

</details>

[2022-09-01 15:13] MBelniak commented on #543
Yes, but not really conveniently - if we want to type-check only the files which are bundled it's not trivial to do it via `include` and `exclude`. This feature would be really helpful. For example, imagine you may have some devDependency installed into node_modules which has TS code incompatible with the target environment of your lib. You won't bundle this dependency, but still get errors like `

[2022-09-01 17:41] MBelniak commented on #543
My colleague found https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/714 and it seems to achieve what we want :)

[2022-09-03 10:05] piotr-oles commented on #775
Weird... Maybe try to run `./node_modules/.bin/tsc --noEmit --project ./tsconfig.json` to be sure that it's using tsconfig.json configuration. I will not be able to help you without reproduction repository, but in general it looks like typescript/configuration issue - not strictly related to the plugin itself.

[2022-09-03 10:09] piotr-oles commented on #773
I'm not an expert on jenkins, but maybe you have some timeout for the job or memory limit that is not sufficient? It looks like jenkins is sending SIGKILL signal to your process which triggers this error.

[2022-09-06 03:25] idanka322 commented on #740
@piotr-oles i am using babel-loader, and my build became too slow when using this plugin

[2022-09-06 07:54] BartusZak commented on #775
The same.

<details>
  <summary>Terminal output</summary>

[code]
</details>

I won't be able to share reproduction repository. I'm going to stay with commented out plugin options. (https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/775#issuecomment-1232873083)

Leaving issue as opened. Maybe someone faced the same issue and would be able to share repro repo.

Thank you.

Stay saf

[2022-09-06 10:02] clyan opened #776 "RangeError: maximum call stack size exceeded"
In my project, "RangeError: maximum call stack size exceeded" is still reported when exclude:["node_modules"] has been configured in the tsconfig.json file, but when I add include:["src/**/ *" ], the error miraculously disappeared, although the problem is solved, but I don't know why the exclude didn't take effect

## Environment
 - **fork-ts-checker-webpack-plugin**: 7.2.13
 - **typescript**: 4.7

[2022-09-19 03:30] lockiechen commented on #511
any progress?

[2022-09-19 03:42] lockiechen opened #777 "webpack Build fails, and succeeds next time"
## Current behavior

## Expected behavior

## Steps to reproduce the issue

## Issue reproduction repository

## Environment
 - **fork-ts-checker-webpack-plugin**: [version from the `package.json`]
 - **typescript**: [version from the `package.json`]
 - **eslint**: [version from the `package.json`]
 - **webpack**: [version from the `package.json`]
 - **os**: [e.g. Ubuntu 19.04]

[2022-09-20 11:45] piotr-oles commented on #777
Please feel the template, I will not be able to help you otherwise

[2022-09-20 11:45] #777 closed, assigned to nobody

[2022-09-20 13:12] petternordholm opened #778 "Vue file check works in dev server but not in build"
## Current behavior
When running webpack in watch-mode / dev server, the vue files are checked and errors are properly reported to console. But when running a full production build, the build passes and no errors are reported even though the *.vue files contains errors.

Pure typescript files works as expected. Root file is a vanilla typescript file including the app.vue file.

Errors are correctl

[2022-09-20 14:49] janlent1 commented on #742
Seems to be fixed with https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/releases/tag/v7.2.13

[2022-09-20 14:49] #742 closed, assigned to nobody

[2022-09-21 22:33] crashmstr opened #779 "Upgrading from 6.4 to 7.x? No errors ever reported"
Trying to update from 6.4 to 7.x, and after an hour of trying to replicate the "right" settings to match what I had, I've had no luck getting any ESLint errors to show up, and more than half the time don't even see any indication of any output from the plugin.

Reverting back down to 6.5 and my old configuration settings work fine.

An example code change to "test" if this is working is to change

[2022-09-22 03:56] natuan62 commented on #498
I got same problem when run project with vue3-cli with `pnpm serve`, edit code and save => pnpm reload and error occurr

// my package.json

[code]

- Terminal show error

[code]

[2022-09-22 07:45] petternordholm commented on #779
According to the docs, the ESLint feature is not supported on 7.x.x

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin under **Installation**

[2022-09-22 11:00] crashmstr commented on #779
Wow, it was obvious.
Also, tragic.

[2022-09-24 18:07] piotr-oles commented on #779
Yep :)

[2022-09-24 18:07] #779 closed, assigned to nobody

[2022-09-28 03:42] XinChou16 commented on #568
I'm interested in this as well, we want use the compiler API to lint .ts files in another plugin.

[2022-09-28 05:35] Krakof commented on #769
Hi,
@talha5389 @jonathan-chancetop Could you please check if 7.2.11 version is ok.

In my case any next re-build doubles types check time. I've found out that it breaks with version [7.2.12](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/commit/7c70b9ec2f164c57ee60644e02406e92c3c132d8).

Using:
- plugin verison: 7.2.13
- nodejs 16.17
- webpack 5.74.0
- ts-loader 9.3.1
- typescript 4.

[2022-09-28 11:19] piotr-oles commented on #769
If `7.2.12` change affected build speed, consider re-adding node_modules to webpack's `watchOptions.ignored` config: https://webpack.js.org/configuration/watch/#watchoptionsignored

[2022-09-29 22:24] talha5389 commented on #769
@piotr-oles I can confirm that `7.2.12` seem to have performance issue fixed if I add `node_modules` to `watchOptions.ignored`

above workaround also works for `7.2.13`. I have verified that.

[2022-10-11 09:03] cristianghita24 commented on #628
@zirkelc any chance you could provide the eslint config/tsconfig that would help finding the issue?

[2022-10-11 09:14] zirkelc commented on #628
@cristianghita24 it had nothing to do with tsconfig or eslint. The issue was related to a TS error that caused an recursion.

I found the error by running `tsc --noEmit` on the entire project.

[2022-10-13 20:38] benzhu56 opened #781 "Can't use `--force` `compilerOptions` when `build` is set to `true`"
First of all, this is a great plugin, appreciate the work!

## Current behavior
We are setting `build: true` in order to leverage project references(which is working as expected). Furthermore, we want to skip the cache and force the build when building for production. I tried to add `--force` option to compilerOptions, but then it complains about `TS5093: Compiler option '--verbose' may only be us

[2022-10-19 18:52] mike1808 commented on #511
I have experienced this error as well. Rebuilding didn't help.

[2022-10-20 19:18] evansjarom11 opened #782 "Vulnerability in minimatch"
Our project uses your package and there was found a vulnerability in minimatch version 3.0.4 which your package is dependent on. Please update your dependency to at least minimatch 3.0.5. see [CVE-2022-3517](https://nvd.nist.gov/vuln/detail/CVE-2022-3517#range-8457383)

[2022-10-20 20:20] piotr-oles commented on #782
This is Regular Expression Denial of Service vulnerability, and minimatch is used in plugin configuration. Therefore it isn't an exploitable vulnerability - plugin configuration is defined by developer and used only in the build time :)

Feel free to create a PR with dependency bump :)

[2022-10-20 21:46] mastmaster commented on #782
Add this to your package.json and test it
  "overrides": {
    "fork-ts-checker-webpack-plugin": {
      "minimatch": ">=3.0.5"
    }
  }

[2022-10-20 22:25] evansjarom11 commented on #782
@mastmaster that works for the dependencies. But how I still get the old version on those dependencies of 'node_modules' as shown here:
![image](https://user-images.githubusercontent.com/47127561/197070848-a142e4ec-5d33-42fe-9e17-970c1879f561.png)

[2022-10-21 13:28] #782 closed, assigned to nobody

[2022-10-21 13:29] evansjarom11 commented on #782
Previous comment does not pose an issues. Overrides fixed the problem

[2022-10-28 03:37] cuihaoweb opened #783 "No errors are reported in vue3"
## Current behavior

No errors were detected in vue3

## Expected behavior
Report an error in the console

## Steps to reproduce the issue
This is used in vue3：
[code]
this is webpack.config.js：
[code]
 num is a string, but ts does not report an error after ++

## Issue reproduction repository

## Environment
 - "fork-ts-checker-webpack-plugin": ^7.2.13
 - "typescript": ^4.8.4
 - "ts-loader": ^9.4

[2022-11-16 09:16] damiangreen commented on #392
@piotr-oles  this alpha version has disappeared. I appear to be having the same issue as @aferditakrasniqi , with a monorepo

[2022-11-16 18:28] dglazkoff opened #784 "Type checking only imported modules"
I have test files that used jest as test library. jest was installed as dev depedencies. When I start production build using babel/preset-typescript and fork-ts-checker-webpack-plugin I get errors, that ts can not find jest. But my test files do not imported and do not execute. How can I say, that fork-ts-checker-webpack-plugin must not to type check not imported files in production build.

[2022-11-17 08:37] piotr-oles commented on #784
Does `tsc --noEmit` command report type error?

[2022-11-18 16:16] hengwangsay commented on #775
same error for me

[2022-11-20 10:37] timonbandit commented on #783
@cuihaoweb I'm sure you have an error in the config.
[code]
`disable: false` is wrong
`enabled: true` is correct

[2022-11-21 21:14] chrisalley commented on #232
Thank you @piotr-oles. Here is a solution that I adapted from your example for webpack 5:

typescript-warn-only-webpack-plugin.js
[code]

webpack.config.js
[code]

[2022-11-28 13:29] tminich commented on #783
I have the same issue with Vue 2.7.14 and my config is (to my understanding) correct:
[code]

[2022-11-30 09:18] zemichael-addweb opened #785 "There is no 'eslint : {files:string}' type in 'ForkTsCheckerWebpackPluginOptions'"
## Current behavior
It is giving me type error when I try to add the following to my webpack config
[code]

## Expected behavior
Type should be present in 'ForkTsCheckerWebpackPluginOptions'

## Environment
 - **fork-ts-checker-webpack-plugin**: [7.2.13]
 - **typescript**: [5.75.0]
 - **eslint**: [8.28.0]
 - **webpack**: [5.75.0]
 - **os**: [e.g. Ubuntu 22.10]